main.profile-page {
  overflow: hidden;

  section.top {
    padding: 40px 0 44px 0;
    background-color: @grey-fill;
    @import (multiple) "profile-page-user-info";

    @media (max-width: @tablet){
      background-color: #fff;
      padding-top: 26px;
    }

    @media (max-width: @mobile){
      padding-top: 14px;
    }

  }

  section.content {
    position: relative;

    @import (multiple) "../../molecules/tab";

    .tab-bookmark-style {
      .tab-bookmark-style__title.active {
        z-index: 11;
      }
    }

    .content-header {
      padding: 0;
      @media (max-width: @mobile) {
        display: block;
      }


      .tab {
        justify-content: flex-start;
        @media (max-width: @tablet){
          justify-content: center;
        }
      }

      .container {
        padding: 0;
      }
    }

    .OperatorProfileTabs {
      .tabs__content {
        @media (min-width: @desktopStart) {
          padding: 0 15px;
        }
      }
    }
  }

  section.content-main{
    padding-top: 30px;
    min-height: 605px;

    @media (max-width: @tablet){
     padding: 12px 0;
    }

    .catalog {
      .col-product:first-child {
        padding-top: 0;
      }
    }

    //Т.к. компонент реакта Purcase.jsx должен отображаться на разных страницах в мобильной версии с разной разметкой
    .col-different-grid,
    .col-different-content {
      @media (max-width: @mobile){
        width: 100%;
      }
    }
    .col-different-content {
      padding-right: 0;
      @media (max-width: @mobile){
        padding-left: 0;
      }
    }
  }


  @import (multiple) '../../molecules/table';

  @import (multiple) '../../molecules/tab';

}