.profile-page-user-info {
  padding: 0 5px;
  @media (max-width: @tablet){
    background-color: #fff;
    padding: 0;
  }

  // Сетка спроектирована исходя из двухсторонних равных паддингов, но в этом блоке согласно макета, внутренние блоки в крайних точках захватывают паддинг близлежайших колонок, поэтому немного изменим структуру сетки
  .row {
    flex-flow: row nowrap;

    @media (max-width: @tablet){
      flex-wrap: wrap;
      justify-content: center;
    }

    .col-without-padding {
      width: 70px;
      &:first-child,
      &:last-child {
        width: 85px;
      }

      @media (max-width: @tablet){
        display: none;
      }

    }
    .col-double-padding {
      box-sizing: content-box;

      @media (max-width: @tablet){
        box-sizing: border-box;
      }

    }
  }
  [class*="user-info-block_"] {

    @media (max-width: @tablet){
      box-shadow: none;
      background-color: transparent;
    }

    .user-info-block-wrap {
      padding: 26px 15px;
      box-shadow: @box-shadow;
      background-color: #ffffff;
      border-radius: @border-radius;
      height: 100%;

      @media (max-width: @mobile) {
        padding: 15px 5px;
      }
    }

    .user-info__title{
      font-weight: 500;
      line-height: 1;
      font-size: 30px;
      margin-bottom: 28px;

      @media (max-width: @tablet) {
        margin-bottom: 9px;
      }

      @media (max-width: @mobile) {
        line-height: 36px;
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 0;
      }

    }

  }
  .user-info-block_statistic {
    @import (multiple) "../../molecules/user-bar";
    padding-left: 0;
    @media (max-width: @tablet){
      padding: 0 10px;
    }
    .user-bar {
      .avatar-with-border{
        margin-bottom: 8px;

        @media (max-width: @mobile){
          width: 140px;
          height: 140px;
        }

      }

      @media (max-width: @mobile){
        display: flex;
      }

    }
    @import (multiple) "../../molecules/profile/user-statistic";
    .user-statistic{
      @media (max-width: @mobile){
        margin-top: 16px;
      }
    }

  }

  .info-fields{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    @media (max-width: @small){
      margin: 0 -10px;
    }

    &.info-fields-requisites {
      margin-top: 37px;

      .requisites-title {
        display: flex;
        justify-content: space-between;

        .requisites-add {
          font-size: 12px;
          cursor: pointer;
          text-decoration: underline;
          color: #007FFF;
        }
      }
    }

    .safe-deal-info {
      display: inline;
      font-size: 12px;
      //margin-top: 18px;
      cursor: pointer;
      text-decoration: underline;
      color: #007FFF;
      text-align: left;
    }
  }

  .user-info-block_personal-data {
    @import (multiple) "../../molecules/profile/info-field";

    @media (max-width: @tablet) {
      margin-top: 20px;
      padding: 0 10px;
    }

    .info-field {
      margin-bottom: 16px;

      .info-field-label{
        margin-bottom: 6px;
        position: relative;

        .info-field__action{
          position: absolute;
          right: 0;
          bottom: 0;
        }

      }

      .info-field-text{
        padding-top: 9px;
        padding-bottom: 5px;
        padding-right: 39px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        background-color: #F2F4F7;

        &.is-approved{
          background: transparent url('../../../img/is-approved-icon.svg') no-repeat 15px center;
          padding-left: 39px;
        }

        &.is-not-approved{
          background: transparent url('../../../img/uncheck_shield.svg') no-repeat 15px center;
          padding-left: 39px;
        }

        &.is-empty {
          color: @grey-dark-color;
        }

      }

    }

  }

  .user-info-block_settings {
    padding-right: 0;
    @media (max-width: @tablet){
      padding: 0 10px;
      margin-top: 20px;
    }
    .info-field-requisites {
      padding: 7px 16px;
      border: 1px solid #CAD1D8;
      border-radius: 4px;
      font-size: 14px;
      width: 100%;
      color: #86879D;
      display: block;
      line-height: 1.75;
      background-color: #F2F4F7;
      height: 120px;
      margin-top: 8px;
      @media (max-width: @mobile){
        font-size: 12px;
      }
    }
    @import (multiple) "../../molecules/profile/info-field";
    //@media (max-width: @tablet){
    //  margin-top: -20px;
    //}

    @import (multiple) "../../molecules/safe-deal-for-user";
    .note-info{
      font-size: 12px;
    }
    .safe-deal-for-user{

      .safe-deal-control{
        margin-bottom: 16px;
        .help-message {
          font-size: 12px;
          color: #86879D;
        }
      }
      .hint-grey{
        margin-top: 16px;
        margin-bottom: 28px;
      }
    }

    .info-field-text.info-field-text__card {
      background: transparent url('../../../img/security-card-not-added.svg') no-repeat 15px center;
      padding-left: 39px;
      &.card-added {
        background: transparent url('../../../img/security-card-added.svg') no-repeat 15px center;
        padding-left: 39px;
      }
    }

    @import (multiple) '../../atoms/toggled-checkbox-field';
    .toggled-checkbox-field{
      margin-right: 21px;
    }

    .profile-role {

      @import (multiple) "../../atoms/hint-grey";
      .hint-grey {
        margin: 14px 0 0 0;
      }

      .profile-role-label {
        margin-bottom: 5px;
      }
      @import (multiple) "../../atoms/button-blue";
    }

    .container {
      padding: 0;
    }
  }

}