{% autoescape false %}
    <div>
        <h1>Здравствуйте, Admin</h1>
        <p>
            Сообщение с сайта <a href="{{ main_project_url | trim }}" target="_blank">GuarantPay</a>:
        </p>
        <p>
            {{ message }}
        </p>
    </div>
{% endautoescape %}