{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{#
    purchaseForm - форма
#}
{% set addressForm = purchaseForm.get('address') %}
{% block content %}
    <main class="site-page">
        <div class="container" id="FormPurchase">
            <div class="row row_full-width">
                <div class="new-deal-form col-8 col-tablet-8">
                    {{ form().openTag(purchaseForm)|raw }}
                        <h1 class="page-title">Новая закупка</h1>
                        {{ formElement(purchaseForm.get('csrf'))|raw }}
                        {{ formElementErrors(purchaseForm.get('csrf'))|raw }}

                        <div class="flexible-row">
                            <div class="control-form flexible-row__child">
                                {{ formLabel(purchaseForm.get('category'))|raw }}
                                {{ formElement(purchaseForm.get('category'))|raw }}
                                {{ formElementErrors(purchaseForm.get('category'))|raw }}
                            </div>
                        </div>
                        <div class="flexible-row">
                            <div class="control-form flexible-row__child">
                                {{ formLabel(purchaseForm.get('name'))|raw }}
                                {{ formElement(purchaseForm.get('name'))|raw }}
                                {{ formElementErrors(purchaseForm.get('name'))|raw }}
                                <div class="control-form__help-message">Название не должно превышать 50 символов</div>
                            </div>
                            <div class="flexible-row__child price-control">
                                <div class="control-form ">
                                    {{ formLabel(purchaseForm.get('price'))|raw }}
                                    <div class="price-field">
                                        {{ formElement(purchaseForm.get('price'))|raw }}
                                        {{ formElementErrors(purchaseForm.get('price'))|raw }}
                                        <label class="toggled-checkbox-field toggled-checkbox-field__type_garant-pay">
                                            {{ formElement(purchaseForm.get('safe_deal'))|raw }}
                                            <div class="toggled-checkbox-field__track">
                                                <div class="toggled-checkbox-field__button"></div>
                                            </div>
                                        </label>
                                        <div class="price-field-message">
                                            <div class="control-form__help-message">Безопасная сделка включена!</div>
                                            <div class="control-form__help-message">Сдвиньте переключатель влево для отключения.</div>
                                            {{ formElementErrors(purchaseForm.get('safe_deal'))|raw }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="flexible-row">
                            <div class="control-form flexible-row__child">
                                {{ formLabel(purchaseForm.get('quantity'))|raw }}
                                {{ formElement(purchaseForm.get('quantity'))|raw }}
                                {{ formElementErrors(purchaseForm.get('quantity'))|raw }}
                            </div>
                            <div class="control-form flexible-row__child">
                                {{ formLabel(purchaseForm.get('measure'))|raw }}
                                {{ formElement(purchaseForm.get('measure'))|raw }}
                                {{ formElementErrors(purchaseForm.get('measure'))|raw }}
                            </div>
                        </div>

                        <div class="flexible-row">
                            <div class="control-form">
                                {{ formLabel(purchaseForm.get('description'))|raw }}
                                <div class="new-deal-from__description-field">
                                    {{ formElement(purchaseForm.get('description'))|raw }}
                                </div>
                                {{ formElementErrors(purchaseForm.get('description'))|raw }}
                                <div class="control-form__help-message description-field-help-message">
                                    <div>До 3000 символов</div>
                                </div>
                            </div>
                        </div>
                        <div class="control-form file-input-wrapper">
                            {{ formLabel(purchaseForm.get('files'))|raw }}
                            <div class="photo-inputs">
                                {{ formElement(purchaseForm.get('files'))|raw }}
                            </div>
                            <div class="control-form__help-message">
                                Выберите или перетащите файл.
                            </div>
                            {{ formElementErrors(purchaseForm.get('files'))|raw }}
                        </div>
                        <div class="flexible-row">
                            <div class="control-form">
                                {{ formElement(addressForm.get('country'))|raw }}
                                {{ formElementErrors(addressForm.get('country'))|raw }}
                            </div>
                        </div>
                        <div class="flexible-row">
                            <div class="control-form">
                                {{ formLabel(addressForm.get('region'))|raw }}
                                {{ formElement(addressForm.get('region'))|raw }}
                                {{ formElementErrors(addressForm.get('region'))|raw }}
                            </div>
                        </div>
                        <div class="flexible-row">
                            <div class="control-form">
                                {{ formLabel(addressForm.get('city'))|raw }}
                                {{ formElement(addressForm.get('city'))|raw }}
                                {{ formElementErrors(addressForm.get('city'))|raw }}
                            </div>
                        </div>
                        <div class="flexible-row">
                            <div class="control-form">
                                {{ formLabel(addressForm.get('street'))|raw }}
                                {{ formElement(addressForm.get('street'))|raw }}
                                {{ formElementErrors(addressForm.get('street'))|raw }}
                            </div>
                        </div>
                        <div class="flexible-row">
                            <div class="control-form">
                                {{ formLabel(addressForm.get('house'))|raw }}
                                {{ formElement(addressForm.get('house'))|raw }}
                                {{ formElementErrors(addressForm.get('house'))|raw }}
                            </div>
                        </div>

                        <div class="control-form action-buttons">
                            <a href="{{ url('profile/purchase') | trim  }}" class="button-transparent action-button">Отмена</a>
                            <button type="submit" class="button-blue action-button">Далее</button>
                        </div>
                    {{ form().closeTag()|raw }}
                </div>
            </div>
        </div>
    </main>
    <!--noindex-->
    <script id="categories-json" type="application/json">{{ JsonUtil().mb_encode(categories) | raw}}</script>
    <script id="purchase-data-json" type="application/json">{{ JsonUtil().mb_encode(purchase) | raw}}</script>
    <!--/noindex-->
{% endblock content %}