{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{% block content %}
    <main class="site-page">
        <div class="container" id="form-purchase-edit">
            <h1 class="page-title">Редактирование закупки</h1>
            <noscript>Для редактирования закупок включите JavaScript</noscript>
        </div>
    </main>
    <!--noindex-->
    <script id="categories-json" type="application/json">{{ JsonUtil().mb_encode(categories) | raw}}</script>
    <script id="purchase-data-json" type="application/json">{{ JsonUtil().mb_encode(purchase) | raw}}</script>
    <!--/noindex-->
{% endblock content %}