{% import 'macro/pageHelper.twig' as pageHelper %}

{{ doctype() }}
<html lang="ru" style="width: 100%;">
<head>
    <meta charset="utf-8">
    {% autoescape false %}
        {{ headMeta().
        appendName('viewport', 'width=device-width, initial-scale=1.0').
        appendHttpEquiv('X-UA-Compatible', 'IE=edge') }}
    {% endautoescape %}
    <style>
        @font-face {
            font-family: 'Lato';
            src: url({{ main_project_url |trim('/', 'right') }}{{  basePath('fonts/Lato/LatoRegular/LatoRegular.eot?#iefix') }}) format('embedded-opentype'),  url({{ main_project_url |trim('/', 'right') }}{{  basePath('fonts/Lato/LatoRegular/LatoRegular.woff') }}) format('woff'), url({{ main_project_url |trim('/', 'right') }}{{  basePath('fonts/Lato/LatoRegular/LatoRegular.ttf') }})  format('truetype'), url({{ main_project_url |trim('/', 'right') }}{{  basePath('fonts/Lato/LatoRegular/LatoRegular.svg#LatoRegular') }}) format('svg');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'Lato';
            src: url({{ main_project_url |trim('/', 'right') }}{{  basePath('fonts/Lato/Lato-Bold.eot?#iefix') }}) format('embedded-opentype'),  url({{ main_project_url |trim('/', 'right') }}{{  basePath('fonts/Lato/Lato-Bold.woff') }}) format('woff'), url({{ main_project_url |trim('/', 'right') }}{{  basePath('fonts/Lato/Lato-Bold.ttf') }})  format('truetype'), url({{ main_project_url |trim('/', 'right') }}{{  basePath('fonts/Lato/Lato-Bold.svg#Lato-Bold') }}) format('svg');
            font-weight: bold;
            font-style: normal;
        }
        @font-face {
            font-family: 'PT Serif';
            src: url({{ main_project_url |trim('/', 'right') }}{{  basePath('fonts/PTSerif/PTSerif-Regular.eot?#iefix') }}) format('embedded-opentype'),  url({{ main_project_url |trim('/', 'right') }}{{  basePath('fonts/PTSerif/PTSerif-Regular.woff') }}) format('woff'), url({{ main_project_url |trim('/', 'right') }}{{  basePath('fonts/PTSerif/PTSerif-Regular.ttf') }}) format('truetype'), url({{ main_project_url |trim('/', 'right') }}{{  basePath('fonts/PTSerif/PTSerif-Regular.svg#PTSerif-Regular') }}) format('svg');
            font-weight: normal;
            font-style: normal;
        }
        @font-face {
            font-family: 'PT Serif';
            src: url({{ main_project_url |trim('/', 'right') }}{{  basePath('fonts/PTSerif/PTSerif-Bold.eot?#iefix') }}) format('embedded-opentype'),  url({{ main_project_url |trim('/', 'right') }}{{  basePath('fonts/PTSerif/PTSerif-Bold.woff') }}) format('woff'), url({{ main_project_url |trim('/', 'right') }}{{  basePath('fonts/PTSerif/PTSerif-Bold.ttf') }}) format('truetype'), url({{ main_project_url |trim('/', 'right') }}{{  basePath('fonts/PTSerif/PTSerif-Bold.svg#PTSerif-Bold') }}) format('svg');
            font-weight: bold;
            font-style: normal;
        }
        table {
            border-spacing: 0 !important;
            border-collapse: collapse !important;
            margin: 0 auto !important;
        }
    </style>
    <!--[if mso]>
    <style type=”text/css”>
        .font-lato {
            font-family: 'Lato', 'Arial', sans-serif;
        }
        .font-ptserif{
            font-family: 'PT Serif', 'Georgia', serif;
        }
    </style>
    <![endif]-->
</head>
<body style="margin: 0; padding: 11px 53px;background-color: #F6F7F9; width: 100%;">
<center style="width: 100%;background-color: #F6F7F9;">
<!--[if mso]>
    <table cellpadding="0" cellspacing="0" border="0" style="width: 100%; height: 100%;margin:0; padding:0" bgcolor="#F6F7F9"><tr><td width="636">
<![endif]-->
<div style="max-width:636px;margin:0 auto;box-shadow: 0px 0px 10px rgba(32, 73, 146, 0.2);background-color: #FFFFFF;">
<table cellpadding="0" cellspacing="0" border="0" style="width: 100%; height: 100%;margin:0; padding:0" bgcolor="#FFFFFF">
    <tr>
        <td valign="center">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;margin:0; padding:0">
                <!--header start -->
                <tr>
                    <td>
                        <a target="_blank" href="{{ main_project_url }}" style="display: block;text-decoration: none;">
                            <img
                                 border="0"
                                 width="636"
                                 height="171"
                                 style="vertical-align: bottom;display: block;"
                                 src="{{ main_project_url |trim('/', 'right') }}{{ basePath('img/mail/mail-header.jpg') }}"
                                 alt="Луна"
                                 title="Луна"
                            >
                        </a>
                    </td>
                </tr>
                <!--header end -->
                <!--body start-->
                <tr>
                    <td style="padding: 34px 44px 61px;">
                        {% block content %}{% endblock content %}
                    </td>
                </tr>
                <!--body end -->
                <!--footer start-->
                <tr>
                    <td align="center">
                        <table cellpadding="0" cellspacing="0" border="0" style="width: 100%; margin:0; padding:0">
                            <tr>
                                <td style="padding-left: 44px">
                                    <p class="font-ptserif"
                                       style="font-family: 'Lato', 'Arial', sans-serif;color: #633D99;font-size: 12px;line-height: 20px;margin-top: 0;font-weight: 300;"
                                    >
                                        Есть вопросы?
                                        <a href="mailto:support@luna.com"
                                           style="
                                           font-size: 12px;
                                           line-height: 20px;
                                           font-family: 'Lato', 'Arial', sans-serif;
                                           text-decoration: none;
                                           color: #633D99;
                                           font-weight: normal;
                                           "
                                        >
                                            support@luna.com
                                        </a>
                                    </p>
                                </td>
                                <td style="padding-right: 44px">
                                    <p style="margin: 0; text-align: right;">
                                        <a class="font-lato"
                                           href="https://ok.ru/"
                                           target="_blank"
                                           style="font-size: 0;margin-right: 10px;display: inline-block;"
                                        >
                                            <img src="{{ main_project_url |trim('/', 'right') }}{{ basePath('img/mail/ok.png') }}"
                                                 alt="Одноклассники"
                                                 title="Одноклассники"
                                                 width="16"
                                                 height="16"
                                                 border="0"
                                            >
                                        </a>
                                        <a class="font-lato"
                                           href="https://www.youtube.com"
                                           target="_blank"
                                           style="font-size: 0;margin-right: 10px;display: inline-block;"
                                        >
                                            <img src="{{ main_project_url |trim('/', 'right') }}{{ basePath('img/mail/yt.png') }}"
                                                 alt="Youtube"
                                                 title="Youtube"
                                                 width="16"
                                                 height="16"
                                                 border="0"
                                            >
                                        </a>
                                        <a class="font-lato"
                                           href="https://www.facebook.com"
                                           target="_blank"
                                           style="font-size: 0;margin-right: 10px;display: inline-block;"
                                        >
                                            <img src="{{ main_project_url |trim('/', 'right') }}{{ basePath('img/mail/fb.png') }}"
                                                 alt="Facebook"
                                                 title="Facebook"
                                                 width="16"
                                                 height="16"
                                                 border="0"
                                            >
                                        </a>
                                        <a class="font-lato"
                                           href="https://www.instagram.com/"
                                           target="_blank"
                                           style="font-size: 0;margin-right: 10px;display: inline-block;"
                                        >
                                            <img src="{{ main_project_url |trim('/', 'right') }}{{ basePath('img/mail/inst.png') }}"
                                                 alt="Instagram"
                                                 title="Instagram"
                                                 width="16"
                                                 height="16"
                                                 border="0"
                                            >
                                        </a>
                                        <a class="font-lato"
                                           href="https://vk.com/"
                                           target="_blank"
                                           style="font-size: 0;margin-right: 10px;display: inline-block;"
                                        >
                                            <img src="{{ main_project_url |trim('/', 'right') }}{{ basePath('img/mail/vk.png') }}"
                                                 alt="Вконтакте"
                                                 title="Вконтакте"
                                                 width="16"
                                                 height="16"
                                                 border="0"
                                            >
                                        </a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!--footer end-->
                <tr>
                    <td height="40"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</div>
    <!--[if mso]>
    </td></tr></table>
    <![endif]-->
</center>
</body>
</html>
