{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{#
    productForm - форма
#}
{% set addressForm = productForm.get('address') %}
{% block content %}
    <main class="site-page">
        <div class="container" id="FormAdvertisement">
            <div class="row row_full-width">
                <div class="new-deal-form form-advertisement col-8 col-tablet-8 col-mobile-8">
                    {{ form().openTag(productForm)|raw }}
                        <h1 class="page-title">Новое объявление</h1>
                        {{ formElement(productForm.get('csrf'))|raw }}
                        {{ formElementErrors(productForm.get('csrf'))|raw }}

                        <div class="flexible-row">
                            <div class="control-form flexible-row__child">
                                {{ formLabel(productForm.get('category'))|raw }}
                                {{ formElement(productForm.get('category'))|raw }}
                                {{ formElementErrors(productForm.get('category'))|raw }}
                            </div>
                        </div>

                        <div class="flexible-row">
                            <div class="control-form flexible-row__child">
                                {{ formLabel(productForm.get('name'))|raw }}
                                {{ formElement(productForm.get('name'))|raw }}
                                {{ formElementErrors(productForm.get('name'))|raw }}
                                <div class="control-form__help-message">Название не должно превышать 50 символов</div>
                            </div>
                            <div class="flexible-row__child price-control">
                                <div class="control-form ">
                                    {{ formLabel(productForm.get('price'))|raw }}
                                    <div class="price-field">
                                        {{ formElement(productForm.get('price'))|raw }}
                                        {{ formElementErrors(productForm.get('price'))|raw }}
                                        <label class="toggled-checkbox-field toggled-checkbox-field__type_garant-pay">
                                            {{ formElement(productForm.get('safe_deal'))|raw }}
                                            <div class="toggled-checkbox-field__track">
                                                <div class="toggled-checkbox-field__button"></div>
                                            </div>
                                        </label>
                                        <div class="price-field-message">
                                            <div class="control-form__help-message">Безопасная сделка включена!</div>
                                            <div class="control-form__help-message">Сдвиньте переключатель влево для отключения.</div>
                                            {{ formElementErrors(productForm.get('safe_deal'))|raw }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="flexible-row">
                            <div class="control-form">
                                {{ formLabel(productForm.get('description'))|raw }}
                                <div class="new-deal-from__description-field">
                                    {{ formElement(productForm.get('description'))|raw }}
                                </div>
                                {{ formElementErrors(productForm.get('description'))|raw }}
                                <div class="control-form__help-message description-field-help-message">
                                    <div>До 3000 символов</div>
                                </div>
                            </div>
                        </div>

                        <div class="flexible-row">
                            <div class="control-form">
                                {{ formLabel(productForm.get('gallery'))|raw }}
                                <div class="photo-inputs-wrapper">
                                    <div class="photo-inputs">
                                        {{ formElement(productForm.get('gallery'))|raw }}
                                    </div>
                                </div>
                                <div class="control-form__help-message">
                                    Выберите <span class="hm">или перетащите</span> до 4 фотографий в формате JPG или PNG.
                                </div>
                                <div class="control-form__help-message">
                                    Максимальный размер фото — 20MB.
                                </div>
                                {{ formElementErrors(productForm.get('gallery'))|raw }}
                            </div>
                        </div>

                        <div class="control-form file-input-wrapper">
                            {{ formLabel(productForm.get('files'))|raw }}
                            <div class="photo-inputs">
                                {{ formElement(productForm.get('files'))|raw }}
                            </div>
                            <div class="control-form__help-message">
                                Выберите или перетащите файл.
                            </div>
                            {{ formElementErrors(productForm.get('files'))|raw }}
                        </div>

                        <div class="flexible-row">
                            <div class="control-form">
                                {{ formElement(addressForm.get('country'))|raw }}
                                {{ formElementErrors(addressForm.get('country'))|raw }}
                            </div>
                        </div>
                        <div class="flexible-row">
                            <div class="control-form">
                                {{ formLabel(addressForm.get('region'))|raw }}
                                {{ formElement(addressForm.get('region'))|raw }}
                                {{ formElementErrors(addressForm.get('region'))|raw }}
                            </div>
                        </div>
                        <div class="flexible-row">
                            <div class="control-form">
                                {{ formLabel(addressForm.get('city'))|raw }}
                                {{ formElement(addressForm.get('city'))|raw }}
                                {{ formElementErrors(addressForm.get('city'))|raw }}
                            </div>
                        </div>
                        <div class="flexible-row">
                            <div class="control-form">
                                {{ formLabel(addressForm.get('street'))|raw }}
                                {{ formElement(addressForm.get('street'))|raw }}
                                {{ formElementErrors(addressForm.get('street'))|raw }}
                            </div>
                        </div>
                        <div class="flexible-row">
                            <div class="control-form">
                                {{ formLabel(addressForm.get('house'))|raw }}
                                {{ formElement(addressForm.get('house'))|raw }}
                                {{ formElementErrors(addressForm.get('house'))|raw }}
                            </div>
                        </div>

                        <div class="control-form action-buttons">
                            <a href="{{ url('profile') | trim  }}" class="button-transparent action-button">Отмена</a>
                            <button type="submit" class="button-blue action-button">Далее</button>
                        </div>
                    {{ form().closeTag()|raw }}
                </div>
            </div>
        </div>
    </main>
    <!--noindex-->
    <script id="categories-json" type="application/json">{{ categories_json | raw}}</script>
    <script id="product-data-json" type="application/json">{{ product_data_json | raw}}</script>
    <!--/noindex-->
{% endblock content %}