{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{#
    productForm - форма
#}
{% set addressForm = productForm.get('address') %}
{% block content %}
    <main class="site-page">
        <div class="container" id="form-product-edit">
            <h1 class="page-title">Редактирование объявления</h1>
            <noscript>Для редактирования объявления включите JavaScript</noscript>
        </div>
    </main>
    <!--noindex-->
    <script id="categories-json" type="application/json">{{ categories_json | raw}}</script>
    <script id="product-data-json" type="application/json">{{ product_data_json | raw}}</script>
    <!--/noindex-->
{% endblock content %}