.advert_popup_header_icon {
  display: inline-block;
  vertical-align: super;
  margin-right: 10px;

  &.published {
    background-image: url("../../img/circle_check.svg");
    width: 26px;
    height: 26px;
  }

  &.moderation_pending {
    background-image: url("../../img/circle_clock.svg");
    width: 30px;
    height: 30px;
  }

  &.declined {
    background-image: url("../../img/triangle_exclamination.svg");
    width: 26px;
    height: 23px;
  }

  &.paused {
    background-image: url("../../img/circle_pause.svg");
    width: 30px;
    height: 30px;
  }

  &.archive {
    width: 25px;
    height: 33px;
    background-image: url("../../img/archive-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}