@import "../vars";

.AvatarWithBorder{
  background-color: #FFFFFF;
  border: 1px solid @border-color;
  border-radius: 50%;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  width: 50px;
  height: 50px;
  .AvatarWithBorder-Container {
    //background-image: url(../../img/no-avatar.png);
    border-radius: 50%;
    width: 95%;
    height: 95%;
    margin: auto;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    position: relative;
    & img {
      width: 100%;
      height: 100%;
    }
  }
}

.avatar-with-border {
  display: flex;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  background-color: #ffffff;
  box-shadow: @box-shadow;
  .avatar-with-border-photo {
    display: inline-block;
    margin: auto;
    overflow: hidden;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-image: url(../../img/no-avatar.png);
    background-size: cover;
    background-position: center;
    background-color: @grey-fill;
  }
}