
.box-for-shadow {
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1401);
}
.button-search {
  display: inline-block;
  max-width: 170px;
  width: 100%;
  padding: 8px 10px;
  border-radius: @border-radius;
  background-color:@accent-blue;
  box-shadow: inset 0 1px 0;
  text-align: center;
  line-height: 24px;
  color: #ffffff;
}