.button-white {
  display: inline-block;
  width: 100%;
  padding: 8px 10px;
  border-radius: @border-radius;
  background-color: #ffffff;
  text-align: center;
  line-height: 24px;
  color: @text-color;
}