.button-close-white {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-color: transparent;
  @media (max-width: @mobile) {
    height: 16px;
    width: 16px;
  }
  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    background-color: #ffffff;
    border-radius: @border-radius;
    height: 2px;
    width: 100%;
  }
  &:before {
    transform: translateY(-50%) rotate(-45deg);
  }
  &:after {
    transform: translateY(-50%) rotate(45deg);
  }
}



