.button-sing-in-vk {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 8px 10px 8px 74px;
  border-radius: @border-radius;
  border: 1px solid @dark-blue;
  background-color: #ffffff;
  text-align: right;
  text-transform: uppercase;
  line-height: 24px;
  font-weight: 600;
  color: @grey-dark-color;
  &:before {
    content: "";
    display: inline-block;
    width: 70px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: @dark-blue;
    background-image: url("../../img/icon-social/icon-vk-without-bg.svg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 21px 12px;
    background-position: center;
  }
  &:hover {
  }
}