.button-show-hidden-field {
  min-height: 40px;
  .button-show-hidden-field__name {

  }
  .button-show-hidden-field__text {
    display: none;
  }
  &.show {
    .button-show-hidden-field__name {
      display: none;
    }
    .button-show-hidden-field__text {
      display: block;
    }
  }
}

