.button-purple {
  display: inline-block;
  width: 100%;
  max-width: 170px;
  padding: 7px 10px;
  border-radius: @border-radius;
  background-color: @purple-color;
  border: 1px solid @purple-color;
  text-align: center;
  line-height: 24px;
  color: #ffffff;
  &:hover {
  }
}