.button-back {
  display: inline-block;
  width: 20px;
  height: 20px;
  max-width: 100%;
  max-height: 100%;
  background: url("../../img/icon_button_back.svg") no-repeat 0 0;
  background-size: contain;
}