.button-popup-white {
  display: inline-block;
  width: 100%;
  padding: 8px 10px;
  border-radius: @border-radius;
  background-color: #ffffff;
  text-align: center;
  line-height: 24px;
  color: #623BBA;
  border: 1px #623BBA solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}