.button-blue {
  display: inline-block;
  //max-width: 170px;
  width: 100%;
  padding: 7px 10px;
  border-radius: @border-radius;
  background-color:@accent-blue;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.1401);
  border: 1px solid @accent-blue;
  text-align: center;
  line-height: 24px;
  color: #ffffff;

  &[disabled]{
    cursor: not-allowed;
    background-color: @disabled-color;
    border-color: @disabled-color;
    box-shadow: none;
    color: @grey-dark-color;
  }

}