.button-transparent-with-stroke {
  display: inline-block;
  width: 100%;
  max-width: 170px;
  padding: 7px 10px;
  border-radius: @border-radius;
  border: 1px solid @purple-color;
  background-color: transparent;
  text-align: center;
  line-height: 24px;
  color: @purple-color;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color, .3s;
  }
}