.button-close {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 16px;
  width: 16px;
  background-color: transparent;
  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    background-color: @text-color;
    border-radius: @border-radius;
    height: 2px;
    width: 16px;
  }
  &:before {
    transform: translateY(-50%) rotate(-45deg);
  }
  &:after {
    transform: translateY(-50%) rotate(45deg);
  }
}



