//Костыли для капчи, чтобы она занимала всю ширину
.captcha-wrapper{
  position: relative;
  font-size: 0;
  line-height: 0;
  border: 1px solid #d3d3d3;
  background-color: #f9f9f9;
  margin-bottom: 17px;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.08);
  /*@media(max-width: @grid-breakpoint-xs){
    display: flex;
  }*/

  .form-field{
    margin: 0 !important;
  }

  .g-recaptcha{
    @media(max-width: @grid-breakpoint-xs) {
      /*position: relative;
      left: 50%;
      transform: translateX(-50%);*/
    }
  }

  .captcha-image{
    background: #f9f9f9;
    position: absolute;
    left: 232px;
    right: 0;
    top: 0;
    height: 72%;

    &:after{
      content: '';
      position: absolute;
      right: 19px;
      top: -2px;
      height: 100%;
      background: url(/img/recaptcha.png) no-repeat 95% 69%;
      width: 32px;
      background-size: 32px 32px;
    }

    &:before{
      color: #555;
      cursor: default;
      font-family: Roboto,helvetica,arial,sans-serif;
      font-size: 10px;
      font-weight: 400;
      line-height: 10px;
      margin-top: 5px;
      text-align: center;
      content: 'reCAPTCHA';
      position: absolute;
      bottom: -3px;
      right: 13px;
    }

  }

  .captcha-links{
    position: absolute;
    text-align: right;
    background-color: #f9f9f9;
    bottom: 0;
    height: 18px;
    color: #555;
    font-family: Roboto,helvetica,arial,sans-serif;
    font-size: 8px;
    font-weight: 400;
    padding-right: 13px;
    left: 0;
    width: 100%;
    line-height: 11px;

    a{
      font: inherit;
      color: inherit;
      text-decoration: none;
    }

  }

}
.captcha-overlay{
  position: absolute;
  background-color: #f9f9f9;

  &.captcha-overlay_position-top{
    width: 100%;
    height: 1px;
    left: 0;
    top: 0;
  }

  &.captcha-overlay_position-right{
    height: 100%;
    left: 300px;
    top: 0;
    width: 4px;
  }

  &.captcha-overlay_position-bottom{
    width: 100%;
    height: 18px;
    left: 0;
    bottom: 0;
  }

  &.captcha-overlay_position-left{
    height: 100%;
    width: 2px;
    left: 0px;
    top: 0;
  }

}
