.card-info-security {
  position: relative;
  display: block;
  color: @grey-dark-color;
  &:before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 16px;
    background: url("../../img/icon-lock.svg") no-repeat center;
    margin-right: 4px;
  }
}