.categories-name {
  position: relative;
  padding-left: 24px;
  margin-bottom: 10px;
  line-height: 24px;
  font-size: 18px;

  @media (max-width: @desktop) {
    font-size: 14px;
  }
  @media (max-width: @mobile) {
    font-size: 18px;
    margin-bottom: 0;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 7%;
    //transform: translateY(-50%);
    left: 0;
    width: 16px;
    height: 16px;
    background-size: cover;
    @media (max-width: @mobile) {
      top: 45%;
    }
  }
}

.categories-name.all-advertisement {
  &:before {
    background-image: url("../../img/card_list_purple.svg");
  }
}
.categories-name.personal-things {
  &:before {
    background-image: url("../../img/icon-personal-things.svg");
  }
}
.categories-name.bytovaia_elektronika {
  &:before {
    background-image: url("../../img/icon-camera.svg");
  }
}
.categories-name.transport {
  &:before {
    background-image: url("../../img/icon-automobile.svg");
  }
}
.categories-name.nedvizhimost {
  &:before {
    background-image: url("../../img/icon-building.svg");
  }
}
.categories-name.tovary_dlia_doma {
  &:before {
    background-image: url("../../img/icon-home.svg");
  }
}
.categories-name.uslugi {
  &:before {
    background-image: url("../../img/icon-service.svg");
  }
}