.categories-list {
  font-size: 12px;
  li {
    position: relative;
    padding-left: 7px;
    &:first-child {
      margin-top: 10px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: @text-color;
    }
    a {
      text-decoration: none;
      font-size: 12px;
      color: @text-color;
    }
  }

}