.close-popup-btn{
  position: absolute;
  right: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  background: url("/img/close.svg") no-repeat center;
  z-index: 2;

  &:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("/img/close-hovered.svg") no-repeat center;
    opacity: 0;
    transition: opacity .2s;
  }

  &:hover{
    &:after{
      opacity: 1;
    }
  }

}
