.declined_advert_reason {
  color: #445870;
  background-color: #F2F4F7;
  border: #F85359 solid 1px;
  border-radius: 4px;
  margin: 24px 30px 36px 30px;
  padding: 12px 16px;
  .recommendations {
    font-family: inherit;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}