.delivery-deal{
  display: none;
  line-height: 20px;
  font-size: 12px;
  color: #86879D;

  &:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url('../../img/delivery.svg') no-repeat;
    margin-right: 4px;
  }

}