.flexible-row{
  display: flex;
  justify-content: space-between;
  //overflow: hidden;
  margin-bottom: 16px;

  @media (max-width: @mobile){
    display: block;
  }

  &.options-row {
    @media (max-width: @mobile){
      display: flex;
    }
    .toggler {
      align-self: baseline;
    }
  }

  .flexible-row__child{
    width: 48.6%;

    @media (max-width: @mobile){
      width: 100%;
      margin-bottom: 20px;

      &:last-child{
        margin-bottom: 0;
      }

    }

  }

  &.price_quantity_measure_row {
    justify-content: flex-start;
  }

}