.form-popup{
  padding: 22px 30px 46px;
  max-width: 430px;
  background-color: #fff;
  border-radius: 4px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(32, 73, 146, 0.2);
  overflow: hidden;

  @media (max-width: @tablet) {
    padding: 20px 13px 36px;
  }
}

@import (multiple) '../atoms/button-transparent-with-stroke';
@import (multiple) '../atoms/button-blue';
@import (multiple) '../atoms/link-upload-file';

@import (multiple) '../molecules/info-field';
.info-fields {
  flex-direction: column;
  margin-top: 24px;
}
.info-field {
  .info-field-label {
    width: 100%;
    font-weight: 500;
  }
  .info-field-text {
    padding: 7px 16px;
    width: 100%;
    background-color: @new_grey-fill;
    border-radius: @border-radius;
    border: 1px solid @border-color-control-form;
  }
}
.info-field {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

@import (multiple) '../atoms/photo-input';
.photo-input {
  width: 130px;
  height: 130px;
  .photo-input__placeholder {

  }
}
@import (multiple) '../atoms/popup-title';
@import (multiple) "../molecules/control-form";
.control-form{
  margin-bottom: 22px;
  @media (max-width: @tablet) {
    margin-bottom: 16px;
  }
}

.form-popup__footer{
  margin-top: 39px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  align-items: flex-start;
  @media (max-width: @tablet) {
    margin-top: 36px;
  }

  button {
    max-width: 170px;
    &:first-child {
      margin-right: 30px;
      @media (max-width: @mobile) {
        margin-right: 16px;
      }
    }
  }



  &.form-footer-controls{
    .control-form{
      width: 63%;
    }
    .button-purple{
      width: 35%;
    }
  }

}
.form-popup__header{
  background-color: #fff;
}
.form-popup__body{
  background-color: #F6F7F9;
}
.form-popup__info-text{
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  color: #4B4C6E;
}
.form-popup__notice{
  font-weight: normal;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
}
.form-popup__notice-link{
  color: #007FFF;
  text-decoration: underline;

  &:hover{
    text-decoration: none;
  }

}
.form-popup__repeat-time-left{
  color: #007FFF;
}

@import (multiple) '../atoms/link-upload-file';

@import (multiple) '../molecules/info-field';
.info-fields {
  flex-direction: column;
  margin-top: 24px;
}
.info-field {
  margin-bottom: 22px;
  &:last-child {
    margin-bottom: 0;
  }
  .info-field-label {
    line-height: 20px;
    width: 100%;
    font-weight: 500;
    margin-bottom: 8px;
  }
  .info-field-text {
    padding: 7px 16px;
    width: 100%;
    background-color: @new_grey-fill;
    border-radius: @border-radius;
    border: 1px solid @border-color-control-form;
  }
}