.form-checkbox{
  display: inline-block;
  font-size: 0;
  margin: 0;
  cursor: pointer;
  margin-bottom: 8px;
  font-weight: 500;

  input[type="checkbox"]{
    width: auto;
    height: auto;
    opacity: 0;
    position: absolute;
    z-index: -1;
    border: none;
    &:checked{
      & ~ .form-checkbox__field{
        &:after{
          background-image: url("../../img/checked.svg");
        }
      }
    }
    &:focus{
      & ~ .form-checkbox__field{
        outline: 1px dotted #007FFF;
        outline: -webkit-focus-ring-color auto 5px;
      }
    }
    &:-moz-focusring {
      & ~ .form-checkbox__field{
        outline: 1px dotted;
        outline-color: #007FFF;
      }
    }
  }

  .form-checkbox__field{
    margin-right: 10px;
    display: inline-block;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border-radius: @border-radius;
    vertical-align: top;
    //margin-top: -3px;
    position: relative;
    &:after{
      content: '';
      display: inline-block;
      background-image: url("../../img/input-checkbox_default.svg");
      background-repeat: no-repeat;
      background-size: 16px 16px;
      left: 0px;
      right: 0;
      top: 0px;
      bottom: 0px;
      transition: opacity .3s;
      position: absolute;
      border-radius: @border-radius;
    }

  }

  .form-checkbox__label{
    font-family: Lato, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 12px;
    //letter-spacing: -0.2px;
    color: @product-status-text-color;
    text-transform: none;
    padding-left: 2px;
    position: relative;
    bottom: 2px;

    @media (max-width: @grid-breakpoint-xs){
      font-size: 11px;
      bottom: 0px;
    }

  }

}