.gallery-main{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1280px;
  width: 100%;

  @media (max-width: @mobile) {
    height: 250px;
  }

  .gallery-items{
    position: relative;

    @media (max-width: @mobile) {
      height: 100%;
    }

    .gallery-items-list{
      @media (max-width: @mobile) {
        height: 100%;
      }
    }

    .gallery-item{
      height: 100%;
      width: 100%;
      display: none;
      justify-content: center;
      align-items: center;

      .gallery-item__image {
        max-width: 100%;
        max-height: calc(~'100vh - 60px');

        @media (max-width: @mobile) {
          max-height: 100%;
        }

      }

      &.active {
        display: flex;
      }

    }

    @import (multiple) '../atoms/button-close-white';
    .gallery-control-close{
      position: absolute;
      right: -30px;
      top: 0;
      width: 22px;
      height: 22px;
      outline: none;
      transition: transform .2s ease-out;

      @media (max-width: @mobile) {
        right: -27px;
      }

      &:hover{
        transform: rotate(90deg);
      }

    }

  }

}