.gallery-control{
  width: 100px;
  height: 100%;
  margin-left: 60px;

  @media (max-width: @mobile) {
    margin-left: 0;
    width: 100%;
    height: auto;
  }

  @import (multiple) './gallery-previews';

  .gallery-navigation{

  }

}