.gallery-previews{
  margin: 30px 0;
  height: calc(~'100% - 60px');
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @media (max-width: @mobile) {
    height: auto;
    width: 100%;
  }

  .gallery-previews-list{
    overflow-y: scroll;
    padding-right: 60px;
    margin-right: -60px;


    @media (max-width: @mobile) {
      margin-right: 0;
      padding-right: 0;
      overflow-x: scroll;
      overflow-y: hidden;
      padding-bottom: 60px;
      margin-bottom: -60px;
      white-space: nowrap;
    }

    .gallery-preview-item{
      display: block;
      text-align: center;
      margin-bottom: 10px;

      @media (max-width: @mobile) {
        display: inline-block;
      }

      &.active{
        .gallery-preview-item__image:after{
          opacity: 1;
        }
      }

      .gallery-preview-item__image{
        display: inline-block;
        width: 70px;
        height: 70px;
        background-position: 50% 50%;
        background-size: cover;
        position: relative;

        &:after{
          content: '';
          border: 2px solid @purple-color;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          transition: opacity .2s ease-out;
          box-sizing: border-box;
        }

      }

    }

  }

}