@import (multiple) '../atoms/tooltip';

.garant-deal{
  display: none;
  position: relative;
  line-height: 20px;
  font-size: 12px;
  color: #86879D;
  cursor: default;

  &:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background: url('../../img/gp-shield.svg') no-repeat;
    margin-right: 4px;
  }

  &:hover {
    .tooltip {
      visibility: visible;
      opacity: 1;
    }
  }

  .garant-deal_text {

  }

}