.gp-guarantee-banner {
  padding: 3px 0;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  background-color: @grey-fill;

  @media (max-width: @mobile) {
    display: none;
  }
  .text {
    display: inline-block;
    position: relative;
    padding-left: 24px;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 16px;
      height: 16px;
      background: url("../../img/gp-shield.svg") no-repeat 0 0;
      background-size: contain;
    }
  }
}