.header-of-element {
  display: none;
  position: fixed;
  z-index: 1050;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  padding: 15px 0;
  background: url(../../img/header-space-bg.png) no-repeat 0 0;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  @media (max-width: @tablet) {
    display: flex;
    position: relative;
    height: 60px;
  }

  @import (multiple) "../atoms/button-close-white";
  .button-close-white {
    position: absolute;
    left: 30px;
  }

  h1 {
    margin-bottom: 0;
    font-size: 14px;
  }
}

