.icon-social {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.icon-social_ok {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../../img/icon-social/ok.svg") no-repeat 0 0;
  background-size: contain;
}
.icon-social_youtube {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../../img/icon-social/youtube.svg") no-repeat 0 0;
  background-size: contain;
}
.icon-social_facebook {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../../img/icon-social/facebook.svg") no-repeat 0 0;
  background-size: contain;
}
.icon-social_insta {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../../img/icon-social/insta.svg") no-repeat 0 0;
  background-size: contain;
}
.icon-social_vk {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../../img/icon-social/vk.svg") no-repeat 0 0;
  background-size: contain;
}