.icon-login {
  display: inline-block;
  width: 23px;
  height: 23px;
  max-width: 100%;
  max-height: 100%;
  background: url("../../img/unauth_icon.svg") no-repeat 0 0;
  background-size: contain;
}