.icon-edit {
  display: inline-block;
  overflow: hidden;
  width: 16px;
  height: 16px;
  cursor: pointer;
  background: transparent url("../../img/edit-icon.svg") no-repeat scroll top left;
  background-size: cover;
  background-position: center;
}