  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    padding: 0;
    line-height: normal;
    position: relative;
    cursor: pointer;
    height: 2px;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  /* Special styling for WebKit/Blink */
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 27px;
    width: 27px;
    background: #ffffff;
    cursor: pointer;
    margin-top: 5px;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    @media (max-width: @tablet) {
      margin-top: -12px;
      //width: 15px;
      //height: 15px;
    }
  }

  input[type=range]::-moz-range-thumb {
    height: 27px;
    width: 27px;
    background: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    @media (max-width: @mobile) {
      //width: 15px;
      //height: 15px;
    }
  }

  input[type=range]::-ms-thumb {
    height: 27px;
    width: 27px;
    background: #ffffff;
    cursor: pointer;
    border: none;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    margin: 15px 5px 0 5px;
    @media (max-width: @mobile) {
      //margin-top: 17px;
      //width: 15px;
      //height: 15px;
    }
  }

  //Runnable Track
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background-color: @accent-blue;
    //border: 2px solid #ffffff;
    border-radius: @border-radius;
    color: transparent;
  }

  input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: @grey-fill;
    color: transparent;
    border: 2px solid #ffffff;
    border-radius: @border-radius;
    outline: none;
    box-shadow: none;
  }

  input[type=range]::-moz-range-progress {
    background: @accent-blue;
  }

  input[type=range]::-ms-track {
    background: @grey-fill;
    border-radius: @border-radius;
    border: 2px solid #ffffff;
    color: transparent;
    width: 100%;
    height: 2px;
    box-shadow: none;
  }

  input[type=range]::-ms-fill-lower {
    background: @accent-blue;
  }

  input[type=range]::-ms-fill-upper {
    background: @grey-fill;
    border: 2px solid #ffffff;
  }

