.input-search {
  position: relative;
  padding-left: 48px;
  padding-right: 48px;
  background: #ffffff url("../../img/search.svg") no-repeat scroll 16px;
  background-size: auto 16px;
  &.no_burger {
    padding-right: 16px;
    padding-bottom: 12px;
  }
}

