.link-upload-file {
  display: inline-block;
  position: relative;
  padding-left: 44px;
  margin-top: 20px;
  margin-bottom: 24px;
  color: @accent-blue;
  @media (max-width: @mobile) {
    padding-left: 30px;
  }
  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 34px;
    height: 34px;
    background: url("../../img/icon-file.svg") 0 0 no-repeat;
    background-size: contain;
    @media (max-width: @mobile) {
      top: 0;
      width: 20px;
      height: 20px;
    }
  }
  span {
    position: relative;
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: @accent-blue;
      opacity: 1;
      transition: opacity, 0.1s;
    }
  }
  &:hover {
    span {
      &:before {
        opacity: 0;
      }
    }
  }

}