.link-inline {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  line-height: 1;
  font-size: 12px;
  font-weight: 500;
  color: @accent-blue;
  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: @accent-blue;
    transition: opacity, 0.1s;
  }
  &:hover {
    &:before {
      opacity: 0;
    }
  }
}