.logo {
  display: block;
  width: 170px;
  height: 50px;
  background: url("../../img/logo.png") no-repeat 0 0;
  background-size: contain;
  @media (max-width: @extra-small) {
    width: 140px;
  }
}