.map-placemark{
  background: url('../../img/placemark.svg') no-repeat center;
  width: 48px;
  height: 66px;
  transform: scale(.7);
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
}