ul.navigation-chain {
  li {
    display: inline-block;
    &:after {

    }
    a {
      font-size: 14px;
      color: @grey-dark-color;
      text-decoration: underline;

      &:hover{
        text-decoration: none;
      }

    }
  }

  &.user_list {
    margin: 25px auto;
    max-width: 1200px;
    padding-left: 15px;
  }
}