.note-info {
  position: relative;
  padding-left: 24px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 16px;
    height: 16px;
    background: url("../../img/icon-note-info.svg") no-repeat 0 0;
    background-size: cover;
  }
}

.note-red {
  position: relative;
  padding-right: calc(~"(100vw * 0.006944 + 18.667px) / 2");
  padding-left: 24px;
  margin: 12px 0 0 0;
  font-size: 12px !important;
  line-height: 2;
  color: #354052;
  text-align: left;
  &:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 4px;
    background: url(../../img/note_info-red.svg) no-repeat;
  }
}