.on-check-badge {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  padding: 14.5px 10px;
  font-size: 0;
  background-color: @product-status-background-color;
  z-index: 1;
  box-shadow: @box-shadow;
  @media (max-width: @mobile) {
    background-color: rgba(92%, 92%, 95%, .5);
  }

  &:before {
    content: '';
    width: 21px;
    height: 21px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
    //Удалить после внедрения фцнкциональности Женей
    background: url('../../img/clock.svg') no-repeat center;
    @media (max-width: @mobile) {
      display: block;
      margin: auto;
    }
  }

  &.waiting-for-moderation {
    &:before {
      background: url('../../img/clock.svg') no-repeat center;
    }
  }

  &.rejected-by-moderator {
    &:before {
      width: 20px;
      height: 17px;
      background: url('../../img/warning.svg') no-repeat center;
    }
  }

  &.showing-stopped {
    &:before {
      background: url('../../img/pause.svg') no-repeat center;
    }
  }

  .on-check-badge__text {
    line-height: 20px;
    font-size: 18px;
    color: @product-status-text-color;
    display: inline;
    vertical-align: middle;
    @media (max-width: @mobile) {
      display: block;
      line-height: 16px;
      font-size: 12px;
      text-align: center;
    }
  }
}