.page-message-container{
  text-align: center;
  min-height: 605px;
  justify-content: center;
  display: flex;
  padding-top: 120px;

  .page-message{
    color: @grey-dark-color;
    font-family: Lato, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    max-width: 540px;
    margin: 26px auto 0;
  }

  .page-message-image{
    width: 170px;
    height: 170px;
  }

}