.photo-count {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 3px;
  background-color: rgba(75, 76, 110, 0.2);
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  @media (max-width: @mobile) {
    font-size: 12px;
  }
}