.photo-preview{
  width: 170px;
  height: 170px;
  background-color: #fff;
  border: 1px dashed #B7BED0;
  position: relative;

  .photo-preview__image{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

}