.photo-input{
  box-shadow: 0 0 10px rgba(32, 73, 146, 0.2);
  box-sizing: border-box;
  text-align: center;
  position: relative;
  width: 170px;
  height: 170px;
  display: block;

  & > label{
    display: block;
    width: 100%;
    cursor: pointer;
    height: 100%;
  }

  input{
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
  }

  .photo-input__placeholder{
    background: #FFFFFF;
    border: 1px dashed #B7BED0;
    height: 100%;
    width: 100%;
    display: block;
    padding-top: 35px;
    &-active {
      border: 1px dashed #007FFF;
    }
  }

  .photo-input__placeholder-image{
    display: block;
  }

  .photo-input__placeholder-title{
    display: block;
    text-align: center;
    line-height: 24px;
    font-size: 14px;
    color: #86879D;
  }

  .photo-input__preview-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .photo-input__preview{
    width: 100%;
    height: 100%;
    display: none;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #fff;

    &.is-visible{
      display: block;
    }
    & img {
      width: 100%;
      height: 100%;
    }
  }

  .photo-input__control-button{
    width: 24px;
    height: 24px;
    position: absolute;
    background: rgba(75, 76, 110, .4);
    top: 0;
    border: none;
    outline: none;
    cursor: pointer;

    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

  }

  .photo-input__control-button_type_remove{
    right: 0;

    &:before{
      background: url('../../img/remove-photo.svg') no-repeat center center;
    }

  }

  .photo-input__control-button_type_util{
    left: 0;

    &:before{
      background: url('../../img/rotate.svg') no-repeat center center;
    }

  }

}