.popup_timer {
  font-size: 12px;
  line-height: 20px;
  color: @grey-dark-color;
  text-align: center;
  margin-top: 24px;
  margin-bottom: -11px;
  span {
    color: @accent-blue;
  }
  .icon-pause {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    margin: 0 4px;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(134, 135, 157, 0.3);
    border-radius: 50%;
    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      background-color: #3C4458;
      height: 8px;
      width: 2px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:before {
      left: 5px;
    }
    &:after {
      right: 5px;
    }
  }
}