@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Preloader {
  position: relative;
  width: 100%;
  height: 100%;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 18;
    background: rgba(255, 255, 2555, 0.8);
  }

  .Preloader__container{
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 19;
    text-align: center;
  }

  .Preloader__spinner{
    position: relative;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: @purple-color;
    border-right-color: @purple-color;
    display: inline-block;
    animation: spin 2.5s linear infinite;

    &:before{
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 4px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-bottom-color: @purple-color;
      animation: spin 2s linear infinite;
    }

  }
}

.Preloader_solid {
  &:before {
    background: #ffffff;
  }
}

.Preloader_small{
  .Preloader__spinner{
    width: 70px;
    height: 70px;
  }
}

.Preloader_tiny{
  .Preloader__spinner{
    width: 42px;
    height: 42px;
  }
}

.Preloader_absolute{
  position: absolute;
  left: 0;
  top: 0;
}

.Preloader_large {
  &:after {
    width: 100px;
    height: 100px;
  }
}
.form-preload{
  height: 500px;
}
.form-sending-loader{
  position: relative;

  .Preloader{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
  }

}

.input-loader{
  position: absolute;
  right: 35px;
  top: 21%;
  transform: translateY(-50%);
  width: auto;
  height: auto;

  &:before{
    display: none;
  }

  .Preloader__container{
    transform: none;
    top: 0;
    left: 0;
  }

  .Preloader__spinner{
    width: 24px;
    height: 24px;
    border-width: 1px;

    &:before{
      border-width: 1px;
      top: 1px;
      left: 1px;
      right: 1px;
      bottom: 1px;
    }

  }

}
