.product-photo-slider{
  height: 370px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  font-size: 0;
  line-height: 0;

  @media (max-width: @tablet){
    height: 360px;
    margin-bottom: 40px;
  }

  @media (max-width: @mobile){
    height: 270px;
    margin-bottom: 13px;
  }

  .product-photo-slider__previews{
    flex: none;

    @media (max-width: @tablet){
      display: none;
    }

  }

  .product-photo-slider__preview{
    width: 70px;
    height: 70px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    cursor: pointer;
  }

  .product-photo-slider__items{
    width: 79%;

    @media (max-width: @tablet){
      width: 100%;
    }

  }

  .product-photo-slider__item{

  }

  .slick-dots{
    bottom: 26px;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;

    li{
      display: inline-block;
      vertical-align: middle;
      margin-right: 6px;

      &:last-child{
        margin-right: 0;
      }

      &.slick-active{
        button{
          width: 8px;
          height: 8px;
        }
      }

      button{
        transition: width .2s, height .2s;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        outline: none;
        cursor: pointer;
        background-color: #fff;
      }

    }

  }

}