.product-images-previews{
  display: flex;
  flex-wrap: wrap;
  margin: 26px -16px;

  .product-image-preview{
    width: 168px;
    height: 168px;
    display: block;
    margin: 16px;
    background-size: cover;
    background-position: 50% 50%;
  }

}