.product-name{
  font-weight: 500;
  line-height: 36px;
  font-size: 30px;
  color: #4B4C6E;
  padding-top: 3px;
  margin-bottom: 11px;
  word-break: break-all;

  @media (max-width: @tablet){
    margin-bottom: 0;
    line-height: 29px;
  }

  @media (max-width: @mobile){
    line-height: 32px;
    font-size: 24px;
    display: none;
  }

}
