.product-option{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -15px 5px;
  @media(max-width: @tablet) {
    justify-content: flex-start;
  }

  .product-option__name{
    font-weight: 500;
    line-height: 21px;
    font-size: 14px;
    color: #86879D;
    width: 40%;
    padding: 0 15px;
    @media(max-width: @mobile) {
      width: 135px;
      padding-right: 0;
      line-height: inherit;
    }

    &.purchase {
      width: 15%;
      @media(max-width: @mobile) {
        width: 100%;
      }
    }
  }

  .product-option__value{
    font-size: 14px;
    color: #4B4C6E;
    width: 60%;
    padding: 0 15px;
    line-height: 21px;
    @media(max-width: @mobile) {
      width: 50%;
      line-height: inherit;
    }

    &.purchase {
      width: 75%;
      @media (max-width: @tablet){
        width: 73%;
      }
      @media (max-width: @mobile){
        width: 100%;
      }
    }

    &.with-user-info {
      width: 58%;
      @media (max-width: @mobile){
        width: 50%;
      }
    }

    pre, .description {
      font-family: inherit;
      white-space: pre-wrap;
      word-break: break-all;
    }
  }

  .product-option__value.product-option__value_size_big{
    line-height: 20px;
    white-space: pre-wrap;

    @media (max-width: @mobile){
      width: 100%;
      margin-top: 7px;
    }
  }
}