.rating-scale {
  display: flex;
  //justify-content: space-around;
  //padding: 0 10px;
  //Чтобы выровнять по макету
  line-height: 5px;
  @media (max-width: @mobile){
    display: block;
    margin: 0 auto;
  }
  svg.fill {
    path {
      fill: @accent-blue;
    }
  }

  img:not(:last-child) {
    margin-right: 10px;
    @media (max-width: @desktop){
      margin-right: 5px;
    }
  }

  &.rating-scale-purchase {
    img {
      width: 14px;
      height: 14px;
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}