.slidedown-link{
  text-align: center;
  margin-top: 30px;

  .slidedown-link__text{
    color: #fff;
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
    cursor: pointer;

    &:after{
      content: '';
      background: url('../../img/dropdown-arrow.svg') no-repeat center center;
      width: 16px;
      height: 16px;
      margin-left: 4px;
      display: inline-block;
      vertical-align: middle;
      transition: transform .4s;
    }

    &.is-toggled{
      &:after{
        transform: rotateZ(-180deg);
      }
    }

  }

}