.social-icon{
  display: inline-block;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 18px;
  height: 18px;

  &:last-child{
    margin-right: 0;
  }

  &.social-icon_type-vk{
    background-image: url('../../img/vk-icon');
  }
  &.social-icon_type-ok{
    background-image: url('../../img/ok-icon');
  }
  &.social-icon_type-yt{
    background-image: url('../../img/yt-icon');
  }
  &.social-icon_type-fb{
    background-image: url('../../img/fb-icon');
  }
  &.social-icon_type-inst{
    background-image: url('../../img/inst-icon');
  }

}