.status-manufacturer {
  display: inline-block;
  color: @grey-dark-color;
  width: 16px;
  height: 14px;
  background: url("../../img/status-manufacturer.svg") no-repeat center;
  background-size: 16px 14px;
}