.sticker-product {
  display: inline-block;
  width: 100%;
  padding: 17px 5px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background-color: #ffffff;
  box-shadow: @box-shadow;
}