.suggest-list{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 12;
  background-color: #fff;
  border: 1px solid @border-color-control-form;
}

.suggest-item{
  padding: 4px 8px;
  cursor: pointer;

  &:not(:last-child){
    border-bottom: 1px solid @border-color-control-form;
  }

  &.is-hovered{
    background-color: rgba(0, 127, 255, .3);
  }

  .suggest-item__big{
    display: flex;

    span{
      display: inline-block;
    }

    .suggest__matched{
      font-weight: bold;
    }

    .suggest-hint{
      margin-left: 8px;
      opacity: .6;
      font-weight: bold;
    }

  }

}
.suggest-field{
  position: relative;

  &.suggest_state_loading{
    &:after{
      content: '';
    }
  }

}
