.toggle-password {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  right: 16px;
  width: 16px;
  height: 16px;
  background: url(../../img/eye-hide.svg) no-repeat;
  background-size: cover;
}
.toggle-password-input-check {
  display: none;
}
input:checked + .toggle-password {
  background: url(../../img/eye-show.svg) no-repeat;
}


