.toggled-checkbox-field{
  position: relative;
  cursor: pointer;

  input[type="checkbox"]{
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;

    &:checked{
      & ~ .toggled-checkbox-field__track .toggled-checkbox-field__button{
        transform: translateX(21px);

        &:before{
          opacity: 0;
        }

        &:after{
          opacity: 1;
        }

      }
    }

  }

}

.toggled-checkbox-field__track{
  height: 30px;
  width: 50px;
  position: relative;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 8px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  transition: border-color .3s, background-color .3s;

  &:before{
    content: '';
    height: 10px;
    width: 1px;
    background-color: #fff;
    display: inline-block;
  }

  &:after{
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid #B4B4B4;
    box-sizing: border-box;
    border-radius: 100%;
  }

}

.toggled-checkbox-field__button{
  width: 26px;
  height: 26px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transition: transform .3s;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05), 0 2px 2px rgba(0, 0, 0, 0.1), 0 3px 1px rgba(0, 0, 0, 0.05);
}

.toggled-checkbox-field__type_default{

  input[type="checkbox"]{
    &:checked ~ .toggled-checkbox-field__track{
      background-color: #007FFF;
      border-color: #007FFF;
    }
  }

}

.toggled-checkbox-field__type_garant-pay{

  .toggled-checkbox-field__button{
    &:before, &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: opaicty .3s;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    &:before{
      background-image: url('../../img/gp-checkbox.svg');
      opacity: 1;
    }

    &:after{
      background-image: url('../../img/gp-checkbox-selected.svg');
      opacity: 0;
    }

  }

  input[type="checkbox"]{
    &:checked ~ .toggled-checkbox-field__track{
      background-color: #4CD964;
      border-color: #4CD964;
    }
  }

}