//Родительскому элементу нужно добавить position: relative, а также при состоянии hover родителя  менять visibility вложенного элемента с классом 'tooltip'


.tooltip {
  visibility: hidden;
  width: 100%;
  background-color: #fff;
  color: @text-color;
  border-radius: @border-radius;
  text-transform: none;
  text-align: left;
  padding-top: 6px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity, 0.3s;
  .tooltip-inner {
    padding: 6px 10px;
    border-radius: @border-radius;
    box-shadow: 0 4px 17px 0 rgba(0, 0, 0, 0.1401);
  }
}