.user-drop-menu{
  position: absolute;
  background: #fff;
  width: 100%;
  min-width: 160px;
  border-radius: 3px;
  top: 100%;
  left: -100000px;
  transform: translateY(-20px);
  opacity: 0;
  transition: opacity .4s, transform .4s, left 0s linear .4s;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(53, 64, 82, 0.2);
  z-index: 11;

  .user-drop-menu__item{
    width: 100%;
  }

  .user-menu__link{
    font-family: Lato, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    font-size: 14px;
    padding: 11px 20px;
    letter-spacing: -0.2px;
    color: @text-color;
    width: 100%;
    display: block;
    transition: background-color .4s;
    text-decoration: none;

    &:hover{
      background-color: #e4e4e4;
    }

    &.user-menu__link_create-deal{
      color: @link-color;
    }

  }

}