.working-hours {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
  .hours-label {
    font-weight: 500;
    margin-bottom: 6px;
  }

  .hours-field-wrap {
    display: flex;
    align-items: center;
  }

  .hours-field {
    display: inline-block;
    width: 70px;
    padding: 7px 16px;
    text-align: center;
    border-radius: @border-radius;
    border: 1px solid @border-color-control-form;
  }

  .hyphen {
    display: inline-block;
    width: 9px;
    height: 1px;
    margin: 0 9px;
    background-color: @text-color;
  }

}