.working-days {
  margin-bottom: 18px;
  .working-days-label {
    font-weight: 500;
    margin-bottom: 6px;
  }
  .working-days-box {
    display: flex;
    border-radius: @border-radius;
    border: 1px solid @border-color-control-form;
    .working-days-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 54px;
      height: 40px;
      text-transform: uppercase;
      border-right: 1px solid @border-color-control-form;
      &.active {
        background: @accent-blue;
        color: #ffffff;
      }
    }
  }
}