.advert_info {
  td {
    vertical-align: top;
    &.value {
      max-width: 300px;
      padding-left: 30px;
    }
    &.prop_name {
      color: #86879D;
      font-size: 14px;
      line-height: 24px;
      text-align: right;
    }
  }
}