.advertise-footer{
  @import (multiple) './share-bar';

  .share-bar{
    margin-top: 8px;
  }

  .advertise__compliance{
    margin-top: 4px;

    @media (max-width: @tablet){
      margin-top: 24px;
    }

    @media (max-width: @mobile){
      text-align: center;
    }

  }

  .product-description {
    margin: 30px 0;
  }

  .product-option__name{
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
    color: #86879D;
  }

  .product-option__value {
    text-align: justify;
    line-height: 20px;
    white-space: pre-wrap;
    word-break: break-all;
  }
}