.advert_properties {
  margin: 15px 30px;
  td {
    vertical-align: top;
    &.value {
      padding-left: 73px;
      padding-right: 30px;
    }
    &.prop_name {
      color: #354052;
      font-size: 14px;
      line-height: 24px;
    }
  }
}