.catalog-item {
  //overflow: hidden;
  height: 100%;
  box-shadow: @box-shadow-small;
  border-radius: @border-radius;
  transition: box-shadow .5s ease;
  cursor: pointer;
  background-color: #ffffff;
  @media (max-width: @mobile) {
    min-height: 100px;
  }
  &:hover {
    box-shadow:  0 -2px 5px rgba(32, 73, 146, 0.1), 0 5px 10px rgba(32, 73, 146, 0.2);
  }
  @import (multiple) '../atoms/on-check-badge';

  .catalog-item-photo {
    border-top-left-radius: @border-radius;
    border-top-right-radius: @border-radius;
    overflow: hidden;
  }
  &:hover {
    .catalog-item-photo {
      &:after{
        background: rgba(0,0,0,.16);
      }
    }
  }

  .catalog-item-photo {
    display: block;
    position: relative;
    font-size: 0;
    cursor: pointer;

    @media (min-width: (@tablet + 1)) {
      height: 240px;
    }

    &:hover {
      .photo-count {
        display: inline-block;
      }
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: transparent;
      transition: background .3s ease;
    }
    @media (max-width: @tablet) {
      margin-bottom: 10px;
    }

    img {
      height: 100%;
      width: 100%;
    }

    @import (multiple) "../atoms/photo-count";
    .photo-count {
      display: none;
      top: 15px;
      left: 10px;
      @media (max-width: @mobile) {
        display: inline-block;
        top: 0;
        left: 0;
      }
    }
  }

  > .wrapper {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 4px;

    &.wrapper-purchase {
      padding: 0;
      > [class*="col-5"],
      .col-overflow {
        overflow: hidden;
        white-space: nowrap;
      }
      .catalog-item-purchase-wrap {
        display: flex;
        flex-direction: column;
        @media (max-width: @mobile) {

        }
      }
    }
  }

  .catalog-item-description {
    justify-content: space-between;
    .wrapper {
      height: 100%;
    }
    .catalog-item-description__main{
      .catalog-item-category {
        text-overflow: ellipsis;
        white-space: nowrap;
        color: @grey-dark-color;
        overflow: hidden;
      }
    }

  }

  .catalog-item-breadcrumbs {
    margin-left: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    @media (max-width: @mobile) {
     display: none;
    }
  }

  .catalog-item-name {
    max-height: 48px;
    margin-bottom: 0;
    margin-top: 2px;
    word-break: break-all;
    font-size: 22px;
    @media (max-width: @tablet) {
      margin-bottom: 0;
    }
    @media (max-width: @mobile) {
      max-height: 40px;
      font-size: 14px;
      line-height: 20px;
    }

    a {
      max-height: 48px;
      overflow: hidden;
      position: relative;
      padding-right: 1em;
      text-align: justify;
      cursor: pointer;
      color: @purple-color;
      transition: color .1s ease-out;
      @media (max-width: @mobile) {
        max-height: 40px;
      }
      &:before {
        content: '...';
        position: absolute;
        right: 0;
        bottom: 0;
      }
      &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        background: #FFFFFF;
      }
      &:hover{
        color: @red-color;
      }
    }


    &.catalog-item-name-purchase {
      margin-left: 2px;
      font-size: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (max-width: @mobile) {
        font-size: 14px;
        margin: 0;
      }
    }
  }
  .catalog-item-price-title {
    max-width: 130px;
    flex-grow: 1;
    @media (max-width: @mobile) {
      margin-left: 0;
      font-size: 12px;
      color: @grey-dark-color;
    }
  }
  .catalog-item-purchase-status__status {
    font-size: 18px;
    line-height: 20px;
    padding: 12px 10px 10px;
    background: @grey-fill;
    @media (max-width: @mobile) {
      text-align: center;
    }
  }
  .catalog-item-purchase-status__text {
    position: relative;
    padding-left: 28px;
    @media (max-width: @mobile) {
      display: inline-block;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      left: 0;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &.published:before {
      background-image: url("../../img/circle_check.svg");
    }

    &.moderation_pending:before {
      background-image: url("../../img/circle_clock.svg");
    }

    &.declined:before {
      background-image: url("../../img/triangle_exclamination.svg");
    }

    &.paused:before {
      background-image: url("../../img/circle_pause.svg");
    }

    &.archive:before {
      background-image: url("../../img/archive-icon.svg");
    }
  }

  .catalog-item-quantity-title {
    //margin-top: 4px;
    max-width: 130px;
    flex-grow: 1;
    @media (max-width: @mobile) {
      color: @grey-dark-color;
      font-size: 12px;
    }
  }
  .catalog-item-price {
    display: inline-block;
    position: relative;
    font-size: 22px;
    line-height: 26px;
    color: @text-color;
    margin-bottom: 6px;
    @media (max-width: @tablet) {
      font-size: 18px;
      margin-bottom: 4px;
    }
    @media (max-width: @mobile) {
      font-size: 16px;
      margin-bottom: 0;
    }
    @media (max-width: @extra-small) {
      line-height: 24px;
    }
    &.no-price{
      &:after{
        display: none;
      }
    }

    &:after {
      position: absolute;
      top: 0;
      right: -18px;
      content: "\20BD";
      @media (max-width: @mobile) {
        right: -16px;
      }
    }

    &.catalog-item-price-purchase {
      font-size: 22px;
      white-space: nowrap;
      padding-right: 16px;
      margin-bottom: 0;
      @media (max-width: @desktop) {
        font-size: 18px;
      }
      @media (max-width: @mobile) {
        font-size: 16px;
        line-height: 18px;
      }
      &:after {
        right: 0;
      }
    }

    &.catalog-item-quantity-purchase {
      font-size: 22px;
      white-space: nowrap;
      margin-bottom: 0;
      @media (max-width: @desktop) {
        font-size: 18px;
      }
      @media (max-width: @mobile) {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
  .catalog-item-info {
    display: flex;
    justify-content: space-between;
    position: relative;
    //Используется также в классе .catalog для позиционирования внутренних элементов на разных способах отображения карточек продукта(блоками и списком)
    .catalog-item-about-deal {
      .status-manufacturer {
        @media (max-width: @mobile) {
          width: 11px;
          height: 11px;
          background-size: 11px 11px;
          margin-right: 10px;
          margin-top: 3px;
        }
      }
    }
  }
  .col-item-date-purchase__mobile {
    display: none;
    @media (max-width: @mobile) {
      display: block;
    }
  }
  .catalog-item-date {
    text-transform: none;
    font-size: 12px;
    color: @grey-dark-color;
    /*margin-bottom: 20px;*/
    position: relative;
    @media (max-width: @extra-small) {

      line-height: 20px;
    }
    &:before {
      content: "";
      display: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 16px;
      height: 16px;
      background: url("../../img/gp-shield.svg") no-repeat 0 0;
      background-size: contain;
      @media (max-width: @mobile) {
        right: 0;
      }
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 34px;
      width: 16px;
      height: 16px;
      background: url("../../img/delivery.svg") no-repeat 0 0;
      background-size: contain;
      @media (max-width: @mobile) {
        right: 24px;
      }
    }

    &.catalog-item-date-purchase {
      margin-top: 6px;
      margin-bottom: 7px;
      text-transform: none;
      @media (max-width: @mobile) {
        display: none;
      }
      &__mobile {
        display: none;
        text-transform: none;
        line-height: 24px;
        @media (max-width: @mobile) {
          display: block;
        }
      }
    }
  }
  .catalog-item-category__value {
    display: inline;
    position: relative;
    color: @grey-dark-color;
    transition: color 0.3s;
    text-decoration: underline;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    font-size: 12px;

    &:last-child {
      margin-bottom: 11px;
    }

    &:before {
      display: none;
      position: absolute;
      bottom: 1px;
      opacity: 0.5;
      left: 0;
      content: '';
      width: 100%;
      height: 1px;
      background-color: @purple-color;
      transition: background-color, opacity 0.1s;
    }
    &:hover {
      text-decoration: none;
    }
  }
}

.catalog-item.no-delivery {
  .catalog-item-date {
    &:after {
      display: none;
      background: url("../../img/no-delivery.svg") no-repeat 0 0;
    }
  }
}