.categories-item {
  position: relative;
  @media (max-width: @tablet) {
    padding: 15.5px 0;
    border-bottom: 1px solid @grey-fill;
  }
  @import (multiple) "../atoms/categories-name";
  @import (multiple) "../atoms/categories-list";
    .link-inline {
      line-height: 20px;
      font-size: 12px;
      font-weight: 500;
      font-family: Lato, Arial, sans-serif;

      @media (max-width: @tablet) {
        display: none;
      }

    }
  .subcategory-link {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    outline: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .subcategory-item {
    line-height: 20px;
    display: flex;
    align-content: center;
    margin-top: 5px;
  }
  .show-more-link {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 10px;
    background-color: #fff;
    letter-spacing: 1px;
    padding-left: 7px;
    font-size: 18px;
    @media (max-width: 1196px) {
      padding-left: 28px;
    }
    span {
      font-size: 10px;
      vertical-align: middle;
    }
  }
}
