.control-form {
  position: relative;
  margin-bottom: 22px;
  &.control-form-purchase {
    margin-bottom: 0;
  }

  input, select, textarea {
    position: relative;
    width: 100%;
    padding: 11px 16px 9px 16px;
    border-radius: @border-radius;
    border: 1px solid @border-color-control-form;
    background-color: #ffffff;
    outline: none;
    @media (max-width: @mobile) {
      font-size: 16px;
    }
  }

  input [type="text"] {
    min-height: 40px;
  }

  textarea {
    resize: vertical;
  }

  input.success {
    border: 1px solid @green-color !important;
    //background: url(../../img/icon-check.svg) no-repeat 97% 50%;
  }

  input.error {
    border: 1px solid @red-color !important;
  }

  .success {
    border: 1px solid @green-color !important;
    //background: url(../../img/icon-check.svg) no-repeat 97% 50%;
  }

  .error {
    border: 1px solid @red-color !important;
  }

  &.success {
    div {
      .SelectImitation {
        .SelectImitation-Container {
          .SelectImitation-Text {
            border: 1px solid @green-color;
          }
        }
      }
    }
  }

  input[type="text"][disabled]{
    background-color: #F2F4F7;
  }

  input[type="text"].is-approved{
    padding-left: 40px;
    background: transparent url('../../img/is-approved-icon.svg') no-repeat 15px center;
  }

  @import (multiple) "../atoms/input-type-range";
  input[type=range] {
    padding: 0;
  }

  .input-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: @border-radius;
    border: 1px solid @grey-dark-color;
    background-color: #ffffff;
  }

  @import (multiple) "../atoms/form-checkbox";

  label {
    cursor: pointer;
  }

  label:not(.SelectImitation-Text):not(.toggled-checkbox-field) {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
  }

  label.label-for-checkbox {
    position: relative;
    padding-left: 24px;
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 16px;
      height: 16px;
      box-sizing: border-box;
      border: 1px solid @grey-dark-color;
      border-radius: @border-radius;
      background: #ffffff;
    }
  }
  .label-text{
    line-height: 20px;
    font-size: 14px;
    display: block;
    font-weight: 500;
    margin-bottom: 8px;
  }

  @import (multiple) "../atoms/input-search";
  @import (multiple) "../atoms/input-price";
  @import (multiple) "../atoms/toggle-password";
  @import (multiple) "../atoms/icon-filter";

  .icon-filter {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    width: 16px;
    @media (max-width: @tablet) {
      display: inline-block;
    }
  }

  .select-location {
    padding-left: 48px;
    background: #ffffff url(../../img/location.png) no-repeat 16px;
  }

  .file-input{
    box-shadow: 0 0 10px rgba(32, 73, 146, 0.2);
    border-radius: 4px;
    border: 1px dashed #B7BED0;
    box-sizing: border-box;
    background: #FFFFFF;
    display: block;
    text-align: center;
    padding: 18px 0;
    cursor: pointer;
    position: relative;

    &-active {
      border: 1px dashed #007FFF;
    }

    input[type="file"]{
      position: absolute;
      opacity: 0;
      width: 1px;
      height: 1px;
    }

  }

  .file-input__clip-icon{
    background: url('../../img/file-input__clip-icon.svg') no-repeat center center;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
  }

  .file-input__label{
    line-height: 24px;
    font-size: 14px;
    color: #86879D;
    font-weight: 500;
    padding: 0 20px;
    vertical-align: middle;
  }

  .with-datepicker{
    background: url('../../img/datepicker-calendar.svg') no-repeat 95.1% center;
  }

  .control-form__help-message{
    line-height: 20px;
    font-size: 12px;
    color: #86879D;
    margin-top: 2px;

    & + &{
      margin-top: 0;
    }

  }

}


