@datePickerHoverColor: #f0f0f0;
@datePickerSecondaryColor: #9c9c9c;
.date-picker-wrapper{
  position: relative;
}
.date-picker-component{
  background: #fff;
  border: 1px solid #dbdbdb;
  box-shadow: 0 4px 12px rgba(0,0,0,.15);
  border-radius: 4px;
  box-sizing: content-box;
  font-family: Tahoma,sans-serif;
  font-size: 14px;
  color: #4a4a4a;
  width: 250px;
  position: absolute;
  z-index: 100;
  left: 0;
  opacity: 1;
  transform: none;
  top: 100%;


  .date-picker-nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
    min-height: 32px;
    padding: 4px;
  }
  .date-picker-nav__action{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 32px;
    border-radius: 4px;
    user-select: none;

    &:hover{
      background: @datePickerHoverColor;
    }

    svg{
      width: 32px;
      height: 32px;

      path{
        fill: none;
        stroke: @datePickerSecondaryColor;
        stroke-width: 2px;
      }

    }

  }
  .date-picker-nav__title {
    border-radius: 4px;
    padding: 0 8px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    &:not(.disabled):hover{
      background: @datePickerHoverColor;
    }

    i{
      font-style: normal;
      color: @datePickerSecondaryColor;
      margin-left: 5px;
    }

    &.disabled {
      opacity: .6;
      cursor: default;
    }

  }
  .date-picker-content{
    padding: 4px;
  }
  .date-picker-body{
    display: block;
  }
  .date-picker-days__names{
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0 3px;
  }
  .date-picker-day__name{
    color: #FF9A19;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    font-size: .8em;
  }
  .date-picker-cells{
    display: flex;
    flex-wrap: wrap;
  }
  .date-picker-cell{
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 32px;
    z-index: 1;
    transition: background-color .1s, color .1s;

    &:hover{
      background: @datePickerHoverColor;
    }

    &.current{
      color: #4EB5E6;

      &:hover{
        background: @datePickerHoverColor;
        color: #4a4a4a;
      }

    }

    &.selected{
      color: #fff;
      background: #5cc4ef;

      &:hover{
        color: #fff;
        background: #45bced;
      }

    }

    &.other-month{
      color: #ACBED0;

      &:hover{
        color: #c5c5c5;
      }

    }

    &.disabled{
      opacity: .6;
      cursor: default;
      color: #c5c5c5;
      background: none;
    }

  }
  .date-picker-cell-day{
    width: 14.28571%;
  }
  .date-picker-cell-month {
    width: 33.33%;
  }
  .date-picker-cell-year{
    width: 25%;
  }

}