header {
  display: flex;
  align-items: center;
  background: url("../../img/header-space-bg.png") no-repeat 0 0;
  background-size: cover;
  height: 80px;
  max-width: 100%;

  @media (max-width: @tablet) {
    padding: 15px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 12;
    //background: url("/img/header-space-bg-sm.png") no-repeat 0 0;
  }
  @media (max-width: @mobile) {
    height: 60px;
  }

  .burger-container {
    display: none;
    @media (max-width: @tablet) {
      display: block;
    }
    @import (multiple) "../atoms/burger";
  }

  @import (multiple) "../organisms/mobile-menu";

  .avatar-container {
    display: none;
    @media (max-width: @tablet) {
      //display: block;
    }
    @import (multiple) "../atoms/avatar";
    .avatar {
      display: block;
      margin-left: auto;
      margin-right: 3px;
    }
  }

  @import (multiple) './user-info';

  .row {
    align-items: center;
  }
  .col-user-info {
    padding-left: 0;
  }
  .header_row {
    flex-wrap: nowrap;
  }
  .col_mobile_menu {
    display: none;
    color: #fff;
    @media (max-width: @tablet) {
      display: block;
    }
    text-align: right;
    .header_login {
      display: inline-flex;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      width: 30px;
      height: 30px;

      @import (multiple) "../atoms/icon-login";
    }
    .col-user-info {
      padding: 0;
      .avatar-with-border {
        width: 35px;
        height: 35px;
        min-width: 35px;
        cursor: pointer;
      }
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo-container {
    @import (multiple) "../atoms/logo";
    .logo {
      margin: 0 auto;
      @media (max-width: @tablet) {
        background-position-x: -12px;
      }
      @media (max-width: @extra-small) {
        background-position-y: 5px;
        background-position-x: -8px;
      }
    }
  }
  .menu-container {
    @media (max-width: @tablet) {
      display: none;
    }
  }
  .menu {
    display: flex;
    li {
      a {
        &:hover {
          border-bottom: 4px solid #ffffff;
        }

        &.active {
          background-color: rgba(255, 255, 255, 0.1);
          border-bottom: 4px solid #ffffff;
        }
        display: inline-block;
        width: 125px;
        height: 80px;
        line-height: 88px;
        border-bottom: 4px solid transparent;
        text-align: center;
        color: #ffffff;
        @media (max-width: @desktop) {
          width: 90px;
        }
      }

    }
  }

  .social_links {
    font-size: 0;
    @media (max-width: @tablet) {
      display: none;
    }

    @import (multiple) "../atoms/icon-social";
    [class*="icon-social"] {
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
      @media (max-width: @desktop) {
        width: 20px;
        height: 20px;
      }

    }

  }
  .button-container {
    padding: 0;
    @media (max-width: @tablet) {
      display: none;
    }
  }
  .auth {
    display: flex;
    align-items: center;
    @import (multiple) "../atoms/button-white";
    .button-white {
      width: 100%;
      text-transform: capitalize;
    }
    .button-auth {
      .text-for-desktop {
        @media (max-width: @desktop) {
          display: none;
        }
      }
      .text-for-small-desktop {
        display: none;
        @media (max-width: @desktop) {
          display: inline-block;
        }
      }

      //&.auth-button-image{
      //  &:before{
      //    content: '';
      //    display: inline-block;
      //    vertical-align: bottom;
      //    background-image: url('../../img/user-icon.svg');
      //  }
      //}

    }
  }
  .advertisement {
    display: flex;
    align-items: center;
    @import (multiple) "../atoms/button-transparent";
    .button-transparent {
      width: 100%;
    }
    .button-advertisement {
      @media (max-width: @desktop) {
        text-transform: capitalize;
      }
      .first-letter {
        @media (max-width: @desktop) {
          display: none;
        }
      }
    }
  }
}