.info-fields {
  display: flex;
  flex-wrap: wrap;
}

.info-field {
  margin-bottom: 20px;

  .info-field-label {
    margin-bottom: 6px;
  }

  .info-field-text {
    padding-top: 9px;
    padding-bottom: 5px;
    padding-right: 39px;

    &.is-approved {
      background: transparent url('../../img/is-approved-icon.svg') no-repeat 15px center;
      padding-left: 39px;
    }

    &.is-not-approved {
      background: transparent url('../../img/uncheck_shield.svg') no-repeat 15px center;
      padding-left: 39px;
    }

    &.is-empty {
      color: @grey-dark-color;
    }

  }
}