.mode-view {
  @media (max-width: @mobile) {
    display: none;
  }
}
.mode-view-block {
  display: flex;
  justify-content: space-around;

  .mode-item {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .mode-item_type_list{
    background-image: url('../../img/mode-view-list.svg');

    &.active{
      background-image: url('../../img/mode-view-list-active.svg');
    }

  }

  .mode-item_type_block{
    background-image: url('../../img/mode-view-block.svg');

    &.active{
      background-image: url('../../img/mode-view-block-active.svg');
    }

  }

  .mode-item.block,
  .mode-item.list {
    svg {
      path {
        fill: @accent-blue;
      }
    }
  }

}