.payment-systems-logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px 0;

  @import (multiple) '../atoms/icon-payment-mastercard';
  @import (multiple) '../atoms/icon-payment-mir';
  @import (multiple) '../atoms/icon-payment-visa';
}
