.popup-container {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  width: 100%;

  @import (multiple) '../atoms/close-popup-btn';

  .popup {
    position: relative;
    max-width: 430px;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    //margin-bottom: 109px;
    border-radius: @border-radius;
    &.popup_size_big{
      max-width: 830px;
    }
    &.popup-auth {
      min-width: 660px;
      @media (max-width: @small) {
        min-width: 0;
      }
    }
    .popup-info-loader {
      height: 300px;
      background: #fff;
    }
  }

  &.js-popup-container-secure-deal-form {
    position: fixed;
  }

  &.open {
    display: block;
  }
}
.popup-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .7;
  z-index: -1;
  background: linear-gradient(180deg, #9DB2C7 0%, #647B95 100%);
}
.popup-inner{
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  height: 100%;
}