.product-preview{
  padding: 40px 0;

  .page-title{
    margin-bottom: 50px;
  }

  .buttons{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @import (multiple) '../atoms/product-images-previews';
  @import (multiple) '../atoms/product-name';
  @import (multiple) '../atoms/product-option';

  @import (multiple) '../atoms/button-transparent';
  .button-transparent{
    max-width: 370px;
    color: @purple-color;
    border-color: @purple-color;
  }

  @import (multiple) '../atoms/button-purple';
  .button-purple{
    max-width: 370px;
  }

  &.product-preview-popup{
    background-color: #fff;
    padding: 44px 0;


    .page-title{
      font-family: Lato, sans-serif;
      font-style: normal;
      font-weight: 500;
      line-height: 36px;
      font-size: 30px;
      color: @text-color;
      padding: 0 30px;
      margin-bottom: 30px;
      @media (max-width: @tablet) {
        font-size: 24px;
        padding: 16px;
      }
      @media (max-width: @small) {
        padding: 16px 10px;
      }
    }

    .product-preview__inner{
      padding: 24px 30px;
      &.purchase-preview__inner {
        padding-top: 20px;
      }
      background-color: @grey-fill;
      @media (max-width: @tablet) {
        padding: 16px;
      }
      @media (max-width: @small) {
        padding: 16px 10px;
      }

      .product-name{
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: 500;
        line-height: 36px;
        font-size: 30px;
        padding-top: 8px;
        margin-bottom: 26px;
        @media (max-width: @tablet) {
          font-size: 24px;
          display: block;
          margin-bottom: 12px;
        }
      }

      .product-option{
        justify-content: flex-start;
        @media (max-width: @tablet) {
          flex-direction: column;
        }
      }

      .product-option__name{
        width: 25%;
        @media (max-width: @tablet) {
          width: 100%;
        }
      }

      .product-option__value{
        width: 75%;
        @media (max-width: @tablet) {
          width: 100%;
        }

        &.description {
          white-space: pre-wrap;
          word-break: break-all;
        }
      }

      .purchase_preview_link_row {
        display: flex;
        justify-content: flex-end;
      }

    }

    .product-images-previews {
      margin-bottom: 0;
      margin-top: 15px;
    }

    .buttons {
      padding: 0 30px;
      margin-top: 42px;
      @media (max-width: @tablet) {
        padding: 24px 16px;
        flex-direction: column;
        align-items: center;
      }
      @media (max-width: @small) {
        padding: 24px 10px;
      }
      [class^=button] {
        @media (max-width: @small) {
         max-width: none;
        }
      }
      [class^=button] + [class^=button] {
        @media (max-width: @tablet) {
          margin-top: 12px;
        }
      }
    }

    .preview-title-container, .preview-description-container {
      display: block;
    }
  }

}
.popup-container.open{
  display: flex !important;
}