.product-gallery{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: 20;
  padding: 30px;
  justify-content: center;
  align-items: center;
  display: none;

  @media (max-width: @mobile) {
    flex-direction: column;
  }

  &.active{
    display: flex;
  }

  @import (multiple) '../atoms/gallery-main';
  @import (multiple) '../atoms/gallery-control';

}