.related-products{
  box-shadow: inset 0 0 10px rgba(32, 73, 146, 0.2);
  background-color: @grey-fill;

  @import (multiple) '../atoms/page-title';
  .page-title{
    padding-top: 24px;
    margin-bottom: 30px;
  }


}