.safe-deal-for-user {
  .safe-deal-label {
    margin-top: 26px;
    margin-bottom: 14px;
  }
  .safe-deal-control {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @import (multiple) "../atoms/icon-toggle";
    .icon-toggle {
      margin-right: 50px;
    }
    @import (multiple) "../atoms/note-info";
  }
  @import (multiple) "../atoms/hint-grey";
}