section.search {
  max-width: 100%;
  margin-bottom: 38px;
  min-height: 40px;
  @media (max-width: @tablet) {
    margin-bottom: 0;
    padding: 24px 0 26px 0;
  }
  @media (max-width: @mobile) {
    padding: 8px 0;
    padding-bottom: 16px;
  }

  @import (multiple) "../molecules/control-form";
  .control-form {
    margin-bottom: 15px;
    @media (max-width: @tablet) {
     margin-bottom: 10px;
    }
    label{
      @media (max-width: @tablet) {
        margin-bottom: 6px;
      }

    }

  }

  @import (multiple) "../atoms/button-blue";
  .button-blue {
    @media (max-width: @tablet) {
      margin-bottom: 20px;
    }
  }

  //Блок, который отображается на статовом экране в мобильной версии
  .mobile-search-first-screen {
    display: none;
    @media (max-width: @tablet) {
      display: flex;
      input[type="search"]::-webkit-search-decoration,
      input[type="search"]::-webkit-search-cancel-button,
      input[type="search"]::-webkit-search-results-button,
      input[type="search"]::-webkit-search-results-decoration {
        display: none;
      }
    }
    @media (max-width: @mobile) {
      position: relative;
      overflow: hidden;
    }
  }

  //Основной блок с поиском в мобильной версии, по умолачнию - скрыт
  .search-main-block {
    @media (max-width: @tablet) {
      display: none;
      position: fixed;
      z-index: 1050;
      overflow-y: auto;
      top: 0;
      bottom: 0;
      flex-direction: column;
      background-color: #ffffff;

      &.opened-mobile {
        display: block;
      }
    }

    @import (multiple) "../atoms/header-of-element";
    .header-of-element {
      .button-close-white {
        left: 11px;;
      }
      h1{
        line-height: 36px;
      }
    }


    //Блок появляется только в мобильной версии
    .row.content-header {
      display: none;
      align-items: center;
      @media (max-width: @tablet) {
        display: flex;
      }

      @import (multiple) "../molecules/tab";
      .tab {
        li {
          flex: 1;
          text-align: center;
          font-weight: 500;
          line-height: 24px;
          font-size: 14px;
          padding: 30px 0 26px;
          position: relative;
          cursor: pointer;
          max-width: 170px;

          &:after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            background-color: #007FFF;
            opacity: 0;
            transition: opacity .4s;
          }

          &.active, &:hover{
            &:after{
              opacity: 1;
            }
          }

          .hidden-text {
            @media (max-width: @small) {
              display: none;
            }
          }

        }
      }

      @import (multiple) "../molecules/mode-view-block";
      .mode-view-block {
        border-bottom: 4px solid transparent;

        @media (max-width: @tablet) {
          padding-right: 5px;
          border: none;
        }

      }
    }

  //Обертка для padding на мобильном разрешении(чтобы не ставить его на content-header)
    .search-main-block-content {
      @media (max-width: @tablet) {
        padding-top: 80px;
      }
      @media (max-width: @extra-small) {
        padding-top: 50px;
      }

    }

    //Обертка для форматирования строки фильтров в мобильной версии
    .search-main-block-filter-wrap {
      @media (max-width: @tablet) {
        display: flex;
        flex-flow: row wrap;
        flex-direction: column;
        align-items: center;
        padding: 9px 0;
        background-color: #ffffff;
        > div {
          &:first-child {
            order: 1;
          }
          &:nth-child(2) {
            order: 3;
            margin-top: 12px;
          }
          &:nth-child(3) {
            order: 4;
            margin-top: 1px;
          }
          &:nth-child(4) {
            order: 4;
          }
          &:nth-child(5) {
            order: 5;
          }
          &:nth-child(6) {
            order: 6;
          }
        }
      }
      .control-form {
        label {
          display: none;
          @media (max-width: @tablet) {
            display: block;

            &.radius-filter{
              display: flex;

              span{
                width: 26%;
              }

              .radius-filter__value{
                color: #86879D;
                line-height: 24px;
                font-size: 14px;
              }

            }

          }
        }
        label.label-text {
          @media (max-width: @tablet) {
            display: none;
          }
        }
      }
      .search-button {
        @media (max-width: @tablet) {
          margin-top: 28px;
        }
      }
      //Поле цены на десктопе скрыто
      div.row.double-price-field {
        display: none;
        align-items: flex-end;
        @media (max-width: @tablet) {
          display: flex;
        }
      }
      div.row.double-location-field {
        display: none;
        align-items: flex-start;
        .control-form {
          margin-bottom: 0;
          @media (max-width: @small) {
            margin-bottom: 22px;
          }
          input[type=range] {
            margin-top: 17px;
          }
        }
        @media (max-width: @tablet) {
          display: flex;
        }
      }
    }
  }

  @import (multiple) "../atoms/status-manufacturer";
  .row-only-manufacturer {
    @media (max-width: @tablet) {
     display: none;
    }
  }
  .col-only-manufacturer {
    margin-top: 15px;
    padding: 0;
    position: relative;
    @media (max-width: @tablet) {
      margin-top: 25px;
      display: block;
      padding-bottom: 16px;
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: @grey-fill;
      }
    }
    .form-checkbox {
      display: flex;
      align-items: center;
      .form-checkbox__field {
        margin-bottom: 4px;
      }
      .status-manufacturer {
       margin: 0 0 5px 7px;
      }
    }
  }

  @import (multiple) "../atoms/form-checkbox";
  .form-checkbox {
    .form-checkbox__field {
      margin-right: 8px;
    }
    .form-checkbox__label {
      display: block;
      font-size: 14px;
      color: @text-color;
      padding-left: 0;
    }
  }


  .js-mobile-main-filter.open {
    display: block;
  }

  .col-mobile-4{
    &:nth-child(2n+1){
      padding: 0 10px 0 13px;
    }
    &:nth-child(2n){
      padding: 0 13px 0 10px;
    }
  }

  .Preloader {
    .Preloader__container {
      position: absolute;
    }
  }

  .map-wrapper{
    order: 7;
    display: none;

    @media (max-width: @tablet) {
      display: block;
    }

  }

  .map {
    background: url(../../img/map.jpg) no-repeat center center;
    height: 200px;
    margin-top: 28px;
    width: 100%;

    @media (max-width: @mobile) {
      margin-top: 7px;
    }

  }

  .search__additional-filters{
    padding-top: 32px;
    display: none;

    @media (max-width: @tablet) {
      display: flex;
    }

    .col-mobile-4{
      padding-right: 26px;
    }

  }

  @import (multiple) '../atoms/flexible-row';
  @import (multiple) '../atoms/note-info';
  @import (multiple) '../atoms/toggled-checkbox-field';

  .control-form .control-form__help-message {
    margin-top: 7px;
  }

  .flexible-row{
    align-items: center;
  }

  .search__action-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
    padding-bottom: 46px;

    @media (max-width: @mobile) {
      flex-direction: column;
    }

    @import (multiple) '../atoms/button-blue';
    @import (multiple) '../atoms/button-transparent';
    .button-transparent{
      color: @purple-color;
      border-color: @purple-color;
      width: 48.5%;
      max-width: none;

      @media (max-width: @mobile) {
        width: 100%;
      }

    }
    .button-blue{
      width: 48.5%;
      margin: 0;

      @media (max-width: @mobile) {
        order: -1;
        width: 100%;
        margin-bottom: 20px;
      }

    }

  }

}