.share-bar{
  display: flex;

  .share-bar__socials{
    @import (multiple) '../atoms/social-icon';
  }

  .share-bar__title{
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
    color: #445870;
    margin-right: 16px;
  }

}