.specific-user-info {
  background: @grey-fill;
}

.specific-user-info-block {
  padding: 39px 0;
  @media (max-width: @tablet) {
    padding: 20px 0;
    background: #ffffff;
  }
  &.row {
    margin: 0 -15px;
    max-width: none;
    width: auto;
    @media (max-width: @tablet) {
      margin: 0 -10px;
    }
  }
  @import (multiple) "../molecules/profile/user-statistic";
  @import (multiple) "../atoms/avatar-with-border";
  @import (multiple) "../atoms/button-transparent-with-stroke";
  @import (multiple) "../atoms/button-white";
  @import (multiple) '../atoms/button-show-hidden-field';
  @import (multiple) "../atoms/button-purple";

  .specific-user-avatar {
    display: flex;
    align-items: center;
    .AvatarWithBorder {
      .AvatarWithBorder-Container {
        img {
          width: auto;
          height: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  .user-bar__from-registration {
    display: none;
    font-weight: 500;
    line-height: 20px;
    font-size: 12px;
    color: @grey-dark-color;
    margin-top: 2px;
    @media (max-width: @tablet) {
      display: inline-block;
    }
  }
  .user-statistic {
    margin-top: 17px;
    @media (max-width: @tablet) {
      display: none;
    }

  }
  .title {
    max-width: 82px;
    width: 100%;
    margin-right: 8px;
  }

  .align-count {
    .title {
      margin-right: 50px;
    }
  }

  .user-bar-name {
    padding-bottom: 9px;
    line-height: 10px;
    word-break: break-all;
  }

  .rating-scale {
    height: 20px;
    white-space: nowrap;
    img {
      margin-right: 6px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .AvatarWithBorder {
    width: 140px;
    height: 140px;
    min-width: 140px;
    min-height: 140px;
    border: none;
    margin-right: 31px;
    box-shadow: 0 0 10px rgba(32, 73, 146, 0.2);
    @media (max-width: @tablet) {
      width: 60px;
      height: 60px;
      min-width: 60px;
      min-height: 60px;
      margin-right: 19px;
    }
    .AvatarWithBorder-Container {
      width: 100%;
      height: 100%;
    }
  }

  .specific-user-buttons {
    display: flex;
    flex-direction: column;
    @media (max-width: @tablet) {
      //display: none;
    }
  }

  [class*="button-"] {
    max-width: none;
  }
  button {
    margin-bottom: 20px;
    &:first-child {
      margin-top: 5px;
      @media (max-width: @tablet) {
        margin-top: 10px;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  .specific-user-contacts {
    padding: 16px 30px;
    @media (max-width: @tablet) {
      padding: 0 10px;
    }
    > div {
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .user-contacts-label {
      line-height: 18px;
      color: @grey-dark-color;
    }
    .user-contacts-value {
      display: inline-block;
      font-size: 16px;
      line-height: 22px;
      margin-right: 13px;
      @media (max-width: @tablet) {
        font-size: 14px;
        margin-right: 10px;
      }
      &:last-child {
        margin-right: 0;
      }
    }

  }

}