.spoiler {
  .spoiler-checkbox {
    display: none;
  }
  .spoiler-toggle {
    display: block;
    position: relative;
  }
  .spoiler-hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
  }
  .spoiler-body {

  }
  input:checked + .spoiler-hidden {
    max-height: 500px;
  }
}