.tabs-container {
  display: flex;
  padding: 0;
  @media (max-width: @mobile) {
    box-shadow: 0 0 10px rgba(32, 73, 146, 0.2);
    margin-bottom: 11px;
  }
}

.tab {
  display: flex;
  justify-content: space-between;
}

.tab__title {
  padding: 35px 15px 31px;
  text-align: center;
  color: @text-color;
  cursor: pointer;
  position: relative;
  transition: color .4s;
  @media (max-width: @mobile) {
    padding: 12px;
    display: inline;
  }

  a {
    color: inherit;
  }

  &:last-child {
    margin-right: 0;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: 0;
    left: 15px;
    right: 15px;
    background-color: @accent-blue;
    opacity: 0;
    transition: opacity .4s;
  }

  &.tab__title.active {
    cursor: default;

    &:after {
      opacity: 1;
    }

  }

  &.tab__title:not(.active):hover {
    color: @accent-blue;
  }

  @media (max-width: @extra-small) {
    padding: 22.5px 0;
  }

  a {
    display: block;
    width: 100%;
  }

}

.tab__title-user-settings {
  padding: 0 10px 14px 10px;
  @media (max-width: @tablet) {
    white-space: normal;
  }
  @media (max-width: @mobile) {
    font-size: 12px;
    padding: 0 0 5px 0;
    width: 50%;
    margin-right: 0;
  }
  &:after {
    height: 2px;
    left: 0;
    right: 0;
  }
}

//Для no-js

//Для таблиц оператора
.table-container.no-js {
  /*display: none;*/
}

//Для карточек товара пользователя
.row.no-js-user-profile-products {
  display: none;
  margin-top: 36px;
}

//Для табов в инфо профиля
.no-js-info-fields {
  display: none;
}

.tab__title.no-js {
  display: inline;
}

.tab-input {
  display: none;
}

#tab1:checked ~ #moderation-products {
  display: block;
}

#tab2:checked ~ #public-products {
  display: block;
}

#tab3:checked ~ #decline-products {
  display: block;
}

#tab4:checked ~ #archive-products {
  display: block;
}

#tab5:checked ~ #public-products {
  display: flex;
  margin-top: 36px;
}

#tab6:checked ~ #inactive-products {
  display: flex;
  margin-top: 36px;
}

#tab7:checked ~ #archive-products {
  display: flex;
  margin-top: 36px;
}

#tab8:checked ~ #safe-deal-tab-block {
  display: block;
  margin-top: 36px;
}

#tab9:checked ~ #requisites-tab-block {
  display: block;
  margin-top: 36px;
}

.tabs {
  .button-row {
    margin: 20px auto;
    text-align: center;

    @import (multiple) "../atoms/button-transparent";

    .button-transparent {
      color: @purple-color;
      border-color: @purple-color;
      @media (max-width: @small) {
        max-width: none;
      }
    }
  }
}

.tab-bookmark-style__container {
  background: @grey-fill;
}

.tab-bookmark-style {
  background: transparent;
  .tab-bookmark-style__title {
    padding: 0;
    display: flex;
    text-align: center;

    border-color: rgba(32, 73, 146, 0.1);
    border-style: solid;
    border-right-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom: none;

    border-radius: @border-radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #EFEFEF;
    &.active {
      position: relative;
      display: block;
      border-color: transparent;
      background: #fff;
      box-shadow: @box-shadow;
      color: @accent-blue;
      &:before {
        display: block;
        content: '';
        position: absolute;
        height: 10px;
        width: 100%;
        top: 100%;
        left: 0;
        background: #fff;
      }
      .tab-bookmark-style__link {
        color: @accent-blue;
      }
      .tab-bookmark-style__text.tab-bookmark-style__text-product {
        &:before {
          background-image: url(/img/profile_product_tab_icon_active.svg);
        }
      }
      .tab-bookmark-style__text.tab-bookmark-style__text-purchase {
        &:before {
          background-image: url(/img/profile_purchase_tab_icon_active.svg);
        }
      }
    }
    &.active:first-child {
      @media (max-width: @small) {
        &:before {
          display: none;
        }
      }
    }

    .tab-bookmark-style__link {
      display: block;
      padding: 16px 18px 16px;
      width: 100%;
      &:hover {
        color: @accent-blue;
        .tab-bookmark-style__text.tab-bookmark-style__text-product {
          &:before {
            background-image: url(/img/profile_product_tab_icon_active.svg);
          }
        }
        .tab-bookmark-style__text.tab-bookmark-style__text-purchase {
          &:before {
            background-image: url(/img/profile_purchase_tab_icon_active.svg);
          }
        }
      }
    }
    .tab-bookmark-style__text {
      line-height: 16px;
      position: relative;
      &:before {
        vertical-align: top;
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 8px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      &.tab-bookmark-style__text-product {
        &:before {
          background-image: url(/img/profile_product_tab_icon.svg);
        }
      }
      &.tab-bookmark-style__text-purchase {
        &:before {
          top: -8px;
          background-image: url(/img/profile_purchase_tab_icon.svg);
        }
      }
    }
  }
}
