@import (multiple) '../atoms/link-inline';
@import (multiple) '../atoms/button-blue';

.table-container {
  border-radius: @border-radius;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(32, 73, 146, 0.2);
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 1170px;
}

.table-filter {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  @media (max-width: @tablet) {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .table-filter__search {
    flex-grow: 1;
    background: #ffffff url(../../img/search.svg) no-repeat scroll 16px;
    background-position: 0 0;
    padding: 0 28px;
    @import (multiple) '../atoms/input-search';
    .input-search {
      border: none;
      width: 100%;
      padding-left: 0;
      line-height: 21px;
      border-bottom: 1px solid transparent;

      background-size: 15px;

      background: none;
      &:focus {
        outline: none;
        border-color: @border-color-table;
      }
    }
  }

  .table-filter__button {
    position: absolute;
    right: 16px;
    @import (multiple) '../atoms/icon-filter';
  }

}

.table {
  min-height: 490px;
  background-color: #ffffff;
  width: 100%;

  table {
    width: 100%;
    border-collapse: collapse;

    @media (max-width: @tablet) {
      display: block;
      padding: 0;
    }

  }

  .tbody, tbody {
    @media (max-width: @tablet) {
      display: block;
    }
  }
  .tr, tr {
    display: table-row;
    border-bottom: 1px solid @border-color-table;
    cursor: pointer;

    &:hover {
      background-color: @grey-fill;
    }

    @media (max-width: @tablet) {
      display: block;
    }

  }

  tr.th, thead {
    border-bottom: 1px solid @border-color-table;
    font-size: 12px;
    @media (max-width: @tablet) {
      display: none;
    }
    &:hover {
      background-color: transparent;
    }
    td:nth-child(n), th:nth-child(n) {
      position: relative;
      padding: 0;
      vertical-align: middle;
      text-align: left;
      border: none;
      color: rgba(0, 0, 0, 0.54);
      font-weight: 600;
      @media (max-width: @tablet) {
        display: block;
      }
      .link-sort {
        display: inline-block;
        width: 100%;
        padding: 13px 0 13px 16px;
        &:before {
          content: '';
          display: none;
          position: absolute;
          top: 18px;
          left: 5px;
          width: 6px;
          height: 8px;
          background: url("../../img/arrow-grey.svg") no-repeat center;
        }
        &:hover {
          &:before {
            display: inline-block;
          }
        }
        &.link-sort__up {
          &:before {
            transform: rotate(180deg);
          }
        }
        &:first-child {
          padding-left: 16px;
        }
        &:last-child {
          padding-right: 16px;
        }
      }
    }
  }
  td {
    vertical-align: middle;
    padding: 13px 0 13px 16px;
    text-align: left;
    border: none;
    font-size: 13px;
    color: @text-color;
    @media (max-width: @tablet) {
      padding: 7px 16px;
    }
    @media (max-width: @tablet) {
      display: flex;
      margin-bottom: 12px;
    }
    &:first-child {
      padding-left: 16px;
      @media (max-width: @tablet) {
        background-color: @grey-fill;
        justify-content: center;
      }
      .td__title-mobile,
      .td__content {
        @media (max-width: @tablet) {
          width: auto;
        }
      }
      .td__title-mobile {
        @media (max-width: @tablet) {
          margin-right: 4px;
        }
      }
    }
    &:last-child {
      padding-right: 16px;
    }
    .td__title-mobile,
    .td__content {
      @media (max-width: @tablet) {
        width: 50%;
      }
    }
    .td__title-mobile {
      display: none;
      font-weight: 700;
      @media (max-width: @tablet) {
        display: block;
      }
    }
    .td__content {
      word-break: break-all;
      @media (max-width: @tablet) {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  .td_size-5 {
    width: 5%;
  }

  .td_size-15 {
    width: 15%;
  }

  .td_size-20 {
    width: 20%;
  }
  .td_size-5,
  .td_size-15,
  .td_size-20 {
    @media (max-width: @tablet) {
      width: 100%;
    }
  }


  td.to-adv-link-cell {
    display: none;
    @media (max-width: @tablet) {
      display: block;

      @import (multiple) '../atoms/button-purple';
      .button-purple {
        max-width: none;
      }
    }
  }
  td[colspan='6'] {
    text-align: center;
  }
}
