.user-bar {
  text-align: center;
  margin-bottom: 16px;

  > span {
    display: inline-block;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

  }

  @import (multiple) "../atoms/avatar-with-border";
  @import (multiple) "../atoms/avatar";

  .avatar-with-border {
    margin-bottom: 20px;
  }

  .user-bar-name {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    margin-bottom: 2px;
    &-mobile {
      word-wrap: break-word;
      display: block;
    }
    @media (max-width: @mobile){
      text-align: center;
    }
  }

  .user-statistic-info {
    margin-top: 15px;
    overflow: hidden;
  }

  .manufacturer-status-link {
    font-size: 12px;
    margin-top: 25px;
    cursor: pointer;
    text-decoration: underline;
    color: #007FFF;
    text-align: left;
    @media (max-width: @desktop) {
      margin-top: 20px;
    }
  }

  .create-shop-info {
    margin-top: 20px;
    text-align: left;
  }

  .button-create-shop {
    margin-top: 22px;
  }

  @import (multiple) "../atoms/rating-scale";

  .button-become-shop {
    color: #623D96;
    background-color: #fff;
    border: 1px solid #623D96;
  }
  .manufacturer-info {
    margin-top: 18px;
  }

  .shop-info {
    margin-top: 23px;
    margin-bottom: 9px;
  }

  .manufacturer-info-title,
  .shop-info-title {
    font-size: 12px;
    color: #86879D;
    text-align: left;
  }

  .manufacturer-info-name,
  .shop-info-name {
    cursor: pointer;
    text-decoration: underline;
    color: #007FFF;
    text-align: left;
    position: relative;
  }

  .manufacturer-info-name:after {
    content: '';
    position: absolute;
    top: 2px;
    right: 35px;
    bottom: 0;
    background-image: url('../../img/factory.svg');
    width: 18px;
    height: 16px;
  }
}