.user-info{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding-bottom: 6px;
  margin-top: 6px;

  @import (multiple) '../atoms/avatar-with-border';
  .avatar-with-border{
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin: 0;
  }

  @import (multiple) '../atoms/user-drop-menu';

  &:hover{
    .user-drop-menu{
      left: 0;
      transform: none;
      opacity: 1;
      transition: opacity .4s, transform .4s;
    }
  }

  .user-info__nickname{
    color: #fff;
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
    text-align: right;
    margin-right: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}