{% extends 'twig/layout/authentication' %}
{#
    userRegistrationForm - form
#}
{% do headTitle('Регистрация пользователя') %}
{% block content %}
    <div id="registrationForm">
        <div class="registration-form no-js">
            <div class="row">
                <div class="col-6 registration-form__main">
                    <div class="registration-form__main-container">
                        <h4 class="popup-title">
                            Регистрация
                        </h4>
                        {{ form().openTag(userRegistrationForm)|raw }}
                            {{ formElement(userRegistrationForm.get('csrf'))|raw }}
                            <div class="control-form">
                                <input type="text" name="email" placeholder="Введите email" value="{{ userRegistrationForm.get('email').getValue()| trim }}">
                            </div>
                            <div class="control-form">
                                <input type="password" name="password" placeholder="Введите пароль" class="password-input" value="{{ userRegistrationForm.get('password').getValue()|trim }}">
                                <label>
                                    <input type="checkbox" class="toggle-password-input-check" value="on">
                                    <span class="toggle-password">&nbsp;</span>
                                </label>
                            </div>
                            <div class="control-form">
                                <input type="password" name="confirm_password" placeholder="Подтвердите пароль" class="password-input" value="{{ userRegistrationForm.get('confirm_password').getValue()|trim }}">
                                <label>
                                    <input type="checkbox" class="toggle-password-input-check" value="on">
                                    <span class="toggle-password">&nbsp;</span>
                                </label>
                            </div>
                            <div class="captcha-wrapper">
                                <div class="captcha-overlay captcha-overlay_position-top"></div>
                                <div class="captcha-overlay captcha-overlay_position-right"></div>
                                <div class="captcha-overlay captcha-overlay_position-bottom"></div>
                                <div class="captcha-overlay captcha-overlay_position-left"></div>
                                <div class="captcha-image"></div>
                                <div class="captcha-links">
                                    <a href="https://www.google.com/intl/ru/policies/privacy/" target="_blank" tabindex="1">Конфиденциальность</a>
                                    <span aria-hidden="true" role="presentation"> - </span>
                                    <a href="https://www.google.com/intl/ru/policies/terms/" target="_blank" tabindex="1">
                                        Условия использования
                                    </a>
                                </div>
                                {{ formElement(userRegistrationForm.get('captcha'))|raw }}
                            </div>

                            {% if formElementErrors(userRegistrationForm.get('email')) | length > 0 %}
                                Ошибка: {{ formElementErrors(userRegistrationForm.get('email'))|raw }}
                            {% elseif formElementErrors(userRegistrationForm.get('password')) | length > 0 %}
                                Ошибка: {{ formElementErrors(userRegistrationForm.get('password'))|raw }}
                            {% elseif formElementErrors(userRegistrationForm.get('confirm_password')) | length > 0 %}
                                Ошибка: {{ formElementErrors(userRegistrationForm.get('confirm_password'))|raw }}
                            {% elseif formElementErrors(userRegistrationForm.get('csrf')) | length > 0 %}
                                Ошибка: <ul><li>Истек срок действия csrf токена</li></ul>
                            {% elseif formElementErrors(userRegistrationForm.get('captcha')) | length > 0  %}
                                Ошибка: <ul><li>Captcha не проходит валидацию</li></ul>
                            {% endif %}

                            <div class="control-form">
                                <button type="submit" class="button-blue">Регистрация</button>
                            </div>
                            <div class="registration-form__footer">
                                <span class="registration-form__note">Уже зарегистрированы?</span>
                                <a href="{{ url('login') | trim }}" class="registration-form__enter-link">Войти?</a>
                            </div>
                        {{ form().closeTag()|raw }}
                    </div>
                </div>
                <div class="col-6 registration-form__img"></div>
            </div>
        </div>
    </div>
{% endblock content %}

