{% import 'macro/pageHelper.twig' as pageHelper %}
{% set fabricator = product['fabricator'] is defined and  product['fabricator'] %}
<div class="col-product col-3 col-tablet-4 col-mobile-8 col-small-4">
    <div class="catalog-item no-delivery js-product-catalog-item" data-path="{{ product['urls']['single_product_public'] | trim }}" {{ fabricator|raw }}>
        <a class="catalog-item-photo" href="{{ product['urls']['single_product_public'] | trim }}">
            {% if product['gallery'] is not null %}
                    {% set gallery_length = product['gallery'] | length %}
                    <span class="photo-count">{{ gallery_length }} фото</span>
                    <img src="{{ resizer(product['gallery'][0]['path']).resize(270, 240) }}" alt="{{ product['name'] }}">
                {% else %}
                    <img src="{{ resizer("/img/no-photo.png").resize(270, 240) }}" alt="{{ product['name'] }}">
            {% endif %}
        </a>
        <div class="wrapper">
            <div class="catalog-item-description">
                <div class="catalog-item-description__main">
                    <div class="catalog-item-category">
                        {% if product['category'] is not null %}
                            <a href="{{ product['category']['url'] | trim}}" class="catalog-item-category__value">{{ product['category']['name'] }}</a>
                            <span>/</span>
                            <a href="{{ product['sub_category']['url'] | trim }}" class="catalog-item-category__value">{{ product['sub_category']['name'] }}</a>
                        {% endif %}
                    </div>
                    <div class="wrapper">
                        <h2 class="catalog-item-name">
                            {% if product['urls'] is not null %}
                                <a href="{{ product['urls']['single_product_public'] | trim }}">{{ product['name'] }}</a>
                            {% endif %}
                        </h2>
                        <div class="catalog-item-price">{{ product['price'] }}</div>
                    </div>
                    <div class="summary">{{ product['description'] | raw }}</div>
                </div>
                <div class="catalog-item-info">
                    <div class="catalog-item-date">{{ pageHelper.dateWordFormat(product['created']) }}</div>
                    <div class="catalog-item-about-deal">
                        <div class="garant-deal js-product-catalog-item_stop-propagation">
                            <div class="tooltip">
                                <div class="tooltip-inner">
                                    Для этого товара доступна безопасная сделка. Подробнее о <a class="link-inline js-popup-info-message-secury-deal">безопасной сделке</a>.
                                </div>
                            </div>
                        </div>
                        {#<div class="delivery-deal"></div>#}

                        {% if fabricator == true %}
                            <div class="status-manufacturer" title="От производителя"></div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>