{% import 'macro/pageHelper.twig' as pageHelper %}

{% set ownerAvatarSrc = '/img/no-avatar.png' %}
    {% if(purchase['owner']['avatar'] != null) %}
        {% set ownerAvatarSrc = purchase['owner']['avatar'] %}
    {% endif %}
<div class="col-12 col-tablet-8 col-mobile-8 col-small-4">
    <div class="catalog-item catalog-item-purchase no-delivery">
        <div class="row nested-row wrapper wrapper-purchase">
            <div class="col-5 col-tablet-8" style="margin: 0">
                <div class="catalog-item-description__main">
                    <div class="catalog-item-category">
                        {% if purchase['category'] is not null %}
                            <div class="catalog-item-breadcrumbs">
                                <a href="{{ purchase['category']['url'] | trim}}" class="catalog-item-category__value">{{ purchase['category']['name'] }}</a>
                                <span>/</span>
                                <a href="{{ purchase['sub_category']['url'] | trim }}" class="catalog-item-category__value">{{ purchase['sub_category']['name'] }}</a>
                            </div>
                        {% endif %}
                        <h2 class="catalog-item-name catalog-item-name-purchase">
                            {% if purchase['urls'] is not null %}
                                <a href="{{ purchase['urls']['single_purchase_public'] | trim }}">{{ purchase['name'] }}</a>
                            {% endif %}
                        </h2>
                        <div class="catalog-item-date catalog-item-date-purchase">{{ pageHelper.dateWordFormat(purchase['created']) }}</div>
                    </div>
                </div>
            </div>
            <div class="col-2 col-tablet-8 col-mobile-4 col-budget col-overflow" style="margin: 0">
                <div class="catalog-item-purchase-wrap">
                    <div class="catalog-item-price-title">Бюджет:</div>
                        {% if purchase['price'] or purchase['price'] != 0 %}
                            <div class="catalog-item-price catalog-item-price-purchase">{{ purchase['price'] }}</div>
                        {% else %}
                            <div class="catalog-item-price catalog-item-price-purchase">Не указан</div>
                        {% endif %}
                </div>
            </div>
            <div class="col-2 col-tablet-8 col-mobile-4 purchase-quantity" style="margin: 0">
                <div class="catalog-item-purchase-wrap">
                    <div class="catalog-item-quantity-title">Количество:</div>
                    {% if purchase['quantity'] %}
                        <div class="catalog-item-price catalog-item-quantity-purchase no-price">{{ purchase['quantity'] }} {{ purchase['measure'] }}</div>
                    {%  else %}
                        <div class="catalog-item-price catalog-item-quantity-purchase no-price">Не указано</div>
                    {% endif %}
                </div>
            </div>
            <div class="col-mobile-8 col-item-date-purchase__mobile">
                <div class="catalog-item-date catalog-item-date-purchase__mobile">{{ pageHelper.dateWordFormat(purchase['created']) }}</div>
            </div>
            <div class="col-4 col-tablet-8" style="margin: 0">
                <div class="user-bar user-bar-purchase">
                    <div class="avatar" style="background-image: url('{{ ownerAvatarSrc }}');"></div>
                    <div class="user-bar__info user-bar__info-purchase">
                        <span class="user-bar-name">{{ purchase['owner']['name'] }}</span>
                        <span class="rating-scale">
                                         <svg class="fill" width="14" height="14" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="1" width="18" height="18">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.27461 0.401423L10.9534 5.86872C11.0264 6.08742 11.2453 6.19676 11.4643 6.19676H16.9386C17.486 6.19676 17.705 6.92574 17.267 7.25377L12.8146 10.5342C12.6322 10.6799 12.5592 10.9351 12.6322 11.1538L14.7489 16.7669C14.8948 17.2772 14.3474 17.7145 13.9095 17.3865L9.12863 13.8145C8.94616 13.6687 8.69069 13.6687 8.47172 13.8145L3.65438 17.3865C3.21643 17.7145 2.63251 17.2772 2.81499 16.7669L4.85871 11.1538C4.9317 10.9351 4.85871 10.6799 4.67624 10.5342L0.223841 7.25377C-0.214099 6.92574 0.0413659 6.19676 0.552297 6.19676H6.02655C6.28202 6.19676 6.46449 6.12386 6.53748 5.86872L8.25275 0.364974C8.39873 -0.145307 9.12863 -0.108858 9.27461 0.401423V0.401423Z" transform="translate(1.25 1.25)" fill="white"></path>
                                            </mask>
                                            <g mask="url(#mask0)">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H20V20H0V0Z" fill="#A8AAB7"></path>
                                            </g>
                                        </svg>
                                         <svg width="14" height="14" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="1" width="18" height="18">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.27461 0.401423L10.9534 5.86872C11.0264 6.08742 11.2453 6.19676 11.4643 6.19676H16.9386C17.486 6.19676 17.705 6.92574 17.267 7.25377L12.8146 10.5342C12.6322 10.6799 12.5592 10.9351 12.6322 11.1538L14.7489 16.7669C14.8948 17.2772 14.3474 17.7145 13.9095 17.3865L9.12863 13.8145C8.94616 13.6687 8.69069 13.6687 8.47172 13.8145L3.65438 17.3865C3.21643 17.7145 2.63251 17.2772 2.81499 16.7669L4.85871 11.1538C4.9317 10.9351 4.85871 10.6799 4.67624 10.5342L0.223841 7.25377C-0.214099 6.92574 0.0413659 6.19676 0.552297 6.19676H6.02655C6.28202 6.19676 6.46449 6.12386 6.53748 5.86872L8.25275 0.364974C8.39873 -0.145307 9.12863 -0.108858 9.27461 0.401423V0.401423Z" transform="translate(1.25 1.25)" fill="white"></path>
                                            </mask>
                                            <g mask="url(#mask0)">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H20V20H0V0Z" fill="#A8AAB7"></path>
                                            </g>
                                        </svg>
                                         <svg width="14" height="14" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="1" width="18" height="18">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.27461 0.401423L10.9534 5.86872C11.0264 6.08742 11.2453 6.19676 11.4643 6.19676H16.9386C17.486 6.19676 17.705 6.92574 17.267 7.25377L12.8146 10.5342C12.6322 10.6799 12.5592 10.9351 12.6322 11.1538L14.7489 16.7669C14.8948 17.2772 14.3474 17.7145 13.9095 17.3865L9.12863 13.8145C8.94616 13.6687 8.69069 13.6687 8.47172 13.8145L3.65438 17.3865C3.21643 17.7145 2.63251 17.2772 2.81499 16.7669L4.85871 11.1538C4.9317 10.9351 4.85871 10.6799 4.67624 10.5342L0.223841 7.25377C-0.214099 6.92574 0.0413659 6.19676 0.552297 6.19676H6.02655C6.28202 6.19676 6.46449 6.12386 6.53748 5.86872L8.25275 0.364974C8.39873 -0.145307 9.12863 -0.108858 9.27461 0.401423V0.401423Z" transform="translate(1.25 1.25)" fill="white"></path>
                                            </mask>
                                            <g mask="url(#mask0)">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H20V20H0V0Z" fill="#A8AAB7"></path>
                                            </g>
                                        </svg>
                                         <svg width="14" height="14" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="1" width="18" height="18">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.27461 0.401423L10.9534 5.86872C11.0264 6.08742 11.2453 6.19676 11.4643 6.19676H16.9386C17.486 6.19676 17.705 6.92574 17.267 7.25377L12.8146 10.5342C12.6322 10.6799 12.5592 10.9351 12.6322 11.1538L14.7489 16.7669C14.8948 17.2772 14.3474 17.7145 13.9095 17.3865L9.12863 13.8145C8.94616 13.6687 8.69069 13.6687 8.47172 13.8145L3.65438 17.3865C3.21643 17.7145 2.63251 17.2772 2.81499 16.7669L4.85871 11.1538C4.9317 10.9351 4.85871 10.6799 4.67624 10.5342L0.223841 7.25377C-0.214099 6.92574 0.0413659 6.19676 0.552297 6.19676H6.02655C6.28202 6.19676 6.46449 6.12386 6.53748 5.86872L8.25275 0.364974C8.39873 -0.145307 9.12863 -0.108858 9.27461 0.401423V0.401423Z" transform="translate(1.25 1.25)" fill="white"></path>
                                            </mask>
                                            <g mask="url(#mask0)">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H20V20H0V0Z" fill="#A8AAB7"></path>
                                            </g>
                                        </svg>
                                         <svg width="14" height="14" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="1" width="18" height="18">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.27461 0.401423L10.9534 5.86872C11.0264 6.08742 11.2453 6.19676 11.4643 6.19676H16.9386C17.486 6.19676 17.705 6.92574 17.267 7.25377L12.8146 10.5342C12.6322 10.6799 12.5592 10.9351 12.6322 11.1538L14.7489 16.7669C14.8948 17.2772 14.3474 17.7145 13.9095 17.3865L9.12863 13.8145C8.94616 13.6687 8.69069 13.6687 8.47172 13.8145L3.65438 17.3865C3.21643 17.7145 2.63251 17.2772 2.81499 16.7669L4.85871 11.1538C4.9317 10.9351 4.85871 10.6799 4.67624 10.5342L0.223841 7.25377C-0.214099 6.92574 0.0413659 6.19676 0.552297 6.19676H6.02655C6.28202 6.19676 6.46449 6.12386 6.53748 5.86872L8.25275 0.364974C8.39873 -0.145307 9.12863 -0.108858 9.27461 0.401423V0.401423Z" transform="translate(1.25 1.25)" fill="white"></path>
                                            </mask>
                                            <g mask="url(#mask0)">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H20V20H0V0Z" fill="#A8AAB7"></path>
                                            </g>
                                        </svg>
                                     </span>
                        <div class="user-bar__from-registration">{{ purchase['owner']['time_from_create'] }} на ЛУНЕ</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>