{% extends 'twig/layout/application' %}

{% do headTitle('Добавление телефона') %}
{% block content %}
    <section class="auth-form">
        <div class="row">
            <div class="col-6 auth-form-main">
                <div class="auth-form-main-container">
                    <h1>Добавление телефона</h1>
                    <form method="POST" id="phone-create-form">
                        <div class="control-form">
                            {{ formElement(createPhoneForm.get('phone'))|raw }}
                            {{ formElementErrors(createPhoneForm.get('phone'))|raw }}
                        </div>
                        <div class="FormError" style="text-align: left">
                            {{ formElement(createPhoneForm.get('csrf'))|raw }}
                            {{ formElementErrors(createPhoneForm.get('csrf'))|raw }}
                        </div>
                        <button type="submit" class="button-purple">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
