{% extends 'twig/layout/application' %}

{% do headTitle('Редактирование телефона') %}
{% block content %}
    {% set error_type = user_allowed_request_code_status['violation_type'] %}
    {% if error_type == 'min_interval' %}
        {% set is_timer = 'true' %}
        {% set start = user_allowed_request_code_status['last_code_created_at'] %}
        {% set period = user_allowed_request_code_status['request_period'] %}
    {% elseif error_type == 'limit_by_code_type' %}
        {% set is_limit = 'true' %}
    {% endif %}

    <section class="auth-form">
        <div class="row">
            <div class="col-8 auth-form-main">
                <div class="auth-form-main-container">
                    <h1>Редактирование телефона</h1>
                    <form method="POST" enctype="multipart/form-data" id="phone-edit-form" data-start="{{ start }}" data-period="{{ period }}">
                        {{ formElement(formPhone.get('current_phone'))|raw }}
                        {{ formElementErrors(formPhone.get('current_phone'))|raw }}
                        <div class="control-form">
                            <input name="new_phone" id="phone" placeholder="Введите новый номер" value="{{ formPhone.get('new_phone').getValue()}}" type="text">
                            {{ formElementErrors(formPhone.get('new_phone'))|raw }}
                        </div>
                        <div class="FormError" style="text-align: left">
                            {{ formElement(formPhone.get('csrf'))|raw }}
                            {{ formElementErrors(formPhone.get('csrf'))|raw }}
                        </div>
                        <div class="control-form">
                            {% if is_limit != 'true' %}
                                <button class="button-purple" type="submit">Изменить</button>
                            {% else %}
                                <p class="TextImportant">Вы превысили количество попыток получения кода подтверждения. Попробуйте чуть позже (макс. время ожидания 15минут).</p>
                            {% endif %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
