{% extends 'twig/layout/application' %}

{% do headTitle('Нет прав доступа') %}
{% block content %}
    <div class="message-page container">
        <div class="message-page-wrapper row">
                {#<div class="message-page-image">#}
                    {#<img src="{{ basePath('img/MessageError.svg') }}" alt="Ошибка">#}
                {#</div>#}
                <div class="message-page-content col-xl-12">
                    <h1 class="message-page-title">Доступ запрещен</h1>
                </div>
        </div>
    </div>
{% endblock content %}