{% extends 'twig/layout/application' %}

{% do headTitle('Редактирование логина') %}
{% block content %}
    <section class="auth-form">
        <div class="row">
            <div class="col-6 auth-form-main">
                <div class="auth-form-main-container">
                    <h1>Редактирование логина</h1>
                    <form method="POST" id="auth_v2-login-edit-form">
                        <div class="control-form">
                            {{ formElement(loginEditForm.get('login'))|raw }}
                            {{ formElementErrors(loginEditForm.get('login'))|raw }}
                        </div>
                        <div class="FormError" style="text-align: left">
                            {{ formElement(loginEditForm.get('csrf'))|raw }}
                            {{ formElementErrors(loginEditForm.get('csrf'))|raw }}
                        </div>
                        <button type="submit" class="button-purple">Изменить</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}