{% extends 'twig/layout/authentication' %}

{% do headTitle('Авторизация') %}
{% block content %}
    <div id="authForm">
        <div class="auth-form no-js">
            <div class="row js-popup-content">
                <div class="col-6 auth-form-main">
                    <div class="auth-form-main-container">
                        <h1>Войти в систему</h1>
                        {{ form().openTag(loginForm)|raw }}
                            {{ formElement(loginForm.get('csrf'))|raw }}
                            <div class="control-form">
                                <input type="text" name="login" placeholder="Введите email или номер телефона" value="{{ loginForm.get('login').getValue()|trim }}">
                            </div>
                            <div class="control-form">
                                <input type="password" name="password" placeholder="Введите пароль" class="password-input" value="{{ loginForm.get('password').getValue()|trim }}">
                                <label>
                                    <input type="checkbox" class="toggle-password-input-check" value="on">
                                    <span class="toggle-password">&nbsp;</span>
                                </label>
                            </div>
                            <div class="control-form">
                                {{ formElement(loginForm.get('captcha'))|raw }}
                            </div>
                            <div class="auth-form-password-field">
                                <div class="control-form">
                                    <label class="form-checkbox">
                                        {{ formElement(loginForm.get('remember_me'))|raw }}
                                        <span class="form-checkbox__field">&nbsp;</span>
                                        <span class="form-checkbox__label">Запомнить пароль?</span>
                                    </label>
                                </div>
                                <a class="link-inline" href="{{ url('forgot/password-reset') | trim }}">Забыли пароль?</a>
                            </div>

                            {% if auth_error_message is not null %}
                                Ошибка авторизации: {{ auth_error_message }}
                            {% elseif formElementErrors(loginForm.get('login')) | length > 0 %}
                                Ошибка авторизации: {{ formElementErrors(loginForm.get('login'))|raw }}
                            {% elseif formElementErrors(loginForm.get('password')) | length > 0 %}
                                Ошибка авторизации: {{ formElementErrors(loginForm.get('password'))|raw }}
                            {% elseif formElementErrors(loginForm.get('csrf')) | length > 0 %}
                                Ошибка авторизации: Истек срок действия csrf токена
                            {% elseif formElementErrors(loginForm.get('captcha')) | length > 0  %}
                                Ошибка авторизации: Captcha не проходит валидацию
                            {% endif %}

                            <button type="submit" class="button-purple">Войти</button>

                        {{ form().closeTag()|raw }}

                        <div class="registration-links">
                            <p>Или зарегистрируйтесь</p>
                            <a class="button-blue" href="{{ url('register') | trim }}">Регистрация</a>
                        </div>
                    </div>
                </div>
                <div class="col-6 auth-form-img"></div>
            </div>
        </div>
    </div>
{% endblock content %}

