{% extends 'twig/layout/application' %}

{% do headTitle('Нет прав доступа') %}
{% block content %}
    <div class="message-page container">
        <div class="message-page-wrapper row">
            {#<div class="MessagePage-Img">#}
                {#<img src="{{ basePath('img/MessageError.svg') }}" alt="Ошибка">#}
            {#</div>#}
            <div class="message-page-content col-xl-12">
                <h1 class="message-page-title">Ошибка</h1>
                <p class="message-page-text">
                    Извините, у вас нет прав для просмотра этой страницы.
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
