.info-field {
  margin-bottom: 22px;

  .info-field-label {
    margin-bottom: 4px;
    font-weight: 500;
  }

  .info-field__editable-text-field{
    position: relative;
    cursor: pointer;
    background-color: #F2F4F7;

    &:hover{

      .info-field__edit-button {
        &:before{
          opacity: 0;
        }
        &:after{
          opacity: 1;
        }
      }

      .info-field-text{
        border-color: @link-color;
      }

    }

  }

  .info-field__edit-button{
    position: absolute;
    width: 16px;
    height: 16px;
    right: 16px;
    top: 50%;
    outline: none;
    border: none;
    transform: translateY(-50%);

    &:before, &:after{
      content: '';
      background-repeat: no-repeat;
      background-position: 50%;
      transition: opacity .3s ease-out;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &:before{
      background-image: url('../../../img/edit-icon-grey.svg');
    }
    &:after{
      opacity: 0;
      background-image: url('../../../img/edit-icon.svg');
    }

  }

  .info-field-text {
    padding: 7px 16px;
    min-height: 40px;
    border: 1px solid @border-color-control-form;
    border-radius: @border-radius;
    font-size: 14px;
    width: 100%;
    color: #4B4C6E;
    display: block;
    line-height: 1.75;
    transition: border-color .3s ease-out;
  }

  .info-field__action{
    text-align: right;
  }

  .info-field__action-link{
    color: #007FFF;
    line-height: 20px;
    font-size: 12px;
    text-decoration: underline;

    &:hover{
      text-decoration: none;
    }

  }

}