.user-statistic {
  font-size: 12px;
  line-height: 1.67;
  color: @grey-dark-color;
  margin-top: 19px;
  .user-statistic-row {
    display: flex;
    justify-content: space-between;
    .title {

    }
    .value {

    }
  }
}

.Profile-Avatar {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  //max-width: 174px;
  //margin-right: @indent;
  text-align: center;
  @media (max-width: @grid-breakpoint-md) {
    margin: 0 auto @grid-vertical-gutter*2;
    text-align: left;
  }

  @media (max-width: @grid-breakpoint-sm){
    margin: 0 auto 20px;
    text-align: center;
  }

  @media (max-width: @mobile){
    display: block;
  }

  @import (multiple) "../../atoms/avatar-with-border";

  .AvatarWithBorder {
    width: 140px;
    height: 140px;
    min-width: 140px;
    min-height: 140px;
    position: relative;
    display: inline-flex;
    margin-right: 30px;
    box-shadow: 0 0 10px 1px rgba(32, 73, 146, 0.2);
    @media (max-width: @desktop) {
      width: 130px;
      height: 130px;
      min-width: 130px;
      min-height: 130px;
    }
    @media (max-width: @mobile){
      margin: 0;
    }
    .FormAvaChange {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      opacity: 0;
      transition: opacity .3s;
      label {
        display: block;
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        &:before, &:after {
          content: '';
          display: block;
          background-color: #ffffff;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;
        }
        &:before {
          height: 2px;
          width: 20px;
        }
        &:after {
          height: 20px;
          width: 2px;
        }
        input {
          display: none;
          max-width: 150px;
          max-height: 150px;
          margin-top: 40%;
          padding: 0;
          opacity: 0;
          cursor: pointer;
        }
      }
      .FormAvaChange-Submit {
        display: none;
      }
    }
    &:hover {
      .FormAvaChange {
        opacity: 1;
      }
    }
  }
  .Profile-UserName {
    line-height: 32px;
    text-align: center;
    color: #3C4457;
    max-width: inherit;
    word-wrap: break-word;
  }
}