@import (multiple) "vars";
@import (multiple) "core/index";

@import (inline) '../node_modules/air-datepicker/dist/css/datepicker.min.css';
@import '../node_modules/slick-carousel/slick/slick';

@import (multiple) "atoms/gp-guarantee-banner";
@import (multiple) "atoms/note-info";
@import (multiple) "molecules/map-outer";
@import (multiple) "atoms/captcha-wrapper";
@import (multiple) "atoms/suggest-list";
@import (multiple) "atoms/Preloader";
@import (multiple) "atoms/files-list";
@import (multiple) "molecules/header";
@import (multiple) "components/SelectImitation";
@import (multiple) "pages/main";
@import (multiple) "organisms/footer";
@import (multiple) "molecules/product-preview";

@import (multiple) "organisms/auth-form";
@import (multiple) "organisms/registration-form";
@import (multiple) "organisms/register-form";
@import (multiple) "organisms/create-shop-form";
@import (multiple) "organisms/deal-connecting-form";
@import (multiple) "organisms/email-confirm-form";
@import (multiple) "organisms/email-confirmed-popup";
@import (multiple) "organisms/phone-change-request-popup";
@import (multiple) "organisms/phone-change-popup";
@import (multiple) "organisms/phone-accept-code-popup";
@import (multiple) "organisms/phone-change-success-popup";
@import (multiple) "organisms/email-change-request-popup";
@import (multiple) "organisms/email-change-accept-popup";
@import (multiple) "organisms/email-change-success-popup";
@import (multiple) "organisms/new-deal-form";
@import (multiple) "organisms/change-personal-data-popup";
@import (multiple) "pages/product-card";
@import (multiple) "organisms/new-deal-preview";
@import (multiple) "organisms/complaint-form";
@import (multiple) "pages/advert_actions_popup";
@import (multiple) "organisms/pagination";

@import (multiple) "pages/message-page";
@import (multiple) "organisms/Page404";

@import (multiple) "organisms/form-delivery-details";
@import (multiple) "organisms/form-tie-card";
@import (multiple) "organisms/form-connection-secury-deal";
@import (multiple) "organisms/form-get-status-producer";
@import (multiple) "organisms/form-create-shop";
@import (multiple) "organisms/form-settings-shop";

@import (multiple) "organisms/message-popup";
@import (multiple) "organisms/message-popup-get-status-producer";
@import (multiple) "organisms/message-popup-create-shop";
@import (multiple) "atoms/status-manufacturer";
@import (multiple) "molecules/specific-user-info-block";
@import (multiple) "molecules/tab";

#wrapper{
  // overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  @media (max-width: @small) {
    padding: 0 10px;
  }
}


