.row {
  width: 100%;
  display: flex;
  flex-flow: row;
}
.row .col-1 {
  width: calc(8.33333333%);
}
.row .col-2 {
  width: calc(16.66666667%);
}
.row .col-3 {
  width: calc(25%);
}
.row .col-4 {
  width: calc(33.33333333%);
}
.row .col-5 {
  width: calc(41.66666667%);
}
.row .col-6 {
  width: calc(50%);
}
.row .col-7 {
  width: calc(58.33333333%);
}
.row .col-8 {
  width: calc(66.66666667%);
}
.row .col-9 {
  width: calc(75%);
}
.row .col-10 {
  width: calc(83.33333333%);
}
.row .col-11 {
  width: calc(91.66666667%);
}
[class*="col-"] {
  padding: 0 15px;
  width: 100%;
}
.col-2 {
  background-color: blue;
}
.col-10 {
  background-color: yellow;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 200px;
  background-color: red;
}
nav {
  height: 50px;
  background-color: green;
}
