@full-hd: 1920px;
@large-desctop: 1440px;
@desktop: 1280px;
@tablet: 1024px;
@mobile: 767px;
@small: 650px;
@extra-small: 320px;
@desktopStart: 1025px;
@tabletStart: 768px;

//Grid
@col-padding: 15px;
@vertical-indent: calc(~"7.1424px + 100vw * 0.00893");
@grid-breakpoint-xs: 374px;

@text-color: #4B4C6E;
@link-color: #2F80ED;
@purple-color: #623D96;
@dark-purple-color: #623BBA;
@active-color: #2F80ED;
@moon-color: #918ED7;
@border-color: #F2F3F5;
@outline-color: #A6C7FF;
@grey-dark-color: #86879D;
@main-dark-color: #3c4458;
@new_dark-color: #757575;
@hr-color: rgba(134, 135, 157, 0.1);
@accent-blue: #007FFF;
@dark-blue: #4C77A6;
@dark-deep-blue: #3B5998;
@green-color: #09C199;
@red-color: #F85359;
@text-light-grey-color: #7F8FA4;
@apply-action-color: #1863A4;
@disabled-color: #ECECEC;
@hypen-color: #445870;
@product-status-background-color: rgba(92%, 92%, 95%, 1);
@product-status-text-color: #354052;

@popup-fill: rgba(157, 178, 199, 0.6);

@grey-fill: #F6F7F9;
@new_grey-fill: #F2F4F7;

@box-shadow: 0 0 10px rgba(32, 73, 146, 0.2);
@box-shadow-small: 0 0px 5px rgba(32, 73, 146, 0.2);

@border-color-control-form:#CAD1D8;
@border-color-table:#E0E0E0;
@border-radius: 4px;

//@icon-size: calc(@grid ~"/" @grid  ~"/" 20);
@indent: calc(~"100vw * 0.006944 + 18.667px");

@grid-breakpoint-md: 1023px;
@grid-vertical-gutter: 12px;
@grid-breakpoint-sm: 767px;

