.SelectImitation {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  label {
    margin-bottom: 0;
    cursor: pointer;
  }
  .SelectImitation-Container {
    width: 100%;
    .SelectImitation-Checkbox {
      display: none;
    }
    .SelectImitation-Text {
      display: block;
      position: relative;
      padding: 8px 15px;
      line-height: 21px;
      font-size: 14px;
      color: @text-color;
      border-radius: 4px;
      border: 1px solid #CAD1D8;
      //background: @light-grey-gradient;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      @media (max-width: @mobile) {
       font-size: 16px;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background: url(../../img/select-arrow.svg) no-repeat;
        background-size: contain;
      }
      &.active:before {
        background: url(../../img/select-arrow.svg) no-repeat;
        background-size: contain;
      }
      &.active {
        border-radius: 4px 4px 0 0;
        background-color: #F6F7F9;
      }
    }

    .SelectImitation-Menu {
      display: none;
      z-index: 1000;
      width: 100%;
      box-shadow: none;
      border-radius: 0 0 4px 4px;
      max-height: 150px;
      overflow: auto;
      display: block;
      position: absolute;
      left: 0;
      top: 100%;
      border-bottom: 1px solid #CAD1D8;
      @media (max-width: @mobile) {
        height: auto;
        overflow: visible;
      }
      li {
        display: block;
        padding: 7.5px 15px;
        line-height: 21px;
        font-size: 14px;
        font-weight: 300;
        cursor: pointer;
        color: @text-color;
        background-color: #ffffff;
        border-right: 1px solid #CAD1D8;
        border-left: 1px solid #CAD1D8;
        @media (max-width: @mobile) {
          &:last-child {
            border-bottom: 1px solid #CAD1D8;
            border-radius: 0 0 @border-radius @border-radius;
          }
        }
        &:hover {
          color: #2EA2F8;
          background-color: #F1F4F8;
        }
      }
      li.SelectImitation-SubsectionItem {
        padding-left: 30px;
        color: @text-color;
        &:hover {
          color: #2EA2F8;
          background-color: #F1F4F8;
        }
      }
      li.SelectImitation-SubsectionTitle {
        cursor: default;
        //background-color: @background-fill;
        &:hover {
          color: @text-color;
          //background-color: @background-fill;
        }
      }
    }

    input:checked + .SelectImitation-Menu {
      display: block;
      position: absolute;
      left: 0;
      top: 100%;
      @media (max-width: @mobile) {
        top: 0;
        position: relative;
      }
    }
  }
}
.SelectImitation.disabled {
  .SelectImitation-Container {
    .SelectImitation-Text {
      background-color: @disabled-color;
      cursor: not-allowed;
      &:before {
        display: none;
      }
    }
  }
}


