{% extends 'twig/layout/error-layout' %}

{% do headTitle('404 - Ничего не найдено') %}

{% block content %}
    <div class="Page404" id="error-404-page">
        <div class="container">
            <svg class="main-404" width="701" height="704" viewBox="0 0 701 704" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M304 174L101 656C301.497 722.759 412.714 716.912 609 650.5L411 175.5C370.923 182.435 347.476 182.042 304 174Z" fill="url(#paint0_diamond)"/>
                <path d="M304.202 174L199.202 575C199.202 575 186.702 587.5 358.202 587.5C529.702 587.5 519.202 575 519.202 575L410.702 175C370.202 182 349.202 180.5 304.202 174Z" fill="url(#paint1_linear)"/>
                <path d="M199.202 575.23C199.202 575.23 186.702 592 358.202 592C529.702 592 519.202 575.23 519.202 575.23C503.702 562.005 406.254 559.621 358.202 559.5C308.68 559.375 204.202 564.23 199.202 575.23Z" fill="url(#paint2_radial)" fill-opacity="0.5"/>
                <g filter="url(#filter0_d)" class="moon">
                    <circle cx="359" cy="423" r="107" fill="url(#paint3_linear)"/>
                    <path d="M464.741 414.537C456.823 363.259 412.496 324 359 324C305.504 324 261.177 363.259 253.259 414.537C257.088 359.477 302.967 316 359 316C415.033 316 460.912 359.477 464.741 414.537Z" fill="#FAFAFD"/>
                    <path d="M360.5 503.5C411.667 503.5 453.99 463.588 460.986 411.686C460.995 412.289 461 412.894 461 413.5C461 472.093 415.956 519.5 360.5 519.5C305.044 519.5 260 472.093 260 413.5C260 412.894 260.005 412.289 260.014 411.686C267.01 463.588 309.333 503.5 360.5 503.5Z" fill="#CDD5DC"/>
                    <circle cx="392.5" cy="360.5" r="13.5" fill="#E5EAED"/>
                    <circle cx="385.5" cy="415.5" r="13.5" fill="#DFE5E9"/>
                    <circle cx="331" cy="388" r="19" fill="#E2E7EB"/>
                    <circle cx="359" cy="473" r="22" fill="#D1D8DF"/>
                    <circle cx="311.5" cy="428.5" r="14.5" fill="#DBE1E7"/>
                    <circle cx="274" cy="422" r="6" fill="#D7DEE4"/>
                </g>
                <path d="M238.285 141.5C236.836 141.023 231.407 140.021 230 139.5C230 139.5 262.002 161.09 282.784 168.5C292.108 171.824 297.594 172.977 307.284 175C326.304 178.971 336.445 179.613 356.784 180C364.791 180.152 369.789 179.947 377.784 179.5C387.969 178.931 394.226 178.414 403.284 177C412.461 175.568 431.158 170.718 437.284 168.5C466.284 158 481.069 140 481.069 140C479.662 140.521 478.233 141.023 476.785 141.5C474.34 142.305 471.848 143.151 469.285 144.01C469.285 144.01 457.932 150.291 450.285 153.5C435.346 159.769 426.163 161.286 410.285 164.5C386.442 169.325 357.784 169 357.784 169C357.784 169 328.627 169.325 304.784 164.5C288.905 161.286 279.723 159.769 264.784 153.5C257.137 150.291 245.785 144.01 245.785 144.01C243.221 143.151 240.729 142.305 238.285 141.5Z" fill="url(#paint4_linear)"/>
                <path d="M358.5 160.217C358.5 160.217 327.5 159.49 312 158.49C307.146 158.177 293.5 156 278.5 153.5C266.11 151.435 246.33 145.627 237 142.5C237 142.5 257.18 152.725 265 155.49C283.414 162 292.633 164.962 311 168C329.145 171.001 358 170.99 358 170.99C358 170.99 386.658 171.315 410.5 166.49C426.379 163.276 435.561 161.759 450.5 155.49C458.148 152.28 469.5 144 469.5 144C460.17 147.127 449.89 150.935 437.5 153C422.5 155.5 408.353 158.177 403.5 158.49C388 159.49 358.5 160.217 358.5 160.217Z" fill="url(#paint5_linear)"/>
                <path d="M356.914 149.787C329.914 149.787 281.414 147.261 252.914 141.5C234.505 137.779 213.419 132.282 199 124C199 124 213.753 134.504 232.629 141.5C234.036 142.021 235.466 142.523 236.914 143C239.358 143.805 241.85 144.651 244.414 145.51C253.743 148.638 264.11 151.935 276.5 154C291.5 156.5 305.646 158.46 310.5 158.773C326 159.773 356.914 160.5 356.914 160.5C356.914 160.5 386.414 159.773 401.914 158.773C406.767 158.46 420.914 156.5 435.914 154C448.304 151.935 458.584 148.638 467.914 145.51C470.477 144.651 472.969 143.805 475.414 143C476.862 142.523 478.291 142.021 479.698 141.5C498.574 134.504 513.328 124 513.328 124C498.908 132.282 477.823 137.779 459.414 141.5C430.914 147.261 383.914 149.787 356.914 149.787Z" fill="url(#paint6_linear)"/>
                <path d="M183 106.5C183 111.5 184.351 115.5 189.5 120C191.957 122.147 194.854 124.144 198.086 126C212.505 134.282 233.591 139.779 252 143.5C280.5 149.261 329 151.787 356 151.787C383 151.787 430 149.261 458.5 143.5C476.909 139.779 494.581 135.282 509 127C512.232 125.144 516.5 122 519 119.5C523.809 114.691 526.5 110.5 527 105.5C527 101 526.5 95 520 88C523.345 94.5 521.5 100 521.5 100C521.5 100 521 106 515 110.5C503.666 119 487 123.992 477 126C475 126.402 453.421 130.901 435.5 133C408.842 136.122 387.108 137.964 356 138C324.307 138.037 301.658 135.622 275 132.5C257.079 130.401 236 125.902 234 125.5C224 123.492 207.333 118 196 109.5C190 105 190 99 190 99C190 99 190.155 94 193.5 87.5C187.156 93.614 183 100.884 183 106.5Z" fill="url(#paint7_linear)"/>
                <path d="M273.5 60C230.306 64.3528 204.51 76 193.01 88C189.665 94.5 190.01 99 190.01 99C190.01 99 190.01 106 196.01 110.5C207.343 119 224.01 123.992 234.01 126C236.01 126.402 257.589 130.901 275.51 133C302.168 136.122 324.817 138.037 356.51 138C387.618 137.964 409.352 136.122 436.01 133C453.931 130.901 475.51 126.402 477.51 126C487.51 123.992 504.177 119 515.51 110.5C521.51 106 522.5 100 522.5 100C522.5 100 523.51 94.5 520.165 88C513.441 81.519 499.646 74.6637 485 69.5C488.936 71.011 498.227 74.3325 499.5 79C501 84.5 502 88 498.5 95C492.977 106.045 479.597 110.068 463.51 115.5C425.01 128.5 359.01 128.5 359.01 128.5C359.01 128.5 323.246 130.869 278.01 124C265.133 122.045 238.421 117.159 227.01 114.5C214.671 111.625 204.413 107.326 201 100.5C199 96.5 200.193 91.7883 202 89.5C209.5 80 232.885 72.6509 241.5 70C254.5 66 273 63 273 63C273.139 62.0954 273.325 60.888 273.5 60Z" fill="url(#paint8_linear)"/>
                <path d="M272.809 63C272.809 63 255.039 65.8111 242.039 69.8111C233.424 72.462 208.539 79.8111 201.039 89.3111C199.233 91.5994 198.039 96.3111 200.039 100.311C203.452 107.138 215.2 111.936 227.539 114.811C238.95 117.47 265.663 122.356 278.539 124.311C323.776 131.18 359.539 128.811 359.539 128.811C359.539 128.811 327.539 126.311 310.039 124.311C296.382 122.75 262.074 119.961 248.539 107.811C243.046 102.88 241.518 99.7008 242.039 94.3111C243.103 83.3111 263.039 75.8111 272.039 72.3111C272.084 69.1179 272.346 66.0131 272.809 63Z" fill="url(#paint9_radial)"/>
                <path d="M355.846 101.369C270.605 102.681 272.574 72.292 272.5 72C272.5 71.6657 272 72 272 72C263 75.5 242.159 83.3565 241.096 94.3565C240.575 99.7461 242.103 102.926 247.596 107.856C261.13 120.006 295.438 122.796 309.096 124.356C326.596 126.356 358.596 128.856 358.596 128.856C358.596 128.856 424.596 128.856 463.096 115.856C479.182 110.425 492.096 106.356 498.596 95.8565C502.001 90.3551 502.728 85.267 500.096 79.3565C498.127 74.937 491.836 71.9174 487.899 70.4064C486.821 70.0261 485.72 69.652 484.596 69.2845C472.109 65.2014 455.826 61.9302 437.5 60C438.225 63.9492 439 68.2135 439 72.5C438.926 72.792 441.087 102.681 355.846 101.369Z" fill="url(#paint10_linear)"/>
                <path d="M272 72.0053C272.074 72.2974 270.509 103.324 355.75 102.012C440.991 103.324 439.426 72.2974 439.5 73C438.993 75 436.954 77.752 433 80.5053C418.134 90.8576 393.65 95.2034 355.75 95.5C317.85 95.2034 293.366 90.8576 278.5 80.5053C274.546 77.752 272.507 74.0053 272 72.0053Z" fill="#383759"/>
                <path d="M272 73.5C274.091 44.0583 293.651 22.6733 319.5 11.5C331.034 6.51406 340.399 4.52144 355.75 4.50013C371.101 4.52144 380.466 6.51406 392 11.5C417.849 22.6733 437.409 43.5584 439.5 73C439.5 26.5992 394.692 0.115341 355.75 0.000368903C316.808 0.115341 272 27.0992 272 73.5Z" fill="#ACAADC"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M319.5 10.9998C293.651 22.1732 274.091 43.5582 272 72.9998C272.507 74.9998 274.546 78.7465 278.5 81.4998C293.366 91.8521 317.85 96.1979 355.75 96.4945C393.65 96.1979 418.134 91.8521 433 81.4998C436.954 78.7465 438.993 74.9998 439.5 72.9998C437.409 43.5582 417.849 22.1732 392 10.9998C380.466 6.01393 371.101 4.02131 355.75 4C340.399 4.02131 331.034 6.01393 319.5 10.9998ZM332 11.9998C303.871 19.7454 286 43.9998 289.5 58.4998C292.979 72.911 327.819 77.9615 355 77.9998H355.504C382.685 77.9615 418.521 72.911 422 58.4998C425.5 43.9998 407.629 19.7454 379.5 11.9998C372 9.93471 360.425 9.03247 355.75 9.0007C351.075 9.03247 339.5 9.93471 332 11.9998Z" fill="url(#paint11_linear)"/>
                <path d="M287.455 59.6519C283.803 44.5213 302.451 19.212 331.804 11.1296C339.63 8.97463 351.708 8.03316 356.586 8C361.465 8.03316 373.543 8.97463 381.369 11.1296C410.722 19.212 429.437 44.5222 425.784 59.6528C422.155 74.6907 384.693 79.96 356.33 80H355.804C327.441 79.96 291.085 74.6898 287.455 59.6519Z" fill="url(#paint12_linear)"/>
                <path d="M366 29.9999C366 38.8365 358.613 45.9999 349.5 45.9999C340.387 45.9999 333 38.8365 333 29.9999C333 21.1634 340.387 13.9999 349.5 13.9999C358.613 13.9999 366 21.1634 366 29.9999Z" fill="url(#paint13_linear)"/>
                <path d="M326 44.4999C326 48.6421 322.642 51.9999 318.5 51.9999C314.358 51.9999 311 48.6421 311 44.4999C311 40.3578 314.358 36.9999 318.5 36.9999C322.642 36.9999 326 40.3578 326 44.4999Z" fill="url(#paint14_linear)"/>
                <path d="M366 29.9999C366 38.8365 358.613 45.9999 349.5 45.9999C340.387 45.9999 333 38.8365 333 29.9999C333 21.1634 340.387 13.9999 349.5 13.9999C358.613 13.9999 366 21.1634 366 29.9999Z" fill="url(#paint15_linear)"/>
                <g class="ufo-circles">
                    <g class="ufo__circle ufo__circle-1">
                        <g filter="url(#filter1_f)">
                            <circle cx="207" cy="123" r="17" fill="#FFEE7C"/>
                        </g>
                        <g filter="url(#filter2_f)">
                            <circle cx="207" cy="123" r="6" fill="#FFEE7C"/>
                        </g>
                    </g>
                    <g class="ufo__circle ufo__circle-2">
                        <g filter="url(#filter7_f)">
                            <circle cx="277" cy="141" r="17" fill="#FFEE7C"/>
                        </g>
                        <g filter="url(#filter8_f)">
                            <circle cx="277" cy="141" r="6" fill="#FFEE7C"/>
                        </g>
                    </g>
                    <g class="ufo__circle ufo__circle-3">
                        <g filter="url(#filter9_f)">
                            <circle cx="356" cy="147" r="17" fill="#FFEE7C"/>
                        </g>
                        <g filter="url(#filter10_f)">
                            <circle cx="356" cy="147" r="6" fill="#FFEE7C"/>
                        </g>
                    </g>
                    <g class="ufo__circle ufo__circle-4">
                        <g filter="url(#filter5_f)">
                            <circle cx="433" cy="141" r="17" fill="#FFEE7C"/>
                        </g>
                        <g filter="url(#filter6_f)">
                            <circle cx="433" cy="141" r="6" fill="#FFEE7C"/>
                        </g>
                    </g>
                    <g class="ufo__circle ufo__circle-5">
                    <g filter="url(#filter3_f)">
                        <circle cx="502" cy="123" r="17" fill="#FFEE7C"/>
                    </g>
                    <g filter="url(#filter4_f)">
                        <circle cx="502" cy="123" r="6" fill="#FFEE7C"/>
                    </g>
                </g>
                </g>
                <g filter="url(#filter11_d)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M124.5 345H190V492.5H218V536.5H190V580.5H137.5V536.5H21V505L124.5 345ZM80 492.5H137.5V402.5L80 492.5Z" fill="white" stroke="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M587 345H652.5V492.5H680.5V536.5H652.5V580.5H600V536.5H483.5V505L587 345ZM542.5 492.5H600V402.5L542.5 492.5Z" fill="white" stroke="white"/>
                </g>
                <defs>
                    <filter id="filter0_d" x="227" y="281" width="264" height="264" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                        <feOffset dy="-10"/>
                        <feGaussianBlur stdDeviation="12.5"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                    </filter>
                    <filter id="filter1_f" x="170" y="86" width="74" height="74" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="10" result="effect1_foregroundBlur"/>
                    </filter>
                    <filter id="filter2_f" x="199" y="115" width="16" height="16" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="1" result="effect1_foregroundBlur"/>
                    </filter>
                    <filter id="filter3_f" x="465" y="86" width="74" height="74" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="10" result="effect1_foregroundBlur"/>
                    </filter>
                    <filter id="filter4_f" x="494" y="115" width="16" height="16" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="1" result="effect1_foregroundBlur"/>
                    </filter>
                    <filter id="filter5_f" x="396" y="104" width="74" height="74" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="10" result="effect1_foregroundBlur"/>
                    </filter>
                    <filter id="filter6_f" x="425" y="133" width="16" height="16" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="1" result="effect1_foregroundBlur"/>
                    </filter>
                    <filter id="filter7_f" x="240" y="104" width="74" height="74" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="10" result="effect1_foregroundBlur"/>
                    </filter>
                    <filter id="filter8_f" x="269" y="133" width="16" height="16" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="1" result="effect1_foregroundBlur"/>
                    </filter>
                    <filter id="filter9_f" x="319" y="110" width="74" height="74" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="10" result="effect1_foregroundBlur"/>
                    </filter>
                    <filter id="filter10_f" x="348" y="139" width="16" height="16" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                        <feGaussianBlur stdDeviation="1" result="effect1_foregroundBlur"/>
                    </filter>
                    <filter id="filter11_d" x="0.5" y="344.5" width="700.5" height="276.5" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
                        <feOffset dy="20"/>
                        <feGaussianBlur stdDeviation="10"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                    </filter>
                    <radialGradient id="paint0_diamond" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(358 179.5) rotate(90) scale(767 736.163)">
                        <stop stop-color="#5C5EA5" stop-opacity="0.2"/>
                        <stop offset="0.627294" stop-color="#C4C4C4" stop-opacity="0"/>
                    </radialGradient>
                    <linearGradient id="paint1_linear" x1="359.164" y1="174" x2="359.164" y2="587.5" gradientUnits="userSpaceOnUse">
                        <stop offset="0.290217" stop-color="#5D5EA7"/>
                        <stop offset="1" stop-color="#5D5EA7" stop-opacity="0"/>
                    </linearGradient>
                    <radialGradient id="paint2_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(359 560.5) rotate(89.6556) scale(27.2306 339.008)">
                        <stop stop-color="#404077" stop-opacity="0"/>
                        <stop offset="1" stop-color="#4C4A9A"/>
                    </radialGradient>
                    <linearGradient id="paint3_linear" x1="359" y1="316" x2="359" y2="530" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#F0F4F6"/>
                        <stop offset="1" stop-color="#DCE4EA"/>
                    </linearGradient>
                    <linearGradient id="paint4_linear" x1="216" y1="178" x2="448.045" y2="160.593" gradientUnits="userSpaceOnUse">
                        <stop offset="0.433331" stop-color="#7E7DA1"/>
                        <stop offset="0.898714" stop-color="#565487"/>
                    </linearGradient>
                    <linearGradient id="paint5_linear" x1="257.5" y1="138.5" x2="370" y2="173.5" gradientUnits="userSpaceOnUse">
                        <stop offset="0.0186419" stop-color="#424169"/>
                        <stop offset="1" stop-color="#565487"/>
                    </linearGradient>
                    <linearGradient id="paint6_linear" x1="356" y1="151" x2="356.164" y2="159.727" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#6967A6"/>
                        <stop offset="1" stop-color="#9F9ECF"/>
                    </linearGradient>
                    <linearGradient id="paint7_linear" x1="525" y1="120" x2="183" y2="108.5" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#9895ED"/>
                        <stop offset="1" stop-color="#9895ED"/>
                    </linearGradient>
                    <linearGradient id="paint8_linear" x1="190" y1="94.5" x2="522" y2="99" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#928FE5"/>
                        <stop offset="1" stop-color="#494773"/>
                    </linearGradient>
                    <radialGradient id="paint9_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(205 96) rotate(8.82038) scale(146.735 355.811)">
                        <stop stop-color="#9B96F8"/>
                        <stop offset="1" stop-color="#7C79C5"/>
                    </radialGradient>
                    <linearGradient id="paint10_linear" x1="502" y1="80.5" x2="245" y2="100" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#5A5886"/>
                        <stop offset="1" stop-color="#8986D9"/>
                    </linearGradient>
                    <linearGradient id="paint11_linear" x1="355.75" y1="4" x2="351.5" y2="89" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#A3A0CF"/>
                        <stop offset="1" stop-color="#4C4A77"/>
                    </linearGradient>
                    <linearGradient id="paint12_linear" x1="356.914" y1="8" x2="356.914" y2="83.6531" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#ABA9DA"/>
                        <stop offset="1" stop-color="#52507D"/>
                    </linearGradient>
                    <linearGradient id="paint13_linear" x1="332.5" y1="58" x2="318.5" y2="8.49998" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#B0C3DD"/>
                        <stop offset="0.978363" stop-color="white"/>
                    </linearGradient>
                    <linearGradient id="paint14_linear" x1="332.5" y1="58" x2="318.5" y2="8.49998" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#B0C3DD"/>
                        <stop offset="0.978363" stop-color="white"/>
                    </linearGradient>
                    <linearGradient id="paint15_linear" x1="332.5" y1="58" x2="318.5" y2="8.49998" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#B0C3DD"/>
                        <stop offset="0.978363" stop-color="white"/>
                    </linearGradient>
                </defs>
            </svg>
            <h1 class="message-text">
                Извините, страница не найдена
            </h1>
            <span class="star-image star-image-1"></span>
            <span class="star-image star-image-2"></span>
            <span class="star-image star-image-3"></span>
            <span class="star-image star-image-4"></span>
            <span class="star-image star-image-5"></span>
            <span class="star-image star-image-6"></span>
        </div>
    </div>
{% endblock content %}
