{% extends 'twig/layout/error-layout' %}
{% do headTitle('Произошла непоправимая ошибка') %}

{% block content %}
    <div class="Main" style="padding: 0">
        <div class="Content">
            <div class="message-page container" id="error-500-page">
                <div class="message-page-wrapper row">
                    {#<div class="message-page-image">#}
                        {#<img src="{{ basePath('img/MessageError.svg') }}" alt="Ошибка">#}
                    {#</div>#}
                    <div class="message-page-content col-xl-12">

                        <h1 class="message-page-title">
                            Произошла непоправимая ошибка
                            {% if display_exceptions %}
                                <br>
                                <span class="MessagePage-SecondTitle">{{ message|e }}</span>
                            {% endif %}
                        </h1>

                        <div class="message-page-text">
                            {% if display_exceptions %}
                                <h3 class="MessagePage-SubTitle">Исключение: {{ get_class(exception) }}</h3>
                                <h4 class="TextLeft">Файл:</h4>
                                <pre class="TextLeft">{{ exception.getFile() }}:{{ exception.getLine() }}</pre>
                                {% if exception.getMessage %}
                                    <h4 class="TextLeft">Сообщение:</h4>
                                    <pre class="TextLeft">{{ exception.getMessage()|e }}</pre>
                                {% endif %}
                                <h4 class="TextLeft">Стек вызовов:</h4>
                                <pre class="TextLeft">{{ exception.getTraceAsString()|e }}</pre>
                            {% endif %}
                            {% if not display_exceptions %}
                                <p>Обратитесь к администратору сайта за дополнительной информацией.</p>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-xl-offset-3 col-sm-4 col-sm-offset-0">
                                <div class="form-default form-error-report">
                                    {% include 'partial/error-report-form.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
