.advert_actions_popup {
  max-width: 830px !important;
  width: 830px;
  height: auto;
  background-color: white;
  @import (multiple) "../organisms/advert_actions_popup_header";
  @import (multiple) "../organisms/advert_actions_popup_buttons";
  @import (multiple) "../organisms/advert_actions_popup_content";
  @import (multiple) "../organisms/advert_actions_popup_images";
  @import (multiple) "../organisms/advert_moderate_decline_reason_form";
  @import (multiple) '../atoms/flexible-row';
  .flexible-row {
    margin-bottom: 0;
    margin-top: 24px;
  }
  @import (multiple) '../molecules/control-form';

  .control-form {
    textarea {
      min-height: 100px;
      max-height: 220px;
    }
  }

  @import (multiple) "../atoms/declined_advert_reason";
  .declined_advert_reason {
    margin-top: 0;
    @media (max-width: @tablet) {
      margin: 0 16px 16px;
    }
    @media (max-width: @small) {
      margin: 0 10px 16px;
    }
  }

  .popup-title{
    @media (max-width: @tablet) {
      text-align: center;
      margin-bottom: 10px;
    }
  }

  .advert_actions_popup_header {
    .advert_info{
      table{
        @media (max-width: @tablet) {
          display: block;
          width: 100%;
          tbody {
            display: block;
          }
          tr {
            display: flex;
            td.prop_name,
            td.value {
              display: block;
              text-align: left;
            }
            td.prop_name {
              width: 150px;
            }
            td.value {
              padding-left: 16px;
            }
          }
        }
      }
    }
  }


}