main {
  section.top {
    padding: 44px 0 18px 0;
    @media (max-width: @tablet) {
      padding: 0;
    }
    @import (multiple) "../molecules/search";
    @import (multiple) "../organisms/categories-menu";
    @import (multiple) "../atoms/button-transparent";
    .show-all-button {
      display: block;
      margin: 0 auto;
      margin-top: 18px;
      padding-top: 2px;
      padding-bottom: 2px;
      color: @purple-color;
      border-color: @purple-color;
      background-color: #fff;
      cursor: pointer;
      &:hover {
        background-color: #fff;
      }
    }
  }
  section.top.top-single {
    padding: 26px 0 5px;
    box-shadow: 0 0 10px rgba(32, 73, 146, 0.2);
    position: relative;
    z-index: 10;
    .search {
      margin-bottom: 0;
    }
  }
  section.content {
    @import (multiple) "../atoms/page-message";

    .content-header {
      padding: 26px 0 23px;
      box-shadow: @box-shadow;
      position: relative;
      z-index: 10;
      @media(max-width: @tablet) {
        padding: 26px 0 23px;
      }
      @media(max-width: @mobile) {
        display: none;
      }

      .row {
        margin: 0 -15px;
        width: auto;
        flex-flow: row nowrap;
        @media (max-width: @small){
          margin: 0 -10px;
        }
        &.tab {
          margin: 0;
        }
      }

      .wrap-flex {
        display: flex;
        align-items: center;
      }

      .content-header-navigation {

        @import (multiple) "../atoms/navigation-chain";

        .content-header-navigation__title {
          margin-bottom: 3px;
          font-weight: 500;
          line-height: 36px;
          font-size: 30px;
        }

      }

      .content-header-search {
        width: 100%;
        display: flex;
      }

      .content-header-filter {
        //display: none;
        @import (multiple) "../molecules/control-form";
      }

      @import (multiple) "../molecules/mode-view-block";

    }

    .content-header-navigation {
      &.purchase {
        ul.navigation-chain {
          li {
            display: inline-block;
          }
        }
      }
    }


    .content-main {
      padding: 40px 0 30px;

      @media (max-width: @mobile) {
        padding: 0 0 24px;
      }

      &.content-main_mobile_pt_0 {
        @media (max-width: @tablet) {
          padding: 0 0 24px;
        }
      }
      //Импортируются в верхней точке, т.к. используются на разных страницах в разных местах
      @import (multiple) '../atoms/garant-deal';
      @import (multiple) '../atoms/delivery-deal';

      //Каталог карточек продукта
      @import (multiple) "../organisms/catalog";

    }
  }
  #landing_static, #landing_dynamic, #TableProducts, #TablePurchase, #TableShops {
    .content-main {
      position: relative;
    }
    .Preloader {
      position: absolute;
      left: 0;
      top: 20px;
      bottom: 0;
      right: 0;
      z-index: 11;
      .Preloader__container {
        @media (max-width: @mobile) {
          top:0;
          left: 0;
          transform: none;
        }
      }
      &::before {
        @media (max-width: @mobile) {
          height: calc(100% ~"-" 20px);
        }
      }
    }
    .page-message-container {
      min-height: 0;
      margin: auto;
      flex-direction: column;
      align-items: center;
      padding-top: 0;
    }
  }
}

@import '../pages/profile/profile-page';
@import '../pages/user-product-list-page';
@import '../pages/purchase-card';
@import '../pages/shops-page';
@import '../pages/shop-card-page';
@import '../pages/shop-about-page';
@import '../atoms/navigation-chain';