.message-page {
  @import (multiple) "../atoms/button-blue";
  &.container {
    display: flex;
    align-items: center;
    min-height: 300px;
    padding: 60px 15px;
    @media (max-width: @mobile) {
      padding: 30px 10px;
    }
  }
  pre {
    white-space: pre-wrap;
    word-break: break-all;
  }
  .message-page-wrapper {

  }
  .message-page-image {

  }
  .message-page-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .message-page-title {
    text-transform: uppercase;
  }
  .message-page-text {

  }

  .form-title {
    text-align: center;
  }
  .form-report-container {
    margin-top: 40px;
  }
  .form-default {
    max-width: 430px;
    background-color: #fff;
    border-radius: 4px;
    margin: 0 auto;

    @import (multiple) "../molecules/control-form";
    .control-form {
      margin-bottom: 22px;
    }
  }
}