
.site-map {
  //display: none; //@todo remove it
}

.product-card {
  margin-top: 14px;
  &.product-card-single {
    margin-top: 0;
  }
  &.user-purchase-list-page {
    margin-top: 0;
  }
  .content-header-navigation.purchase {
    margin-top: 16px;
  }

  .block-with-user-info {
    .user-bar {
      @media (max-width: @tablet) {
        display: none;
      }
    }
  }

  .price-block {
    .user-bar {
      display: none;
      @media (max-width: @tablet) {
        display: flex;
      }
    }
  }

  @media (max-width: @tablet) {
    margin-top: 0;
  }

  .content-header {
    .row {
      // padding: 0 15px;
    }

    @media (max-width: @tablet) {
      display: none;
    }

  }

  @import (multiple) '../atoms/product-photo-slider';
  .product-photo-slider {
    order: -1;
  }

  @import (multiple) '../molecules/product-gallery';

  .product-card-body {

    .container {
      //overflow: hidden;
    }
    .row {
      align-items: flex-start;

      & > .advertise-footer {
        @media (max-width: @tablet) {
          display: none;
        }
      }

    }

    @import (multiple) '../atoms/button-show-hidden-field';

  }

  .advertise__compliance {
    margin-top: 4px;

    @media (max-width: @tablet) {
      margin-top: 24px;
    }

    @media (max-width: @mobile) {
      text-align: center;
    }

  }
  .advertise__compliance-mobile {
    margin-top: 0;
  }

  .advertise__compliance-link {
    font-weight: 500;
    line-height: 24px;
    font-size: 12px;
    color: #EB5757;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }

    @media (max-width: @tablet) {
      font-size: 12px;
    }

  }

  .product-card-body__price-block {
    position: sticky;
    top: 10px;
    margin-bottom: 30px;

    @media (max-width: @tablet) {
      padding-right: 30px;
      padding-left: 5px;
      top: 90px;
    }

    @media (max-width: @mobile) {
      padding-right: 10px;
      padding-left: 10px;
      position: static;
    }

    .user-bar {
      display: none;
      margin-top: 8px;

      @media (max-width: @tablet) {
        display: flex;
      }

      @media (max-width: @tablet) {
        margin-top: 18px;
      }

      .user-bar__all-adverts {
        margin-top: 0;
      }

    }

    .product-name {
      display: none;

      @media (max-width: @mobile) {
        display: block;
        margin-bottom: 10px;
      }

    }

    button + button {
      margin-top: 20px;
      @media (max-width: @mobile) {
        margin-top: 12px;
      }
    }
  }

  .product-card-body.content-main {
    padding-top: 18px;
    margin-top: 0;
    padding-bottom: 0;

    .row {
      margin: 0 -15px;
      width: auto;
      padding-bottom: 80px;
      @media (max-width: @tablet) {
        padding: 0;
      }
      @media (max-width: @small) {
        margin: 0 -10px;
      }
    }

    @import (multiple) '../atoms/tooltip';

    .tooltip {
      .tooltip-inner {
        padding: 6px 8px;
      }
    }

  }

  .product-options-wrapper {
    overflow: hidden;
  }

  .product-options-block {
    border-top: 1px solid rgba(134, 135, 157, .1);
    padding-top: 14px;
    padding-bottom: 8px;

    &:last-child {
      border-bottom: 1px solid rgba(134, 135, 157, .1);
    }

    &.block-with-user-info {
      display: flex;
      @media (max-width: @tablet) {
        display: block;
      }
    }

    @media (max-width: @tablet) {
      &:first-child {
        border-top: none;
      }
    }

    @media (max-width: @mobile) {

    }

    @import (multiple) '../atoms/product-option';
  }

  .product-info {
    order: -1;

    @media (max-width: @tablet) {
      padding-left: 30px;
    }

    @media (max-width: @mobile) {
      order: 0;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 22px;
    }

    .user-bar {
      @media (max-width: @tablet) {
        display: none;
      }
    }

    .advertise-footer {
      display: none;

      @media (max-width: @tablet) {
        display: block;
      }

      .share-bar {
        margin-top: 11px;

        @media (max-width: @mobile) {
          justify-content: space-between;
        }

        .share-bar__title {
          width: 40%;
        }

        .share-bar__socials {
          width: 60%;

          @media (max-width: @mobile) {
            width: auto;
          }

          .social-icon {
            margin-right: 16px;
          }

        }

      }

    }

  }

  @import (multiple) '../atoms/product-name';

  @import (multiple) '../molecules/user-bar';
  .user-bar {
    display: flex;
    text-align: left;
    margin-top: 13px;
    margin-bottom: 0;

    &.user-bar-purchase {
      margin-top: 0;
      @media (max-width: @tablet) {
        padding: 10px 0;
        flex-direction: column;
        justify-content: center;
      }
      @media (max-width: @mobile) {
        padding: 0;
      }
      .avatar {
        min-height: 70px;
        min-width: 70px;
        margin-top: 0;
        margin-left: 15px;
        @media (max-width: @tablet) {
          margin: 0 auto;
        }
        @media (max-width: @small) {
          display: none;
        }
      }
      .rating-scale {
        @media (max-width: @tablet) {
          justify-content: center;
        }
      }
    }
    .avatar {
      width: 70px;
      height: 70px;
      border-radius: 100%;
      margin-top: 7px;
      border: 1px solid #ededed;
      @media (max-width: @tablet) {
        width: 60px;
        height: 60px;
        min-height: 60px;
        min-width: 60px;
      }
    }

    .user-bar__info {
      margin-left: 18px;
      &.user-bar__info-purchase {
        margin-left: 30px;
        margin-top: 4px;
        overflow: hidden;
        white-space: nowrap;

        @media (max-width: @tablet) {
          text-align: center;
          margin-left: 0;
        }
        @media (max-width: @mobile) {
          display: none;
        }
        @media (max-width: @small) {
          text-align: left;
        }

        .user-bar-name {
          display: inherit;
          overflow: hidden;
          text-overflow: ellipsis;
          @media (max-width: @tablet) {
            text-align: center;
          }
          @media (max-width: @small) {
            text-align: left;
          }
        }
      }
    }

    .user-bar__from-registration {
      font-weight: 500;
      line-height: 24px;
      font-size: 12px;
      color: #86879D;
      margin-top: 2px;
    }

    .user-bar__all-adverts {
      line-height: 20px;
      font-size: 12px;
      margin-top: 8px;
    }

    .rating-scale {
      justify-content: flex-start;
      padding: 0;
    }

  }

  @import (multiple) '../atoms/garant-deal';
  .garant-deal {
    margin-bottom: 8px;

    @media (max-width: @mobile) {
      width: 50%;
      margin-bottom: 0;
    }

  }
  @import (multiple) '../atoms/delivery-deal';
  .delivery-deal {
    @media (max-width: @mobile) {
      width: 50%;
      padding-left: 10px;
    }
  }
  @import (multiple) '../atoms/product-price';
  .product-title {
    margin-bottom: 10px;
  }
  .product-price {
    margin-bottom: 12px;
  }
  @import (multiple) '../atoms/button-blue';
  @import (multiple) '../atoms/button-purple';
  @import (multiple) '../atoms/button-transparent';

  .button-transparent {
    color: @purple-color;
    border-color: @purple-color;
  }

  .button-purple, .button-transparent {
    max-width: none;
  }

  .product__about-deal {
    margin-top: 0;
    margin-bottom: 20px;

    @media (max-width: @mobile) {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      margin-top: 0;
      margin-bottom: 12px;
    }

    .status-manufacturer-wrap {
      display: flex;
      align-items: center;
      .status-manufacturer {
        margin-right: 8px;
      }
    }
  }

  @import (multiple) '../molecules/advertise-footer';
  @import (multiple) '../molecules/related-products';
  .related-products {
    @media (max-width: @tablet) {
      display: none;
    }
  }

  @import (multiple) '../atoms/files-list';
  .product-files {
    .product-option__value {
      display: block;
      white-space: normal;
    }

    .file-item {
      display: block;
    }

  }

  .block_create_purchase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 135px;
    padding: 22px 40px 28px 40px;
    box-shadow: 0 0 10px rgba(32, 73, 146, 0.2);

    .block_create_purchase_icon {
      width: 38px;
      height: 40px;
      background-image: url("../../img/telescope.svg");
    }

    .block_create_purchase_text {
      color: #4B4C6E;
      line-height: 20px;
      font-size: 18px;
      margin-right: 70px;
    }

    .create_purchase_button {
      max-width: 289px;
    }
  }

  #TablePurchase,
  #UserProfileTabsPurchases {
    .row {
      padding: 0;
    }
  }

  &.product-card-single {
    .top.top-single {
      padding: 26px 0 11px;
      @media (max-width: @tablet) {
        padding: 0;
      }
      .search {
        .mobile-search-first-screen {
          .control-form {
            @media (max-width: @tablet) {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

}