.product-card.purchase-card {
    .product-card-body,
    .product-card-body.content-main {
      @media (max-width: @tablet) {
        padding-top: 0;
        padding-bottom: 12px;
      }
  }
    .row {
      > [class*="col-"] {
        @media (max-width: @tablet) {
          &:nth-child(1) {
            order: 2;
          }
        }
      }
    }
    .product-name {
      &.mobile {
        display: none;
        @media (max-width: @tablet) {
          display: block;
          margin-bottom: 6px;
        }
      }
    }

    .product-price {
      @media (max-width: @tablet) {
        margin-bottom: 5px;
      }
    }

    .product-title {
      @media (max-width: @tablet) {
        line-height: 22px;
        margin-bottom: 0;
      }
    }

    button {
      @media (max-width: @tablet) {
        margin-bottom: 26px;
        &.button-transparent {
          margin-top: 11px;
        }
      }
    }

    .user-bar {
      margin-top: 0;
    }


      .product-options-block:first-child {
        @media (max-width: @tablet) {
          border-top: 1px solid rgba(134, 135, 157, 0.1);
        }
      }

    .product-options-block {

      .additional-description {
        @media (max-width: @tablet) {
          padding-bottom: 8px;
          padding-top: 8px;
        }
      }

      .product-option {
        margin: 0;
        justify-content: flex-start;
        @media (max-width: @tablet) {
          flex-direction: column;
        }
        @media (max-width: @mobile) {
          margin: 0 0 5px 0;
          flex-direction: row;
        }

        .product-option__name {
          padding: 0;
          min-width: 170px;
          max-width: 170px;
          margin-right: 30px;
          @media (max-width: @tablet) {
            width: 50%;
            max-width: none;
            min-width: 0;
            margin-right: 0;
          }
        }
        .product-option__value {
          padding-left: 0;
          @media (max-width: @tablet) {
            width: 50%;
            padding: 0;
          }
        }

      }

      &.product-option--description {
        @media (max-width: @tablet) {
          flex-direction: column;
          .product-option__name {
            width: 100%;
          }

          .product-option__value {
            width: 100%;
            padding: 0;
          }
        }
      }
    }

    .block-with-user-info {
      .user-bar {
        @media (max-width: @tablet) {
          display: flex;
          padding: 6px 0 12px 0;
        }
      }
      > div:first-child {
        border-bottom: 1px solid rgba(134, 135, 157, 0.1);
      }
    }

    .advertise__compliance {
      @media (max-width: @tablet) {
        display: none;
      }
    }
}