main.shop-about-page {

  .row {
    margin: 0 -15px;
    width: auto;
    flex-flow: row nowrap;
    @media (max-width: @mobile) {
      flex-flow: row wrap;
      margin: 0 -10px;
    }
  }

  .specific-user-info {
    .specific-user-info-block {
      .specific-user-contacts {
        .specific-user-phone {
          margin-bottom: 7px;
        }
      }
    }
  }

  section.content {
    section.content-main {
      padding: 37px 0;
      @media (max-width: @mobile) {
        padding: 10px 0;
      }
    }
  }
  .shop-details-wrap {
    .shop-details-col:first-child {
      @media (max-width: @mobile) {
        margin-bottom: 10px;
      }
    }
  }
  .shop-details__item {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    .shop-details__item__label {
      font-weight: 600;
      line-height: 20px;
    }
    .shop-details__item__text {
      line-height: 20px;
    }
  }

  //Если пользователю доступны настройки вида магазина
  &.shop-view-settings {
    .specific-user-info {
      background: url("../../img/example/shops-bg.png") no-repeat;
      background-size: cover;
      .specific-user-info-block {
        align-items: center;
        padding: 34px 0;
        @media (max-width: @tablet) {
          background-color: transparent;
          padding: 20px 0;
        }

        .specific-user-avatar {
          align-items: center;
          @media (max-width: @mobile) {
            margin-bottom: 0;
          }
          @media (max-width: @small) {
            margin-bottom: 12px;
          }
          .AvatarWithBorder {
            @media (max-width: @mobile) {
              display: none;
            }
            .AvatarWithBorder-Container {
              box-shadow: 0 0 30px #ffffff;
            }
          }
          .user-statistic-info-wrap {
            padding: 10px 0;
            min-height: 159px;
            flex-grow: 1;
            background: rgba(255, 255, 255, 0.8);
            border-radius: @border-radius;
            @media (max-width: @small) {
              min-height: 0;
            }
          }
          .user-statistic-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            @media (max-width: @mobile) {
              padding: 0 15px;
            }
            .user-statistic {
              @media (max-width: @tablet) {
                display: block;
              }
            }
          }
        }
        .specific-user-contacts {
          padding: 0 15px;
          @media (max-width: @tablet) {
            padding: 0 15px;
          }
          @media (max-width: @mobile) {
            padding: 0 10px;
          }
          .specific-user-contacts-wrap {
            min-height: 159px;
            max-width: 570px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            //padding: 34.5px 15px;
            padding: 10px 15px;
            background: rgba(255, 255, 255, 0.8);
            border-radius: @border-radius;
            @media (max-width: @desktop) {
              max-width: 450px;
            }
            @media (max-width: @small) {
              min-height: 0;
              padding: 10px;
              max-width: none;
            }
          }
        }
      }
    }
  }
}