main.shop-card-page {

  .specific-user-info {
    background: #ffffff;
  }
  .specific-user-info-block {
    @media (max-width: @mobile) {
      padding: 15px 0 0 0;
    }
    .specific-user-avatar {
      align-items: flex-start;
      @media (max-width: @mobile) {
       margin-bottom: 12px;
        align-items: center;
      }
    }
    .user-statistic-info {
      padding: 0 15px;
      @media (max-width: @mobile) {
        padding: 0;
      }
      .user-statistic {
        margin-top: 0;
        .user-statistic-row {
          justify-content: flex-start;
        }
      }
    }
    .user-bar-name {
      font-size: 28px;
      line-height: 40px;
      padding-bottom: 0;
      margin-bottom: 6px;
      @media (max-width: @mobile) {
        font-size: 24px;
        margin-bottom: 0;
      }
    }

    .manufacturer-info {
      display: flex;
      flex-direction: column;
      margin-top: 6px;
      .link-inline {
        font-size: 14px;
        line-height: 21px;
        margin-right: 6px;
      }
      .value {
        display: flex;
        align-items: center;
        .status-manufacturer {
          flex-direction: row-reverse;
          justify-content: flex-end;
        }
      }
    }
  }

  section.content {
    .content-header {
      padding-top: 0;
      padding-bottom: 0;
      .tab {
        .tab__title {
          width: 100%;
          padding-left: 0;
          padding-right: 0;
          &:after {
            left: 0;
            right: 0;
          }
        }
      }
      .control-form {
        margin-bottom: 0;
      }
    }

    section.content-main {
      padding: 26px 0;
      @media (max-width: @mobile) {
        padding: 10px 0;
      }
    }
    @import (multiple) '../atoms/categories-list';
    .categories-list {
      margin-bottom: 22px;
      @media (max-width: @mobile) {
        margin-bottom: 15px;
      }
      li {
        display: inline-block;
        margin-right: 26.5px;
        @media (max-width: @mobile) {
          margin-right: 10px;
        }
        &:before {
          left: 1px;
        }
        &:after {
          content: '';
          display: inline-block;
          position: absolute;
          left: 7px;
          bottom: 5px;
          width: calc(~'100% - 7px');
          height: 1px;
          background-color: @text-color;
        }
        &:hover {
          &:after {
            display: none;
          }
        }
        &:first-child {
          margin-top: 0;
        }
        a {
          font-size: 14px;
        }
      }
    }

    .catalog {
      .catalog-item {
        .catalog-item-info {
          //margin-top: 19px;
        }
      }
    }
  }
}