main.shops-page {
  padding-bottom: 80px;
  @media (max-width: @mobile) {
    padding-bottom: 12px;
  }
  section.content {
    .content-header {
      padding-top: 23px;
      padding-bottom: 10px;
      .control-form {
        margin-bottom: 16px;
      }
    }
  }

  @import (multiple) '../organisms/list-shops';

  .button-row {
      display: flex;
      justify-content: center;
      .button-transparent-with-stroke {
        margin-top: 24px;
        @media (max-width: @mobile) {
          margin-top: 12px;
        }
      }
  }
}