main.user-product-list-page {
  section.top {
    .user-product-list-info {

    }
  }

  section.content {
    .content-header {
      padding-top: 0;
      padding-bottom: 0;
      @media (max-width: @tablet) {
      box-shadow: none;
      }
      @media (max-width: @tablet) {
        display: block;
      }
      .row {
        margin: 0 -15px;
        align-items: center;
        @media (max-width: @small) {
          margin: 0 -10px;
        }
        [class^=col-xs-small-4] {
          @media (max-width: @small) {
            margin-bottom: 12px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

      .row.wrap-flex {
        @media (max-width: @tablet) {
          flex-flow: row wrap;
        }
      }

      .col-empty {
        @media (max-width: @tablet) {
          display: none;
        }
      }

      .tabs-container {
        display: flex;
        padding: 0;
        @media (max-width: @tablet) {
          box-shadow: 0 0 10px rgba(32, 73, 146, 0.2);
          margin-bottom: 11px;
        }
      }

      @import (multiple) "../molecules/tab";
      .tab {
        @media (max-width: @tablet) {
         // display: none;
        }
        .tab__title {
          width: 100%;
          justify-content: center;
          padding-left: 0;
          padding-right: 0;
          @media (max-width: @tablet) {
            padding: 13.5px 0;
          }
          &:after {
            left: 0;
            right: 0;
          }
        }
      }

      @import (multiple) "../molecules/control-form";
      .control-form {
        margin-bottom: 0;
      }

      .mode-view-block {
        @media (max-width: @tablet) {
          display: none;
        }
      }
    }
    .content-main {
      @media (max-width: @mobile) {
       padding: 12px 0;
      }
    }
  }

  #TableUsersProducts,
  #TableUsersPurchases {
    .content-main {
      position: relative;
    }
    .Preloader {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 11;
      .Preloader__container {
        @media (max-width: @tablet) {
          top: 3px;
          left: 0;
          transform: none;
        }
      }
    }
    .page-message-container {
      min-height: 0;
      margin: auto;
      flex-direction: column;
      align-items: center;
      padding-top: 0;
    }
    .button-row {
      @media (max-width: @mobile) {
        //display: none
      }
    }
  }

  #TableUsersProducts {
    .col-product:first-child {
      @media (max-width: @mobile) {
        padding-top: 0;
      }
    }
  }
}