{% extends 'twig/layout/application' %}
{#
    confirmForm - form
#}
{% do headTitle('Подтверждение Email') %}
{% block content %}
    <section class="auth-form">
        <div class="row">
            <div class="col-10 auth-form-main">
                <div class="auth-form-main-container">
                    <h1>Подтверждение Email</h1>
                    <form id="email-confirm-form" action="{{ url('email/confirm') | trim}}" method="post"
                          data-start="{{ token_created_date }}" data-period="{{ email_confirmation_token_request_period }}">
                        {% if is_email_token_expired is same as(false) %}
                        <div class="control-form">
                            <p class="PageForm-Notification">На Ваш почтовый ящик отправлено сообщение, содержащее ссылку для подтверждения правильности e-mail адреса. Пожалуйста, перейдите по ссылке для завершения подписки.</p>
                            <p class="PageForm-Notification">Если письмо не пришло в течение 15 минут, проверьте папку «Спам». Если письмо вдруг попало в эту папку, откройте письмо, нажмите кнопку «Не спам» и перейдите по ссылке подтверждения. Если же письма нет и в папке «Спам», попробуйте подписаться ещё раз. Возможно, вы ошиблись при вводе адреса.</p>
                        </div>
                        <div class="control-form">
                            <input type="text" name="confirmation_token" id="inputLogin" placeholder="Введите код">
                        </div>
                        <div class="FormError" style="text-align: left">
                            {{ formElement(confirmForm.get('csrf'))|raw }}
                            {{ formElementErrors(confirmForm.get('csrf'))|raw }}
                        </div>
                        <div class="control-form">
                            <button type="submit" class="button-purple">Подтвердить</button>
                        </div>
                        {% elseif is_email_token_expired %}
                        <div class="control-form">
                            <p class="TextImportant no-mt">Код подтверждения устарел, его необходимо получить повторно.</p>
                        </div>
                        {% else %}
                        <div class="control-form">
                            <p class="TextImportant no-mt">Код для подтверждения отсутствует. Нажмите получить повторно.</p>
                        </div>
                        {% endif %}
                        <div class="control-form">
                            <a href="{{ url('email/resend') | trim}}" class="button-blue">Получить повторно</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}