{% extends 'twig/layout/application' %}

{% do headTitle('Редактирование e-mail') %}
{% block content %}
    <section class="auth-form">
        <div class="row">
            <div class="col-8 auth-form-main">
                <div class="auth-form-main-container">
                    <h1>Редактирование e-mail</h1>
                    <form method="POST" enctype="multipart/form-data" id="email-edit-form" data-start="{{ token_created_date }}" data-period="{{ email_confirmation_token_request_period }}">
                        {{ formElement(formEmail.get('current_email'))|raw }}
                        {{ formElementErrors(formEmail.get('current_email'))|raw }}
                        <div class="control-form">
                            <input name="new_email" id="email" placeholder="Введите новый email"
                                   value="{{ formEmail.get('new_email').getValue()}}" type="text">
                            {{ formElementErrors(formEmail.get('new_email'))|raw }}
                        </div>
                        <div class="FormError" style="text-align: left">
                            {{ formElement(formEmail.get('csrf'))|raw }}
                            {{ formElementErrors(formEmail.get('csrf'))|raw }}
                        </div>
                        <button type="submit" class="button-purple">Изменить</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}