{% import 'macro/pageHelper.twig' as pageHelper %}

<div class="row shops-item">
    <div class="col-2 col-desk-2 col-tablet-2 col-mobile-8 shops-item-logo">
        <div class="AvatarWithBorder">
            <div class="AvatarWithBorder-Container">
                {% if shop['logo'] is not null %}
                    <img src="{{ resizer(shop['logo']['path']).resize(140, 140) }}" alt="">
                {% else %}
                    <img src="{{ resizer("/img/no-photo.png").resize(140, 140) }}" alt="">
                {% endif %}
            </div>
        </div>
        <div class="shops-item-name mobile">
            <a href="{{ shop['urls']['single_shop_public'] | trim }}" title="{{ shop['name'] }}">{{ shop['name'] }}</a>
        </div>
    </div>
    <div class="col-10 col-desk-10 col-tablet-6 col-mobile-8">
        <div class="shops-item-content">
            <div class="shops-item-name">
                <a href="{{ shop['urls']['single_shop_public'] | trim }}" title="{{ shop['name'] }}">{{ shop['name'] }}</a>
            </div>
            {% if shop['sub_categories'] | length > 0 %}
                <ul class="categories-list">
                {% for sub_category in shop['sub_categories'] %}
                    <li class="subcategory-item">
                        <a href="{{ sub_category['url'] | trim }}">{{ sub_category['name'] | trim }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            <div class="shops-item-description">{{ shop['description'] | raw }}</div>
        </div>
    </div>
</div>