<div class="block_create_purchase">
    <div class="block_create_purchase_icon"></div>
    <div class="block_create_purchase_text">Хотите купить товары оптом? Разместите объявление о закупке и поставщики сами сделают вам предложения.</div>
    <button type="button" class="button-purple create_purchase_button" onclick="window.location = '/purchase/create'">Добавить объявление о закупке</button>
</div>