<section class="search" id="main-search-block">
    <div>
        <div class="row mobile-search-first-screen">
            <div class="col-tablet-8">
                <div class="control-form">
                    <input class="input-search" type="search" value="">
                    <a class="icon-filter js-mobile-button-filter" href="#">&nbsp;</a>
                </div>
            </div>
        </div>
        <div class="search-main-block js-mobile-main-filter">
            <div class="row search-main-block">
                <div class="header-of-element">
                    <span class="button-close-white js-mobile-button-close-filter open">&nbsp;</span>
                    <h1>Расширенный поиск</h1>
                </div>
                <div class="row search-main-block-filter-wrap search-main-block-desktop">
                    <div class="col-4 col-tablet-4 col-mobile-8 col-small-4">
                        <div class="control-form">
                            <div class="suggest-field">
                                <input
                                        type="text"
                                        class="suggest-input"
                                        value=""
                                        placeholder="Поиск по объявлениям"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-tablet-4 col-mobile-8 col-small-4 search-select">
                        <div class="control-form">
                            <div>
                                <div class="SelectImitation">
                                    <div class="SelectImitation-Container">
                                        <label class="label-text">Категория:</label>
                                        <div class="SelectImitation-Text">Во всех категориях</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 col-tablet-4 col-mobile-8 col-small-4 search-select">
                        <div class="control-form">
                            <div>
                                <div class="SelectImitation">
                                    <div class="SelectImitation-Container">
                                        <label class="label-text">Подкатегория:</label>
                                        <div class="SelectImitation-Text">Во всех подкатегориях</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 col-tablet-4 col-mobile-8 col-small-4 search-button">
                        <button class="button-blue" type="button">Найти</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
