<ul class="navigation-chain">
    {% for item in breadcrumbs %}
        <li>
            <a href="{{ item.url }}">{{ item.name }}</a>
        </li>
        {% if not loop.last %}
        <li>
            /
        </li>
        {% endif %}
    {% endfor %}
</ul>