{% set categories = [
    {
        'category': 'Транспорт',
        'slug': 'transport',
        'subcategory': [
        {
            'name': 'Легковые автомобили',
            'url': '/purchase/rossiia/transport/legkovye_avtomobili'
        },
        {
            'name': 'Грузовики и спецтехника',
            'url': '/purchase/rossiia/transport/gruzoviki_i_spetstekhnika'
        },
        {
            'name': 'Мотоциклы и мототехника',
            'url': '/purchase/rossiia/transport/mototsikly_i_mototekhnika'
        },
        {
            'name': 'Водный транспорт',
            'url': '/purchase/rossiia/transport/vodnyi_transport'
        },
        {
            'name': 'Запчасти и аксессуары',
            'url': '/purchase/rossiia/transport/zapchasti_i_aksessuary'
        },
        {
            'name': 'Шины, диски и колеса',
            'url': '/purchase/rossiia/transport/shiny_diski_i_koliosa'
        }
    ]
    },
    {
        'category': 'Промтовары',
        'slug': 'promtovary',
        'subcategory': [
        {
            'name': 'Пиломатериалы',
            'url': '/purchase/rossiia/promtovary/pilomaterialy'
        },
        {
            'name': 'Кирпичи',
            'url': '/purchase/rossiia/promtovary/kirpichi'
        }
    ]
    },
    {
        'category': 'Недвижимость',
        'slug': 'nedvizhimost',
        'subcategory': [
        {
            'name': 'Новостройки',
            'url': '/purchase/rossiia/nedvizhimost/novostroiki'
        },
        {
            'name': 'Вторичное жилье',
            'url': '/purchase/rossiia/nedvizhimost/vtorichnoe_zhile'
        },
        {
            'name': 'Дома, дачи, коттеджи',
            'url': '/purchase/rossiia/nedvizhimost/doma_dachi_kottedzhi'
        },
        {
            'name': 'Земельные участки',
            'url': '/purchase/rossiia/nedvizhimost/zemelnye_uchastki'
        },
        {
            'name': 'Гаражи и машиноместа',
            'url': '/purchase/rossiia/nedvizhimost/garazhi_i_mashinomesta'
        },
        {
            'name': 'Коммерческая недвижимость',
            'url': '/purchase/rossiia/nedvizhimost/kommercheskaia_nedvizhimost'
        },
        {
            'name': 'Недвижимость за рубежом',
            'url': '/purchase/rossiia/nedvizhimost/nedvizhimost_za_rubezhom'
        }
    ]
    },
    {
        'category': 'Услуги',
        'slug': 'uslugi',
        'subcategory': [
        {
            'name': 'Аренда спецтехники',
            'url': '/purchase/rossiia/uslugi/arenda_spetstekhniki'
        },
        {
            'name': 'Ремонт, строительство',
            'url': '/purchase/rossiia/uslugi/remont_stroitelstvo'
        }
    ]
    },
    {
        'category': 'Одежда',
        'slug': 'odezhda',
        'subcategory': [
        {
            'name': 'Нижнее белье',
            'url': '/purchase/rossiia/odezhda/nizhnee_bele'
        },
        {
            'name': 'Верхняя одежда',
            'url': '/purchase/rossiia/odezhda/verkhniaia_odezhda'
        },
        {
            'name': 'Обувь',
            'url': '/purchase/rossiia/odezhda/obuv'
        },
        {
            'name': 'Детская одежда и обувь',
            'url': '/purchase/rossiia/odezhda/detskaia_odezhda_i_obuv'
        },
        {
            'name': 'Аксессуары',
            'url': '/purchase/rossiia/odezhda/aksessuary'
        }
    ]
    },
    {
        'category': 'Товары для дома',
        'slug': 'tovary_dlia_doma',
        'subcategory': [
        {
            'name': 'Мебель и интерьер',
            'url': '/purchase/rossiia/tovary_dlia_doma/mebel_i_interer'
        },
        {
            'name': 'Посуда и товары для кухни',
            'url': '/purchase/rossiia/tovary_dlia_doma/posuda_i_tovary_dlia_kukhni'
        },
        {
            'name': 'Продукты питания',
            'url': '/purchase/rossiia/tovary_dlia_doma/produkty_pitaniia'
        },
        {
            'name': 'Растения',
            'url': '/purchase/rossiia/tovary_dlia_doma/rasteniia'
        },
        {
            'name': 'Бытовая химия',
            'url': '/purchase/rossiia/tovary_dlia_doma/bytovaia_khimiia'
        },
        {
            'name': 'Детские коляски',
            'url': '/purchase/rossiia/tovary_dlia_doma/detskie_koliaski'
        }
    ]
    },
    {
        'category': 'Бытовая электроника',
        'slug': 'bytovaia_elektronika',
        'subcategory': [
        {
            'name': 'Мобильные телефоны',
            'url': '/purchase/rossiia/bytovaia_elektronika/mobilnye_telefony'
        },
        {
            'name': 'Ноутбуки',
            'url': '/purchase/rossiia/bytovaia_elektronika/noutbuki'
        },
        {
            'name': 'Настольные компьютеры',
            'url': '/purchase/rossiia/bytovaia_elektronika/nastolnye_kompiutery'
        },
        {
            'name': 'Телевизоры',
            'url': '/purchase/rossiia/bytovaia_elektronika/televizory'
        },
        {
            'name': 'Планшеты и электронные книги',
            'url': '/purchase/rossiia/bytovaia_elektronika/planshety_i_elektronnye_knigi'
        },
        {
            'name': 'Аудио и видео',
            'url': '/purchase/rossiia/bytovaia_elektronika/audio_i_video'
        },
        {
            'name': 'Стиральные машины',
            'url': '/purchase/rossiia/bytovaia_elektronika/stiralnye_mashiny'
        },
        {
            'name': 'Оргтехника и расходники',
            'url': '/purchase/rossiia/bytovaia_elektronika/orgtekhnika_i_raskhodniki'
        },
        {
            'name': 'Товары для компьютера',
            'url': '/purchase/rossiia/bytovaia_elektronika/tovary_dlia_kompiutera'
        },
        {
            'name': 'Фототехника',
            'url': '/purchase/rossiia/bytovaia_elektronika/fototekhnika'
        },
        {
            'name': 'Игры, приставки и программы',
            'url': '/purchase/rossiia/bytovaia_elektronika/igry_pristavki_i_programmy'
        },
    ]
    },
    {
        'category': 'Хобби и отдых',
        'slug': 'khobbi_i_otdykh',
        'subcategory': [
        {
            'name': 'Билеты и путешествия',
            'url': '/purchase/rossiia/khobbi_i_otdykh/bilety_i_puteshestviia'
        },
        {
            'name': 'Велосипеды',
            'url': '/purchase/rossiia/khobbi_i_otdykh/velosipedy'
        },
        {
            'name': 'Коллекционирование',
            'url': '/purchase/rossiia/khobbi_i_otdykh/kollektsionirovanie'
        },
        {
            'name': 'Музыкальные инструменты',
            'url': '/purchase/rossiia/khobbi_i_otdykh/muzykalnye_instrumenty'
        },
        {
            'name': 'Охота и рыбалка',
            'url': '/purchase/rossiia/khobbi_i_otdykh/okhota_i_rybalka'
        },
        {
            'name': 'Спорт и отдых',
            'url': '/purchase/rossiia/khobbi_i_otdykh/sport_i_otdykh'
        },
        {
            'name': 'Сделай сам (Рукоделие)',
            'url': '/purchase/rossiia/khobbi_i_otdykh/sdelai_sam_rukodelie'
        }
    ]
    },
    {
        'category': 'Животные',
        'slug': 'zhivotnye',
        'subcategory': [
        {
            'name': 'Собаки',
            'url': '/purchase/rossiia/zhivotnye/sobaki'
        },
        {
            'name': 'Кошки',
            'url': '/purchase/rossiia/zhivotnye/koshki'
        },
        {
            'name': 'Птицы',
            'url': '/purchase/rossiia/zhivotnye/ptitsy'
        },
        {
            'name': 'Аквариум',
            'url': '/purchase/rossiia/zhivotnye/akvarium'
        },
        {
            'name': 'Другие животные',
            'url': '/purchase/rossiia/zhivotnye/drugie_zhivotnye'
        },
        {
            'name': 'Товары для животных',
            'url': '/purchase/rossiia/zhivotnye/tovary_dlia_zhivotnykh'
        }
    ]
    },
    {
        'category': 'Для бизнеса',
        'slug': 'dlia_biznesa',
        'subcategory': [
        {
            'name': 'Готовый бизнес',
            'url': '/purchase/rossiia/dlia_biznesa/gotovyi_biznes'
        },
        {
            'name': 'Оборудование для бизнеса',
            'url': '/purchase/rossiia/dlia_biznesa/oborudovanie_dlia_biznesa'
        }
    ]
    }
] %}

{#<div class="categories-menu-wrapper">#}
    {#<div class="categories-menu-item">#}
        {#<div class="row categories-container">#}
            {#<div class="categories-slider">#}
                {#<div class="categories-slider-wrapper">#}
                    {#{% for category in categories %}#}
                        {#<div class="col-2 col-desktop-12 col-tablet-8 col-small-4 category-item">#}
                            {#<div class="categories-item spoiler">#}
                                {#<h2 class="categories-name personal-things spoiler-toggle {{ category['slug'] }}">#}
                                    {#<a class="category-name-link" href="/purchase/rossiia/{{ category['slug'] }}">#}
                                        {#<span class="category-name-link__item">{{ category['category'] }}</span>#}
                                    {#</a>#}
                                {#</h2>#}
                                {#<ul class="categories-list spoiler-hidden">#}
                                    {#{% for subcategory in category['subcategory'] %}#}
                                        {#<li class="subcategory-item"><a href="{{ subcategory['url'] }}" class="subcategory-link" title="{{ subcategory['name'] }}">{{ subcategory['name'] }}</a></li>#}
                                    {#{% endfor %}#}
                                {#</ul>#}
                            {#</div>#}
                        {#</div>#}
                    {#{% endfor %}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<a href="#" class="horizontal-control horizontal-control-left" id="prev"></a>#}
        {#<a href="#" class="horizontal-control horizontal-control-right" id="next"></a>#}
    {#</div>#}
{#</div>#}

<div class="categories-menu-wrapper js-slider-toggle">
    <div class="categories-menu-item">
        <div class="row categories-container">
            <div class="categories-slider">
                {% for category in categories %}

                    {# Обертка для того чтобы располагать по 5 итемов в линюю #}
                    {% if loop.index % 5 == 1 and not loop.first %}
                        </div> {# end of categories-slider_row #}
                    {% endif %}
                    {% if loop.index % 5 == 1 %}
                        <div class="categories-slider_row js-slider-toggle-row">
                    {% endif %}
                    {# Здесь магия заканчивается, еще небольшой кусочек в конце блока #}

                    <div class="categories-slider__item col-2 col-desktop-12 col-tablet-8 col-small-4 category-item">
                        <div class="categories-item spoiler js-slider-toggle-item-container">
                            <h2 class="categories-name personal-things spoiler-toggle {{ category['slug'] }}">
                                <a class="category-name-link js-slider-toggle-link" href="/purchase/rossiia/{{ category['slug'] }}">
                                    <span class="category-name-link__item">{{ category['category'] }}</span>
                                </a>
                            </h2>
                            <ul class="categories-list spoiler-hidden js-slider-toggle-sub_items">
                                {% for subcategory in category['subcategory'] %}
                                    <li class="subcategory-item"><a href="{{ subcategory['url'] }}" class="subcategory-link" title="{{ subcategory['name'] }}">{{ subcategory['name'] }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    {# Обертка для того чтобы располагать по 5 итемов в линюю, закрытие #}
                    {% if loop.last %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

