<div class="form-title">
    Пожалуйста опишите ваши действия предшествовавшие появлению этого экрана.<br/> Мы постараемся как можно скорее разобраться
</div>
<div class="form-default">
    {{ form().openTag(errorReportForm) | raw }}
    <div class="control-form">
        <div class="label-text">{{ formLabel(errorReportForm.get('email')) | raw }}</div>
        <div class="form-input">{{ formElement(errorReportForm.get('email')) | raw }}</div>
        {% if formElementErrors(errorReportForm.get('email')) | length  %}
            <div class="form-field">
                <div class="form-alert bs-callout-danger center-align">
                    <div class="form-alert__text">
                        {{ formElementErrors(errorReportForm.get('email')) | raw }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="control-form">
        <div class="label-text">{{ formLabel(errorReportForm.get('error_report')) | raw }}</div>
        <div class="form-input">{{ formElement(errorReportForm.get('error_report')) | raw }}</div>
        {% if formElementErrors(errorReportForm.get('error_report')) | length  %}
            <div class="control-form">
                <div class="form-alert bs-callout-danger center-align">
                    <div class="form-alert__text">
                        {{ formElementErrors(errorReportForm.get('error_report')) | raw }}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="control-form">
        <div>
            {{ formElement(errorReportForm.get('error_message')) | raw }}
            {{ formElement(errorReportForm.get('csrf')) | raw }}
        </div>
        <div>{{ formElementErrors(errorReportForm.get('csrf')) | raw }}</div>
    </div>
    <div>
        <button type="submit" class="button-blue button-action button-action_type-filed_color-blue button-action_type-filed">Отправить</button>
    </div>
    {{ form().closeTag() | raw }}
</div>

