<footer>
    <div class="mobile-city-control">
        <div class="slidedown-link">
            <a href="#" class="slidedown-link__text" data-slide-for="all-cities">Регионы</a>
        </div>
    </div>

    <div class="footer__cities-wrapper" data-slide="all-cities">
        <div class="main-cities">
            <div class="row">
                <div class="col-10 col-tablet-8 col-tablet-offset-0 col-offset-1 col-tablet-offset-0">
                    <div class="cities-list">
                        <div><a href="{{ url_helper().catalog_city_url('moscow') | trim }}">Москва</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('saint_petersburg') | trim }}">Санкт-Петербург</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('vladimir') | trim }}">Владимир</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('volgograd') | trim }}">Волгоград</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('voronezh') | trim }}">Воронеж</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('ekaterinburg') | trim }}">Екатеринбург</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('ivanovo') | trim }}">Иваново</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('kazan') | trim }}">Казань</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('kaluga') | trim }}">Калуга</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('kostroma') | trim }}">Кострома</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('krasnodar') | trim }}">Краснодар</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('krasnoiarsk') | trim }}">Красноярск</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('nizhnii_novgorod') | trim }}">Нижний Новгород</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('novosibirsk') | trim }}">Новосибирск</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('omsk') | trim }}">Омск</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('perm') | trim }}">Пермь</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('rostov_na_donu') | trim }}">Ростов-на-Дону</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('samara') | trim }}">Самара</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('saratov') | trim }}">Саратов</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('tver') | trim }}">Тверь</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('tula') | trim }}">Тула</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('ufa') | trim }}">Уфа</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('cheliabinsk') | trim }}">Челябинск</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('iaroslavl') | trim }}">Ярославль</a></div>
                    </div>
                    <div class="slidedown-link">
                        <a href="#" class="slidedown-link__text" data-slide-for="another-cities">
                            Другие регионы
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="another-cities" data-slide="another-cities">
            <div class="row">
                <div class="col-10 col-tablet-8 col-tablet-offset-0 col-offset-1 col-tablet-offset-0">
                    <div class="cities-list">
                        <div><a href="{{ url_helper().catalog_city_url('altaiskii_krai') | trim }}">Алтайский край</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('amurskaia_oblast') | trim }}">Амурская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('arkhangelskaia_oblast') | trim }}">Архангельская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('astrakhanskaia_oblast') | trim }}">Астраханская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('belgorodskaia_oblast') | trim }}">Белгородская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('brianskaia_oblast') | trim }}">Брянская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('vladimirskaia_oblast') | trim }}">Владимирская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('volgogradskaia_oblast') | trim }}">Волгоградская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('vologodskaia_oblast') | trim }}">Вологодская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('voronezhskaia_oblast') | trim }}">Воронежская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('evreiskaia_ao') | trim }}">Еврейская автономная обл.</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('zabaikalskii_krai') | trim }}">Забайкальский край</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('ivanovskaia_oblast') | trim }}">Ивановская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('irkutskaia_oblast') | trim }}">Иркутская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('kabardino_balkariia') | trim }}">Кабардино-Балкарская</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('kaliningradskaia_oblast') | trim }}">Калининградская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('kaluzhskaia_oblast') | trim }}">Калужская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('kamchatskii_krai') | trim }}">Камчатский край</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('karachaevo_cherkesiia') | trim }}">Карачаево-Черкесская</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('kemerovskaia_oblast') | trim }}">Кемеровская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('kirovskaia_oblast') | trim }}">Кировская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('kostromskaia_oblast') | trim }}">Костромская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('vladimir') | trim }}">Краснодарский край</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('krasnoiarskii_krai') | trim }}">Красноярский край</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('kurganskaia_oblast') | trim }}">Курганская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('kurskaia_oblast') | trim }}">Курская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('lipetskaia_oblast') | trim }}">Липецкая область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('magadanskaia_oblast') | trim }}">Магаданская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('moskovskaia_oblast') | trim }}">Московская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('murmanskaia_oblast') | trim }}">Мурманская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('nenetskii_ao') | trim }}">Ненецкий автономный округ</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('nizhegorodskaia_oblast') | trim }}">Нижегородская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('novgorodskaia_oblast') | trim }}">Новгородская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('novosibirskaia_oblast') | trim }}">Новосибирская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('orenburgskaia_oblast') | trim }}">Оренбургская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('orlovskaia_oblast') | trim }}">Орловская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('penzenskaia_oblast') | trim }}">Пензенская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('permskii_krai') | trim }}">Пермский край</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('primorskii_krai') | trim }}">Приморский край</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('pskovskaia_oblast') | trim }}">Псковская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('adygeia') | trim }}">Республика Адыгея</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('respublika_altai') | trim }}">Республика Алтай</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('bashkortostan') | trim }}">Республика Башкортостан</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('buriatiia') | trim }}">Республика Бурятия</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('dagestan') | trim }}">Республика Дагестан</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('ingushetiia') | trim }}">Республика Ингушетия</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('kalmykiia') | trim }}">Республика Калмыкия</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('kareliia') | trim }}">Республика Карелия</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('komi') | trim }}">Республика Коми</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('krym') | trim }}">Республика Крым</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('marii_el') | trim }}">Республика Марий Эл</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('mordoviia') | trim }}">Республика Мордовия</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('sakha_iakutiia') | trim }}">Республика Саха (Якутия)</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('severnaia_osetiia') | trim }}">Республика Северная Осетия — Алания</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('tatarstan') | trim }}">Республика Татарстан</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('tyva') | trim }}">Республика Тыва</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('khakasiia') | trim }}">Республика Хакасия</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('rostovskaia_oblast') | trim }}">Ростовская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('riazanskaia_oblast') | trim }}">Рязанская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('samarskaia_oblast') | trim }}">Самарская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('leningradskaia_oblast') | trim }}">Ленинградская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('saratovskaia_oblast') | trim }}">Саратовская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('sakhalinskaia_oblast') | trim }}">Сахалинская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('sverdlovskaia_oblast') | trim }}">Свердловская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('smolenskaia_oblast') | trim }}">Смоленская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('stavropolskii_krai') | trim }}">Ставропольский край</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('tambovskaia_oblast') | trim }}">Тамбовская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('tverskaia_oblast') | trim }}">Тверская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('tomskaia_oblast') | trim }}">Томская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('tulskaia_oblast') | trim }}">Тульская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('tiumenskaia_oblast') | trim }}">Тюменская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('udmurtiia') | trim }}">Удмуртская Республика</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('ulianovskaia_oblast') | trim }}">Ульяновская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('khabarovskii_krai') | trim }}">Хабаровский край</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('khanty_mansiiskii_ao') | trim }}">Ханты-Мансийский автономный округ - Югра</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('cheliabinskaia_oblast') | trim }}">Челябинская область</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('chechenskaia_respublika') | trim }}">Чеченская Республика</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('chuvashiia') | trim }}">Чувашская Республика</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('chukotskii_ao') | trim }}">Чукотский автономный округ</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('iamalo_nenetskii_ao') | trim }}">Ямало-Ненецкий автономный округ</a></div>
                        <div><a href="{{ url_helper().catalog_city_url('iaroslavskaia_oblast') | trim }}">Ярославская область</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line-hr"></div>
    <div class="row">
        <div class="col-6 col-tablet-4 col-mobile-4 contacts">
            <div class="row inner_row">
                <div class="col-2 col-tablet-2 col-mobile-8">
                    <span>MOBILE:</span>
                </div>
                <div class="col-4 col-tablet-6 col-mobile-8">
                    <a href="tel:+78005057535">+7 (800) 505 - 75 - 35</a>
                </div>
                <div class="col-2 col-tablet-2 col-mobile-8">
                    <span>EMAIL:</span>
                </div>
                <div class="col-4 col-tablet-6 col-mobile-8">
                    <a href="mailto:SALE@LUNA.LIVE">SALE@LUNA.LIVE</a>
                </div>
            </div>
        </div>
        <div class="col-2 col-tablet-2 col-offset-4 col-tablet-offset-2 col-mobile-8 col-mobile-offset-0 copyright-wrapper">
            <p class="copyright">Copyright 2018</p>
        </div>
        <div class="col-4 col-tablet-4 col-mobile-4 footer-menu">
            <a href="#"><span>ОТЗЫВЫ</span></a>
            <a href="#"><span>ПРАВИЛА</span></a>
            <a href="#"><span>ПОМОЩЬ</span></a>
            <a href="#"><span>КОНТАКТЫ</span></a>
        </div>
        <div class="col-2 col-tablet-2 col-mobile-8 col-offset-6 col-tablet-offset-2 col-mobile-offset-0 social-links-wrapper">
            <div class="social-links">
                <span class="icon-social">
                    <img src="/img/icon-social/ok.svg" alt="">
                </span>
                <span class="icon-social">
                    <img src="/img/icon-social/youtube.svg" alt="">
                </span>
                <span class="icon-social">
                    <img src="/img/icon-social/facebook.svg" alt="">
                </span>
                <span class="icon-social">
                    <img src="/img/icon-social/insta.svg" alt="">
                </span>
                <span class="icon-social">
                    <img src="/img/icon-social/vk.svg" alt="">
                </span>
            </div>
        </div>
        <div class="col-12 footer-logo">
            <a href="/" class="logo"></a>
        </div>
    </div>
</footer>