{% import 'macro/pageHelper.twig' as pageHelper %}

{% if identity == null %}
    {% set popupLoginForm = userHelper().getLoginForm() %}
    {% set popupRegistrationForm = userHelper().getRegistrationForm() %}
    <div class="popup-container js-popup-container-auth">
        <div class="popup popup-auth" id="auth-form">
            <div class="auth-form">
                <div class="row js-popup-content">
                    <div class="col-6 auth-form-main">
                        <div class="auth-form-main-container">
                            <h1>Войти в систему</h1>
                            {{ form().openTag(popupLoginForm)|raw }}
                                {{ formElement(popupLoginForm.get('csrf'))|raw }}
                                <div class="control-form">
                                    <input type="text" name="login" placeholder="Введите email или номер телефона">
                                </div>
                                <div class="control-form">
                                    <input type="password" name="password" placeholder="Введите пароль" class="password-input">
                                    <label>
                                        <input type="checkbox" class="toggle-password-input-check" value="on">
                                        <span class="toggle-password">&nbsp;</span>
                                    </label>
                                </div>
                                <div class="control-form">
                                    {{ formElement(popupLoginForm.get('captcha'))|raw }}
                                </div>
                                <div class="auth-form-password-field">
                                    <div class="control-form">
                                        <label class="form-checkbox">
                                            {{ formElement(popupLoginForm.get('remember_me'))|raw }}
                                            <span class="form-checkbox__field">&nbsp;</span>
                                            <span class="form-checkbox__label">Запомнить пароль?</span>
                                        </label>
                                    </div>
                                    <a class="link-inline" href="{{ url('forgot/password-reset') | trim }}">Забыли пароль?</a>
                                </div>
                                <button type="submit" class="button-purple">Войти</button>
                            {{ form().closeTag()|raw }}
                            <div class="social-links">
                                <a href="#" class="button-sing-in-facebook">Войти через facebook</a>
                                <a href="#" class="button-sing-in-vk">Войти через вконтакте</a>
                            </div>
                            <div class="registration-links">
                                <p>Или зарегистрируйтесь</p>
                                <a class="button-blue" href="{{ url('register') | trim }}">Регистрация</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 auth-form-img"></div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
<header>
    <div id="react-mobile-menu"></div> {# Мобильное меню с категориями #}
    <div class="row mobile-menu js-mobile-menu">
        <div class="mobile-menu-container mobile_menu_new">
            <div class="header-of-element">
                <div class="row">
                    <div class="col-12 content_col">
                        <div class="nav_button js-mobile-menu-close">
                            <div class="button-close"></div>
                        </div>
                        <div class="menu-container">
                            <div class="menu">
                                <div class="mobile_header__text" style="font-size: 16px">
                                    <span class="user-bar-name user-bar-name-mobile js-user-name-changed">{{ userHelper().getName() }}&nbsp;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="row" style="box-shadow: none;">
                <div class="col-tablet-8">
                    <div class="mobile-menu-link-container">
                        {% if identity != null %}
                            <a href="{{ url('profile') | trim  }}" class="profile">Профиль</a>
                            <a href="{{ url('profile') }}#tab-profile-product-tab" class="advertisements js-mobile-menu-close">
                                Мои объявления
                            </a>
                            <a href="{{ url('product-create') | trim  }}">+ Подать объявление</a>
                            <a href="{{ url('profile/purchase') }}#tab-profile-purchase-tab" class="advertisements js-mobile-menu-close">
                                Мои закупки
                            </a>
                            <a href="{{ url('purchase-create') | trim  }}">+ Разместить закупку</a>
                            {#<a href="#" class="advertisements_unpublished">Неопубликованые</a>#}
                            {#<a href="#" class="settings">Настройки</a>#}
                            {#<a href="#" class="reference">Справка</a>#}
                            <a href="{{ url('logout') | trim  }}" class="exit">Выход</a>
                        {% else %}
                            {#<a href="{{ urlHelper().product_root_url | trim }}" class="advertisements">Все объявления</a>#}
                            {#<a href="{{ url('product-create') | trim  }}" class="link-blue">+ Подать объявление</a>#}
                            {#<a href="{{ urlHelper().purchase_root_url | trim }}" class="advertisements_published">Все закупки</a>#}
                            {#<a href="{{ url('purchase-create') | trim  }}" class="link-blue">+ Разместить закупку</a>#}
                            {#<a href="#" class="advertisements_unpublished">Неопубликованые</a>#}
                            {#<a href="#" class="settings">Настройки</a>#}
                            {#<a href="#" class="reference">Справка</a>#}
                            {#<a href="{{ url('login') | trim  }}" class="button-white button-auth js-button-auth auth-button-image">#}
                                {#<span class="hd ht">Вход/Регистрация</span>#}
                                {#<span class="hm">Войти</span>#}
                            {#</a>#}
                        {% endif %}
                    </div>
                    {#<div class="mobile-menu-add-advertisement">#}
                        {#<a href="{{ url('product-create') | trim  }}">Подать объявление</a>#}
                        {#<a href="{{ url('purchase-create') | trim  }}">Разместить закупку</a>#}
                    {#</div>#}
                </div>
            </nav>
        </div>
        <div class="col-mobile-4"></div>
    </div>
    <div class="row header_row">
        <div class="col-tablet-2 col-small-1 burger-container">
            <div class="burger js-mobile-categories-menu">
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
            </div>
        </div>

        <div class="col-2 col-tablet-4 col-small-2 logo-container">
            <a href="/" class="logo"></a>
        </div>
        <div class="col-4 col-desk-3 menu-container">
            <ul class="menu">
                <li>
                    <a class="{{ urlHelper().is_catalog_product ? 'active' : '' }}" href="{{ urlHelper().product_root_url | trim }}">Объявления</a>
                </li>
                <li>
                    <a class="{{ urlHelper().is_catalog_purchase ? 'active' : '' }}" href="{{ urlHelper().purchase_root_url | trim }}">Закупки</a>
                </li>
                <li>
                    <a class="{{ urlHelper().is_catalog_shop ? 'active' : '' }}" href="{{ urlHelper().shop_root_url | trim }}">Магазины</a>
                </li>
            </ul>
        </div>
        <div class="col-2 col-desk-3 social_links">
            <a href="#" class="icon-social">
                <img src="/img/icon-social/ok.svg" alt="">
            </a>
            <a href="#" class="icon-social">
                <img src="/img/icon-social/youtube.svg" alt="">
            </a>
            <a href="#" class="icon-social">
                <img src="/img/icon-social/facebook.svg" alt="">
            </a>
            <a href="#" class="icon-social">
                <img src="/img/icon-social/insta.svg" alt="">
            </a>
            <a href="#" class="icon-social">
                <img src="/img/icon-social/vk.svg" alt="">
            </a>
        </div>
        <div class="col-4 button-container">
            <div class="row">
                {% if identity == null %}
                <div class="col-6 auth">
                    <a href="{{ url('login') | trim  }}" class="button-white button-auth js-button-auth">
                        <span class="hm">Вход/Регистрация</span>
                        <span class="hd ht">Войти</span>
                    </a>
                </div>
                {% endif %}
                <div class="col-6 advertisement">
                    {% if not is_operator %}
                        {#<a href="{{ url('product-create') | trim  }}" class="button-transparent button-advertisement"><span class="first-letter">Подать </span>объявление</a>#}
                        {% if urlHelper().is_catalog_product %}
                            <a href="{{ url('product-create') | trim  }}" class="button-transparent button-advertisement"><span class="first-letter">Подать </span>объявление</a>
                        {% elseif urlHelper().is_catalog_purchase %}
                            <a href="{{ url('purchase-create') | trim  }}" class="button-transparent ">Разместить закупку</a>
                        {% else %}
                            <a href="{{ url('product-create') | trim  }}" class="button-transparent button-advertisement"><span class="first-letter">Подать </span>объявление</a>
                        {% endif %}

                    {% endif %}
                </div>
                {% if identity != null %}
                    {% set user = userHelper().getCurrentUser() %}
                    {% set avatarSrc = '/img/no-avatar.png' %}
                    {% if user.getAvatar() %}
                        {% set avatarSrc = url('profile/avatar', {'fileId' : user.getAvatar().getId()}) %}
                    {% endif %}
                    <div class="col-6 col-user-info">
                        <div class="user-info">
                            <div class="user-info__nickname js-user-name-changed">{{ userHelper().getName() }}&nbsp;</div>
                            <div class="avatar-with-border">
                                <div class="avatar-with-border-photo" style="background-image: url('{{ avatarSrc }}');"></div>
                            </div>
                            <ul class="user-drop-menu">
                                <li class="user-drop-menu__item">
                                    <a href="{{ url('profile') | trim  }}" class="user-menu__link" tabindex="-1">Профиль</a>
                                </li>
                                <li class="user-drop-menu__item">
                                    <a href="{{ url('logout') | trim  }}" class="user-menu__link" tabindex="-1">Выход</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-tablet-2 col-mobile-2 col-small-1 col_mobile_menu">
            {% if identity != null %}
                {% set user = userHelper().getCurrentUser() %}
                {% set avatarSrc = '/img/no-avatar.png' %}
                {% if user.getAvatar() %}
                    {% set avatarSrc = url('profile/avatar', {'fileId' : user.getAvatar().getId()}) %}
                {% endif %}
                <div class="col-user-info">
                    <div class="user-info">
                        <div class="avatar-with-border js-burger">
                            <div class="avatar-with-border-photo" style="background-image: url('{{ avatarSrc }}');"></div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="header_login js-button-auth">
                    <span class="icon-login">&nbsp;</span>
                </div>
            {% endif %}
        </div>
    </div>
</header>
