<div class="form-delivery-details" style="display: none">
    <div class="form-popup">
        <h4 class="popup-title">Реквизиты для доставки</h4>
        <div class="control-form">
            <label class="label-text">ФИО получателя:</label>
            <input type="text" name="last_name" placeholder="Введите ФИО получателя">
        </div>

        <div class="control-form">
            <label class="label-text">Контактный телефон:</label>
            <input type="text" placeholder="+_(___)___-__-__">
        </div>

        <div class="control-form">
            <label class="label-text">Населенный пункт:</label>
            <input type="text" name="last_name" placeholder="Введите населенный пункт">
        </div>

        <div class="control-form">
            <label class="label-text">Улица, дом, квартира:</label>
            <input type="text" name="last_name" placeholder="">
        </div>
        <div class="form-popup__footer">
            <button class="button-transparent-with-stroke" type="button">Отменить</button>
            <button class="button-blue" type="submit">Добавить</button>
        </div>
    </div>
</div>

<div class="form-tie-card">
    <div class="form-popup">
        <h4 class="popup-title">Привязать карту</h4>
        <div class="card-info-security">
            Вся информация о карте кроме Secrity Code будет безопасно сохранена на сервисе.
        </div>


        <div class="control-form">
            <label class="label-text">Имя владельца карты:</label>
            <input type="text"  placeholder="Введите имя владельца карты:">
        </div>
        <div class="form-popup__footer">
            <button class="button-transparent-with-stroke" type="button">Отменить</button>
            <button class="button-blue" type="submit">Добавить</button>
        </div>
    </div>
</div>
