{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}

{% block content %}

    <main>
        <section class="content product-card">
            <section class="content-header">
                <div class="container">
                    <div class="row">
                        {% if collection_type == 'awaiting_moderation' %}
                            ожидают модерации
                        {% elseif collection_type == 'declined' %}
                            отклоненные
                        {% else %}
                            все
                        {% endif %}
                    </div>
                </div>
            </section>
            <section class="product-card-body content-main">
                <div class="container">
                    <div class="row">
                        <table class="">
                            <tr class="">
                                <td>id</td>
                                <td>
                                    {% if collection_type == 'awaiting_moderation' %}
                                        На модерации
                                    {% elseif collection_type == 'declined' %}
                                        Модерировалось
                                    {% else %}
                                        Создан
                                    {% endif %}
                                </td>
                                <td>Категория</td>
                                <td>Подкатегория</td>
                                <td>Название</td>
                                <td>Автор</td>
                            </tr>
                            {% if products|length > 0 %}
                                {% for product in products %}
                                    <tr data-path="">
                                        <td>
                                            <a href="{{ url('product-moderation-form-edit', {'idProduct' : product['id']}) }}">
                                                {{ product['id'] }}
                                            </a>
                                        </td>
                                        <td>
                                            {{ product['product_moderation']['moderation_time'] }}
                                        </td>
                                        <td>
                                            {{ produc['category']['name'] }}
                                        </td>
                                        <td>
                                            {{ product['sub_category']['name'] }}
                                        </td>
                                        <td>
                                            {{ product['name'] }}
                                        </td>
                                        <td>
                                            {{ product['owner']['name'] }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr class="EmptyRow">
                                    <td colspan="8">
                                        В системе нет объявлений, соотвествующих критериям.
                                    </td>
                                </tr>
                            {% endif %}
                        </table>

                    </div>
                </div>

            </section>
        </section>
    </main>
    {% if productModerations_json %}
    <!--noindex-->
    <script id="product_moderations_json" type="application/json">{{ productModerations_json | raw}}</script>
    <!--/noindex-->
    {% endif %}
{% endblock content %}