{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}

{% block content %}
    <main>
        <section class="content product-card">
            <section class="content-header">
                <div class="container">
                    <div class="row">
                        <div class="content-header-navigation">
                            <h2 class="content-header-navigation__title">{{ product['name'] }}</h2>
                            <div class="row">
                                {% if product['product_moderation']['resolution_date'] %}
                                    По этому обявлению решение принято:
                                    {% if product['product_moderation']['approved'] == 1 %}
                                        публикация подтверждена
                                    {% else %}
                                        публикация отклонена<br>
                                        {{ product['product_moderation']['description'] }}
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="product-card-body content-main">
                <div class="container">
                    <div class="row">
                        <div class="product-gallery">
                            <div class="gallery-main">
                                <div class="gallery-items">
                                    <ul class="gallery-items-list">
                                        {% for productImage in product['gallery'] %}
                                            <li class="gallery-item">
                                                <img
                                                        src="{{ productImage['path'] }}"
                                                        alt="{{ product['name'] }}"
                                                        class="gallery-item__image"
                                                >
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <button type="button" class="button-close-white gallery-control-close">&nbsp;</button>
                                </div>
                            </div>
                            <div class="gallery-control">
                                <div class="gallery-navigation">

                                </div>
                                <div class="gallery-previews">
                                    <ul class="gallery-previews-list">
                                        {% for productImage in product['gallery'] %}
                                            <li class="gallery-preview-item">
                                            <span
                                                    class="gallery-preview-item__image"
                                                    style="background-image: url('{{ resizer(productImage['path']).thumb(70, 70) }}')"
                                                    data-gallery-index="{{ loop.index - 1 }}"
                                            >&nbsp;</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="product-photo-slider col-5 col-tablet-8">
                            <div class="product-photo-slider__previews">
                                {% for productImage in product['gallery'] %}
                                    <div class="product-photo-slider__preview" style="background-image: url('{{ resizer(productImage['path']).thumb(70, 70) }}')"></div>
                                {% endfor %}
                            </div>
                            <div class="product-photo-slider__items">
                                {% for productImage in product['gallery'] %}
                                    <img
                                            src="{{ resizer(productImage['path']).resize(370, 370) }}"
                                            alt="{{ product['name'] }}"
                                            class="product-photo-slider__image"
                                            data-gallery-index="{{ loop.index - 1 }}"
                                    >
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-2 col-tablet-3 col-mobile-8 product-card-body__price-block">
                            <h2 class="product-name">{{ product['name'] }}</h2>
                            <div class="product-price">
                                {{ product['price'] }} ₽
                            </div>
                            {#<button class="button-blue">Купить</button>#}
                            <div class="product__about-deal">
                                <div class="garant-deal">
                                    <span class="garant-deal_text">Безопасная сделка</span>
                                    <div class="tooltip">
                                        <div class="tooltip-inner">
                                            Для этого товара доступна безопасная сделка. Подробнее о <a class="link-inline" href=" /info/bezopasnaya_sdelka">безопасной сделке</a>.
                                        </div>
                                    </div>
                                </div>
                                {#<div class="delivery-deal">#}
                                    {#Возможна доставка#}
                                {#</div>#}
                            </div>
                            {#<button class="button-purple send-message-button">Написать продавцу</button>#}
                            <button class="button-transparent button-show-hidden-field js-show-hidden">
                                <span class="button-show-hidden-field__name">Показать телефон</span>
                                <span class="button-show-hidden-field__text">{{ product['owner']['phone'] }}</span>
                            </button>
                            <div class="user-bar">
                                <div class="avatar" style="background-image: url('{{ ownerAvatarSrc }}');"></div>
                                <div class="user-bar__info">
                                    <span class="user-bar-name">{{ product['owner']['name'] }}</span>
                                    <div class="user-bar__from-registration">
                                        {{ product['owner']['time_from_create'] }} на ЛУНЕ
                                    </div>
                                    <div class="user-bar__all-adverts">
                                        <a href="{{ product['urls']['user_products'] }}" class="link-inline">Еще объявления продавца</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 col-tablet-5 col-mobile-8 product-info">
                            <h2 class="product-name">{{ product['name'] }}</h2>
                            <div class="product-options-wrapper">
                                <div class="product-options-block">
                                    <div class="product-option">
                                        <div class="product-option__name">Категория:</div>
                                        <div class="product-option__value">{{ product['sub_category']['name'] }}</div>
                                    </div>
                                </div>
                                <div class="product-options-block">
                                    <div class="product-option">
                                        <div class="product-option__name">Местоположение:</div>
                                        <div class="product-option__value">
                                            {{
                                            product['address']['city']
                                            ~ (product['address']['street'] ? ', ' ~ product['address']['street'] : '')
                                            ~ (product['address']['house'] ? ', ' ~ product['address']['house'] : '')
                                            }}
                                        </div>
                                    </div>
                                    <div class="product-option">
                                        <div class="product-option__name">Просмотров:</div>
                                        <div class="product-option__value">0</div>
                                    </div>
                                    <div class="product-option">
                                        <div class="product-option__name">Дата размещения:</div>
                                        <div class="product-option__value">{{ pageHelper.dateFormat(product['created'], 'd.m.Y') }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="user-bar">
                                <div class="avatar" style="background-image: url('{{ ownerAvatarSrc }}');"></div>
                                <div class="user-bar__info">
                                    <span class="user-bar-name">{{ product['owner']['name'] }}</span>
                                    <span class="rating-scale">
                                         <svg class="fill" width="14" height="14" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="1" width="18" height="18">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.27461 0.401423L10.9534 5.86872C11.0264 6.08742 11.2453 6.19676 11.4643 6.19676H16.9386C17.486 6.19676 17.705 6.92574 17.267 7.25377L12.8146 10.5342C12.6322 10.6799 12.5592 10.9351 12.6322 11.1538L14.7489 16.7669C14.8948 17.2772 14.3474 17.7145 13.9095 17.3865L9.12863 13.8145C8.94616 13.6687 8.69069 13.6687 8.47172 13.8145L3.65438 17.3865C3.21643 17.7145 2.63251 17.2772 2.81499 16.7669L4.85871 11.1538C4.9317 10.9351 4.85871 10.6799 4.67624 10.5342L0.223841 7.25377C-0.214099 6.92574 0.0413659 6.19676 0.552297 6.19676H6.02655C6.28202 6.19676 6.46449 6.12386 6.53748 5.86872L8.25275 0.364974C8.39873 -0.145307 9.12863 -0.108858 9.27461 0.401423V0.401423Z" transform="translate(1.25 1.25)" fill="white"></path>
                                            </mask>
                                            <g mask="url(#mask0)">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H20V20H0V0Z" fill="#A8AAB7"></path>
                                            </g>
                                        </svg>
                                         <svg width="14" height="14" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="1" width="18" height="18">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.27461 0.401423L10.9534 5.86872C11.0264 6.08742 11.2453 6.19676 11.4643 6.19676H16.9386C17.486 6.19676 17.705 6.92574 17.267 7.25377L12.8146 10.5342C12.6322 10.6799 12.5592 10.9351 12.6322 11.1538L14.7489 16.7669C14.8948 17.2772 14.3474 17.7145 13.9095 17.3865L9.12863 13.8145C8.94616 13.6687 8.69069 13.6687 8.47172 13.8145L3.65438 17.3865C3.21643 17.7145 2.63251 17.2772 2.81499 16.7669L4.85871 11.1538C4.9317 10.9351 4.85871 10.6799 4.67624 10.5342L0.223841 7.25377C-0.214099 6.92574 0.0413659 6.19676 0.552297 6.19676H6.02655C6.28202 6.19676 6.46449 6.12386 6.53748 5.86872L8.25275 0.364974C8.39873 -0.145307 9.12863 -0.108858 9.27461 0.401423V0.401423Z" transform="translate(1.25 1.25)" fill="white"></path>
                                            </mask>
                                            <g mask="url(#mask0)">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H20V20H0V0Z" fill="#A8AAB7"></path>
                                            </g>
                                        </svg>
                                         <svg width="14" height="14" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="1" width="18" height="18">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.27461 0.401423L10.9534 5.86872C11.0264 6.08742 11.2453 6.19676 11.4643 6.19676H16.9386C17.486 6.19676 17.705 6.92574 17.267 7.25377L12.8146 10.5342C12.6322 10.6799 12.5592 10.9351 12.6322 11.1538L14.7489 16.7669C14.8948 17.2772 14.3474 17.7145 13.9095 17.3865L9.12863 13.8145C8.94616 13.6687 8.69069 13.6687 8.47172 13.8145L3.65438 17.3865C3.21643 17.7145 2.63251 17.2772 2.81499 16.7669L4.85871 11.1538C4.9317 10.9351 4.85871 10.6799 4.67624 10.5342L0.223841 7.25377C-0.214099 6.92574 0.0413659 6.19676 0.552297 6.19676H6.02655C6.28202 6.19676 6.46449 6.12386 6.53748 5.86872L8.25275 0.364974C8.39873 -0.145307 9.12863 -0.108858 9.27461 0.401423V0.401423Z" transform="translate(1.25 1.25)" fill="white"></path>
                                            </mask>
                                            <g mask="url(#mask0)">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H20V20H0V0Z" fill="#A8AAB7"></path>
                                            </g>
                                        </svg>
                                         <svg width="14" height="14" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="1" width="18" height="18">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.27461 0.401423L10.9534 5.86872C11.0264 6.08742 11.2453 6.19676 11.4643 6.19676H16.9386C17.486 6.19676 17.705 6.92574 17.267 7.25377L12.8146 10.5342C12.6322 10.6799 12.5592 10.9351 12.6322 11.1538L14.7489 16.7669C14.8948 17.2772 14.3474 17.7145 13.9095 17.3865L9.12863 13.8145C8.94616 13.6687 8.69069 13.6687 8.47172 13.8145L3.65438 17.3865C3.21643 17.7145 2.63251 17.2772 2.81499 16.7669L4.85871 11.1538C4.9317 10.9351 4.85871 10.6799 4.67624 10.5342L0.223841 7.25377C-0.214099 6.92574 0.0413659 6.19676 0.552297 6.19676H6.02655C6.28202 6.19676 6.46449 6.12386 6.53748 5.86872L8.25275 0.364974C8.39873 -0.145307 9.12863 -0.108858 9.27461 0.401423V0.401423Z" transform="translate(1.25 1.25)" fill="white"></path>
                                            </mask>
                                            <g mask="url(#mask0)">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H20V20H0V0Z" fill="#A8AAB7"></path>
                                            </g>
                                        </svg>
                                         <svg width="14" height="14" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="1" width="18" height="18">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.27461 0.401423L10.9534 5.86872C11.0264 6.08742 11.2453 6.19676 11.4643 6.19676H16.9386C17.486 6.19676 17.705 6.92574 17.267 7.25377L12.8146 10.5342C12.6322 10.6799 12.5592 10.9351 12.6322 11.1538L14.7489 16.7669C14.8948 17.2772 14.3474 17.7145 13.9095 17.3865L9.12863 13.8145C8.94616 13.6687 8.69069 13.6687 8.47172 13.8145L3.65438 17.3865C3.21643 17.7145 2.63251 17.2772 2.81499 16.7669L4.85871 11.1538C4.9317 10.9351 4.85871 10.6799 4.67624 10.5342L0.223841 7.25377C-0.214099 6.92574 0.0413659 6.19676 0.552297 6.19676H6.02655C6.28202 6.19676 6.46449 6.12386 6.53748 5.86872L8.25275 0.364974C8.39873 -0.145307 9.12863 -0.108858 9.27461 0.401423V0.401423Z" transform="translate(1.25 1.25)" fill="white"></path>
                                            </mask>
                                            <g mask="url(#mask0)">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H20V20H0V0Z" fill="#A8AAB7"></path>
                                            </g>
                                        </svg>
                                     </span>
                                    <div class="user-bar__from-registration">{{ product['owner']['time_from_create'] }} на ЛУНЕ</div>
                                    <div class="user-bar__all-adverts">
                                        <a href="{{ product['urls']['user_products'] | trim }}" class="link-inline">Еще объявление продавца</a>
                                    </div>
                                </div>
                            </div>

                            <div class="advertise-footer">
                                <div class="product-option product-description">
                                    <div class="product-option__name">Описание:</div>
                                    <div class="product-option__value product-option__value_size_big">{{ product['description'] | raw }}</div>
                                </div>
                                <div class="share-bar">
                                    <div class="share-bar__title">Поделиться:</div>
                                    <div class="share-bar__socials">
                                        <div class="social-icon social-icon_type-ok"></div>
                                        <div class="social-icon social-icon_type-yt"></div>
                                        <div class="social-icon social-icon_type-fb"></div>
                                        <div class="social-icon social-icon_type-inst"></div>
                                        <div class="social-icon social-icon_type-vk"></div>
                                    </div>
                                </div>
                                <div class="advertise__compliance">
                                    <a class="advertise__compliance-link" href="#">Пожаловаться на объявление</a>
                                </div>
                            </div>
                        </div>
                        <div class="advertise-footer col-offset-1">
                            <div class="product-option product-description">
                                <div class="product-option__name">Описание:</div>
                                <div class="product-option__value product-option__value_size_big">{{ product['description'] | raw }}</div>
                            </div>
                            <div class="share-bar">
                                <div class="share-bar__title">Поделиться:</div>
                                <div class="share-bar__socials">
                                    <div class="social-icon social-icon_type-ok"></div>
                                    <div class="social-icon social-icon_type-yt"></div>
                                    <div class="social-icon social-icon_type-fb"></div>
                                    <div class="social-icon social-icon_type-inst"></div>
                                    <div class="social-icon social-icon_type-vk"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </section>
        </section>
    </main>
{% endblock content %}