{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{#
    user - информация о пользователе
    userForm - форма редактирования

    'declineProducts' - для оператора (отклоненные модератором)
    'publicProducts' - для юзера(только его) и оператора (вся коллекция активных объявлений)
    'inactiveProducts' - для юзера (неактивные(отклоненные, неопубликованные))
    'archiveProducts' - для юзера и для оператора (удаленные, истекшие по какому либо признаку)

    Во всех типах объявлений оператор видит таблицы, а пользователь карточки товаров
#}
{% block content %}
    {# include popups #}
    {# %}{% include '/application/profile/partial/popup_profile.twig' %} #}
    {#<div class="popup-container js-popup-container-check-advert" id="advert-check-popup" onClick={togglePopup()}>#}
        {#<div class="popup advert_actions_popup">#}
            {#<div class="advert_actions_popup_header">#}
                {#<h4 class="popup-title">Проверьте объявление перед публикацией</h4>#}
            {#</div>#}
            {#<div class="advert_actions_popup_content">#}
                {#<div class="advert_actions_popup_ad_preview">#}
                    {#content#}
                {#</div>#}
            {#</div>#}
            {#<div class="advert_actions_popup_buttons">#}
                {#<button class="button-popup button-popup-white">Редактировать</button>#}
                {#<button class="button-popup button-purple">Опубликовать</button>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#<button onClick={togglePopup(true)}>Open popup</button>#}
    {#<script>#}
        {#function togglePopup(open = false) {#}
            {#if (open) {#}
                {#document.getElementById('advert-check-popup').style.display = 'block';#}
            {#} else {#}
                {#document.getElementById('advert-check-popup').style.display = 'none'#}
            {#}#}
        {#}#}
    {#</script>#}

    <main class="profile-page">
        {% set phone_verified_class = 'is-not-approved'%}
        {% set email_verified_class = 'is-not-approved'%}
        {% if user['is_phone_verified'] %}
            {% set phone_verified_class = 'is-approved'%}
        {% endif %}
        {% if user['is_email_verified'] %}
            {% set email_verified_class = 'is-approved'%}
        {% endif %}

        <section class="top">
            <div class="row profile-page-user-info" id="profile-page-user-info">
                <div class="profile-page-user-info">
                    <div class="row profile-page-user-info">
                    <div class="col-4 col-tablet-6 col-mobile-8 col-double-padding user-info-block_statistic">
                        <div class="user-info-block-wrap">
                            <div class="user-bar">
                                <div class="col-mobile-8">
                                    <div class="Profile-Avatar">
                                        <div class="AvatarWithBorder">
                                            <div class="AvatarWithBorder-Container">
                                                <img src="{{ (user['avatar']) | trim }}" />
                                                <div class="FormAvaChange-Container">
                                                    <form method="post" name="user" class="FormAvaChange js-input-file__container"
                                                          enctype="multipart/form-data" id="user">
                                                        {{ formElement(userForm.get('csrf')) |raw }}
                                                        <label class="InputIconTouch">
                                                            <input type="file" accept="image/*" class="js-input-file" name="avatar">
                                                            <span class="InputIconTouch-Overlay IconEdit"></span>
                                                        </label>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="user-statistic-info">
                                            <div class="user-bar-name">{{ user['name'] }}</div>
                                            <div class="rating-scale">
                                                <img alt="" src="/img/star_blue.svg" />
                                                <img alt="" src="/img/star.svg" />
                                                <img alt="" src="/img/star.svg" />
                                                <img alt="" src="/img/star.svg" />
                                                <img alt="" src="/img/star.svg" />
                                            </div>
                                            <div class="user-statistic">
                                                <div class="user-statistic-row">
                                                    <span class="title">Регистрация:</span>
                                                    <span class="value">{{ pageHelper.dateFormat(user['created'], 'd.m.y') | trim }}</span>
                                                </div>
                                                <div class="user-statistic-row">
                                                    <span class="title">Объявлений:</span>
                                                    <span class="value">{{ user['count_published_products'] }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="manufacturer-status-link">Вы производитель товаров? Получите статус, который сделает вас заметнее!</div>
                                        <div class="create-shop-info">Станьте магазином! Вы сможете получить свой раздел с уникальным оформлением.</div>
                                        <button class="button-blue js-button-shop button-create-shop">Стать магазином</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-tablet-6 col-mobile-8 col-double-padding user-info-block_personal-data">
                        <div class="user-info-block-wrap">
                            <div class="col-mobile-8">
                                <h4 class="user-info__title">Личные данные</h4>
                                <div class="info-fields">
                                    <div class="info-field col-tablet-8 col-mobile-8">
                                        <p class="info-field-label">Имя в объявлениях:</p>
                                        <div class="info-field__editable-text-field">
                                            <input class="info-field-text" value="{{ user['name'] | trim }}" readonly>
                                            <button type="button" class="info-field__edit-button info-field__edit-button-name"></button>
                                        </div>
                                    </div>
                                    <div class="info-field col-tablet-8 col-mobile-8">
                                        <p class="info-field-label">Телефон:</p>
                                        <div class="info-field__editable-text-field">
                                            <input class="info-field-text {{ phone_verified_class }}" value="{{ phoneHelper().formatPhone(user['phone']) | trim }}" readonly>
                                            <button type="button" class="info-field__edit-button"></button>
                                        </div>
                                        {% if not user['is_phone_verified'] and user['phone']  %}
                                            <div class="info-field__action">
                                                <a href="{{ url('phone/confirm') }}" class="info-field__action-link">Подтвердить</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="info-field col-tablet-8 col-mobile-8">
                                        <p class="info-field-label">Email:</p>
                                        <div class="info-field__editable-text-field">
                                            <input class="info-field-text {{ email_verified_class }}" value="{{ user['email']|trim }}" readonly>
                                            <button type="button" class="info-field__edit-button info-field__edit-button-email"></button>
                                        </div>
                                        {% if not user['is_email_verified'] and user['email'] %}
                                            <div class="info-field__action">
                                                <a href="{{ url('email/confirm') }}" class="info-field__action-link">Подтвердить</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 col-tablet-6 col-mobile-8 col-mobile-offset-0 col-double-padding user-info-block_settings">
                    <div class="user-info-block-wrap">
                        <div class="col-mobile-8">
                            <div class="container">
                                <label for="tab8" class="tab tab__title col-2 col-tablet-3 no-js" title="Опубликованные">
                                    <span class="tab__link">Безопасная сделка</span>
                                </label>
                                <input class="tab-input" id="tab8" type="radio" name="tabs" checked>

                                <label for="tab9" class="tab tab__title col-2 col-tablet-3 no-js" title="Отклоненные">
                                    <span class="tab__link">Доставка и оплата</span>
                                </label>
                                <input class="tab-input" id="tab9" type="radio" name="tabs">

                                <div class="no-js-info-fields" id="safe-deal-tab-block">
                                    <div class="info-fields">
                                        <div class="safe-deal-for-user col-tablet-8 col-mobile-8">
                                            <p class="" style="margin-top: 4px">Получайте оплату за свои товары на карту. Это безопасно и повышает доверие покупателей к вашим товарам.</p>
                                            <p class="safe-deal-label">Активировать безопасную сделку:</p>
                                            <div class="safe-deal-control">
                                                <label class="toggled-checkbox-field toggled-checkbox-field__type_garant-pay">
                                                    <input type="checkbox">
                                                    <div class="toggled-checkbox-field__track">
                                                        <div class="toggled-checkbox-field__button"></div>
                                                    </div>
                                                </label>
                                                <p class="help-message">Безопасная сделка отключена!</p>
                                            </div>
                                            <div class="safe-deal-info">Находится в тестовом режиме. Будьте первыми, узнайте о преимуществах и оставьте заявку на подключение!</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="no-js-info-fields" id="requisites-tab-block">
                                    <div class="info-fields info-fields-requisites">
                                        <div class="col-tablet-8 col-mobile-8">
                                            <div class="requisites-title">
                                                <p class="info-field-label">Реквизиты для доставки:</p>
                                                <span class="requisites-add">Добавить</span>
                                            </div>
                                            <div class="info-field__editable-text-field">
                                                <div class="info-field-text info-field-requisites">Сохраните данные для доставки и Вам больше не придется заполнять форму повторно.</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info-fields info-fields-requisites">
                                        <div class="info-field col-tablet-8 col-mobile-8">
                                            <div class="requisites-title">
                                                <p class="info-field-label">Привязанная карта:</p>
                                                <span class="requisites-add">Добавить</span>
                                            </div>
                                            <div class="info-field__editable-text-field">
                                                <div class="info-field-text info-field-text__card">Карта не привязана</div>
                                                <span class="info-field__edit-button" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
                </div>
                </div>
            </div>
        </section>

        {% if is_operator %}
            <section class="content">
                <div class="tab-bookmark-style__container">
                    <div class="container">
                        <ul class="row tab-bookmark-style">
                            <li class="active tab-bookmark-style__title col-6">
                                <div class="tab-bookmark-style__link">
                                    <span class="tab-bookmark-style__text tab-bookmark-style__text-product">Объявления</span>
                                </div>
                            </li>
                            <li class="tab-bookmark-style__title col-6">
                                <a href="{{ url('profile/purchase') }}" class="tab-bookmark-style__link">
                                    <span class="tab-bookmark-style__text tab-bookmark-style__text-purchase">Закупки</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="OperatorProfileTabsProducts" class="OperatorProfileTabs">
                    <div class="profile-table-wrapper">
                            <div class="tabs">
                                <section class="content-header">
                                    <div class="container">
                                        <ul class="row tab">
                                            <li class="active tab__title col-2 col-tablet-3">Ожидают модерации</li>
                                            <li class="tab__title col-2 col-tablet-3">Опубликованные</li>
                                            <li class="tab__title col-2 col-tablet-3">Отклоненные</li>
                                            <li class="tab__title col-2 col-tablet-2">Архив</li>
                                        </ul>
                                    </div>
                                </section>
                                <div class="tabs__content">
                                    {#Ожидают модерации#}
                                    <div class="row table-container no-js" id="moderation-products">
                                          <div class="col-xl-12 table-filter">
                                                <div class="table-filter__search">
                                                    <div>
                                                        <input class="input-search" type="text" placeholder="Поиск">
                                                    </div>
                                                </div>
                                                <div class="table-filter__button">
                                                    <div class="icon-filter">

                                                    </div>
                                                </div>
                                            </div>
                                          <div class="table">
                                            <table class="col-xl-12 js-table-rows-are-link">
                                                <tr class="th">
                                                    <td class="td">
                                                        <a class="link-sort" href="#">ID</a>
                                                    </td>
                                                    <td class="td">
                                                        <a class="link-sort" href="#">На модерации</a>
                                                    </td>
                                                    <td class="td">
                                                        <a class="link-sort" href="#">Категория</a>
                                                    </td>
                                                    <td class="td">
                                                        <a class="link-sort" href="#">Подкатегория</a>
                                                    </td>
                                                    <td class="td">
                                                        <a class="link-sort" href="#">Название</a>
                                                    </td>
                                                    <td class="td">
                                                        <a class="link-sort" href="#">Автор</a>
                                                    </td>
                                                    <td class="td to-adv-link-cell">

                                                    </td>
                                                </tr>
                                                {% if moderationProducts |length > 0 %}
                                                    {% for moderationProduct in moderationProducts %}
                                                        <tr class="tr" data-path="{{ moderationProduct['urls']['single_product_public'] }}">
                                                            <td class="td">
                                                                <div class="td__title-mobile">ID</div>
                                                                <div class="td__content">{{ moderationProduct['id'] }}</div>
                                                            </td>
                                                            <td class="td">
                                                                <div class="td__title-mobile">На модерации</div>
                                                                <div class="td__content">3 дня 12 часов</div>
                                                            </td>
                                                            <td class="td">
                                                                <div class="td__title-mobile">Категория</div>
                                                                <div class="td__content">{{ moderationProduct['category']['name'] }}</div>
                                                            </td>
                                                            <td class="td">
                                                                <div class="td__title-mobile">Подкатегория</div>
                                                                <div class="td__content">{{ moderationProduct['sub_category']['name'] }}</div>
                                                            </td>
                                                            <td class="td">
                                                                <div class="td__title-mobile">Название</div>
                                                                <div class="td__content">{{ moderationProduct['name'] }}</div>
                                                            </td>
                                                            <td class="td">
                                                                <div class="td__title-mobile">Автор</div>
                                                                <div class="td__content"><a href="#"
                                                                                            class="link-inline">{{ moderationProduct['owner']['name'] }}</a>
                                                                </div>
                                                            </td>
                                                            <td class="td to-adv-link-cell">
                                                                <a href="{{ moderationProduct['urls']['single_product_public'] }}"
                                                                   class="button-purple">Перейти к объявлению</a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% else %}
                                                    <tr>
                                                        <td colspan="6">
                                                            Нет объявлений, ожидающих модерации.
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            </table>
                                        </div>
                                    </div>
                                    {#end ожидают модерации#}

                                    {# 'Опубликованные' #}
                                    <div class="row table-container no-js" id="public-products">
                                        <div class="col-xl-12 table-filter">
                                            <div class="table-filter__search">
                                                <div>
                                                    <input class="input-search" type="text" placeholder="Поиск">
                                                </div>
                                            </div>
                                            <div class="table-filter__button">
                                                <div class="icon-filter">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="table">
                                            <table class="col-xl-12 js-table-rows-are-link">
                                                <tr class="th">
                                                    <td class="td">
                                                        <a class="link-sort" href="#">ID</a>
                                                    </td>
                                                    <td class="td">
                                                        <a class="link-sort" href="#">Опубликовано</a>
                                                    </td>
                                                    <td class="td">
                                                        <a class="link-sort" href="#">Категория</a>
                                                    </td>
                                                    <td class="td">
                                                        <a class="link-sort" href="#">Подкатегория</a>
                                                    </td>
                                                    <td class="td">
                                                        <a class="link-sort" href="#">Название</a>
                                                    </td>
                                                    <td class="td">
                                                        <a class="link-sort" href="#">Автор</a>
                                                    </td>
                                                    <td class="td to-adv-link-cell">

                                                    </td>
                                                </tr>
                                                {% if publicProducts |length > 0 %}
                                                    {% for publicProduct in publicProducts %}
                                                        <tr class="tr" data-path="{{ publicProduct['urls']['single_product_public'] }}">
                                                            <td class="td">
                                                                <div class="td__title-mobile">ID</div>
                                                                <div class="td__content">{{ publicProduct['id'] }}</div>
                                                            </td>
                                                            <td class="td">
                                                                <div class="td__title-mobile">Опубликовано</div>
                                                                <div class="td__content">{{ publicProduct['created'] }}</div>
                                                            </td>
                                                            <td class="td">
                                                                <div class="td__title-mobile">Категория</div>
                                                                <div class="td__content">{{ publicProduct['category']['name'] }}</div>
                                                            </td>
                                                            <td class="td">
                                                                <div class="td__title-mobile">Подкатегория</div>
                                                                <div class="td__content">{{ publicProduct['sub_category']['name'] }}</div>
                                                            </td>
                                                            <td class="td">
                                                                <div class="td__title-mobile">Название</div>
                                                                <div class="td__content">{{ publicProduct['name'] }}</div>
                                                            </td>
                                                            <td class="td">
                                                                <div class="td__title-mobile">Автор</div>
                                                                <div class="td__content"><a href="#"
                                                                                            class="link-inline">{{ publicProduct['owner']['name'] }}</a>
                                                                </div>
                                                            </td>
                                                            <td class="td to-adv-link-cell">
                                                                <a href="{{ publicProduct['urls']['single_product_public'] }}"
                                                                   class="button-purple">Перейти к объявлению</a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% else %}
                                                    <tr>
                                                        <td colspan="6">
                                                            Нет опубликованных объявлений.
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            </table>
                                        </div>
                                    </div>
                                    {#end 'Oпубликованные' #}

                                    {# 'Отклоненные' #}
                                    <div class="row table-container no-js" id="decline-products">
                                        <div class="col-xl-12 table-filter">
                                            <div class="table-filter__search">
                                                <div>
                                                    <input class="input-search" type="text" placeholder="Поиск">
                                                </div>
                                            </div>
                                            <div class="table-filter__button">
                                                <div class="icon-filter">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="table">
                                            <table class="col-xl-12 js-table-rows-are-link">
                                                <tr class="th">
                                                    <td class="td">
                                                        <a class="link-sort" href="#">ID</a>
                                                    </td>
                                                    <td class="td">
                                                        <a class="link-sort" href="#">Отклонено</a>
                                                    </td>
                                                    <td class="td">
                                                        <a class="link-sort" href="#">Категория</a>
                                                    </td>
                                                    <td class="td">
                                                        <a class="link-sort" href="#">Подкатегория</a>
                                                    </td>
                                                    <td class="td">
                                                        <a class="link-sort" href="#">Название</a>
                                                    </td>
                                                    <td class="td">
                                                        <a class="link-sort" href="#">Автор</a>
                                                    </td>
                                                    <td class="td to-adv-link-cell">

                                                    </td>
                                                </tr>
                                                {% if declineProducts |length > 0 %}
                                                    {% for declineProduct in declineProducts %}
                                                        <tr class="tr" data-path="{{ declineProduct['urls']['single_product_public'] }}">
                                                            <td class="td">
                                                                <div class="td__title-mobile">ID</div>
                                                                <div class="td__content">{{ declineProduct['id'] }}</div>
                                                            </td>
                                                            <td class="td">
                                                                <div class="td__title-mobile">Отклонено</div>
                                                                <div class="td__content">{{ declineProduct['created'] }}</div>
                                                            </td>
                                                            <td class="td">
                                                                <div class="td__title-mobile">Категория</div>
                                                                <div class="td__content">{{ declineProduct['category']['name'] }}</div>
                                                            </td>
                                                            <td class="td">
                                                                <div class="td__title-mobile">Подкатегория</div>
                                                                <div class="td__content">{{ declineProduct['sub_category']['name'] }}</div>
                                                            </td>
                                                            <td class="td">
                                                                <div class="td__title-mobile">Название</div>
                                                                <div class="td__content">{{ declineProduct['name'] }}</div>
                                                            </td>
                                                            <td class="td">
                                                                <div class="td__title-mobile">Автор</div>
                                                                <div class="td__content"><a href="#"
                                                                                            class="link-inline">{{ declineProduct['owner']['name'] }}</a>
                                                                </div>
                                                            </td>
                                                            <td class="td to-adv-link-cell">
                                                                <a href="{{ declineProduct['urls']['single_product_public'] }}"
                                                                   class="button-purple">Перейти к объявлению</a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% else %}
                                                    <tr>
                                                        <td colspan="6">
                                                            Нет отклоненных объявлений.
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            </table>
                                        </div>
                                    </div>
                                    {#end 'Отклоненные ' #}

                                    {# 'Архив' #}
                                    <div class="row table-container no-js" id="archive-products">
                                        <div class="col-xl-12 table-filter">
                                            <div class="table-filter__search">
                                                <div>
                                                    <input class="input-search" type="text" placeholder="Поиск">
                                                </div>
                                            </div>
                                            <div class="table-filter__button">
                                                <div class="icon-filter">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="table">
                                            <table class="col-xl-12 js-table-rows-are-link">
                                                <tr class="th">
                                                    <td class="td">
                                                        <a class="link-sort" href="#">ID</a>
                                                    </td>
                                                    <td class="td">
                                                        <a class="link-sort" href="#">Добавлено в архив</a>
                                                    </td>
                                                    <td class="td">
                                                        <a class="link-sort" href="#">Категория</a>
                                                    </td>
                                                    <td class="td">
                                                        <a class="link-sort" href="#">Подкатегория</a>
                                                    </td>
                                                    <td class="td">
                                                        <a class="link-sort" href="#">Название</a>
                                                    </td>
                                                    <td class="td">
                                                        <a class="link-sort" href="#">Автор</a>
                                                    </td>
                                                    <td class="td to-adv-link-cell">

                                                    </td>
                                                </tr>
                                                {% if archiveProducts |length > 0 %}
                                                    {% for archiveProduct in archiveProducts %}
                                                        <tr class="tr" data-path="{{ archiveProduct['urls']['single_product_public'] }}">
                                                            <td class="td">
                                                                <div class="td__title-mobile">ID</div>
                                                                <div class="td__content">{{ archiveProduct['id'] }}</div>
                                                            </td>
                                                            <td class="td">
                                                                <div class="td__title-mobile">Добавлено в архив</div>
                                                                <div class="td__content">{{ archiveProduct['created'] }}</div>
                                                            </td>
                                                            <td class="td">
                                                                <div class="td__title-mobile">Категория</div>
                                                                <div class="td__content">{{ archiveProduct['category']['name'] }}</div>
                                                            </td>
                                                            <td class="td">
                                                                <div class="td__title-mobile">Подкатегория</div>
                                                                <div class="td__content">{{ archiveProduct['sub_category']['name'] }}</div>
                                                            </td>
                                                            <td class="td">
                                                                <div class="td__title-mobile">Название</div>
                                                                <div class="td__content">{{ archiveProduct['name'] }}</div>
                                                            </td>
                                                            <td class="td">
                                                                <div class="td__title-mobile">Автор</div>
                                                                <div class="td__content"><a href="#"
                                                                                            class="link-inline">{{ archiveProduct['owner']['name'] }}</a>
                                                                </div>
                                                            </td>
                                                            <td class="td to-adv-link-cell">
                                                                <a href="{{ archiveProduct['urls']['single_product_public'] }}"
                                                                   class="button-purple">Перейти к объявлению</a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% else %}
                                                    <tr class="tr">
                                                        <td colspan="6">В архиве нет объявлений.</td>
                                                    </tr>
                                                {% endif %}
                                            </table>
                                        </div>
                                    </div>
                                    {#end 'Архив ' #}
                                </div>
                            </div>
                        </div>
                </div>
            </section>
        {% else %}
        <section class="content">
            <div class="tab-bookmark-style__container">
                <div class="container">
                    <ul class="row tab-bookmark-style">
                        <li class="active tab-bookmark-style__title col-6">
                            <div class="tab-bookmark-style__link">
                                <span class="tab-bookmark-style__text tab-bookmark-style__text-product" id="tab-profile-product-tab">Объявления</span>
                            </div>
                        </li>
                        <li class="tab-bookmark-style__title col-6">
                            <a href="{{ url('profile/purchase') }}#tab-profile-purchase-tab" class="tab-bookmark-style__link">
                                <span class="tab-bookmark-style__text tab-bookmark-style__text-purchase">Закупки</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="UserProfileTabsProducts" class="UserProfileTabs">
                <section class="content-header">
                    <div class="container">
                        <ul class="row tab">
                            <li class="active tab__title col-2 col-tablet-3">Активные</li>
                            <li class="tab__title col-2 col-tablet-3">Неактивные</li>
                            <li class="tab__title col-2 col-tablet-2">Архив</li>
                        </ul>
                    </div>
                </section>
                <div class="container">
                    <section class="content-main">
                        <noscript>
                            <div class="catalog">
                            <label for="tab5" class="tab tab__title col-2 col-tablet-3 no-js" title="Опубликованные">
                                <span class="tab__link">Опубликованные</span>
                            </label>
                            <input class="tab-input" id="tab5" type="radio" name="tabs" >

                            <label for="tab6" class="tab tab__title col-2 col-tablet-3 no-js" title="Отклоненные">
                                <span class="tab__link">Неактивные</span>
                            </label>
                            <input class="tab-input" id="tab6" type="radio" name="tabs">
                            <label for="tab7" class="tab tab__title col-2 col-tablet-3 no-js" title="Архив">
                                <span class="tab__link">Архив</span>
                            </label>
                            <input class="tab-input" id="tab7" type="radio" name="tabs">

                            <div class="row no-js-user-profile-products" id="public-products">
                                {% if publicProducts |length > 0 %}
                                    {% for publicProduct in publicProducts %}
                                        {% include '/application/products/public-product/partial/product-card.twig' with { 'product': publicProduct } %}
                                    {% endfor %}
                                {% else %}
                                    <div class="col-xl-12">
                                        Нет опубликованных объявлений
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row no-js-user-profile-products" id="inactive-products">
                                {% if inactiveProducts |length > 0 %}
                                    {% for inactiveProduct in inactiveProducts %}
                                        {% include '/application/products/public-product/partial/product-card.twig' with { 'product': inactiveProduct } %}
                                    {% endfor %}
                                {% else %}
                                    <div class="col-xl-12">
                                        Нет неактивных объявлений
                                    </div>
                                {% endif %}
                            </div>
                            <div class="row no-js-user-profile-products" id="archive-products">
                                {% if archiveProducts |length > 0 %}
                                    {% for archiveProduct in archiveProducts %}
                                        {% include '/application/products/public-product/partial/product-card.twig' with { 'product': archiveProduct } %}
                                    {% endfor %}
                                {% else %}
                                    <div class="col-xl-12">
                                        В архиве нет объявлений.
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        </noscript>
                    </section>
                </div>
            </div>
        </section>
        {% endif %}
    </main>
    <!--noindex-->
    <script id="user-json" type="application/json">{{ JsonUtil().mb_encode(user) | raw}}</script>
    <script id="products-collections-json" type="application/json">{{ JsonUtil().mb_encode(products_collections) | raw}}</script>
    <!--/noindex-->
{% endblock content %}