{#
Placeholders                Вспомогательные
------------------------------------------------------------------------
placeholder()               action()
doctype()                   declareVars()
headLink()                  json()
headMeta()                  layout()
headScript()                partial()
headStyle()                 partialLoop()
headTitle()                 translate()
inlineScript()              url()
#}
{% set identity = identity() %}
{% set front_version = versionHelper().getVersion() %}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="csrf_token" content="{{ generateCsrf() | trim }}">
    <script>
        document.documentElement.className =
            document.documentElement.className.replace("no-js","js");
    </script>
    {% autoescape false %}
        {{ headTitle('Luna').setSeparator(' | ').setAutoEscape(false) }}
        <meta name="description" content="Luna - интернет магазин.">
        {{ headMeta().
        appendName('viewport', 'width=device-width, initial-scale=1.0').
        appendName('theme-color', '#ffffff').
        appendName('msapplication-TileColor', '#ffffff').
        appendHttpEquiv('X-UA-Compatible', 'IE=edge') }}
        {# favicon #}
        {{ headLink({'rel':'apple-touch-icon', 'size': '180x180', 'href':basePath('favicon/apple-touch-icon.png')}).
        headLink({'rel':'icon', 'type':'image/png' , 'size': '32x32', 'href':basePath('favicon/favicon-32x32.png')}).
        headLink({'rel':'icon', 'type':'image/png' , 'size': '16x16', 'href':basePath('favicon/favicon-16x16.png')}).
        headLink({'rel':'manifest', 'href':basePath('favicon//safari-pinned-tab.svg')}).
        headLink({'rel':'mask-icon', 'href':basePath('favicon/safari-pinned-tab.svg'), color: '#5bbad5'})}}
        {# end favicon #}
        <link rel="stylesheet" type="text/css" href="{{ basePath('css/normalize.css?ver=' ~ front_version) }}">
        {% if getApplicationEnv() == 'production' %}
            <link rel="stylesheet" type="text/css" href="{{ basePath('build/landing.min.css?ver=' ~ front_version) }}"/>
        {% else %}
            <link rel="stylesheet" type="text/css" href="{{ basePath('build/landing.css?ver=' ~ front_version) }}"/>
        {% endif %}
        {{ headScript() }}
    {% endautoescape %}
    {% if getApplicationEnv() == 'production' %}

    {% endif %}
</head>
<body>
<div id="wrapper">
<div class="gp-guarantee-banner">
    <span class="text">Безопасность купли продажи обеспечивается системой Guarant Pay</span>
</div>

{% include 'partial/header_landing.twig' %}
<!--Content -->
{% block content %}
    <!--Section Top-->
    {% block section_top %}
    {% endblock section_top %}
    <!--End Section Top-->
{% endblock content %}
<!--End Content-->
{% include 'partial/footer.twig' %}

<!--noindex-->
<div id="phpunit-test-landing" style="display: none;">phpunit-test-landing</div>
<div id="recaptcha-site-key" data-site-key="{{ getReCaptchaV2SiteKey() }}"></div>
<script id="init-menu-json" type="application/json">{{ JsonUtil().mb_encode(url_helper().init_menu()) | raw }}</script>
<!--/noindex-->
{% if getApplicationEnv() == 'production' %}
    <script src="{{ basePath('build/landing.min.js?ver=' ~ front_version) }}"></script>
{% else %}
    <script src="{{ basePath('build/landing.js?ver=' ~ front_version) }}"></script>
{% endif %}
{{ inlineScript() }}
</div>
</body>
</html>