<div class="popup-container js-popup-container-name-add" id="change-name-popup">
    <div class="popup change-personal-data-popup">
        <div class="form-popup">
            <h4 class="popup-title">Имя в объявлениях</h4>
            <div class="form-popup__info-text">
                Так к вам будут обращаться продавцы или покупатели.
            </div>
            <div class="control-form">
                <input type="text" name="" value="" placeholder="Введите имя">
            </div>
            <div class="form-popup__footer">
                <button class="button-transparent" type="reset">Отменить</button>
                <button class="button-blue" type="submit">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<div class="popup-container" style="display: none;">
    <div class="popup email-change-accept-popup">
        <div class="form-popup">
            <form action="">
                <h4 class="popup-title">Изменение почты</h4>
                <div class="control-form">
                    <input type="text" name="" value="bysany.web-artist@gmail.com" disabled class="is-approved">
                </div>
                <div class="form-popup__info-text">
                    Ваша почта успешно изменена. Используйте её для входа на сайт.
                </div>
                <div class="form-popup__info-text">
                    Все уведомления теперь будут приходить на эту почту.
                </div>
            </form>
        </div>
    </div>
</div>
<div class="popup-container" style="display: none;">
    <div class="popup email-change-accept-popup">
        <div class="form-popup">
            <form action="">
                <h4 class="popup-title">Изменение почты</h4>
                <div class="control-form">
                    <input type="text" name="" value="bysany.web-artist@gmail.com" disabled>
                </div>
                <div class="form-popup__info-text">
                    На вашу почту отправлено письмо. Следуйте инструкциям в письме.
                </div>
                <div class="form-popup__info-text">
                    <b>Не получили</b> письмо в течении десяти минут?<br>
                    Проверьте пожалуйста папку «Спам» и корректность введенной электронной почты.
                </div>
                <div class="form-popup__notice">
                    Запросить письмо повторно через <span class="form-popup__repeat-time-left">0:50</span> или <a href="#" class="form-popup__notice-link">изменить почту</a>.
                </div>
            </form>
        </div>
    </div>
</div>
<div class="popup-container js-popup-container-email-change" id="change-email-popup">
    <div class="popup email-change-request-popup">
        <div class="form-popup">
            <form action="">
                <h4 class="popup-title">Изменение почты</h4>
                <div class="control-form">
                    <input type="text" placeholder="Введите новый e-mail">
                </div>
                <div class="form-popup__info-text">
                    Для защиты вашего профиля мы вышлем на Вашу почту письмо с инструкциями.
                </div>
                <button class="button-blue" type="submit">Получить письмо</button>
            </form>
        </div>
    </div>
</div>
<div class="popup-container" style="display: none;">
    <div class="popup phone-change-success-popup">
        <div class="form-popup">
            <form action="">
                <h4 class="popup-title">Изменение телефона</h4>
                <div class="control-form">
                    <input type="text" name="" value="+7 (915) 410 - 80 - 03" disabled class="is-approved">
                </div>
                <div class="form-popup__info-text">
                    Ваш номер телефона успешно изменен. Используйте его для входа на сайт.
                </div>
                <div class="form-popup__info-text">
                    Телефон будет указан как контактный в объявлениях.
                </div>
            </form>
        </div>
    </div>
</div>
<div class="popup-container">
    <div class="popup phone-accept-code-popup">
        <div class="form-popup">
            <form action="">
                <h4 class="popup-title">Изменение телефона</h4>
                <div class="control-form">
                    <input type="text" name="" value="+7 (915) 410 - 80 - 03" disabled>
                </div>
                <div class="form-popup__info-text">
                    На Ваш номер отправлено SMS-сообщение с кодом, который необходимо ввести в форму ниже.
                </div>
                <div class="form-popup__footer">
                    <div class="control-form">
                        <input type="text" name="" value="" placeholder="Введите код">
                    </div>
                    <button class="button-purple" type="submit">Подтвердить</button>
                </div>
                <div class="form-popup__notice">
                    Запросить код повторно через <span class="form-popup__repeat-time-left">0:50</span> или <a href="#" class="form-popup__notice-link">изменить номер</a>.
                </div>
            </form>
        </div>
    </div>
</div>
<div class="popup-container js-popup-container-phone-change" id="change-phone-popup">
    <div class="popup phone-change-popup">
        <div class="form-popup">
            <form action="">
                <h4 class="popup-title">Изменение телефона</h4>
                <div class="control-form">
                    <input type="text" name="" value="" placeholder="Введите новый номер телефона">
                </div>
                <div class="form-popup__info-text">
                    Для защиты вашего профиля мы вышлем на Ваш мобильный телефон <b>бесплатное</b> сообщение с кодом.
                </div>
                <button class="button-blue" type="submit">Получить код</button>
            </form>
        </div>
    </div>
</div>
<div class="popup-container">
    <div class="popup phone-change-request-popup">
        <div class="form-popup">
            <h4 class="popup-title">Изменение телефона</h4>
            <div class="control-form">
                <input type="text" name="" value="bysany.design@gmail.com" disabled>
            </div>
            <div class="form-popup__info-text">
                На вашу почту отправлено письмо. Следуйте инструкциям в письме.
            </div>
            <div class="form-popup__info-text">
                <b>Не получили письмо</b> в течении десяти минут? <br>
                Проверьте пожалуйста папку «Спам» и корректность введенной электронной почты.
            </div>
            <div class="form-popup__notice">
                Запросить письмо повторно через <span class="form-popup__repeat-time-left">0:50</span>.
            </div>
        </div>
    </div>
</div>
<div class="popup-container" style="display: none;">
    <div class="popup email-confirmed-popup">
        <div class="form-popup">
            <h4 class="popup-title">Подтверждение почты</h4>
            <div class="control-form">
                <input type="text" name="" value="bysany.design@gmail.com" disabled class="is-approved">
            </div>
            <div class="form-popup__info-text">
                Ваша почта успешно подтверждена. Используйте её для входа на сайт.
            </div>
            <div class="form-popup__info-text">
                Все уведомления теперь будут приходить на эту почту.
            </div>
        </div>
    </div>
</div>
<div class="popup-container" style="display: none;">
    <div class="popup email-confirm-form">
        <div class="form-popup">
            <form action="">
                <h4 class="popup-title">Подтверждение почты</h4>
                <div class="control-form">
                    <input type="text" name="" value="bysany.design@gmail.com" disabled>
                </div>
                <div class="form-popup__info-text">
                    На вашу почту отправлено письмо. Следуйте инструкциям в письме.
                </div>
                <div class="form-popup__info-text">
                    <b>Не получили письмо</b> в течении десяти минут?<br>
                    Проверьте пожалуйста папку «Спам» и корректность введенной электронной почты.
                </div>
                <div class="form-popup__notice">
                    Запросить письмо повторно через <span class="form-popup__repeat-time-left">0:50</span> или <a
                            href="#" class="form-popup__notice-link">изменить почту</a>.
                </div>
            </form>
        </div>
    </div>
</div>
<div class="popup-container js-popup-container-secure-deal-form" id="js-popup-container-secure-deal-form">
    <div class="popup deal-connecting-form" id="secure-deal-form">
        <div class="form-popup">
            <form action="">
                <h4 class="popup-title">Подключение безопасной&nbsp;сделки</h4>
                <div class="control-form">
                    <label class="label-text">
                        Фамилия:
                    </label>
                    <input type="text" name="">
                </div>
                <div class="control-form">
                    <label class="label-text">
                        Имя:
                    </label>
                    <input type="text" name="">
                </div>
                <div class="control-form">
                    <label class="label-text">
                        Отчество:
                    </label>
                    <input type="text" name="">
                </div>
                <div class="control-form">
                    <label class="label-text">
                        Дата рождения:
                    </label>
                    <input type="text" name="" class="with-datepicker">
                </div>
                <div class="control-form">
                    <div class="label-text">
                        Документ:
                    </div>
                    <label class="file-input">
                        <input type="file">
                        <span class="file-input__clip-icon"></span>
                        <span class="file-input__label">Прекрепить файл</span>
                    </label>
                </div>
                <h4 class="popup-subtitle">Способ получния оплаты</h4>
                <div class="control-form">
                    <label class="label-text">
                        БИК:
                    </label>
                    <input type="text" name="">
                </div>
                <div class="control-form">
                    <label class="label-text">
                        Наименование банка:
                    </label>
                    <input type="text" name="">
                </div>
                <div class="control-form">
                    <label class="label-text">
                        Номер корреспондентского счёта
                    </label>
                    <input type="text" name="">
                </div>
                <div class="control-form">
                    <label class="label-text">
                        Номер лицевого счёта
                    </label>
                    <input type="text" name="">
                </div>
                <div class="form-popup__footer">
                    <button class="button-transparent" type="reset">Отменить</button>
                    <button class="button-blue" type="submit">Создать</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="popup-container js-popup-container-shop" id="js-popup-container-shop">
    <div class="popup" id="create-shop-form">
        <div class="popup-container">
            <div class="popup create-shop-form">
                <div class="form-popup">
                    <form action="">
                        <h4 class="popup-title">Создание «Магазина»</h4>
                        <div class="control-form">
                            <label class="label-text">
                                Название магазина:
                            </label>
                            <input type="text" name="">
                        </div>
                        <div class="control-form">
                            <label class="label-text">
                                Наименование юр. лица:
                            </label>
                            <input type="text" name="">
                        </div>
                        <div class="control-form">
                            <label class="label-text">
                                ИНН:
                            </label>
                            <input type="text" name="">
                        </div>
                        <div class="control-form">
                            <label class="label-text">
                                КПП:
                            </label>
                            <input type="text" name="">
                        </div>
                        <div class="control-form">
                            <label class="label-text">
                                ТИП НДС:
                            </label>
                            <select name="">
                                <option value="18">18 %</option>
                            </select>
                        </div>
                        <div class="form-popup__footer">
                            <button class="button-transparent" type="reset">Отменить</button>
                            <button class="button-blue" type="submit">Создать</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>