{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{#


    <<<< вьюшка используется только для теста формы >>>>


#}

{% block content %}
    <div style="width: 500px;max-width: 100%;margin: auto;padding: 50px;box-sizing: border-box;">
    {{ form().openTag(productImageUploadForm)|raw }}
        {{ formElement(productImageUploadForm.get('csrf'))|raw }}
        {{ formElementErrors(productImageUploadForm.get('csrf'))|raw }}

        {{ formLabel(productImageUploadForm.get('image'))|raw }}
        {{ formElement(productImageUploadForm.get('image'))|raw }}
        {{ formElementErrors(productImageUploadForm.get('image'))|raw }}

        {{ formElement(productImageUploadForm.get('submit'))|raw }}
    {{ form().closeTag()|raw }}
    </div>
{% endblock content %}