{% extends 'twig/layout/application' %}
{#
    message
#}
{% block content %}
    <div class="message-page container" id="message-error-page">
        <div class="message-page-wrapper row">
            {#<div class="MessagePage-Img">#}
                {#<img src="{{ basePath('img/MessageError.svg') }}" alt="Ошибка">#}
            {#</div>#}
            <div class="message-page-content col-xl-12">
                <h1 class="message-page-title">Ошибка</h1>
                <p class="message-page-text">{{ message }}</p>
                <div class="form-report-container row">
                    <div class="col-xl-6 col-xl-offset-3 col-sm-4 col-sm-offset-0">
                        <div class="form-error-report">
                            {% include 'partial/error-report-form.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

