{% extends 'twig/layout/application' %}
{# message #}
{% block content %}
    <div class="message-page container">
        <div class="message-page-wrapper row">
            {#<div class="MessagePage-Img">#}
                {#<img src="{{ basePath('img/MessageSuccess.svg') }}" alt="Отлично">#}
            {#</div>#}
            <div class="message-page-content col-xl-12">
                <h1 class="message-page-title">Отлично</h1>
                <p class="message-page-text">{{ message }}</p>
            </div>
        </div>
    </div>
{% endblock content %}