<section class="specific-user-info">
    <div class="container">
        <div class="row specific-user-info-block">
            <div class="col-4 col-mobile-8 specific-user-avatar">
                <div class="AvatarWithBorder">
                    <div class="AvatarWithBorder-Container" style="background-image: url('{{ owner['avatar'] }}');">
                    </div>
                </div>
                <div class="user-statistic-info">
                    <div class="user-bar-name">
                        {{ owner['name'] }}
                    </div>
                    <div class="rating-scale">
                        <img alt="" src="/img/star_blue.svg">
                        <img alt="" src="/img/star.svg">
                        <img alt="" src="/img/star.svg">
                        <img alt="" src="/img/star.svg">
                        <img alt="" src="/img/star.svg">
                    </div>
                    <div class="user-bar__from-registration">
                        {{ owner['time_from_create'] }} на ЛУНЕ
                    </div>
                    <div class="user-statistic">
                        <div class="user-statistic-row">
                            <span class="title">Регистрация:</span>
                            <span class="value"> {{ owner['created_format'] }}</span>
                        </div>
                        <div class="user-statistic-row">
                            <span class="title">Объявлений:</span>
                            <span class="value">{{ owner['count_published_products'] }}</span>
                        </div>
                        <div class="user-statistic-row">
                            <span class="title"> Закупок:</span>
                            <span class="value">{{ owner['count_published_purchases'] }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 col-mobile-8 specific-user-buttons">
                {#<button class="button-purple">Написать покупателю</button>#}
                <button class="button-transparent-with-stroke button-white button-show-hidden-field js-show-hidden">
                    <span class="button-show-hidden-field__name">Показать телефон</span>
                    <span class="button-show-hidden-field__text">{{ owner['phone'] }}</span>
                </button>
            </div>
        </div>
    </div>
</section>
