{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}

{% block content %}
    {% set active_view_mode = viewModeHelper().getViewMode(view_mode) %}
    <main class="shop-card-page">
        <section class="specific-user-info">
            <div class="container">
                <div class="row specific-user-info-block">
                    <div class="col-6 col-mobile-4 col-small-4 specific-user-avatar">
                        <div class="AvatarWithBorder">
                            <div class="AvatarWithBorder-Container">
                                {% if shop['logo'] is not null %}
                                    <img src="{{ resizer(shop['logo']['path']).resize(140, 140) }}" alt="">
                                {% else %}
                                    <img src="{{ resizer("/img/no-photo.png").resize(140, 140) }}" alt="">
                                {% endif %}
                            </div>
                        </div>
                        <div class="user-statistic-info">
                            <div class="user-bar-name">
                                {{ shop['name'] }}
                            </div>
                            <div class="user-bar__from-registration">
                                1 день на ЛУНЕ
                            </div>
                            <div class="user-statistic">
                                <div class="user-statistic-row">
                                    <span class="title">Регистрация:</span>
                                    <span class="value">{{ pageHelper.dateFormat(shop['created'], 'd.m.y') }}</span>
                                </div>
                                <div class="user-statistic-row align-count">
                                    <span class="title">Объявлений:</span>
                                    <span class="value">2</span>
                                </div>
                                {#<div class="user-statistic-row manufacturer-info">#}
                                    {#<span class="title"> Производитель:</span>#}
                                    {#<span class="value">#}
                                        {#<a class="link-inline" href="#">ООО «Сладкая жизнь»</a>#}
                                        {#<span class="status-manufacturer"></span>#}
                                    {#</span>#}
                                {#</div>#}
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-mobile-4 col-small-4 specific-user-contacts">
                        {% if shop['phones'] | length > 0 %}
                            <div class="specific-user-phone">
                                <div class="user-contacts-label">Телефон:</div>
                                {% for phone in shop['phones'] %}
                                    <span class="user-contacts-value">{{ phoneHelper().formatPhone(phone) | trim }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if shop['work_schedule'] | length > 0 %}
                            <div class="specific-user-working-hours">
                                <div class="user-contacts-label">Время работы:</div>
                                {% for work_schedule in shop['work_schedule'] %}
                                    <span class="user-contacts-value">{{ work_schedule }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>


        <section class="content">
            <section class="content-header">
                <div class="container">
                    <div class="row wrap-flex">
                        <div class="tabs-container col-4 col-desk-4 col-tablet-4 col-mobile-8">
                            <div class="tab col-6 col-desk-6 col-mobile-4">
                                <div class="tab__title active">
                                    <a href="#">Объявления</a>
                                </div>
                            </div>
                            {#<div class="tab col-6 col-desk-6 col-mobile-4">#}
                                {#<div class="tab__title">#}
                                    {#<a href="#">О магазине</a>#}
                                {#</div>#}
                            {#</div>#}
                        </div>

                        <div class="col-empty col-2 col-desk-3 col-tablet-0"></div>
                        <div class="col-5 col-desk-4 col-tablet-3">
                            <div class="control-form">
                                <input type="search" class="input-search" placeholder="Поиск по объявлениям магазина">
                            </div>
                        </div>
                        <div class="mode-view-block col-1 col-desk-1 col-tablet-1">
                            <a href="?view_mode=list" class="mode-item mode-item_type_list {{ active_view_mode == 'list' ? 'active' : '' }}"></a>
                            <a href="?view_mode=block" class="mode-item mode-item_type_block {{ active_view_mode == 'block' ? 'active' : '' }}"></a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="content-main">
                <div class="container">
                    {#<ul class="categories-list">#}
                        {#<li class="subcategory-item"><a href="#">Вино</a></li>#}
                        {#<li class="subcategory-item"><a href="#">Водка, Настойки</a></li>#}
                        {#<li class="subcategory-item"><a href="#">Виски, Бурбон</a></li>#}
                        {#<li class="subcategory-item"><a href="#">Коньяк, Арманьяк</a></li>#}
                        {#<li class="subcategory-item"><a href="#">Текила, Ром, Ликер</a></li>#}
                    {#</ul>#}
                    <div class="catalog is-{{ viewModeHelper().getViewMode(view_mode) }}-catalog">
                        <div class="row">
                            {% for product in products %}
                                {% include '/application/products/public-product/partial/product-card.twig' with { 'product': product } %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
{% endblock content %}