{% extends 'twig/layout/landing' %}
{% import 'macro/pageHelper.twig' as pageHelper %}

{% block content %}
    <main class="shops-page">
        {% block section_top %}
            <section class="top">
                {% include '/partial/block_search.twig' %}
                {% include '/partial/block_categories_menu.twig' %}
            </section>
        {% endblock section_top %}
        <section class="content" id="TableShops">
            <section class="content-header">
                <div class="container">
                    <div class="row wrap-flex">
                        <div class="col-9">
                            <div class="content-header-navigation">
                                <h2 class="content-header-navigation__title">Все магазины</h2>
                            </div>
                        </div>
                        <div class="col-3 col-tablet-4 col-mobile-8 col-small-4 search-select">
                            <div class="control-form">
                                <div class="SelectImitation">
                                    <div class="SelectImitation-Container">
                                        {#<div class="SelectImitation-Text" title="Во всех категориях">#}
                                            {#Во всех категориях#}
                                        {#</div>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container list-shops">
                {% for shop in shops %}
                    {% include '/application/shops/partial/shop-card.twig' with { 'shop': shop } %}
                {% endfor %}
                <div class="button-row">
                    <a href="?page={{ paginator['current_page'] + 1 }}" class="button-transparent-with-stroke">Показать больше</a>
                </div>
            </div>
        </section>
    </main>
    <!--noindex-->
    <script id="shops-json" type="application/json">{{ JsonUtil().mb_encode(shops) | raw}}</script>
    <script id="categories-json" type="application/json">{{ JsonUtil().mb_encode(categories) | raw}}</script>
    <script id="init-search-json" type="application/json">{{ JsonUtil().mb_encode(init_search) | raw }}</script>
    <!--/noindex-->
{% endblock content %}