@keyframes shake {
  10%, 50% {
    transform: translate3d(-8px, 0, 0);
  }

 30%, 70% {
    transform: translate3d(8px, 0, 0);
  }
}

.animation-shake {
  animation: shake .6s ease;
}

//---------------//
@keyframes show {
  from {
    display: block;
  }
  to {
    opacity: 1;
  }
}