* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
body {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100vh;
  background-color: #ffffff;
  z-index: 0;

  @media (max-width: @tablet){
    padding-top: 80px;
  }

  @media (max-width: @mobile){
    padding-top: 60px;
  }

}
body.overflow-hidden__modal {
  overflow: hidden;
}

.fixed-noscroll {
  overflow: hidden;
  @media (max-width: @mobile) {
    overflow: hidden;
    position: fixed;
  }
}

body.overflow-hidden__popup {
  overflow: hidden;
}
ol, ul, li {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
}
a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: @text-color;
  //position: relative;
  &:visited {

  }
}
a.link-inline {
  color: @accent-blue;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}