//@col-width: calc(70 * 100% / 1170);
//@col-width: calc(100% / 12);
.row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  max-width: 1170px + 2*@col-padding;
  margin-left: auto;
  margin-right: auto;
  zoom: 1;

  &.row_full-width{
    width: auto;
    margin-left: -15px;
    margin-right: -15px;
    @media (max-width: @small){
      margin-left: -10px;
      margin-right: -10px;
    }
  }

  &.row__inner {

  }

  &:before, &:after{
    content:""; display:table;
  }
  &:after{
    clear: both;
  }

  & & {
    //width: auto;
    //margin-left: -1 * @col-padding;
    //margin-right: -1 * @col-padding;
  }
}
[class*="col-"] {
  flex: 0 1 auto;
  padding: 0 @col-padding;
  width: 100%;
  @media (max-width: @tablet) {
    padding: 0 15px;
  }
  @media (max-width: @small) {
    padding: 0 10px;
  }
}

.generate-columns (@n, @i: 1) when (@i =< @n) {
  // Обычные колонки без привязки к префиксу
  .col-@{i} {
    width: (@i * 100% / @n);
    @media (max-width: @small) {
      width: 100%;
    }
  }
  .col-offset-@{i} {
    margin-left: (@i * 100% / @n);
  }

  .generate-columns(@n, (@i + 1));
}
.generate-columns(12);



// Desktop sizes
.generate-columns-desktop(@n, @i: 1) when (@i =< @n) {
  .col-desk-@{i} {
    @media (max-width: @desktop) {
      width: (@i * 100% / @n);
    }
  }
  .col-desk-offset-@{i} {
    @media (max-width: @desktop) {
      margin-left: (@i * 100% / @n);
    }
  }
  .generate-columns-desktop(@n, (@i + 1));
}
@media (max-width: @desktop) {
  .generate-columns-desktop(12);
}

// Tablet sizes
.generate-columns-tablet(@n, @i: 0) when (@i =< @n) {
  .col-tablet-@{i} {
    @media (max-width: @tablet) {
      width: (@i * 100% / @n);
    }
  }
  .col-tablet-offset-@{i} {
    @media (max-width: @tablet) {
      margin-left: (@i * 100% / @n);
    }
  }
  .generate-columns-tablet(@n, (@i + 1));
}
@media (max-width: @tablet) {
  .generate-columns-tablet(8);
}

// Mobile sizes
.generate-columns-mobile(@n, @i: 0) when (@i =< @n) {
  .col-mobile-@{i} {
    @media (max-width: @mobile) {
      width: (@i * 100% / @n);
    }
  }
  .col-mobile-offset-@{i} {
    @media (max-width: @mobile) {
      margin-left: (@i * 100% / @n);
    }
  }
  .generate-columns-mobile(@n, (@i + 1));
}
@media (max-width: @mobile) {
  .generate-columns-mobile(8);
}

// Small sizes
.generate-columns-small(@n, @i: 1) when (@i =< @n) {
  .col-small-@{i} {
    @media (max-width: @small) {
      width: (@i * 100% / @n);
    }
  }
  .col-small-offset-@{i} {
    @media (max-width: @small) {
      margin-left: (@i * 100% / @n);
    }
  }
  .generate-columns-small(@n, (@i + 1));
}
@media (max-width: @small) {
  .generate-columns-small(4);
}

//Extra small size
.generate-columns-xs-small(@n, @i: 1) when (@i =< @n) {
  .col-xs-small-@{i} {
    @media (max-width: @extra-small) {
      width: (@i * 100% / @n);
    }
  }
  .col-xs-small-offset-@{i} {
    @media (max-width: @extra-small) {
      margin-left: (@i * 100% / @n);
    }
  }
  .generate-columns-xs-small(@n, (@i + 1));
}
@media (max-width: @extra-small) {
  .generate-columns-xs-small(4);
}

.w100{
  width: 100%;
}
.ht{
  @media (max-width: @tablet) and (min-width: @tabletStart){
    display: none !important;
  }
}
.hm{
  @media (max-width: @mobile){
    display: none !important;
  }
}
.hd{
  @media (min-width: @desktopStart){
    display: none !important;
  }
}