//@import (multiple) "../mixins/font";


@font-face {
  font-family: Lato;
  src: url("../../fonts/Lato/LatoBold/LatoBold.eot");
  src: url("../../fonts/Lato/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/Lato/LatoBold/LatoBold.woff") format("woff"),
  url("../../fonts/Lato/LatoBold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: Lato;
  //url("/fonts/Lato/LatoMedium/LatoMedium.ttf") format("truetype");
  src: url("../../fonts/Lato/LatoMedium/LatoMedium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Lato;
  src: url("../../fonts/Lato/LatoRegular/LatoRegular.eot");
  src: url("../../fonts/Lato/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/Lato/LatoRegular/LatoRegular.woff") format("woff"),
  url("../../fonts/Lato/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: url("../../fonts/Lato/LatoLight/LatoLight.eot");
  src: url("../../fonts/Lato/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/Lato/LatoLight/LatoLight.woff") format("woff"),
  url("../../fonts/Lato/LatoLight/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Lato;
  src: url("../../fonts/Lato/LatoLightItalic/LatoLightItalic.eot");
  src: url("../../fonts/Lato/LatoLightItalic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/Lato/LatoLightItalic/LatoLightItalic.woff") format("woff"),
  url("../../fonts/Lato/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 300;
}
//@font-face {
//  font-family: Lato;
//  src: url("/fonts/Lato-3/Lato-Black.ttf");
//  font-style: normal;
//  font-weight: 800;
//}
//
//@font-face {
//  font-family: Lato;
//  src: url("/fonts/Lato-3/Lato-Bold.ttf");
//  font-style: normal;
//  font-weight: 700;
//}
//@font-face {
//  font-family: Lato;
//  src: url("/fonts/Lato-3/Lato-Medium.ttf");
//  font-style: normal;
//  font-weight: 500;
//}
//@font-face {
//  font-family: Lato;
//  src: url("/fonts/Lato-3/Lato-Regular.ttf");
//  font-style: normal;
//  font-weight: 400;
//}
//@font-face {
//  font-family: Lato;
//  src: url("/fonts/Lato-3/Lato-Light.ttf");
//  font-style: normal;
//  font-weight: 300;
//}