
body {
  font-family: Lato, Arial, sans-serif;
  font-size: 14px;
  line-height: calc(24 / 14);
  font-weight: 400;
  color: @text-color;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h1, h2 {
  margin-bottom: 20px;
  @media (max-width: @tablet) {
    margin-bottom: 10px;
  }
}
h1 {
  font-weight: 500;
  line-height: 1;
  font-size: 30px;
  @media (max-width: @tablet) {
    font-size: 24px;
  }
  @media (max-width: @extra-small) {
    font-size: 18px;
  }
}
h2 {
  font-weight: 500;
  line-height: 24px;
  font-size: 18px;
  @media (max-width: @mobile) {
    font-size: 14px;
  }
  @media (max-width: @extra-small) {
    font-size: 12px;
  }
}
h3 {

}
p {

}
a {
  font-weight: 500;
}