{% extends 'twig/layout/authentication' %}
{#
    passwordResetForm - form
#}
{% do headTitle('Восстановление пароля') %}
{% block content %}


<section class="message-page container auth-form">
    <div class="row">
        <div class="col-10">
            <div class="auth-form-main-container form-popup">
                <h1>Восстановить пароль</h1>
                {{ form().openTag(passwordResetForm)|raw }}
                {#<noscript>#}
                <div class="control-form">
                    <label for="">Введите Ваш e-mail для восстановления пароля:</label>
                    <div class="form-input">
                        {{ formElement(passwordResetForm.get('email'))|raw }}
                    </div>
                </div>
                {{ formElementErrors(passwordResetForm.get('email'))|raw }}
                {{ formElement(passwordResetForm.get('csrf'))|raw }}
                {#{{ formElement(passwordResetForm.get('submit'))|raw }}#}
                <div class="control-form">
                    <button type="submit" class="button-purple" name="submit" id="submit">Сбросить пароль</button>
                </div>
                {#</noscript>#}
                {{ form().closeTag()|raw }}
            </div>
        </div>
    </div>
</section>
{% endblock content %}