{% extends 'twig/layout/authentication' %}
{#
    passwordChangeForm - form
#}
{% do headTitle('Изменение пароля') %}
{% block content %}
<section class="message-page container auth-form">
    <div class="row">
        <div class="col-10">
            <div class="auth-form-main-container form-popup" id="change-password-controller">
                <h1>Смена пароля</h1>
                {{ form().openTag(passwordChangeForm)|raw }}
                <div class="control-form">
                    <label for="">Введите новый пароль:</label>
                    {{ formElement(passwordChangeForm.get('new_password'))|raw }}
                    {{ formElementErrors(passwordChangeForm.get('new_password'))|raw }}
                </div>

                <div class="control-form">
                    <label for="">Введите новый пароль еще раз:</label>
                    {{ formElement(passwordChangeForm.get('confirm_new_password'))|raw }}
                    {{ formElementErrors(passwordChangeForm.get('confirm_new_password'))|raw }}
                </div>
                {{ formElement(passwordChangeForm.get('csrf'))|raw }}

                {#{{ formElement(passwordChangeForm.get('submit'))|raw }}#}
                <div class="form-field">
                    <button type="submit" class="button-purple" name="submit" id="submit">Изменить пароль</button>
                </div>

                {{ form().closeTag()|raw }}
            </div>
        </div>
    </div>
</section>
{% endblock content %}