{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{#
    shopCustomForm - форма
#}
{% block content %}
    <main class="site-page">
        <div class="container">
            <div class="row row_full-width" style="padding: 30px 0;">
                <div class="col-8 col-tablet-8">
                    {{ form().openTag(shopCustomForm)|raw }}
                    <h1 class="page-title">Добавление статуса "производитель"</h1>
                    {{ formElement(shopCustomForm.get('csrf'))|raw }}
                    {{ formElementErrors(shopCustomForm.get('csrf'))|raw }}
                    <div class="flexible-row">
                        <div class="control-form flexible-row__child">
                            {{ formLabel(shopCustomForm.get('ident'))|raw }}
                            {{ formElement(shopCustomForm.get('ident'))|raw }}
                            {{ formElementErrors(shopCustomForm.get('ident'))|raw }}
                        </div>
                    </div>
                    <div class="flexible-row">
                        <div class="control-form flexible-row__child">
                            {{ formLabel(shopCustomForm.get('name'))|raw }}
                            {{ formElement(shopCustomForm.get('name'))|raw }}
                            {{ formElementErrors(shopCustomForm.get('name'))|raw }}
                        </div>
                    </div>
                    <div class="flexible-row">
                        <div class="control-form flexible-row__child">
                            {{ formLabel(shopCustomForm.get('legal_name'))|raw }}
                            {{ formElement(shopCustomForm.get('legal_name'))|raw }}
                            {{ formElementErrors(shopCustomForm.get('legal_name'))|raw }}
                        </div>
                    </div>
                    <div class="flexible-row">
                        <div class="control-form flexible-row__child">
                            {{ formLabel(shopCustomForm.get('legal_address'))|raw }}
                            {{ formElement(shopCustomForm.get('legal_address'))|raw }}
                            {{ formElementErrors(shopCustomForm.get('legal_address'))|raw }}
                        </div>
                    </div>
                    <div class="flexible-row">
                        <div class="control-form flexible-row__child">
                            {{ formLabel(shopCustomForm.get('postal_address'))|raw }}
                            {{ formElement(shopCustomForm.get('postal_address'))|raw }}
                            {{ formElementErrors(shopCustomForm.get('postal_address'))|raw }}
                        </div>
                    </div>
                    <div class="flexible-row">
                        <div class="control-form flexible-row__child">
                            {{ formLabel(shopCustomForm.get('inn'))|raw }}
                            {{ formElement(shopCustomForm.get('inn'))|raw }}
                            {{ formElementErrors(shopCustomForm.get('inn'))|raw }}
                        </div>
                    </div>
                    <div class="flexible-row">
                        <div class="control-form flexible-row__child">
                            {{ formLabel(shopCustomForm.get('ogrn'))|raw }}
                            {{ formElement(shopCustomForm.get('ogrn'))|raw }}
                            {{ formElementErrors(shopCustomForm.get('ogrn'))|raw }}
                        </div>
                    </div>
                    <div class="flexible-row">
                        <div class="control-form flexible-row__child">
                            {{ formLabel(shopCustomForm.get('description'))|raw }}
                            {{ formElement(shopCustomForm.get('description'))|raw }}
                            {{ formElementErrors(shopCustomForm.get('description'))|raw }}
                        </div>
                    </div>
                    <div class="flexible-row">
                        <div class="control-form flexible-row__child">
                            {{ formLabel(shopCustomForm.get('phones'))|raw }}
                            {{ formElement(shopCustomForm.get('phones'))|raw }}
                            {{ formElementErrors(shopCustomForm.get('phones'))|raw }}
                        </div>
                    </div>
                    <div class="flexible-row">
                        <div class="control-form flexible-row__child">
                            {{ formLabel(shopCustomForm.get('work_schedule'))|raw }}
                            {{ formElement(shopCustomForm.get('work_schedule'))|raw }}
                            {{ formElementErrors(shopCustomForm.get('work_schedule'))|raw }}
                        </div>
                    </div>
                    <div class="flexible-row">
                        <div class="control-form flexible-row__child">
                            {{ formLabel(shopCustomForm.get('web_links'))|raw }}
                            {{ formElement(shopCustomForm.get('web_links'))|raw }}
                            {{ formElementErrors(shopCustomForm.get('web_links'))|raw }}
                        </div>
                    </div>
                    <div class="control-form action-buttons">
                        <button type="submit" class="button-blue action-button">Сохранить</button>
                    </div>
                    {{ form().closeTag()|raw }}
                </div>
            </div>
        </div>
    </main>
{% endblock content %}