{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}
{#
    fabricatorCustomForm - форма
#}
{% block content %}
    <main class="site-page">
        <div class="container">
            <div class="row row_full-width" style="padding: 30px 0;">
                <div class="col-8 col-tablet-8">
                    {{ form().openTag(fabricatorCustomForm)|raw }}
                    <style>
                        #fabricator-custom-select-box select{height: 300px}
                    </style>
                    <h1 class="page-title">Добавление статуса "производитель"</h1>
                    {{ formElement(fabricatorCustomForm.get('csrf'))|raw }}
                    {{ formElementErrors(fabricatorCustomForm.get('csrf'))|raw }}

                    <div class="flexible-row">
                        <div class="control-form flexible-row__child">
                            {{ formLabel(fabricatorCustomForm.get('ident'))|raw }}
                            {{ formElement(fabricatorCustomForm.get('ident'))|raw }}
                            {{ formElementErrors(fabricatorCustomForm.get('ident'))|raw }}
                        </div>
                    </div>
                    <div class="flexible-row">
                        <div id="fabricator-custom-select-box" class="control-form flexible-row__child">
                            {{ formLabel(fabricatorCustomForm.get('category'))|raw }}
                            {{ formElement(fabricatorCustomForm.get('category'))|raw }}
                            {{ formElementErrors(fabricatorCustomForm.get('category'))|raw }}
                        </div>
                    </div>
                    <div class="flexible-row">
                        <div class="control-form flexible-row__child">
                            {{ formLabel(fabricatorCustomForm.get('name'))|raw }}
                            {{ formElement(fabricatorCustomForm.get('name'))|raw }}
                            {{ formElementErrors(fabricatorCustomForm.get('name'))|raw }}
                        </div>
                    </div>
                    <div class="flexible-row">
                        <div class="control-form flexible-row__child">
                            {{ formLabel(fabricatorCustomForm.get('legal_address'))|raw }}
                            {{ formElement(fabricatorCustomForm.get('legal_address'))|raw }}
                            {{ formElementErrors(fabricatorCustomForm.get('legal_address'))|raw }}
                        </div>
                    </div>
                    <div class="flexible-row">
                        <div class="control-form flexible-row__child">
                            {{ formLabel(fabricatorCustomForm.get('inn'))|raw }}
                            {{ formElement(fabricatorCustomForm.get('inn'))|raw }}
                            {{ formElementErrors(fabricatorCustomForm.get('inn'))|raw }}
                        </div>
                    </div>
                    <div class="flexible-row">
                        <div class="control-form flexible-row__child">
                            {{ formLabel(fabricatorCustomForm.get('kpp'))|raw }}
                            {{ formElement(fabricatorCustomForm.get('kpp'))|raw }}
                            {{ formElementErrors(fabricatorCustomForm.get('kpp'))|raw }}
                        </div>
                    </div>

                    <div class="control-form action-buttons">
                        <button type="submit" class="button-blue action-button">Сохранить</button>
                    </div>
                    {{ form().closeTag()|raw }}
                </div>
            </div>
        </div>
    </main>
{% endblock content %}