.advert_actions_popup_content {
  background-color: #F6F7F9;

  .product-preview {
    padding-top: 0;
    padding-bottom: 0;

    .product-preview__inner {
      padding: 33px 30px 24px;
      &.purchase-preview__inner {
        padding-top: 20px;
      }
      @media (max-width: @tablet) {
        padding: 16px;
      }
      @media (max-width: @small) {
        padding: 16px 10px;
      }

      .product-images-previews {
        margin-bottom: 0;
        margin-top: 15px;
      }

      .product-name {
        padding-top: 0;
      }

      .purchase_preview_link_row {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .advert_actions_popup_ad_preview {
    .advert_title {
      padding: 30px 30px 26px 30px;
      h4 {
        display: inline-block;
        font-size: 30px;
        line-height: 36px;
        color: #4B4C6E;
        margin-left: 16px;
      }
      @import (multiple) "../atoms/guarant_pay_logo";
    }

    @import (multiple) "../molecules/advert_properties";
  }
}