.advert_actions_popup_buttons {
  @import (multiple) "../atoms/button-purple";
  @import (multiple) "../atoms/button-popup-white";
  @import (multiple) "../atoms/button-popup";

  &.published, &.paused {
    .button-popup {
      &:nth-child(1){
        margin-right: 15px;
        @media (max-width: @tablet) {
          margin-right: 0;
        }
        @media (max-width: @small) {
         max-width: none;
        }
      }
      &:nth-child(2){
        margin-left: 15px;
        margin-right: 15px;
        @media (max-width: @tablet) {
          margin-right: 0;
          margin-left: 0;
        }
        @media (max-width: @small) {
          max-width: none;
        }
      }
      &:nth-child(3){
        margin-left: 15px;
        @media (max-width: @tablet) {
          margin-left: 0;
        }
        @media (max-width: @small) {
          max-width: none;
        }
      }
    }

  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 44px 30px 46px 30px;

  @media (max-width: @tablet) {
    align-items: center;
    flex-direction: column;
    padding: 24px 16px;
  }
  @media (max-width: @small) {
    padding: 24px 10px;
  }

  .button-popup + .button-popup {
    @media (max-width: @tablet) {
      margin-top: 12px;
    }
  }

}