.advert_moderate_decline_reason_form {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-box-shadow: 0px 0px 15px -3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 15px -3px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 15px -3px rgba(50, 50, 50, 0.75);
  background-color: white;

  .description-field-help-message {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .control-form {
    width: 100%;
    padding: 0 30px;
  }

  .row {
    padding: 34px 30px 0 30px;
    >div {
      width: 100%;
    }
  }
}