.advert_actions_popup_header {
  //padding: 40px 30px 30px 30px;
  padding: 28px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: @tablet) {
    display: block;
    padding: 16px;
  }
  @media (max-width: @small) {
    padding: 16px 10px;
  }

  @import (multiple) "../atoms/popup-title";
  .popup-title {
    @media (max-width: @tablet) {
      text-align: left;
    }
  }

  @import (multiple) "../molecules/advert_properties";
  @import (multiple) "../molecules/advert_info";
  @import (multiple) "../atoms/advert_popup_header_icon";

  .advert_popup_header_icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    @media (max-width: @tablet) {
     transform: none;
      top: 3px;
    }
  }
  .advert_popup_header_title {
    position: relative;
    display: flex;
    align-items: center;
    @media (max-width: @tablet) {
      align-items: flex-start;
    }
    .popup-title {
      padding-left: 40px;
      margin-bottom: 0;
      @media (max-width: @tablet) {
       font-size: 24px;
      }
    }
  }

  a {
    color: #007FFF;
    text-decoration: underline;
  }

  &.declined {
    padding-bottom: 23px;
    @media (max-width: @tablet) {
      padding: 16px;
    }
    @media (max-width: @small) {
      padding: 16px 10px;
    }
  }
}