
@import (multiple) "../molecules/popup-container";
.auth-form {
  //margin: 60px 0;

  > .row {
    //max-width: 630px;
    min-width: 660px;
    flex-flow: row nowrap;
    justify-content: center;
    @media (max-width: @small) {
      min-width: 0;
    }
  }

  @import (multiple) "../atoms/button-purple";
  .button-purple {
    max-width: none;
  }

  .auth-form-main,
  .auth-form-img {
    box-shadow: 0 0 10px rgba(32, 73, 146, 0.2);
  }

  .js-popup-content{
    .auth-form-main{
      //width: 330px;
    }
  }

  .auth-form-main {
    //box-sizing: content-box;
    background-color: #ffffff;
    border-radius: @border-radius 0 0 @border-radius;

    .auth-form-main-container {
      padding: 30px 15px;
      text-align: center;
      @media (max-width: @small) {
        padding: 15px;
      }

      h1 {
        margin-bottom: 44px;
        @media (max-width: @small) {
          margin-bottom: 20px;
        }
      }
      form {
        margin-bottom: 20px;
        @import (multiple) "../molecules/control-form";
        .control-form {
          //Вынуждено использован селектор :nth-child(n)
          label.form-checkbox:nth-child(n) {
            margin-bottom: 5px;
            .form-checkbox__field {
              margin-right: 8px;
            }
          }
        }
      > div {
        margin-bottom: 20px;
      }
        .auth-form-password-field {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 12px;
          .control-form {
            margin-bottom: 0;
          }
          .link-inline {
            position: relative;
            margin-bottom: 8px;
          }
        }
      }

      @import (multiple) "../atoms/button-sing-in-facebook";
      @import (multiple) "../atoms/button-sing-in-vk";

      .social-links,
      .registration-links {
        :nth-child(n) {
          margin-bottom: 20px;
        }
      }
      .social-links {
        [class*="button-sing"] {
          @media (max-width: @small) {
            text-align: center;
          }
        }
      }
      .registration-links {
        p {
          font-size: 12px;
        }
        :last-child {
          margin-bottom: 0;
        }
      }

      @import (multiple) "../atoms/button-blue";

    }

  }
  .auth-form-img {
    //width: 300px;
    background: url("../../img/auth-block-img.png") no-repeat 0 0;
    background-size: cover;
    border-radius: 0 @border-radius @border-radius 0;

    @media (max-width: @small) {
      display: none;
    }
  }

}

.auth-form.no-js, .auth-form.react-js {
  min-width: 0;
  max-width: 660px;
  margin: 0 auto;
  padding: 30px 0;
}