//Отображение по умолчанию (в виде карточек в каталоге)
.catalog {
  .row {
    margin: 0 -15px;
    max-width: none;
    width: auto;
    @media (max-width: @small) {
      margin: 0 -10px;
    }
    &.nested-row {
      margin: 0;
    }
    [class*="col-"] {
      margin-bottom: 30px;
      @media (max-width: @mobile) {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .col-mobile-2 {
      @media (max-width: @tablet) {
        padding: 0 10px;
      }
    }
  }

  @import (multiple) "../molecules/catalog-item";
  .catalog-item {
    min-height: 380px;
    @media (max-width: @mobile) {
      min-height: 0;
    }
    .catalog-item-name {
      margin-bottom: 3px;
      @media (max-width: @mobile) {
        margin-bottom: 0;
      }
    }
    .catalog-item-description {
      .summary {
        display: none;
      }
      .catalog-item-description__main {
        > .wrapper {
          //min-height: 95px;
          min-height: 85px;
          @media (max-width: @mobile) {
            min-height: 0;
          }
        }
      }
      .catalog-item-description__date {
        display: none;
      }
    }

    .catalog-item-info {
      .catalog-item-about-deal {
        text-align: right;
        .garant-deal {
          position: static;
          .garant-deal_text {
            display: none;
          }
          .tooltip {
            left: 0;
            padding-top: 10px;
          }
        }
        .delivery-deal {
          display: none;
        }
      }
    }
  }

  .button-row {
    margin: 20px 0;
    text-align: center;

    @import (multiple) "../atoms/button-transparent";

    .button-transparent {
      color: @purple-color;
      border-color: @purple-color;
      @media (max-width: @small) {
        max-width: none;
      }
    }
  }

  @media (max-width: @mobile) {
    .row {
      display: block;
    }

    .col-product {
      margin-bottom: 10px;
      width: 100%;
      &:first-child {
        padding-top: 4px;
      }
      .catalog-item {
        .catalog-item-name {
          margin-top: 0;
        }
      }
    }

    .catalog-item {
      display: flex;
      margin-bottom: 0;

      > .wrapper {
        display: flex;
        width: 100%;
        position: relative;
        padding: 6px 10px;
        &.wrapper-purchase {
          align-items: center;

          [class*='col-'] {
            margin-bottom: 0;
          }
          .row_full-width {
            display: flex;
          }
          .catalog-item-category {
            @media (max-width: @mobile) {
              display: block;
            }
          }
        }
      }

      &.catalog-item-purchase {
        cursor: pointer;
        @media (max-width: @mobile) {
          padding: 4px 0;
        }
        .col-budget,
        .purchase-quantity {
          display: flex;
          align-items: center;
        }

      }

      .catalog-item-description {
        overflow: hidden;
        width: 100%;
        .wrapper {
          position: relative;
        }
      }

      .catalog-item-description__date {
        display: block;
      }

      .catalog-item-about-deal {
        display: flex;
        .garant-deal {
          text-align: left;
          .garant-deal_text {
            display: inline;
          }
          .tooltip {
            padding-top: 6px;
            width: auto;
            right: 0;
            left: auto;
            max-width: 250px;
          }
        }
      }

      .catalog-item-info {
        .catalog-item-date {
          text-transform: none;
        }
      }

      .catalog-item-photo {
        display: flex;
        align-items: center;
        min-height: 100px;
        min-width: 110px;
        max-width: 110px;
        height: 100px;
        margin-bottom: 0;
        border-top-left-radius: @border-radius;
        border-top-right-radius: 0;
        border-bottom-left-radius: @border-radius;
        img {
          height: 100%;
          width: 100%;
        }
      }

      .catalog-item-description {
        overflow: visible;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        .wrapper {
          column-width: auto;
          height: auto;
        }
      }

      .catalog-item-category {
        display: none;
      }

      .summary {
        display: block;
        overflow: hidden;
        position: relative;
        max-height: 78px;
        text-align: justify;
        margin-right: -1em;
        padding-right: 1em;
        line-height: 20px;
        font-size: 14px;
        margin-top: 2px;

        &:before {
          content: '...';
          position: absolute;
          right: 0;
          bottom: 0;
        }

        &:after {
          content: '';
          position: absolute;
          right: 0;
          width: 1em;
          height: 1em;
          margin-top: 0.2em;
          background: #FFFFFF;
        }

      }

      .catalog-item-features {
        width: 200px;
        padding: 20px 0;
        @media (max-width: @tablet) {
          padding-left: 15px;
        }

        .catalog-item-date {
          display: none;
        }
      }
    }
  }
}

//Отображение в виде списка карточек

@media (min-width: (@mobile + 1)) {
  .catalog.is-list-catalog {
    .row {
      display: block;
    }
    .col-product {
      width: 100%;
    }
    .catalog-item {
      display: flex;
      margin-bottom: 26px;
      min-height: 0;

      > .wrapper {
        display: flex;
        width: 100%;
        position: relative;
        &.wrapper-purchase {
          align-items: center;
          [class*='col-'] {
            margin-bottom: 0;
          }
          .row_full-width {
            display: flex;
            flex-flow: row nowrap;
          }
        }
      }

      &.catalog-item-purchase {
        cursor: pointer;
        padding: 8px 15px;
        @media (max-width: @tablet) {
          padding: 0;
        }
        .col-budget,
        .purchase-quantity {
          display: flex;
          align-items: center;
        }

      }

      .catalog-item-description {
        overflow: hidden;
      }

      .catalog-item-description__date {
        display: block;
      }

      .catalog-item-about-deal {
        display: flex;
        .garant-deal {
          text-align: left;
          .garant-deal_text {
            display: inline;
          }
          .tooltip {
            width: auto;
            right: 0;
            left: auto;
            max-width: 250px;
            padding-top: 6px;
          }
        }
      }

      .catalog-item-name {
        margin-top: 13px;
        margin-bottom: 13px;
      }

      .catalog-item-info {
        bottom: 4px;
        left: 30px;
        right: 30px;
        width: auto;
        position: absolute;

        .catalog-item-date {
          text-transform: none;
        }

      }

      .catalog-item-photo {
        min-width: 270px;
        margin-bottom: 0;
        align-items: center;
        display: flex;
        min-height: 240px;
        max-width: 270px;
        height: 194px;

        img {
          height: auto;
          width: auto;
        }
      }

      .catalog-item-description {
        padding: 0 30px 0 20px;
        height: 50px;
        overflow: visible;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .catalog-item-description__main {
          > .wrapper {
            column-width: auto;
            height: auto;
            min-height: 0;
          }
        }
      }

      .summary {
        display: block;
        overflow: hidden;
        position: relative;
        max-height: 78px;
        text-align: justify;
        margin-right: -1em;
        padding-right: 1em;
        line-height: 20px;
        font-size: 14px;
        margin-top: 2px;
        word-break: break-all;

        &:before {
          content: '...';
          position: absolute;
          right: 0;
          bottom: 0;
        }

        &:after {
          content: '';
          position: absolute;
          right: 0;
          width: 1em;
          height: 1em;
          margin-top: 0.2em;
          background: #FFFFFF;
        }

      }

      .catalog-item-features {
        width: 200px;
        padding: 20px 0;
        @media (max-width: @tablet) {
          padding-left: 15px;
        }

        .catalog-item-date {
          display: none;
        }
      }
    }
  }
}



