.categories-menu {
  //padding: 20px 0;
  //@media (max-width: @mobile) {
  //  padding: 12px 0 0 0;
  //}
  position: relative;
  // margin: -18px 0;
  @media (max-width: @tablet) {
    // height: 85px;
  }
  @media (max-width: @mobile) {
    // height: 40px;
  }
  &:before {
    display: none;
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    height: 18px;
    background-color: #fff;
    box-shadow: 0 0 12px 5px #fff;
    @media (max-width: @mobile) {
      display: none;
    }
  }
  .category-item {
      //max-height: 186px;
      overflow: hidden;
      border: 1px solid transparent;
      //-webkit-transition-property: max-height;
      //-o-transition-property: max-height;
      //transition-property: max-height;
      //-webkit-transition-duration: .15s;
      //-o-transition-duration: .15s;
      //transition-duration: .15s;
      //-webkit-transition-delay: .1s;
      //-o-transition-delay: .1s;
      //transition-delay: .1s;
      //background-color: #fff;
    &:hover {
      max-height: 500px;
      -webkit-transition-property: max-height;
      -o-transition-property: max-height;
      transition-property: max-height;
      //-webkit-transition-duration: .15s;
      //-o-transition-duration: .15s;
      //transition-duration: .15s;
      //-webkit-transition-delay: .1s;
      //-o-transition-delay: .1s;
      //transition-delay: .1s;
    }
  }

  .categories-menu-wrapper {
    display: block;
    position: relative;
    // margin-bottom: -18px;
    @media (max-width: @tablet) {
      display: none;
    }
  }

  .categories-menu-item {
    padding: 0;
  }

  @import (multiple) "../molecules/popup-container";
  .popup-container {
    position: relative;
    display: block;
    background: none;
    z-index: 9;

    @media (max-width: @tablet) {
      display: none;
      position: fixed;
      background-color: #ffffff;
    }

    .popup {
      position: relative;
      top: 0;
      margin-bottom: 0;
    }

  }
  
  .category-name-link-mobile {
    width: 100%;
    color: #1077de;
  }

  .categories-slider {
    overflow: hidden;
    position: relative;
    .categories-slider_row {
      display: flex;
      flex-wrap: wrap;
    }
    .categories-slider__item {
      flex-basis: 20%;
    }

    .categories-slider-wrapper {
      display: block;
      position: relative;
    }

    .category-name-link{
      outline: none;
      font-size: 15px;
      &:hover {
        text-decoration: underline;
      }
      .category-name-link__item {
        font-size: 14px;
      }
    }

  }

  .horizontal-control {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 90px;
    margin-top: -30px;
    border: 1px solid #CAD1D8;
    border-radius: 4px;
    @media (max-width: @tablet) {
      display: none;
    }
  }

  #prev {
    background: #fff url(../../img/arrow-left.svg) center center no-repeat;
    left: 16px;
    @media (max-width: 1196px) {
      left: 33px;
    }
  }
  #prev:hover {
    background: #fff url(../../img/arrow-left-active.svg) center center no-repeat;
  }
  #next {
    background: #fff url(../../img/arrow-right.svg) center center no-repeat;
    right: 16px;
    @media (max-width: 1196px) {
      right: 33px;
    }
  }
  #next:hover {
    background: #fff url(../../img/arrow-right-active.svg) center center no-repeat;
  }

  @import (multiple) "../atoms/header-of-element";

  .categories-container {
    display: block;
    @media (max-width: @tablet) {
      padding-top: 50px;
      flex-direction: column;
    //Импортируем в медиа-запросе, т.к. этот механизм выпадания списка нужен только на мобильном экране
      @import (multiple) "../molecules/spoiler";
    }
    @media (max-width: @extra-small) {
      padding-top: 80px;
    }
    //Скрываем checkbox для механизма спойлера на больших экранах
    .spoiler-checkbox {
      display: none;
    }


    .col-all-advertisement {
      display: none;
      @media (max-width: @mobile) {
        display: block;
      }
    }
    @import (multiple) "../molecules/categories-item";
    .categories-list {
      display: none;
    }
    .categories-item:last-child {
      ul.categories-list {
        li:first-child {
          margin-top: 0;
        }
        li:last-child {
          margin-bottom: 20px;
        }
      }
    }
    .categories-item {
      padding: 0;
    }
  }

  //Строка выбора категорий на мобильном экране
  .mobile-categories-container {
    display: none;
    flex-direction: column;
    padding: 12px 0;
    background-color: @grey-fill;
    max-height: 60px;
    overflow-x: scroll;
    overflow-y: hidden;
    box-shadow: inset @box-shadow;
   /* @media (max-width: @tablet) {
      display: flex;
    }*/
    @media (max-width: @mobile) {

      padding: 4px 0;
      max-height: 40px;
      [class*="col-"] {
        width: auto;
        padding: 0 3px;
        &:first-child {
          padding: 0 3px 0 10px;
        }
        &:last-child {
          padding: 0 10px 0 3px;
        }
        .button-white {
          padding: 3px 8px;
        }
      }
    }
    .categorie-choose {
      display: none;
      @media (max-width: @tablet) {
        display: block;
      }
      @import (multiple) "../atoms/button-blue";
      .button-blue {
        padding: 3px 10px;
        box-shadow: @box-shadow;
        text-transform: uppercase;
        font-size: 12px;
      }
    }

    @import (multiple) "../atoms/button-white";
    .button-white {
      padding: 3px 5px;
      font-size: 12px;
      text-transform: uppercase;
      color: @accent-blue;
      box-shadow: 0 0 10px rgba(32, 73, 146, 0.2);
      border: 1px solid #bfbcbc;
    }
  }

  .without-subcategories{
    .categories-list, .link-inline{
      display: none;
    }
  }

}