.change-personal-data-popup{
  @import (multiple) '../atoms/form-popup';
  .form-popup{
    padding-top: 34px;
    padding-bottom: 36px;
  }
  .form-popup__info-text{
    margin-bottom: 28px;
  }
  .form-popup__footer{
    margin-top: 28px;
  }
  @import (multiple) '../atoms/popup-title';
  .popup-title{
    text-align: center;
    margin-bottom: 27px;
  }
  @import (multiple) '../molecules/control-form';
  @import (multiple) '../atoms/button-transparent';
  .button-transparent{
    color: @purple-color;
    border-color: @purple-color;
  }
  @import (multiple) '../atoms/button-blue';
  .button-blue{
    max-width: 46%;
  }
}