@import (multiple) '../atoms/form-popup';
@import (multiple) '../atoms/messages';
@import (multiple) '../molecules/control-form';

.complaint-form {
  &.form-popup {
    padding-top: 34px;
    padding-bottom: 34px;

    @media (max-width: @mobile) {
      //margin-top: 60px;
    }
    .popup-title {
      text-align: center;
    }
    .form-popup__footer {
      margin-top: 24px;
    }

    .flexible-row {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .control-form {
    .new-deal-from__description-field {
      min-height: 120px;
      resize: vertical;
    }
    .control-form__help-message {
      display: flex;
      justify-content: space-between;
    }
  }
}



