.create-shop-form{
  @import (multiple) '../atoms/form-popup';
  @import (multiple) '../molecules/profile/info-field';
  .info-field{
    .info-field__editable-text-field{
      cursor: default;

      &:hover{
        .info-field-text{
          border-color: @border-color-control-form;
        }
      }

    }

  }
  .info-field-text {
    word-wrap: break-word;
  }
  .form-popup {
    overflow: unset;
  }

  @import (multiple) '../atoms/popup-title';
  .popup-title{
    margin-bottom: 26px;
    text-align: center;
  }

  @import (multiple) "../molecules/control-form";
  .control-form{
    margin-bottom: 20px;
  }

  @import (multiple) "../atoms/button-transparent";
  .button-transparent {
    color: @purple-color;
    border-color: @purple-color;
  }
  @import (multiple) "../atoms/button-transparent";
  .button-blue, .button-transparent{
    max-width: 46%;
  }

  .become-a-manufacturer-image {
    background-image: url('../../img/factory_large.svg');
    width: 58px;
    height: 52px;
    display: inline-block;
    float: left;
  }

  @import (multiple) '../atoms/popup-timer';
}