.deal-connecting-form{
  @import (multiple) '../atoms/form-popup';
  .form-popup__footer{
    margin-top: 42px;
  }

  @import (multiple) '../atoms/popup-title';
  .popup-title{
    margin-bottom: 29px;
  }

  .popup-subtitle{
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    margin-top: 41px;
    margin-bottom: 26px;
  }

  @import (multiple) "../molecules/control-form";
  .control-form{
    margin-bottom: 20px;
  }

  @import (multiple) "../atoms/button-transparent";
  .button-transparent {
    color: @purple-color;
    border-color: @purple-color;
  }
  @import (multiple) "../atoms/button-blue";
  .button-blue{
    max-width: 46%;
  }

}