.email-change-success-popup{

  @import (multiple) '../atoms/form-popup';
  .form-popup{
    padding-top: 34px;
    padding-bottom: 36px;
  }
  .form-popup__info-text{
    margin-top: 10px;
  }

  @import (multiple) '../atoms/popup-title';
  .popup-title{
    text-align: center;
    margin-bottom: 35px;
  }

  @import (multiple) '../molecules/control-form';

}