.email-change-accept-popup{

  @import (multiple) '../atoms/form-popup';
  .form-popup{
    padding-top: 34px;
    padding-bottom: 24px;
  }
  .form-popup__info-text{
    margin-bottom: 10px;
  }
  .form-popup__notice{
    margin-top: 30px;
  }

  @import (multiple) '../atoms/popup-title';
  .popup-title{
    text-align: center;
    margin-bottom: 35px;
  }

  @import (multiple) '../molecules/control-form';
  .control-form{
    margin-bottom: 22px;
  }

}