.email-confirmed-popup{
  @import (multiple) '../atoms/form-popup';
  .form-popup{
    padding-top: 34px;
    padding-bottom: 24px;
  }
  .form-popup__info-text{
    margin-bottom: 10px;
  }

  @import (multiple) '../atoms/popup-title';
  .popup-title{
    text-align: center;
  }

  @import (multiple) "../molecules/control-form";
  .control-form{
    margin-top: 35px;
    margin-bottom: 22px;

    input{
      padding-left: 40px;
      background: transparent url('../../img/is-approved-icon.svg') no-repeat 15px center;
    }

  }

}