footer {
  padding: 76px 0 10px 0;
  color: #ffffff;
  background-color: @purple-color;

  @media (max-width: @tablet) {
    padding-top: 34px;
  }

  @media (max-width: @mobile) {
    padding-top: 14px;
  }

  .footer-logo{
    @media (max-width: @mobile){
      order: 5;
    }
  }
  @import (multiple) "../atoms/logo";
  .logo {
    margin: 13px auto 0;
  }

  a{
    color: #fff;
  }



  .row {
    /*.row {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }*//*
    &:last-child {
      margin-bottom: 0;
    }*/

  }

  ul {
    li {
      a {
        font-weight: 400;
        line-height: 20px;
        color: #ffffff;
      }
    }
  }
  .city-list_top-block {
    line-height: 0;
    @import (multiple) '../atoms/slidedown-link';

    .col-1{

      @media (max-width: @tablet){
        display: none;
      }

    }

  }
  .city-list_bottom-block {
    ul {
      li {
        a {
          font-size: 12px;
        }
      }
    }
  }

  .social-links-wrapper{
    @media (max-width: @mobile){
      order: 3;
    }
  }
  .social-links {
    text-align: right;
    font-size: 0;
    padding-top: 8px;

    @media (max-width: @tablet){
      padding-top: 3px;
    }

    @media (max-width: @mobile){
      padding-top: 0;
      text-align: left;
    }

    @import (multiple) "../atoms/icon-social";
    .icon-social {
      width: 16px;
      height: 16px;
      margin-right: 7px;

      &:last-child{
        margin-right: 0;
      }

    }
  }
  .copyright {
    opacity: 0.6;
    font-size: 12px;
    text-align: right;

    @media (max-width: @tablet){
      padding-top: 22px;
    }
    
    @media (max-width: @tablet){
      padding-top: 0;
      text-align: left;
    }

  }

  .copyright-wrapper{
    @media (max-width: @mobile){
      order: 4;
    }
  }

  .line-hr {
    width: 100%;
    height: 1px;
    margin-bottom: 35px;
    background-color: rgba(255, 255, 255, 0.6);
    background-color: #976DE7;

    @media (max-width: @tablet){
      margin-bottom: 12px;
    }

    @media (max-width: @mobile){
      margin-bottom: 14px;
      margin-top: 10px;
    }

  }

  .cities-list{
    column-count: 5;
    column-gap: 30px;
    line-height: 0;

    a{
      color: #fff;
      line-height: 20px;
    }

    @media (max-width: @tablet){
      column-count: 4;
      column-gap: 20px;
    }

    @media (max-width: @mobile){
      column-count: 2;
    }

  }

  .footer__cities-wrapper{
    @media (min-width: @tabletStart){
      display: block !important;
    }

    @media (max-width: @mobile){
      display: none;
    }

  }

  .main-cities{
    margin-bottom: 28px;

    @media (max-width: @tablet){
      margin-bottom: 0;
    }

    @import (multiple) '../atoms/slidedown-link';
    .slidedown-link{
      display: none;

      @media (max-width: @tablet){
        display: block;
      }

    }

    a {
      font-weight: 500;
      font-size: 14px;
    }
  }

  .another-cities{
    margin-bottom: 55px;
    @media (min-width: @desktopStart){
      display: block !important;
    }

    @media (max-width: @tablet){
      display: none;
    }

    a{
      font-weight: normal;
      font-size: 12px;
    }
  }

  .footer-menu{
    padding-top: 4px;
    display: flex;
    justify-content: space-between;

    @media (max-width: @mobile){
      padding-top: 0;
      order: 2;
      flex-direction: column;
    }

    a{
      @media (max-width: @mobile){
        margin-bottom: 6px;

        &:last-child{
          margin-bottom: 0;
        }

      }
    }

  }

  .inner_row{
    width: auto;
    margin: 0 -15px;
    @media (max-width: @small){
      margin: 0 -10px;
    }
  }

  .mobile-city-control{
    display: none;

    @media (max-width: @mobile){
      display: block;
    }

    @import (multiple) '../atoms/slidedown-link';
    .slidedown-link{
      margin: 0;
    }
  }

}