.form-tie-card {

  @import (multiple) '../atoms/form-popup';

  @import (multiple) '../atoms/card-info-security';
  .card-info-security {
    margin-bottom: 22px;
    @media (max-width: @tablet) {
      margin-bottom: 16px;
    }
  }

  @import (multiple) '../molecules/payment-systems-logo';
  .payment-systems-logo {
    margin-bottom: 22px;
    @media (max-width: @tablet) {
      margin-bottom: 16px;
    }
  }


  .row.card-identification {
    flex-flow: row nowrap;
    .control-form {
      width: 100%;
      &:nth-child(1) {
        max-width: 240px;
        margin-right: 30px;
      }
      &:nth-child(2) {
        max-width: 100px;
      }
    }
  }
}