.form-create-shop {
  @import (multiple) '../atoms/form-popup';
  @import (multiple) '../atoms/form-checkbox';

  .form-popup__info-text {
    color: @grey-dark-color;
    margin-bottom: 20px;
  }

  .popup-title {
    text-align: center;
  }

  .description-field-help-message{
    display: flex;
    justify-content: space-between;
  }
}