.form-get-status-producer {

  @import (multiple) '../atoms/form-popup';
  .form-popup__info-text {
    color: @grey-dark-color;
    margin-bottom: 10px;
  }

  .popup-title {
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 58px;
      height: 52px;
      background: url("../../img/status-manufacturer.svg") no-repeat;
      background-size: contain;
      @media (max-width: @tablet) {
        width: 40px;
        height: 34px;
        top: 10px;
        transform: none;
      }
    }
  }

  .description-field-help-message{
    display: flex;
    justify-content: space-between;
  }
}