.form-settings-shop {
  @import (multiple) '../atoms/form-popup';

  .logo-shop {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .photo-input {
    min-width: 130px;
    min-height: 130px;
    width: 140px;
    height: 140px;
    margin-right: 40px;
    .photo-input__placeholder {
      padding-top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @import (multiple) '../atoms/working-days';

  .working-days {
    margin-bottom: 10px;
  }

  @import (multiple) '../atoms/working-hours';

  .working-hours {
    margin-bottom: 20px;
  }

  .button-add-interval {
    margin-bottom: 30px;
    button {
      max-width: none;
    }
  }

  .control-form {
    textarea {
      min-height: 60px;
      max-height: 120px;
    }
  }

  .form-popup__footer {
    button {
      max-width: 170px;
      &:first-child {
        margin-right: 30px;
      }
    }
  }
}