.form-connection-secury-deal {
  //padding-top: 26px;
  @import (multiple) '../atoms/form-popup';

  .popup-title {
    text-align: center;
    line-height: 32px;
    margin-bottom: 28px;
  }

  .secury-deal-thesis {
    position: relative;
    padding-left: 100px;
    margin-bottom: 32px;
    line-height: 22px;
    text-align: left;
    &:last-child {
      margin-bottom: 0;
    }
    @media (max-width: @tablet) {
      padding-left: 60px;
      margin-bottom: 24px;
    }
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      top: 8px;
    }
    &:nth-of-type(1) {
      &:before {
        left: 6px;
        width: 58px;
        height: 60px;
        background: url("../../img/deal-secury-title-icon.svg") center no-repeat;
        background-size: contain;
        @media (max-width: @tablet) {
          width: 40px;
          height: 42px;
        }
      }
    }
    &:nth-of-type(2) {
      &:before {
        left: 8px;
        width: 54px;
        height: 61px;
        background: url("../../img/deal-secury-title-icon-shield.svg") center no-repeat;
        background-size: contain;
        @media (max-width: @tablet) {
          width: 36px;
          height: 43px;
        }
      }
    }
    &:nth-of-type(3) {
      &:before {
        width: 68px;
        height: 50px;
        background: url("../../img/deal-secury-protection-title-icon.svg") center no-repeat;
        background-size: contain;
        @media (max-width: @tablet) {
          width: 50px;
          height: 32px;
        }
      }
    }
  }
  &.info-message {
    padding-top: 0;
    .secury-deal-thesis {
      &:nth-of-type(1) {
        &:before {

        }
      }
      &:nth-of-type(2) {
        &:before {

        }
      }
      &:nth-of-type(3) {
        &:before {

        }
      }
    }
  }

  .form-popup__footer {
    margin-top: 37px;
  }
}