@import (multiple) '../atoms/avatar-with-border';
@import (multiple) '../atoms/categories-list';

.list-shops {
  padding-top: 10px;
  padding-bottom: 10px;
  .shops-item {
    padding: 19px 0;
    border-radius: @border-radius;
    box-shadow: 0 0 5px rgba(32, 73, 146, 0.2);
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0;
    }

    .shops-item-logo {
      max-width: 170px;
      padding: 0;
      margin-right: 15px;
      @media (max-width: @tablet) {
        max-width: none;
        padding: 0 15px;
        margin-right: 0;
      }
      @media (max-width: @mobile) {
        display: flex;
        align-items: center;
      }
      .AvatarWithBorder {
        width: 140px;
        height: 140px;
        min-width: 140px;
        min-height: 140px;
        border: none;
        margin-left: auto;
        @media (max-width: @mobile) {
          width: 60px;
          height: 60px;
          min-width: 60px;
          min-height: 60px;
          margin-left: 0;
          margin-right: 10px;
        }
        .AvatarWithBorder-Container {
          width: 100%;
          height: 100%;
          img {
            width: auto;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    .shops-item-name {
      font-size: 28px;
      font-weight: 500;
      line-height: 40px;
      margin-bottom: 5px;
      @media (max-width: @mobile) {
        display: none;
      }
      &.mobile {
        display: none;
        font-size: 22px;
        @media (max-width: @mobile) {
          display: inline-block;
        }
      }
    }

    .categories-list {
      margin-bottom: 10px;
      li {
        display: inline-block;
        margin-right: 26px;
        @media (max-width: @mobile) {
          margin-right: 10px;
        }
        &:after {
          content: '';
          display: inline-block;
          position: absolute;
          left: 7px;
          bottom: 4px;
          width: calc(~'100% - 7px');
          height: 1px;
          background-color: @text-color;
        }
        &:hover {
          &:after {
            display: none;
          }
        }
        &:first-child {
          margin-top: 0;
        }
        a {
          font-size: 14px;
        }
      }
    }

    .shops-item-description {
      position: relative;
      overflow: hidden;
      line-height: 20px;
      max-height: 58px;
      a {
        max-height: 58px;
        overflow: hidden;
        position: relative;
        padding-right: 1em;
        text-align: justify;
        word-break: break-all;
        &:before {
          content: '...';
          position: absolute;
          right: 0;
          bottom: -2px;
        }
        &:after {
          content: '';
          position: absolute;
          right: 0;
          width: 1em;
          height: 1em;
          margin-top: 0.2em;
          background: #FFFFFF;
        }
      }

    }

    .shops-item-content {
      @media (max-width: @mobile) {
        padding-top: 10px;
      }
    }
  }
}













