.mobile-menu-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  background-color: rgba(75, 76, 110, 0.4);
  opacity: 0;
}

.mobile-menu-bg.active {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition-property: opacity, width, height;
  transition-duration: .5s, 0s, 0s;
  transition-timing-function: ease, ease, ease;
  transition-delay: 0s, 0s, 0s;
}

.mobile-menu {
  display: none;
  @media (max-width: @tablet) {
    display: block;
  }
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: 100%;
  height: 100vh;
  transform: translateX(-100%);
  background: #fff;
  > [class*="col-"] {
    padding: 0;
  }

  .mobile-menu-container {
    background-color: #ffffff;
    min-height: 100%;
  }

  @import (multiple) "../atoms/button-close";
  .profile-container {
    padding: 30px 15px;
    background-color: @grey-fill;
    @media (max-width: @mobile) {
      padding: 30px 0;
    }

    > [class*="col-"] {
      margin-bottom: auto;
      &:last-child {
        text-align: right;
      }
    }

    @import (multiple) "../molecules/user-bar";
    @import (multiple) "../atoms/icon-edit";
    .rating-scale {
      justify-content: space-around;
    }
  }

  nav {
    box-shadow: @box-shadow;

    @import (multiple) "../molecules/control-form";
    @import (multiple) "../atoms/input-search";

    .control-form {
      margin-bottom: 0;
        ::placeholder {
          color: @text-color;
        }
      .input-search {
        border: none;
        padding: 24px 16px 24px 24px;
        font-style: normal;
        font-size: 18px;
        font-weight: 500;
        color: @text-color;
        background-position: 0;
      }
    }

    .mobile-menu-link-container {
      padding-top: 16px;
      border-top: 1px solid @hr-color;
      border-bottom: 1px solid @hr-color;
      .link-blue {
        color: #007FFF;
      }

      a {
        position: relative;
        display: block;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 24px;
        padding-left: 24px;
        &:before {
          content: '';
          display: inline-block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          width: 16px;
          height: 16px;
          background-size: cover;
        }
        &.auth-button-image{
          &:before{
            content: '';
            display: inline-block;
            vertical-align: bottom;
            background-image: url('../../img/user-icon.svg');
          }
        }
      }
      a.button-auth {
        @media (max-width: @mobile) {
          margin-bottom: 16px;
        }
      }
      a.advertisements {
        margin-bottom: 20px;
        &:before {
          background: url('../../img/mobile-menu/post.svg') no-repeat;
        }
      }
      a.advertisements_published {
        margin-bottom: 20px;
         &:before {
           background: url('../../img/mobile-menu/post_published.svg') no-repeat;
         }
       }
      a.advertisements_unpublished {
        &:before {
          background: url('../../img/mobile-menu/post_unpublished.svg') no-repeat;
        }
      }
      a.exit {
        &:before {
          background: url('../../img/mobile-menu/exit.svg') no-repeat;
        }
      }
      a.profile {
        &:before {
          background: url('../../img/mobile-menu/profile.svg') no-repeat;
        }
      }
      a.settings {
        &:before {
          background: url('../../img/mobile-menu/setting.svg') no-repeat;
        }
      }
      a.reference {
        &:before {
          background: url('../../img/mobile-menu/reference.svg') no-repeat;
        }
      }
    }

    .mobile-menu-add-advertisement {
      padding: 19px 0;
      border-bottom: 1px solid @hr-color;
      a {
        position: relative;
        font-size: 18px;
        color: @accent-blue;
        padding: 0 16px 0 24px;
        &:before {
          content: '';
          display: inline-block;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          width: 16px;
          height: 16px;
          background: url('../../img/mobile-menu/plus.svg') no-repeat;
        }

      }
    }
  }
}

.mobile-menu.active {
  transform: translateX(0);
}

.mobile_menu_new {
  @import (multiple) "../atoms/header-of-element";

  .header-of-element {
    padding: 0;
    .content_col {
      display: flex;
      align-items: center;
    }
    .nav_button {
      cursor: pointer;
      height: 60px;
      width: 30px;
      display: flex;
      align-items: center;
    }
    .button-close {
      width: 16px;
      height: 16px;
      &:before, &:after {
        background: #fff;
        width: 18px;
      }
    }
    @import (multiple) "../atoms/button-back";

    .menu-container {
      display: block;
      flex-grow: 1;
      text-align: center;
    }
    .mobile_header_nav_link__container {
      display: flex;
    }
    .mobile_header__text {
      flex-grow: 1;
      margin-right: 32px;
    }
    .mobile_header_nav_link {
      color: #fff;
      line-height: 60px;
      height: 60px;
      min-width: 126px;
      &.active {
       background: rgba(255, 255, 255, 0.07);
      }
    }
  }

  .mobile-menu__menu {
    padding-bottom: 50px;
    box-shadow: none;
    .button_container {
      padding: 15px 0;
      border-bottom: 1px solid @hr-color;
      .button-blue {
        max-width: 156px;
      }
    }
    // padding-top: 60px;
    .mobile-menu__link {
      position: relative;
      color: @product-status-text-color;
      display: block;
      font-size: 18px;
      line-height: 24px;
      padding: 17px 0;
      border-bottom: 1px solid @hr-color;
    }
  }
}