.new-deal-form {
  padding-bottom: 68px;

  @media (max-width: @tablet) {
    padding: 0 29px 86px;
  }
  @media (max-width: @tablet) {
    padding: 0 23px 86px;
  }

  @import (multiple) '../molecules/control-form';
  .control-form {
    width: 100%;
    position: relative;
  }
  > .control-form {
    margin-bottom: 16px;
  }
  .control-form .input-search {
    font-style: normal;
  }

  @import (multiple) '../atoms/photo-input';
  .photo-inputs-wrapper {
    @media (max-width: @mobile) {
      overflow-x: auto;
    }
  }
  .photo-inputs {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-flow: row wrap;
    @media (max-width: @mobile) {
      min-width: @mobile;
    }
  }
  .file-input-wrapper {
    width: 48%;

    @media (max-width: @mobile) {
      width: 100%;
    }

  }

  @import (multiple) '../atoms/page-title';
  .page-title {
    margin-top: 43px;
    margin-bottom: 25px;

    @media (max-width: @tablet) {
      margin-top: 23px;
    }

    @media (max-width: @mobile) {
      line-height: 36px;
      font-size: 24px;
      margin-bottom: 5px;
    }

  }

  @import (multiple) '../atoms/toggled-checkbox-field';

  @import (multiple) '../atoms/flexible-row';
  .flexible-row {
    &:nth-child(2) {
      margin-bottom: 40px;

      @media (max-width: @tablet) {
        margin-bottom: 20px;
      }

    }

    &:nth-child(3) {

      @media (max-width: @tablet) {
        display: block;
      }

      @media (max-width: @mobile) {
        margin-bottom: 7px;
      }

      .flexible-row__child {
        @media (max-width: @tablet) {
          width: 100%;
        }
      }

    }
  }

  .flexible-row.price-control {
    align-items: flex-end;
  }

  .price-control {

    @media (max-width: @tablet) {
      margin-top: 40px;
      margin-bottom: 20px;
    }

    @media (max-width: @tablet) {
      margin-top: 0;
    }

  }

  .price-wrapper {
    @media (max-width: @tablet) {
      display: flex;
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  .price-field, .quantity-field, .measure-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;

    @media (max-width: @tablet) {
      justify-content: flex-start;
      margin-left: 0;
    }

    @media (max-width: @tablet) {
      padding-right: 0;
    }

    input {
      width: 75%;

      @media (max-width: @tablet) {
        width: 38%;
        margin-right: 45px;
      }

      @media (max-width: @mobile) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 8px;
      }

    }

    .toggled-checkbox-field {
      margin-bottom: 0;

      @media (max-width: @mobile) {
        margin-left: 23px;
      }

    }

  }

  .price-field-message {
    width: 100%;

    @media (max-width: @tablet) {
      padding-left: 39px;
      width: auto;
    }

    @media (max-width: @tablet) {
      padding-left: 10px;
    }

  }

  .new-deal-from__description-field textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 170px;
    height: 170px;
    resize: vertical;
  }

  .description-field-help-message {
    display: flex;
    justify-content: space-between;
  }

  .new-deal-from__add-image-link {
    display: inline-block;
    position: absolute;
    right: 12px;
    top: 4px;
    line-height: 20px;
    font-size: 12px;
    padding-left: 22px;
    background: url('../../img/add-image-icon.svg') no-repeat 0 center;
    color: #007FFF;

    span {
      text-decoration-line: underline;
    }

    &:hover {
      span {
        text-decoration-line: none;
      }
    }

  }

  .map {
    background: url('../../img/map.jpg') no-repeat center center;
    height: 230px;
    margin-top: 28px;
  }

  textarea {
    min-height: 140px;
  }

  @import (multiple) '../atoms/button-blue';
  @import (multiple) '../atoms/button-transparent';
  .button-transparent {
    color: @purple-color;
    border-color: @purple-color;
  }
  .action-buttons {
    display: flex;
    margin-top: 44px;

    @media (max-width: @tablet) {
      margin-top: 33px;
      justify-content: space-between;
    }

  }
  .action-button {
    margin-right: 30px;
    width: 22%;

    @media (max-width: @tablet) {
      width: 48.6%;
      max-width: none;
      margin-right: 0;
    }

  }

  @import (multiple) '../atoms/address-control';

  &.form-advertisement {
    @media (max-width: @mobile) {
      padding: 0 10px 16px;
      .page-title {
        margin-top: 10px;
      }

      .flexible-row {
        margin-bottom: 12px;
        .flexible-row__child {
          margin-bottom: 12px;
        }
      }

      .control-form {
        margin-bottom: 0;
        &.file-input-wrapper {
          margin-bottom: 12px;
        }
        label.label-text, .label-text {
          margin-bottom: 4px;
        }
        .file-input {
          padding: 12px 0;
        }
        .file-input__label {
          padding: 0 6px;
        }
      }

      .measure-field,
      .quantity-field,
      .price-field {
        input {
          margin-bottom: 0;
        }
      }

      .map {
        margin-top: 8px;
      }
      .action-buttons {
        margin-top: 16px;
      }
      .photo-inputs {
        margin-top: 0;
        justify-content: flex-start;
        min-width: 487px;
      }
      .photo-input {
        width: 110px;
        height: 110px;
        margin-right: 15px;
        &:last-child {
          margin-right: 0;
        }
        .photo-input__placeholder-image {
          width: 40px;
          height: 40px;
          margin: auto;
        }
        .photo-input__placeholder {
          padding-top: 18px;
        }
        .photo-input__placeholder-title {
          line-height: 16px;
          font-size: 12px;
        }
      }
      .control-form__help-message.mobile {
        display: none;
      }
    }
  }
}