.new-deal-preview{

  @media (max-width: @tablet){
    &.popup{
      min-height: ~"calc(100vh - 80px)";
      margin-bottom: 0;
      background-color: #fff;
    }
  }

  @import (multiple) '../atoms/form-popup';
  .form-popup{
    max-width: 830px;
    padding: 0;

    @media (max-width: @tablet){
      max-width: none;
      box-shadow: none;
    }

  }

  .form-popup__header{
    padding: 44px 30px 12px;

    @media (max-width: @mobile){
      padding: 26px 8px 0;
    }

    @import (multiple) '../atoms/popup-title';
    .popup-title{
      @media (max-width: @mobile){
        line-height: 36px;
        font-size: 24px;
      }
    }

  }

  .form-popup__body{
    padding: 32px 30px 40px;

    @media (max-width: @tablet){
      padding: 41px 15px 40px;
    }

    @media (max-width: @mobile){
      padding: 35px 13px 40px;
    }

    @import (multiple) '../atoms/popup-title';
    .popup-title{

      &.is-with-gp{
        &:before{
          content: '';
          display: inline-block;
          background: url('../../img/gp-shield.svg') no-repeat center;
          background-size: 100%;
          width: 20px;
          height: 20px;
          vertical-align: middle;
          margin-right: 16px;
        }
      }

    }

  }

  .form-popup__footer{
    margin-top: 0;
    padding: 44px 30px;

    @media (max-width: @tablet){
      padding: 44px 15px;
    }

  }

  .preview-product-options-block{
    margin-bottom: 27px;
  }

  .preview-product-options{
    margin-top: 25px;

    .row{
      width: auto;
      margin: 0 -15px;
      @media (max-width: @small){
        margin: 0 -10px;
      }
    }

    @import (multiple) '../atoms/product-option';
    .product-option{
      margin-bottom: 6px;

      @media (max-width: @mobile){
        justify-content: flex-start;
      }

      .product-option__name{
        width: 38%;

        @media (max-width: @mobile){
          width: auto;
          padding-right: 0;
        }

      }
      .product-option__value{
        width: 62%;

        @media (max-width: @mobile){
          width: auto;
        }

      }

    }
  }

  .photo-previews{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;

    @media (max-width: @mobile){
      justify-content: space-between;
    }

    @import (multiple) '../atoms/photo-preview';
    .photo-preview{
      margin-right: 30px;

      @media (max-width: @tablet){
        margin-right: 19px;
      }

      @media (max-width: @mobile){
        height: auto;
        width: 47%;
        padding-bottom: 47%;
        margin-right: 0;
        margin-bottom: 30px;
      }


      &:last-child{
        margin-right: 0;
      }

    }

  }

  @import (multiple) '../atoms/button-purple';
  .button-purple{
    max-width: none;
    width: 48%;
  }
  @import (multiple) '../atoms/button-transparent';
  .button-transparent{
    color: @purple-color;
    border-color: @purple-color;
    max-width: none;
    width: 48%;
  }

}