.Page404{
  display: flex;
  height: calc(~'100vh - 110px');
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: url("/img/404error.svg") no-repeat center;
  background-size: cover;

  @media (max-width: @tablet) {
    height: calc(~'100vh - 80px');
  }

  .container{
    margin: 0;
  }

  .main-404 {
    max-width: 100%;
    max-height: calc(~'100vh - 160px');
    height: 704px;
    position: relative;
    z-index: 1;
  }

  .ufo__circle{
    animation-name: ufoGlow;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;

    &:nth-child(2) {
      animation-delay: .3s;
    }
    &:nth-child(3) {
      animation-delay: .6s;
    }
    &:nth-child(4) {
      animation-delay: .9s;
    }
    &:nth-child(5) {
      animation-delay: 1.2s;
    }

  }

  .moon{
    animation: upAndDown 2s ease 0s infinite;
    animation-direction: alternate;
  }

  .message-text{
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
    color: @moon-color;
    margin-top: -20px;
    position: relative;
    z-index: 2;

    @media (max-width: @mobile) {
      font-size: 16px;
    }

  }

  .star-image{
    width: 33px;
    height: 33px;
    position: absolute;
    animation-name: starsShine, rotate;
    animation-duration: 9s, 25s;
    animation-iteration-count: infinite, infinite;
    animation-timing-function: ease, linear;
    animation-direction: alternate, normal;

    &.star-image-1{
      left: 15%;
      top: 36%;

      &:before{
        transform: scale(0.6);
      }
    }
    &.star-image-2{
      top: 20%;
      right: 23%;
      animation-delay: 1.5s, 0s;

      &:before{
        transform: scale(0.6);
      }
    }
    &.star-image-3{
      top: 52%;
      right: 2.5%;
      animation-delay: 3s, 0s;
    }
    &.star-image-4{
      top: 84%;
      right: 13%;
      animation-delay: 4.5s, 0s;

      &:before{
        transform: scale(0.6);
      }
    }
    &.star-image-5{
      bottom: 1%;
      right: 40%;
      animation-delay: 6s, 0s;

      &:before{
        transform: scale(0.7);
      }
    }
    &.star-image-6{
      bottom: 15%;
      left: 23%;
      animation-delay: 7.5s, 0s;

      &:before{
        transform: scale(0.7);
      }
    }

    &:before{
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: url("../../img/bg-star.svg") no-repeat center;
    }

  }

}

@keyframes ufoGlow {
  0%{ opacity: 1 }
  50%{ opacity: 0 }
  70%{ opacity: 0 }
  100%{opacity: 1}
}

@keyframes starsShine {
  0%{ opacity: 0; }
  30%{ opacity: 1 }
  80%{ opacity: 1 }
  100%{opacity: 0;}
}

@keyframes rotate {
  0%{ transform: rotateZ(0) }
  100%{ transform: rotateZ(359deg) }
}

@keyframes upAndDown {
  0%{transform:  translateY(-10px)}
  100%{transform:  translateY(10px)}
}
