.pagination {
  width: 100%;
  z-index: 2;
  background: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 12px 24px;
  
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.3px;
  color: @new_dark-color;
  border-top: 1px solid @border-color-table;
  @media (max-width: @mobile) {
    justify-content: center;
    border-top: none;
  }
  .pagination-wrap {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
    .pagination-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 30px;
      select {
        border: none;
        border-bottom: 1px solid @new_dark-color;
      }
    }
    .arrow {
      position: relative;
      width: 8px;
      height: 12px;
      overflow: hidden;
      &:before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 2px solid @new_dark-color;
        transform: rotate(45deg);
        top: -2.5px;
      }
      &.disable {
        &:before {
          border-color: @border-color-table;
        }
      }
      &:first-child {
        margin-right: 40px;
        &:before {
          left: 4px;
        }
      }
      &:last-child {
        &:before {
          right: 4px;
        }
      }
    }
  }
}