.phone-change-success-popup{

  @import (multiple) '../atoms/form-popup';
  .form-popup{
    padding-top: 34px;
    padding-bottom: 25px;
  }
  .form-popup__info-text{
    margin-bottom: 10px;
  }

  @import (multiple) '../atoms/popup-title';
  .popup-title{
    text-align: center;
    margin-bottom: 35px;
  }

  @import (multiple) '../molecules/control-form';
  .control-form{
    margin-bottom: 21px;
  }

  @import (multiple) '../atoms/button-purple';

}