.phone-accept-code-popup{

  @import (multiple) '../atoms/form-popup';
  .form-popup{
    padding-top: 34px;
    padding-bottom: 34px;
  }
  .form-popup__info-text{
    margin-top: 21px;
    margin-bottom: 30px;
  }
  .form-popup__notice {
    margin-top: 30px;
  }
  .form-popup__footer{
    margin-top: 30px;

    .control-form{
      width: 46%;

      input{
        text-align: center;
      }

    }

  }

  @import (multiple) '../atoms/popup-title';
  .popup-title{
    text-align: center;
    margin-bottom: 35px;
  }

  @import (multiple) '../molecules/control-form';

  @import (multiple) '../atoms/button-purple';
  .button-purple{
    max-width: none;
  }
}