.registration-form{
  > .row {
    //max-width: 630px;
    min-width: 660px;
    flex-flow: row nowrap;
    justify-content: center;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(32, 73, 146, 0.2);
    box-sizing: content-box;
    background-color: #ffffff;
    @media (max-width: @small) {
      min-width: 0;
    }
  }

  .registration-form__img{
    background: url('../../img/registartion-popup-bg.jpg') no-repeat center;
    background-size: cover;
    @media (max-width: @small) {
      display: none;
    }
  }

  .registration-form__main-container{
    padding: 34px 15px 32px;
  }

  @import (multiple) '../atoms/popup-title';
  .popup-title{
    text-align: center;
    margin-bottom: 45px;
  }

  .registration-form__footer{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    padding-right: 10px;
  }

  .registration-form__note{
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
    color: #354052;
  }

  .registration-form__enter-link{
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
    text-decoration-line: underline;
    color: #007FFF;

    &:hover{
      text-decoration: none;
    }

  }

  @import (multiple) "../molecules/control-form";
  .control-form{
    margin-bottom: 20px;
  }

  @import (multiple) "../atoms/button-blue";
  &.no-js, &.react-js {
    min-width: 0;
    max-width: 660px;
    margin: 0 auto;
    padding: 30px 0;
  }

}