@import (multiple) "../molecules/popup-container";

.register-form {
  > .row {
    //max-width: 630px;
    min-width: 660px;
    flex-flow: row nowrap;
    justify-content: center;
    @media (max-width: @small) {
      min-width: 0;
    }
  }

  .register-form-main,
  .register-form-img {
    box-shadow: 0 0 10px rgba(32, 73, 146, 0.2);
  }

  .register-form-main {
    width: 330px;
    box-sizing: content-box;
    background-color: #ffffff;
    border-radius: @border-radius 0 0 @border-radius;

    .register-form-main-container {
      padding: 30px 15px;
      text-align: center;
      @media (max-width: @small) {
        padding: 15px;
      }
      h1 {
        margin-bottom: 44px;
        @media (max-width: @small) {
          margin-bottom: 20px;
        }
      }
      form {
        @import (multiple) "../molecules/control-form";
        > div {
          margin-bottom: 20px;
        }
      }
      @import (multiple) "../atoms/button-blue";

      .auth-links {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .register-form-img {
    width: 300px;
    height: 550px;
    background: url("../../img/register-block-img.png") no-repeat 0 0;
    background-size: cover;
    border-radius: 0 @border-radius @border-radius 0;

    @media (max-width: @small) {
      display: none;
    }
  }

}