{% extends 'twig/layout/application' %}
{% import 'macro/pageHelper.twig' as pageHelper %}

{% block content %}
    {% set breadcrumbs = breadcrumbs().toArray() %}
    {% set ownerAvatarSrc = '/img/no-avatar.png' %}
    {% if(purchase['owner']['avatar'] != null) %}
        {% set ownerAvatarSrc = purchase['owner']['avatar'] %}
    {% endif %}
    {#{{ dump(purchase) }}#}
        {#<section class="content">#}
            {#<section class="content-header">#}
                {#<div class="container">#}
                    {#<div class="row">#}
                        {#<div class="content-header-navigation">#}
                            {#<h2 class="content-header-navigation__title">{{ product['name'] }}</h2>#}
                            {#{% include '/partial/breadcrumbs.twig' with {'breadcrumbs': breadcrumbs} %}#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</section>#}
            {#<section class="product-card-body content-main">#}

            {#</section>#}
        {#</section>#}
    {#</main>#}
    <main class="product-card product-card-single purchase-card">
        <section class="content">

            <div class="popup-container js-popup-container-complaint">

                <div class="popup">
                    <button type="button" class="close-popup-btn js-close-popup-btn">&nbsp;</button>
                    <div class="popup" id="complaint-form">
                    </div>
                </div>
            </div>
            <div class="popup-container js-popup-container-info-message-secury-deal">
                <div class="popup">
                    <button type="button" class="close-popup-btn js-close-popup-btn">&nbsp;</button>
                    <div class="popup form-connection-secury-deal info-message" id="info-message-secury-deal"></div>
                </div>

            </div>
            {% block section_top %}
                <section class="top top-single">
                    {% include '/partial/block_search.twig' %}
                </section>
            {% endblock section_top %}
            {#<section class="content-header">#}
                {#<div class="container">#}
                    {#<section class="top">#}
                        {#<section class="search">#}
                            {#<div class="row search-main-block-content">#}
                                {#<div class="content-header-search" id="main-search-block">#}
                                    {#<div class="col-4 col-tablet-4 col-small-4">#}
                                        {#<div class="control-form control-form-purchase">#}
                                            {#<input class="input-search" type="text" placeholder="Поиск по закупкам">#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="col-3 col-tablet-4 col-small-4 search-select">#}
                                        {#<div class="control-form control-form-purchase">#}
                                            {#<!--<label>Категория:</label>-->#}
                                            {#<select>#}
                                                {#<option value="">Во всех категориях</option>#}
                                            {#</select>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="col-3 col-tablet-4 col-small-4 search-select">#}
                                        {#<div class="control-form control-form-purchase">#}
                                            {#<!--<label>Подкатегория:</label>-->#}
                                            {#<select>#}
                                                {#<option value="">По всей России</option>#}
                                            {#</select>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="col-2 col-tablet-4 col-small-4 search-button">#}
                                        {#<button class="button-blue">Найти</button>#}
                                    {#</div>#}
                                {#</div>#}

                            {#</div>#}
                        {#</section>#}
                    {#</section>#}


                {#</div>#}
            {#</section>#}

            <div class="container">
                <div class="row">
                    <div class="content-header-navigation purchase">
                        {% include '/partial/breadcrumbs.twig' with {'breadcrumbs': breadcrumbs} %}
                    </div>
                </div>
            </div>

            <section class="product-card-body content-main">
                <div class="container">
                    <div class="row">
                        <div class="col-9 col-tablet-5 col-mobile-8 ">
                            <h2 class="product-name">{{ purchase['name'] }}</h2>
                            <div class="product-options-wrapper">
                                <div class="product-options-block">
                                    <div class="product-option">
                                        <div class="product-option__name purchase">Категория:</div>
                                        <div class="product-option__value purchase">{{ purchase['sub_category']['name'] }}</div>
                                    </div>
                                    <div class="product-option product-option--description">
                                        <div class="product-option__name purchase">Описание:</div>
                                        <div class="product-option__value purchase">
                                            <pre>{{ purchase['description'] | raw }}</pre>
                                        </div>
                                    </div>
                                </div>
                                <div class="row product-options-block block-with-user-info">
                                    <div class="additional-description col-7 col-tablet-5 col-mobile-8">
                                        <div class="product-option">
                                            <div class="product-option__name">Местоположение:</div>
                                            <div class="product-option__value with-user-info">
                                                Москва
                                            </div>
                                        </div>
                                        <div class="product-option">
                                            <div class="product-option__name">Просмотров:</div>
                                            <div class="product-option__value with-user-info">0</div>
                                        </div>
                                        <div class="product-option">
                                            <div class="product-option__name">Дата размещения:</div>
                                            <div class="product-option__value with-user-info">{{ pageHelper.dateFormat(purchase['created'], 'd.m.Y') }}</div>
                                        </div>
                                    </div>
                                    <div class="col-5 col-tablet-5 col-mobile-8">
                                        <div class="user-bar">
                                            <div class="avatar"
                                                 style="background-image: url('{{ ownerAvatarSrc }}');"></div>
                                            <div class="user-bar__info">
                                                <span class="user-bar-name">{{ purchase['owner']['name'] }}</span>
                                                <span class="rating-scale">
                                         <svg class="fill" width="14" height="14" viewBox="0 0 20 20" fill="none"
                                              xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="1"
                                                  width="18" height="18">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                      d="M9.27461 0.401423L10.9534 5.86872C11.0264 6.08742 11.2453 6.19676 11.4643 6.19676H16.9386C17.486 6.19676 17.705 6.92574 17.267 7.25377L12.8146 10.5342C12.6322 10.6799 12.5592 10.9351 12.6322 11.1538L14.7489 16.7669C14.8948 17.2772 14.3474 17.7145 13.9095 17.3865L9.12863 13.8145C8.94616 13.6687 8.69069 13.6687 8.47172 13.8145L3.65438 17.3865C3.21643 17.7145 2.63251 17.2772 2.81499 16.7669L4.85871 11.1538C4.9317 10.9351 4.85871 10.6799 4.67624 10.5342L0.223841 7.25377C-0.214099 6.92574 0.0413659 6.19676 0.552297 6.19676H6.02655C6.28202 6.19676 6.46449 6.12386 6.53748 5.86872L8.25275 0.364974C8.39873 -0.145307 9.12863 -0.108858 9.27461 0.401423V0.401423Z"
                                                      transform="translate(1.25 1.25)" fill="white"></path>
                                            </mask>
                                            <g mask="url(#mask0)">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H20V20H0V0Z"
                                                      fill="#A8AAB7"></path>
                                            </g>
                                        </svg>
                                         <svg width="14" height="14" viewBox="0 0 20 20" fill="none"
                                              xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="1"
                                                  width="18" height="18">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                      d="M9.27461 0.401423L10.9534 5.86872C11.0264 6.08742 11.2453 6.19676 11.4643 6.19676H16.9386C17.486 6.19676 17.705 6.92574 17.267 7.25377L12.8146 10.5342C12.6322 10.6799 12.5592 10.9351 12.6322 11.1538L14.7489 16.7669C14.8948 17.2772 14.3474 17.7145 13.9095 17.3865L9.12863 13.8145C8.94616 13.6687 8.69069 13.6687 8.47172 13.8145L3.65438 17.3865C3.21643 17.7145 2.63251 17.2772 2.81499 16.7669L4.85871 11.1538C4.9317 10.9351 4.85871 10.6799 4.67624 10.5342L0.223841 7.25377C-0.214099 6.92574 0.0413659 6.19676 0.552297 6.19676H6.02655C6.28202 6.19676 6.46449 6.12386 6.53748 5.86872L8.25275 0.364974C8.39873 -0.145307 9.12863 -0.108858 9.27461 0.401423V0.401423Z"
                                                      transform="translate(1.25 1.25)" fill="white"></path>
                                            </mask>
                                            <g mask="url(#mask0)">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H20V20H0V0Z"
                                                      fill="#A8AAB7"></path>
                                            </g>
                                        </svg>
                                         <svg width="14" height="14" viewBox="0 0 20 20" fill="none"
                                              xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="1"
                                                  width="18" height="18">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                      d="M9.27461 0.401423L10.9534 5.86872C11.0264 6.08742 11.2453 6.19676 11.4643 6.19676H16.9386C17.486 6.19676 17.705 6.92574 17.267 7.25377L12.8146 10.5342C12.6322 10.6799 12.5592 10.9351 12.6322 11.1538L14.7489 16.7669C14.8948 17.2772 14.3474 17.7145 13.9095 17.3865L9.12863 13.8145C8.94616 13.6687 8.69069 13.6687 8.47172 13.8145L3.65438 17.3865C3.21643 17.7145 2.63251 17.2772 2.81499 16.7669L4.85871 11.1538C4.9317 10.9351 4.85871 10.6799 4.67624 10.5342L0.223841 7.25377C-0.214099 6.92574 0.0413659 6.19676 0.552297 6.19676H6.02655C6.28202 6.19676 6.46449 6.12386 6.53748 5.86872L8.25275 0.364974C8.39873 -0.145307 9.12863 -0.108858 9.27461 0.401423V0.401423Z"
                                                      transform="translate(1.25 1.25)" fill="white"></path>
                                            </mask>
                                            <g mask="url(#mask0)">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H20V20H0V0Z"
                                                      fill="#A8AAB7"></path>
                                            </g>
                                        </svg>
                                         <svg width="14" height="14" viewBox="0 0 20 20" fill="none"
                                              xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="1"
                                                  width="18" height="18">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                      d="M9.27461 0.401423L10.9534 5.86872C11.0264 6.08742 11.2453 6.19676 11.4643 6.19676H16.9386C17.486 6.19676 17.705 6.92574 17.267 7.25377L12.8146 10.5342C12.6322 10.6799 12.5592 10.9351 12.6322 11.1538L14.7489 16.7669C14.8948 17.2772 14.3474 17.7145 13.9095 17.3865L9.12863 13.8145C8.94616 13.6687 8.69069 13.6687 8.47172 13.8145L3.65438 17.3865C3.21643 17.7145 2.63251 17.2772 2.81499 16.7669L4.85871 11.1538C4.9317 10.9351 4.85871 10.6799 4.67624 10.5342L0.223841 7.25377C-0.214099 6.92574 0.0413659 6.19676 0.552297 6.19676H6.02655C6.28202 6.19676 6.46449 6.12386 6.53748 5.86872L8.25275 0.364974C8.39873 -0.145307 9.12863 -0.108858 9.27461 0.401423V0.401423Z"
                                                      transform="translate(1.25 1.25)" fill="white"></path>
                                            </mask>
                                            <g mask="url(#mask0)">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H20V20H0V0Z"
                                                      fill="#A8AAB7"></path>
                                            </g>
                                        </svg>
                                         <svg width="14" height="14" viewBox="0 0 20 20" fill="none"
                                              xmlns="http://www.w3.org/2000/svg">
                                            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="1"
                                                  width="18" height="18">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                      d="M9.27461 0.401423L10.9534 5.86872C11.0264 6.08742 11.2453 6.19676 11.4643 6.19676H16.9386C17.486 6.19676 17.705 6.92574 17.267 7.25377L12.8146 10.5342C12.6322 10.6799 12.5592 10.9351 12.6322 11.1538L14.7489 16.7669C14.8948 17.2772 14.3474 17.7145 13.9095 17.3865L9.12863 13.8145C8.94616 13.6687 8.69069 13.6687 8.47172 13.8145L3.65438 17.3865C3.21643 17.7145 2.63251 17.2772 2.81499 16.7669L4.85871 11.1538C4.9317 10.9351 4.85871 10.6799 4.67624 10.5342L0.223841 7.25377C-0.214099 6.92574 0.0413659 6.19676 0.552297 6.19676H6.02655C6.28202 6.19676 6.46449 6.12386 6.53748 5.86872L8.25275 0.364974C8.39873 -0.145307 9.12863 -0.108858 9.27461 0.401423V0.401423Z"
                                                      transform="translate(1.25 1.25)" fill="white"></path>
                                            </mask>
                                            <g mask="url(#mask0)">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H20V20H0V0Z"
                                                      fill="#A8AAB7"></path>
                                            </g>
                                        </svg>
                                     </span>
                                                <div class="user-bar__from-registration">{{ purchase['owner']['time_from_create'] }}
                                                    на ЛУНЕ
                                                </div>
                                                <div class="user-bar__all-adverts">
                                                    <a href="{{ purchase['urls']['user_purchases'] | trim }}"
                                                       class="link-inline">Все закупки пользователя</a>
                                                </div>
                                                <div class="advertise__compliance ">
                                                    <a class="advertise__compliance-link js-advertise-compliance"
                                                       id="advertise-compliance">Пожаловаться на закупку</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-3 col-tablet-3 col-mobile-8 ">
                            <h2 class="product-name mobile">{{ purchase['name'] }}</h2>
                            <div class="price-block">
                                <h2 class="product-title">Бюджет:</h2>
                                {% if purchase['price'] or purchase['price'] != 0 %}
                                    <div class="product-price">
                                        {{ purchase['price'] }} ₽
                                    </div>
                                {% else %}
                                    <div class="product-price">
                                        Не указан
                                    </div>
                                {% endif %}
                                <h2 class="product-title">Количество:</h2>
                                {% if purchase['quantity'] %}
                                    <div class="product-price">
                                        {{ purchase['quantity'] }} {{ purchase['measure'] }}
                                    </div>
                                {% else %}
                                    <div class="product-price">
                                        Не указано
                                    </div>
                                {% endif %}
                                {#<button class="button-purple send-message-button">Написать покупателю</button>#}
                                <button class="button-transparent button-show-hidden-field js-show-hidden">
                                    <span class="button-show-hidden-field__name">Показать телефон</span>
                                    <span class="button-show-hidden-field__text">{{ purchase['owner']['phone'] }}</span>
                                </button>
                                {#<div class="user-bar">#}
                                {#<div class="avatar" style="background-image: url('{{ ownerAvatarSrc }}');"></div>#}
                                {#<div class="user-bar__info">#}
                                {#<span class="user-bar-name">{{ purchase['owner']['name'] }}</span>#}
                                {#<div class="user-bar__from-registration">{{ purchase['owner']['time_from_create'] }} на ЛУНЕ</div>#}
                                {#<div class="user-bar__all-adverts">#}
                                {#<a href="{{ purchase['urls']['user_purchases'] | trim }}" class="link-inline">Все закупки пользователя</a>#}
                                {#</div>#}
                                {#<div class="advertise__compliance advertise__compliance-mobile" >#}
                                {#<a class="advertise__compliance-link js-advertise-compliance">Пожаловаться на закупку</a>#}
                                {#</div>#}
                                {#</div>#}
                                {#</div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <!--noindex-->
    <script id="categories-json" type="application/json">{{ JsonUtil().mb_encode(categories) | raw}}</script>
    <script id="init-search-json" type="application/json">{{ JsonUtil().mb_encode(init_search) | raw}}</script>
    <!--/noindex-->
{% endblock content %}