{% extends 'twig/layout/landing' %}
{% import 'macro/pageHelper.twig' as pageHelper %}

{% block content %}
    {% set breadcrumbs = breadcrumbs().toArray() %}
    <main class="product-card">
        {#{% if is_operator == false %}#}
            {#{% include '/partial/block_create_purchase.twig' %}#}
        {#{% endif %}#}
        {% block section_top %}
            <section class="top">
                {% include '/partial/block_search.twig' %}
                {% include '/partial/block_categories_menu_purchases.twig' %}
            </section>
        {% endblock section_top %}
        <section class="content" id="TablePurchase">
            <section class="content-header">
                <div class="container">
                    <div class="row wrap-flex">
                        <div class="col-8">
                            <div class="content-header-navigation">
                                <h2 class="content-header-navigation__title">Все закупки</h2>
                                {% include '/partial/breadcrumbs.twig' %}
                            </div>
                        </div>
                        <div class="col-3"></div>
                        <div class="col-1"></div>
                    </div>
                </div>
            </section>
            <section class="content-main content-main_mobile_pt_0">
                <div class="container">
                    <div class="catalog is-list-catalog">
                        <div class="row">
                            {% for purchase in purchases %}
                                {% include '/application/products/public-product/partial/purchase-card.twig' with { 'purchase': purchase } %}
                            {% endfor %}
                        </div>
                        <div class="row button-row">
                            <div class="col-12">
                                <a href="?page={{ paginator['current_page'] + 1 }}{{ view_mode != null ? '&view_mode=' ~ view_mode : '' }}" class="button-transparent">Показать больше</a>
                            </div>
                        </div>
                    </div>
                </div>
                {#{{ dump(purchases) }}#}
            </section>
        </section>
    </main>
    <!--noindex-->
    <script id="purchases-json" type="application/json">{{ JsonUtil().mb_encode(purchases) | raw}}</script>
    <script id="categories-json" type="application/json">{{ JsonUtil().mb_encode(categories) | raw}}</script>
    <script id="init-search-json" type="application/json">{{ JsonUtil().mb_encode(init_search) | raw}}</script>
    <script id="breadcrumbs-json" type="application/json">{{ breadcrumbs().toJson() | raw}}</script>
    <!--/noindex-->
{% endblock content %}