{% extends 'twig/layout/landing' %}
{% import 'macro/pageHelper.twig' as pageHelper %}

{% block content %}
    {% set breadcrumbs = breadcrumbs().toArray() %}

    <main class="product-card user-product-list-page user-purchase-list-page">
        {#<section class="top">#}
            {#<div class="row user-purchase-list-info">#}

            {#</div>#}
        {#</section>#}
        {% include '/application/purchases/public-purchase/partial/header-info-user.twig' %}
        {#<ul class="navigation-chain user_list">#}
            {#<li>#}
                {#<a href="/">Главная</a>#}
            {#</li>#}
            {#<li>#}
                {#/#}
            {#</li>#}
            {#<li>#}
                {#Все закупки пользователя {{ owner['name'] }}#}
            {#</li>#}
        {#</ul>#}
        <section class="content" id="TableUsersPurchases">
            <section class="content-header">
                <div class="container">
                    <div class="row wrap-flex">
                        <div class="tabs-container col-4 col-desk-4 col-tablet-8 col-mobile-8">
                            <div class="tab col-6 col-desk-6 col-mobile-4">
                                <div class="tab__title">
                                <span>
                                    Объявления
                                </span>
                                </div>
                            </div>
                            <div class="tab col-6 col-desk-6 col-mobile-4">
                                <div class="tab__title ">
                                <span>
                                    Закупки
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-empty col-3 col-desk-2">
                        </div>
                        <form name="mobile-search" action="{{ init_search['catalog_root_url'] | trim }}">
                            <div class="col-4 col-desk-5 col-tablet-8 col-small-4 col-xs-small-4">
                                <div class="control-form">
                                    <input class="input-search" type="search" name="q" value="{{ init_search['search'] | trim }}" placeholder="Поиск по закупкам продавца">
                                </div>
                            </div>
                            {#<div class="col-2 col-desk-2 col-tablet-2 col-mobile-8 col-small-4 col-xs-small-4">#}
                                {#<button type="submit" class="button-blue">Найти</button>#}
                            {#</div>#}
                        </form>
                        <div class="mode-view-block col-1 col-desk-1">
                            <span class="mode-item mode-item_type_list">&nbsp;</span>
                            <span class="mode-item mode-item_type_block">&nbsp;</span>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container">
                <section class="content-main">
                    <div class="catalog is-list-catalog">
                        <div class="popup-container js-popup-container-info-message-secury-deal">
                            <div class="popup form-connection-secury-deal info-message" id="info-message-secury-deal"></div>
                        </div>
                        <div class="row">
                            {% for purchase in purchases %}
                                {% include '/application/products/public-product/partial/purchase-card.twig' with { 'purchase': purchase } %}
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </main>

    <!--noindex-->
    <script id="user-json" type="application/json">{{ JsonUtil().mb_encode(user) | raw}}</script>
    <script id="purchases_data_json" type="application/json">{{ JsonUtil().mb_encode(purchases_data) | raw}}</script>
    <script id="purchasesPaginator-json" type="application/json">{{ JsonUtil().mb_encode(purchasesPaginator) | raw}}</script>
    <script id="breadcrumbs-json" type="application/json">{{ breadcrumbs().toJson() | raw}}</script>
    <!--/noindex-->
{% endblock content %}