{% extends 'twig/layout/landing' %}
{% import 'macro/pageHelper.twig' as pageHelper %}

{% block content %}
    {% set breadcrumbs = breadcrumbs().toArray() %}
    {% set active_view_mode = viewModeHelper().getViewMode(view_mode) %}

    <main>
        {% block section_top %}
            <section class="top">
                {% include '/partial/block_search.twig' %}
                {% include '/partial/block_categories_menu.twig' %}
            </section>
        {% endblock section_top %}
        <section class="content" id="TableProducts">
            <section class="content-header">
                <div class="container">
                    <div class="row wrap-flex">
                        <div class="col-8">
                            <div class="content-header-navigation">
                                <h2 class="content-header-navigation__title">Все товары</h2>
                                {% include '/partial/breadcrumbs.twig' %}
                            </div>
                        </div>
                        <div class="col-3" >
                        </div>
                        <div class="col-1">
                            <div class="mode-view-block">
                                <a href="?view_mode=list" class="mode-item mode-item_type_list {{ active_view_mode == 'list' ? 'active' : '' }}"></a>
                                <a href="?view_mode=block" class="mode-item mode-item_type_block {{ active_view_mode == 'block' ? 'active' : '' }}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="content-main">
                <div class="container">
                    <div class="catalog is-{{ viewModeHelper().getViewMode(view_mode) }}-catalog">
                        <div class="row">
                            {% for product in products %}
                                {% include '/application/products/public-product/partial/product-card.twig' with { 'product': product } %}
                            {% endfor %}
                        </div>
                        <div class="row button-row">
                            <div class="col-12">
                                <a href="?page={{ paginator['current_page'] + 1 }}{{ view_mode != null ? '&view_mode=' ~ view_mode : '' }}" class="button-transparent">Показать больше</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <!--noindex-->
    <script id="products-json" type="application/json">{{ JsonUtil().mb_encode(products) | raw}}</script>
    <script id="categories-json" type="application/json">{{ JsonUtil().mb_encode(categories) | raw}}</script>
    <script id="init-search-json" type="application/json">{{ JsonUtil().mb_encode(init_search) | raw }}</script>
    <script id="breadcrumbs-json" type="application/json">{{ breadcrumbs().toJson() | raw}}</script>
    <!--/noindex-->
{% endblock content %}