{% extends 'twig/layout/landing' %}
{% import 'macro/pageHelper.twig' as pageHelper %}

{% block content %}
    {% set breadcrumbs = breadcrumbs().toArray() %}

    <main class="user-product-list-page">
        {#<section class="top">#}
            {#<div class="row user-product-list-info">#}

            {#</div>#}
        {#</section>#}
        {% include '/application/purchases/public-purchase/partial/header-info-user.twig' %}
        {#<ul class="navigation-chain user_list">#}
            {#<li>#}
                {#<a href="/">Главная</a>#}
            {#</li>#}
            {#<li>#}
                {#/#}
            {#</li>#}
            {#<li>#}
                {#Все товары пользователя {{ owner['name'] }}#}
            {#</li>#}
        {#</ul>#}
        <section class="content" id="TableUsersProducts">
            <section class="content-header">
                <div class="container">
                    <div class="row wrap-flex">
                        <div class="tabs-container col-4 col-desk-4 col-tablet-8 col-mobile-8">
                            <div class="tab col-6 col-desk-6 col-mobile-4">
                                <div class="tab__title active">
                                <span>
                                    Объявления
                                </span>
                                </div>
                            </div>
                            <div class="tab col-6 col-desk-6 col-mobile-4">
                                <div class="tab__title ">
                                <span>
                                    Закупки
                                </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-empty col-3 col-desk-2">
                        </div>
                        <div class="col-4 col-desk-5 col-tablet-8 col-mobile-8 col-small-4 col-xs-small-4">
                            <div class="control-form">
                                <input type="text" class="input-search" placeholder="Поиск по объявлениям продавца">
                            </div>
                        </div>
                        <div style="visibility: hidden; height: 0" class="col-2 col-desk-2 col-tablet-8 col-small-4 col-xs-small-4">
                            <button class="button-blue">Найти</button>
                        </div>
                        <div class="mode-view-block col-1 col-desk-1">
                            <span class="mode-item mode-item_type_list">&nbsp;</span>
                            <span class="mode-item mode-item_type_block">&nbsp;</span>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container">
                <section class="content-main">
                    <div class="catalog is-{{ viewModeHelper().getViewMode(view_mode) }}-catalog">
                        <div class="popup-container js-popup-container-info-message-secury-deal">
                            <div class="popup form-connection-secury-deal info-message" id="info-message-secury-deal"></div>
                        </div>
                        <div class="row">
                            {% for product in products %}
                                {% include '/application/products/public-product/partial/product-card.twig' with { 'product': product } %}
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </main>
    <!--noindex-->
    <script id="products_urls" type="application/json">{{ JsonUtil().mb_encode(products_urls) | raw}}</script>
    <script id="products-json" type="application/json">{{ products_json | raw}}</script> {# убрать! #}
    <script id="productsPaginator-json" type="application/json">{{ productsPaginator_json | raw}}</script>
    <script id="owner-code-json" type="application/json">{{ owner_code_json | raw}}</script>
    <script id="breadcrumbs-json" type="application/json">{{ breadcrumbs().toJson() | raw}}</script>
    <!--/noindex-->
{% endblock content %}