<?php
$this->headTitle('Show file');
?>

<div class="jumbotron">

    <?php if($this->display): ?>

    <h2>Файл <?= $this->file->getName() ?></h2>
    <p>
        <img src="<?= $this->path ?>">
    </p>

    <?php else: ?>

        <h2>Файл <?= $this->file->getName() ?></h2>
        <h5>Файл данного типа нельзя отобразить в браузере. Скачайте и откройте в соответствующей программе.</h5>

        <a href="<?= $this->path ?>">скачать файл</a>

    <?php endif ?>


</div>
