{% extends 'twig/layout/landing' %}
{% import 'macro/pageHelper.twig' as pageHelper %}

{% block content %}
{% set breadcrumbs = breadcrumbs().toArray() %}
{% set lastProducts = productsHelper().getLastProductsByCriteria(
    [
        {
            'criterion':'category',
            'criterion_ident':'nizhnee_bele',
            'sort':'1',
        },
        {
            'criterion':'category',
            'criterion_ident':'televizory',
            'sort':'2',
        },
        {
            'criterion':'category',
            'criterion_ident':'mobilnye_telefony',
            'sort':'3',
        },
        {
            'criterion':'category',
            'criterion_ident':'detskie_koliaski',
            'sort':'4',
        },
        {
            'criterion':'category',
            'criterion_ident':'stiralnye_mashinki',
            'sort':'5',
        },
        {
            'criterion':'category',
            'criterion_ident':'santekhnik',
            'sort':'6',
        },
        {
            'criterion':'category',
            'criterion_ident':'krovelshchik',
            'sort':'7',
        },
        {
            'criterion':'category',
            'criterion_ident':'novostroiki',
            'sort':'8',
        },
        {
            'criterion':'category',
            'criterion_ident':'gruzoviki_i_spetstekhnika',
            'sort':'9',
        },
        {
            'criterion':'category',
            'criterion_ident':'legkovye_avtomobili',
            'sort':'10',
        },
        {
            'criterion':'category',
            'criterion_ident':'arenda_spetstekhniki',
            'sort':'11',
        },
        {
            'criterion':'category',
            'criterion_ident':'arenda_spetstekhniki',
            'sort':'12',
        },
        {
            'criterion':'category',
            'criterion_ident':'kirpichi',
            'sort':'13',
        },
        {
            'criterion':'category',
            'criterion_ident':'vtorichnoe_zhile',
            'sort':'14',
        },
        {
            'criterion':'category',
            'criterion_ident':'noutbuki',
            'sort':'15',
        },
    ]) %}

    <main>
        {% block section_top %}
            <section class="top">
                {% include '/partial/block_search.twig' %}
                {% include '/partial/block_categories_menu.twig' %}
            </section>
        {% endblock section_top %}
        <section class="content">
            <section class="content-header">
                <div class="container">
                    <div class="row wrap-flex">
                        <div class="col-8 col-tablet-4">
                            <div class="content-header-navigation">
                                <h2 class="content-header-navigation__title">Популярные товары</h2>
                                {#{% include '/partial/breadcrumbs.twig' with { 'breadcrumbs': breadcrumbs} %}#}
                            </div>
                        </div>
                        <div class="col-3 col-tablet-3"></div>
                        <div class="col-1 col-tablet-1"></div>
                    </div>
                </div>
            </section>
            <div class="container list_container" id="landing_static">
                <section class="content-main">
                    <div class="catalog is-block-catalog">
                        <div class="popup-container js-popup-container-info-message-secury-deal">
                            <div class="popup">
                                <button type="button" class="close-popup-btn js-close-popup-btn">&nbsp;</button>
                                <div class="popup form-connection-secury-deal info-message" id="info-message-secury-deal"></div>
                            </div>

                        </div>
                        <div class="row">
                            {% for product in lastProducts %}
                                {% include '/application/products/public-product/partial/product-card.twig' with { 'product': product } %}
                            {% endfor %}
                        </div>
                        <div class="row button-row">
                            <div class="col-12">
                                <a href="{{ urlHelper().product_root_url | trim }}" class="button-transparent">Все объявления</a>
                            </div>
                        </div>
                    </div>
                    <div id="landing_static_spinner" style="display: none"></div>
                </section>
            </div>
            <div class="container list_container" id="landing_dynamic"  style="display: none"></div>
        </section>
    </main>
    <!--noindex-->
    <script id="categories-json" type="application/json">{{ JsonUtil().mb_encode(categories) | raw}}</script>
    <script id="init-search-json" type="application/json">{{ JsonUtil().mb_encode(init_search) | raw }}</script>
    <script id="breadcrumbs-json" type="application/json">{{ breadcrumbs().toJson() | raw}}</script>
    <!--/noindex-->
{% endblock content %}