<a href="{{ href | trim }}"
   target="_blank"
   style="
   display:inline-block;
   color: #FFFFFF;
   line-height: 38px;
   font-size: 14px;
   text-decoration: none;
   text-align: center;
   font-family: 'Lato', 'Arial', sans-serif;
   border: 1px solid #623D96;
   border-radius: 4px;
   box-sizing: border-box;
   width: 170px;
   background-color: #623D96;
   margin: 30px 0;
"
   class="font-lato"
>
    {{ text }}
</a>