{% block footer %}
    <div style="display: inline-block; vertical-align: top; padding-right: 20px; width: 40%; box-sizing: border-box;"
         class="footer__item">
        <h2 style="margin-top: 0; margin-bottom: 20px; font-size: 14px; line-height: 20px; font-family: Arial, Helvetica, sans-serif;
         font-weight: 700; text-transform: uppercase; color: #ffffff;">Документация</h2>
        <div style="margin-bottom: 12px">
            <a target="_blank" href="{{ main_project_url |trim('/', 'right') }}{{ url('home') }}#trust" style="color: #ffffff; font-size: 14px; line-height: 20px;
            font-family: Arial, Helvetica, sans-serif; text-decoration: none">Доверие</a>
        </div>
        <div style="margin-bottom: 12px">
            <a target="_blank" href="{{ main_project_url |trim('/', 'right') }}{{ url('connection-contract') }}" style="color: #ffffff; font-size: 14px; line-height: 20px;
            font-family: Arial, Helvetica, sans-serif; text-decoration: none">Договор присоединения</a>
        </div>
        <div style="margin-bottom: 12px">
            <a target="_blank" href="{{ main_project_url |trim('/', 'right') }}{{ url('policy') }}" style="color: #ffffff; font-size: 14px; line-height: 20px;
            font-family: Arial, Helvetica, sans-serif; text-decoration: none">Политика конфиденциальности</a>
        </div>
        <div style="margin-bottom: 12px">
            <a target="_blank" href="{{ main_project_url |trim('/', 'right') }}{{ url('terms-of-use') }}" style="color: #ffffff; font-size: 14px; line-height: 20px;
            font-family: Arial, Helvetica, sans-serif; text-decoration: none">Регламент пользования</a>
        </div>
        <div style="margin-bottom: 40px">
            <a target="_blank" href="{{ main_project_url |trim('/', 'right') }}{{ url('dispute-consideration-rules') }}" style="color: #ffffff; font-size: 14px; line-height: 20px;
            font-family: Arial, Helvetica, sans-serif; text-decoration: none">Регламент «Рассмотрение спора»</a>
        </div>
    </div><!--
    --><div style="display: inline-block; vertical-align: top; padding-right: 20px; width: 40%; box-sizing: border-box;"
            class="footer__item">
        <h2 style="margin-top: 0; margin-bottom: 20px; font-size: 14px; line-height: 20px; font-family: Arial, Helvetica, sans-serif;
         font-weight: 700; text-transform: uppercase; color: #ffffff;">Поддержка</h2>
        <div style="margin-bottom: 5px">
            <a target="_blank" href="tel:+78122004838" style="color: #ffffff; font-size: 14px; line-height: 20px;
                font-family: Arial, Helvetica, sans-serif; text-decoration: none">+7 (812)200 48 38</a>
        </div>
        <div style="margin-bottom: 20px">
            <a target="_blank" href="tel:+74951084838" style="color: #ffffff; font-size: 14px; line-height: 20px;
                font-family: Arial, Helvetica, sans-serif; text-decoration: none">+7 (495)108 48 38</a>
        </div>
        <div style="margin-bottom: 20px">
            <a target="_blank" href="mailto:support@luna.com" style="color: #ffffff; font-size: 14px; line-height: 20px;
            font-family: Arial, Helvetica, sans-serif; text-decoration: none">support@luna.com</a>
        </div>
        <div style="margin-bottom: 10px;">
            <a href="" style="color: #ffffff; font-size: 14px; line-height: 20px; font-family: Arial, Helvetica, sans-serif;
             max-width: 400px; text-decoration: none !important;">
                ООО "Луна", ИНН 787878787, КПП 787878787
            </a>
        </div>
        <div style="margin-bottom: 40px;">
            <a href="" style="color: #ffffff; font-size: 14px; line-height: 20px; font-family: Arial, Helvetica, sans-serif;
                 max-width: 400px; text-decoration: none !important;">
                125040, г. Москва, 3-я Ямского Поля ул., 2 к. 26 оф.306
            </a>
        </div>


    </div><!--
    --><div style="display: inline-block; vertical-align: top; color: #ffffff; width: 20%; box-sizing: border-box; text-align: right"
            class="footer__item footer__logo">
        <a target="_blank" href="{{ main_project_url }}" style="display: inline-block;">
            <img src="{{ main_project_url |trim('/', 'right') }}{{ basePath('img/landing/logo.png') }}" alt="Luna"
                 style="display: block" width="113" height="50">
        </a>
    </div>
{% endblock %}