{#
  1  'user_login'
  2  'subject'
  3  'main_project_url'
  4  'email_confirmation_url'
  5  'email_confirmation_page'
  6  'email_confirmation_token'
  7  'qrCodeData'
#}

{% extends 'email/layout/layout.twig' %}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Подтверждение почты',
    } %}
    {% include 'email/partials/paragraph.twig'
        with {
        'text':  'Здравствуйте!',
    } %}
    {% include 'email/partials/paragraph.twig'
        with {
        'text':  '
        Для полноценного использования сервиса Луна просим
        <span style="font-family: \'PT Serif\', serif;font-weight: bold;">подтвердить</span>
        Ваш адрес электронной почты, кликните на кнопку ниже:
',
    } %}
    {% include 'email/partials/button.twig'
        with {
        'href': email_confirmation_url,
        'text':  'Подтвердить E-mail',
    } %}
    {% include 'email/partials/paragraph.twig'
        with {
        'text':  'Если Вы не регистрировались на сервисе Луна, пожалуйста, игнорируйте это письмо.',
    } %}
{% endblock content %}