{#
 1 'user_login'
 2 'subject'
 3 'main_project_url'
 4 'password_reset_url'
#}

{% extends 'email/layout/layout.twig' %}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Восстановление пароля',
    } %}
    {% include 'email/partials/paragraph.twig'
        with {
        'text':  'Здравствуйте!',
    } %}
    {% include 'email/partials/paragraph.twig'
        with {
        'text':  'Вы отправили запрос на восстановление пароля пароля. Чтобы продолжить, пожалуйста, кликните на кнопку ниже.',
    } %}
    {% include 'email/partials/button.twig'
        with {
        'href': password_reset_url,
        'text':  'Сбросить пароль',
    } %}
    {% include 'email/partials/paragraph.twig'
        with {
        'text':  'Если вы не запрашивали восстановление пароля, проигнорируйте это письмо.',
    } %}
{% endblock content %}
