{#
    url для теста верстки писем:
    luna.local/test/mail-template
#}

{% extends 'email/layout/layout.twig' %}
{% import 'macro/pageHelper.twig' as pageHelper %}

{% block content %}
    {% include 'email/partials/title.twig'
        with {
        'title':  'Смена номера телефона',
    } %}
    {% include 'email/partials/paragraph.twig'
        with {
        'text':  'Здравствуйте!',
    } %}
    {% include 'email/partials/paragraph.twig'
        with {
        'text':  '
        Код для смены номера телефона — <span class="font-ptserif" style="font-family: \'PT Serif\', \'Georgia\', serif;font-weight: bold;color: #516173">' ~ code ~ '</span>
',
    } %}
    {% include 'email/partials/paragraph.twig'
        with {
        'text':  'Скопируйте его и вставьте в форму на <span class="font-ptserif" style="font-family: \'PT Serif\', \'Georgia\', serif;font-weight: bold;color: #516173">странице подтверждения.</span>',
    } %}
{% endblock content %}
