{% extends 'twig/layout/application' %}

{% do headTitle('Ввод кода подтверждения операции') %}
{% block content %}
    {% set error_type = user_allowed_request_code_status['violation_type'] %}

    {% if error_type == 'min_interval' %}
        {% set is_timer = 'true' %}
        {% set start = user_allowed_request_code_status['last_code_created_at'] %}
        {% set period = user_allowed_request_code_status['request_period'] %}
    {% elseif error_type == 'limit_by_code_type' %}
        {% set is_limit = 'true' %}
    {% endif %}

    <section class="auth-form">
        <div class="row ">
            <div class="col-8 auth-form-main">
                <div class="auth-form-main-container">
                    <h1>
                        {% if form.getAttribute('action') == '/phone/edit-confirm' %}
                            На ваш e-mail был отправлен код подтверждения.
                        {% else %}
                            На указанный вами номер телефона был отправлен код подтверждения.
                        {% endif %}
                    </h1>
                    <form class="FormLabelLeft js-form-timer" method="POST" name="operation-confirm" id="operation-code-confirm-form"
                  action="{{ form.getAttribute('action') }}" data-start="{{ start }}" data-period="{{ period }}"> {# Important! Не хардкодить action! Он может быть разный #}
                        <div class="control-form">
                            {{ formElement(form.get('code'))|raw }}
                        </div>

                        {{ formElement(form.get('csrf'))|raw }}
                        <div class="control-form">
                            <button class="button-purple" type="submit">Подтвердить</button>
                        </div>
                        {% if is_limit != 'true' %}
                        <div class="control-form">
                            <a class="button-blue" href="{{ resend_url }}">Получить код повторно</a>
                        </div>
                        {% else %}
                            <p class="TextImportant">Вам был отправлен код подтверждения. Следующий код можно будет запросить через 15 минут.</p>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}