{% macro isCurrentRoute(route, params = []) %}
    {{ queryHelper().isActivePage(url(route, params)) ? 'active' : '' }}
{% endmacro %}
{# +79033463906 преобразует в +7 (903) 346 - 39 - 06 #}
{% macro phoneFormat(phone) %}
    {{ phoneHelper().formatPhone(phone) }}
{% endmacro %}

{% macro dateFormat(date, pattern) %}
    {{ dateHelper().formatToString(date, pattern) }}
{% endmacro %}

{% macro dateWordFormat(date) %}
    {% set day = dateHelper().formatToString(date, 'j') %}
    {% set month = dateHelper().formatToString(date, 'n') %}
    {% set year = dateHelper().formatToString(date, 'Y') %}

    {% set month_array =  ['Января', 'Февраля', 'Марта', 'Апреля', 'Мая', 'Июня', 'Июля', 'Августа', 'Сентября', 'Октября', 'Ноября', 'Декабря'] %}
    {% set word_month = month_array[month-1] %}

    {% set date = day~' '~word_month~' '~year %}
    {{ date }}
{% endmacro %}

{% macro isActiveProductList() %}
    {% set route_params = queryHelper().getRouteMatch() %}

    {% set city_slug = route_params['city_slug'] is defined ? route_params['city_slug'] : '' %}
    {% set category_slug = route_params['category_slug'] is defined ? route_params['category_slug'] : '' %}
    {% set sub_category_slug = route_params['sub_category_slug'] is defined ? route_params['sub_category_slug'] : '' %}
    {% set url_param = [] %}
    {% set url_param = city_slug != '' ? url_param|merge({'city_slug' : city_slug}) : url_param %}
    {% set url_param = category_slug != '' ? url_param|merge({'category_slug' : category_slug}) : url_param %}
    {% set url_param = sub_category_slug != '' ? url_param|merge({'sub_category_slug' : sub_category_slug}) : url_param %}

    {% if url_param | length > 0 %}
        {{ queryHelper().isActivePage(url('dynamic-route-product-list', url_param)) ? true : false }}
    {% else %}
        {{ false }}
    {% endif %}
{% endmacro %}

{% macro isActiveProductSingle() %}
    {% set route_params = queryHelper().getRouteMatch() %}

    {% set city_slug = route_params['city_slug'] is defined ? route_params['city_slug'] : '' %}
    {% set category_slug = route_params['category_slug'] is defined ? route_params['category_slug'] : '' %}
    {% set sub_category_slug = route_params['sub_category_slug'] is defined ? route_params['sub_category_slug'] : '' %}
    {% set product_slug = route_params['product_slug'] is defined ? route_params['product_slug'] : '' %}
    {% set url_param = [] %}
    {% if product_slug != '' %}
        {% set url_param = city_slug != '' ? url_param|merge({'city_slug' : city_slug}) : url_param %}
        {% set url_param = category_slug != '' ? url_param|merge({'category_slug' : category_slug}) : url_param %}
        {% set url_param = sub_category_slug != '' ? url_param|merge({'sub_category_slug' : sub_category_slug}) : url_param %}
        {% set url_param = product_slug != '' ? url_param|merge({'product_slug' : product_slug}) : url_param %}
    {% endif %}
    {% if url_param | length > 0 %}
        {{ queryHelper().isActivePage(url('dynamic-route-product-single', url_param)) ? true : false }}
    {% else %}
        {{ false }}
    {% endif %}
{% endmacro %}

{% macro isActiveProducts() %}
    {% import _self as self %}
    {% if self.isActiveProductSingle() | trim or self.isActiveProductList() | trim %}
        {{ true }}
    {% else %}
        {{ false }}
    {% endif %}
{% endmacro %}

{% macro isActivePurchaseList() %}
    {% set route_params = queryHelper().getRouteMatch() %}

    {% set city_slug = route_params['city_slug'] is defined ? route_params['city_slug'] : '' %}
    {% set category_slug = route_params['category_slug'] is defined ? route_params['category_slug'] : '' %}
    {% set sub_category_slug = route_params['sub_category_slug'] is defined ? route_params['sub_category_slug'] : '' %}
    {% set url_param = [] %}
    {% set url_param = city_slug != '' ? url_param|merge({'city_slug' : city_slug}) : url_param %}
    {% set url_param = category_slug != '' ? url_param|merge({'category_slug' : category_slug}) : url_param %}
    {% set url_param = sub_category_slug != '' ? url_param|merge({'sub_category_slug' : sub_category_slug}) : url_param %}

    {% if url_param | length > 0 %}
        {{ queryHelper().isActivePage(url('dynamic-route-purchase-list', url_param)) ? true : false }}
    {% else %}
        {{ false }}
    {% endif %}
{% endmacro %}

{% macro isActivePurchaseSingle() %}
    {% set route_params = queryHelper().getRouteMatch() %}

    {% set city_slug = route_params['city_slug'] is defined ? route_params['city_slug'] : '' %}
    {% set category_slug = route_params['category_slug'] is defined ? route_params['category_slug'] : '' %}
    {% set sub_category_slug = route_params['sub_category_slug'] is defined ? route_params['sub_category_slug'] : '' %}
    {% set purchase_slug = route_params['purchase_slug'] is defined ? route_params['purchase_slug'] : '' %}
    {% set url_param = [] %}
    {% if purchase_slug != '' %}
        {% set url_param = city_slug != '' ? url_param|merge({'city_slug' : city_slug}) : url_param %}
        {% set url_param = category_slug != '' ? url_param|merge({'category_slug' : category_slug}) : url_param %}
        {% set url_param = sub_category_slug != '' ? url_param|merge({'sub_category_slug' : sub_category_slug}) : url_param %}
        {% set url_param = purchase_slug != '' ? url_param|merge({'purchase_slug' : purchase_slug}) : url_param %}
    {% endif %}

    {% if url_param | length > 0 %}
        {{ queryHelper().isActivePage(url('dynamic-route-purchase-single', url_param)) ? true : false }}
    {% else %}
        {{ false }}
    {% endif %}
{% endmacro %}

{% macro isActivePurchases() %}
    {% import _self as self %}
    {% if self.isActivePurchaseSingle() | trim or self.isActivePurchaseList() | trim %}
        {{ true }}
    {% else %}
        {{ false }}
    {% endif %}
{% endmacro %}