{#
1. Oбъект
    paginator => {
        'pageCount' => int 1
        'item_count_per_page' => int 20
        'first' => int 1
        'current' => int 1
        'last' => int 1
        'pages_in_range' =>
            array (size=1)
            1 => int 1
        'first_page_in_range' => int 1
        'last_page_in_range' => int 1
        'current_item_count' => int 3
        'total_item_count' => int 3
        'first_item_number' => int 1
        'last_item_number' => int 3
    }
#}

{% macro paginate(paginator) %}
    {% set base_url = queryHelper().getBaseUrl() %}
    {% if paginator['page_count'] > 1 %}
        {% set link_previous = queryHelper().getQuery({'page': paginator['current'] - 1}) %}
        <div class="Pagination">
            <div class="Pagination-Wrap">
                {% if paginator['current'] - 1 >= paginator['first_page_in_range'] %}
                    <a href="{{ base_url }}{{ link_previous }}" class="Pagination-Item Pagination-Prev">
                        <img src="{{ basePath('img/pagination-arrow-icon.svg') }}" alt="<" class="responsive-img">
                    </a>
                {% else %}
                    <a href="#" class="Pagination-Item Pagination-Prev disable">
                        <img src="{{ basePath('img/pagination-arrow-icon-disable.svg') }}" alt="<" class="responsive-img">
                    </a>
                {% endif %}
                {% for i in range(paginator['first_page_in_range'], paginator['last_page_in_range']) %}
                    {% set link_page = queryHelper().getQuery({'page': i}) %}
                    <a href="{{ base_url }}{{ link_page }}" class="Pagination-Item{% if i == paginator['current'] %} active{% endif %}">{{ i }}</a>
                {% endfor %}
                {% if paginator['current'] + 1 <= paginator['last_page_in_range'] %}
                    {% set link_next = queryHelper().getQuery({'page': paginator['current'] + 1}) %}
                    <a href="{{ base_url }}{{ link_next }}" class="Pagination-Item Pagination-Next">
                        <img src="{{ basePath('img/pagination-arrow-icon.svg') }}" alt=">" class="responsive-img">
                    </a>
                {% else %}
                    <a href="#" class="Pagination-Item Pagination-Next disable">
                        <img src="{{ basePath('img/pagination-arrow-icon-disable.svg') }}" alt="<" class="responsive-img">
                    </a>
                {% endif %}


                <form class="Pagination-ControlPanel">
                    <button class="Pagination-Button" type="submit">Перейти</button>
                    <input class="Pagination-Input js-InputPagination" type="text" min="{{ paginator['first'] }}" max="{{ paginator['last'] }}">
                </form>
            </div>
        </div>
    {% endif %}

{% endmacro %}
